[2021-09-13 15:43] DylanPiercey commented on #3803
Awesome, looking forward to it! Thanks for looking into this 🙏

[2021-09-13 15:44] DylanPiercey commented on #3803
Happy to test out whatever change locally if helpful, just @ me 😄

[2021-09-13 16:14] DylanPiercey commented on #3803
@alexander-akait was just playing around with this a little bit, very possible I'm going in the wrong direction. But it seems in my case the issue is due to `isInitial` stating as true, even with (https://github.com/webpack/webpack-dev-server/pull/3840/files?file-filters%5B%5D=.js&hide-deleted-files=true#diff-dac0f33920a54dfaf6fd4fd53e72e1c1bc07b716a421ea4ac86ae165667ed851R18).

I was able to get

[2021-09-13 16:18] DylanPiercey commented on #3803
Whoops, forgot to mention I also added

[code]

Before this line: https://github.com/webpack/webpack-dev-server/blob/master/client-src/index.js#L90

[2021-09-13 16:21] alexander-akait commented on #3803
@DylanPiercey `pending` is dirty solution, and break multi compiler mode for independent things, I will already inform you that configuration wrong due you have depended builds, but don't say webpack about it https://github.com/webpack/webpack-dev-server/issues/3803#issuecomment-918216289, this is what I told you several times

[2021-09-13 16:22] alexander-akait commented on #3803
If you have multiple indented builds, for example you have `page-1`/`page-2`/`page-3`, you break reload logic, because dev server will wait all finished builds, it is wrong and incorrect

[2021-09-13 16:23] DylanPiercey commented on #3803
@alexander-akait that's not true. With the multi compiler `done` hook it does already wait for all builds to finish, regardless of the `dependencies` option, at least in my testing. The `invalid` hook is the special case here.

[2021-09-13 16:26] alexander-akait commented on #3803
But if you change something in one of the configuration why we should wait? If builds will be long you will not get infromation about changes

[2021-09-13 16:28] DylanPiercey commented on #3803
@alexander-akait I'm not following? The multi compiler `done` is batched here https://github.com/webpack/webpack/blob/main/lib/MultiCompiler.js#L96 it will already wait for all compilers in the multi compiler to complete before calling that hook.

With what I had above it'd notify the browser that a build is happening _only_ when the first compiler goes invalid. Right now it notifies the browser m

[2021-09-13 16:29] alexander-akait commented on #3803
You can run invalidate without finish build

[2021-09-13 16:30] DylanPiercey commented on #3803
Are you saying the `invalid` hook can be called without ever firing the `done` hook?

[2021-09-13 16:30] alexander-akait commented on #3803
Yes

[2021-09-13 16:32] alexander-akait commented on #3803
What is the problem with multiple `invalid` messages?

[2021-09-13 16:35] DylanPiercey commented on #3803
Ah ok, if that's the case then what I suggested won't work for sure.

The main thing I was trying to avoid was this double log happening in the browser on every reload:

![image](https://user-images.githubusercontent.com/4985201/133122710-d939d15b-b58a-4ccb-8920-b2f37c4714d1.png)

[2021-09-13 16:36] alexander-akait commented on #3803
We can fix it just adding `isRecompiling` and do not output unnecessary logs

[2021-09-13 16:42] alexander-akait commented on #3803
Found a problem, why we do not reload, WIP, maybe do release today

[2021-09-13 17:08] alexander-akait commented on #3803
@DylanPiercey I got your idea, because it is valid solution, try https://github.com/webpack/webpack-dev-server/pull/3841, I will test it with lazyCompilation and if all will be good, add more tests and do release

[2021-09-13 17:14] DylanPiercey commented on #3803
@alexander-akait with both #3840 and #3841 it seems all is working!

[2021-09-13 17:19] alexander-akait commented on #3803
I will add more tests and will merge

[2021-09-13 17:43] koggdal commented on #3803
@alexander-akait Sorry for not getting back earlier! I've tested both your changes (together with setting up `dependencies`), and they do fix the reload issue! 🎉 Thank you! 🙏

However, I get a single "Disconnected" on load, and then it reconnects and then it's fine. The test repo I made for you doesn't seem to have that issue, so something must be different in our project setup. It's really late h

[2021-09-13 17:47] alexander-akait commented on #3803
@koggdal I think this problem in other place, please open an new issue tomorrow with example, logic for hot/reload not connected in any way with `Disconnected`, maybe you browser was open too fast and server is not ready yet

[2021-09-13 23:05] #3803 closed

[2021-09-13 23:09] alexander-akait commented on #3803
Please try https://github.com/webpack/webpack-dev-server/releases/tag/v4.2.1

[2021-09-13 23:10] alexander-akait commented on #3803
Note - `hot` is true by default, so if you change something and nothing happens (only logs) mostly you faced with https://github.com/webpack/webpack-dev-server/issues/3794 (fix will be latest, need small dicussion)

[2021-09-13 23:53] alexander-akait commented on #2716
`historyApiFallback` also break HEAD request in some cases, we need fix it, more information here historyApiFallback

[2021-09-14 02:44] DylanPiercey commented on #3803
@alexander-akait can confirm it's working with the new release. Thanks for getting this out so fast and for the support!

[2021-09-14 04:21] iggybotes opened #3844 "Audit issue"
Your library dependency: chokidar has a moderate audit vulnerability of : "Regular expression denial of service".

[2021-09-14 11:00] alexander-akait commented on #3844
Update webpack to the latest stable version

[2021-09-14 11:00] #3844 closed

[2021-09-14 22:27] laverdet commented on #1479
I'm working around this now by adding this to my webpack.config.js:

[code]

[2021-09-15 12:49] alexander-akait commented on #1479
We will fix it in near future, anyway not graceful closing can corrupt file caches

[2021-09-16 07:54] nickveliki commented on #1208
I solved it with
watchOptions:{
ignored: new RegExp("node_modules")
}
but with any format of string suggested in the manual it didn't work

Linux Ubuntu 20.04.2
webpack 4.41.5
chokidar 3.5.2

[2021-09-16 20:30] sibelius commented on #3689
how can I customize overlay behavior?

I've tried this

[code]

[2021-09-17 10:11] falsyvalues opened #3853 "webpack 5: output evaluation no longer returns a module"
- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

Right after webpack update (from v4 to v5) I noticed that output evaluation no longer returns a module. Not sure if its more related to `webpack bootstrap` code or `webpack-dev-server` wrapper code?

[code]

[code]

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[code]

[2021-09-17 11:15] alexander-akait commented on #3689
Should work, what is the problem?

[2021-09-17 11:45] ylemkimon commented on #3689
@sibelius If you're using dev server v4, you should put `overlay` in `client` (https://github.com/webpack/webpack-dev-server/blob/master/migration-v4.md):
[code]

[2021-09-17 15:21] alexander-akait commented on #3853
This is breaking change for webpack v5, if you need build library you need to use `output.library` https://webpack.js.org/configuration/output/#outputlibrary, feel free to feedback

[2021-09-17 15:21] #3853 closed

[2021-09-17 15:23] alexander-akait commented on #3853
Even more it is unsafe, because webpack can remove unused exports

[2021-09-19 11:43] matt1 opened #3854 "`npm install webpack-dev-server --save-dev` does not work on arm64"
Seems to assume that arm64 is OSX?

[code]

[2021-09-19 21:11] Bkucera commented on #2132
`webpack-dev-server` needs to be told the sockjs port will match the pages `window.location` port, which is done by specifying `devServer.sockPort: 'location'`

webpack.config.js:
[code]

Here's a complete `nginx.conf` that will allow you to proxy webpack-dev-server without requiring any changes other than `sockPort`

nginx.conf:
[code]

If you're using docker, make sure to specify `network_mode:

[2021-09-19 21:16] Bkucera commented on #804
Hi, recently ran into this problem trying to put a ssl proxy in front of webpack-dev-server, but found a solution

the sockjs-node problem can be fixed by setting the sockjs port to match the pages `window.location` port. You can do so by specifying `devServer.sockPort: 'location'`

webpack.config.js:
[code]

Here's the complete `nginx.conf` that will allow you to proxy webpack-dev-server with ssl

[2021-09-20 11:05] alexander-akait commented on #3854
Not related to `webpack-dev-server`, please open an issue in `chokidar` https://github.com/paulmillr/chokidar

[2021-09-20 11:05] #3854 closed

[2021-09-20 11:21] falsyvalues commented on #3853
@alexander-akait thanks for information. I was going through https://webpack.js.org/migrate/5/ be this article don't mention this change at all, but I guess it could.

[2021-09-20 11:24] alexander-akait commented on #3853
This use has never been safe, moreover, I don't think anyone has used it, maybe we should add it to the documentation, PR welcome

[2021-09-20 12:04] falsyvalues commented on #3853
It weird to read `I don't think anyone has used it` in ticket related to it. I personally think that lots of projects are still on webpack 4 because of dependencies they use, so more issues will pop up sooner or later. I will try to tackle docs.

[2021-09-20 12:06] alexander-akait commented on #3853
webpack has own logic for loading chunks, it is really dangerous to use own, you need to have plugin for this, no just using `fetch`

[2021-09-20 12:06] alexander-akait commented on #3853
Or just switch on library generation and all will work fine and expected

[2021-09-20 12:10] falsyvalues commented on #3853
@alexander-akait Thanks for details I'm aware of that especially after reading docs for webpack 5. I'm already on library generation for now and its compatible with webpack 4 🙌 (at least it looks like).

[2021-09-20 23:42] erikt9 commented on #2792
The problem I was having looks to be fixed in 4.2.1.  Thank you!

[2021-09-21 10:41] ChrRubin opened #3861 "HMR with cross-domain iframe content script causes infinite reload"
- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

An example repo can be found [here](https://github.com/ChrRubin/wds-iframe-hmr).

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information
[code]
### Expected Behavior

Cross-domain iframe does not reload infinitely when hot reload is triggered.

### Actual Behavior

When developi

[2021-09-21 13:39] raine commented on #1479
Checked watchpack's `this.fileWatchers` upon closing and for me there are 75k files watched. Many of which are in `node_modules`.

Any idea what's the point of watching those files and what is adding them? Thanks.

[2021-09-21 13:42] alexander-akait commented on #1479
Due resolving logic, I am thinking long closing is a bug in Node.js, What is os?

[2021-09-21 13:55] raine commented on #1479
I'm on macOS Catalina.

I added `**/node_modules` to `watchOptions.ignored`. That removed around half of the watchers and closing is faster.

Now that I'm checking the watched files in `this.fileWatchers`, I'm seeing that many files are watched with multiple extensions, even if they don't exist.

[code]

Is this normal behavior? Seems to me like there are useless watchers but I don't understand th

[2021-09-21 13:59] alexander-akait commented on #1479
Yes, because you can add `index.ts` and we need to watch these adding, for example you have `index.ts`, then you want to use `index.tsx`, if you add them we need rerun compilation, same for other

[2021-09-21 16:37] jcoyne opened #3862 "querystring dependency is depreacated"
Webpack-dev-server 4.2.1 depends on url 0.11.0. This package hasn't had a release in 6 years.  It in turn depends on querystring ^0.2.0.  When you install that you get the deprecation warning:

[code]

- [ ] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[code]

### E

[2021-09-21 16:39] alexander-akait commented on #3862
We need this package for legacy platform, otherwise IE will not work, we can't fix it

[2021-09-21 16:41] jcoyne commented on #3862
Even Microsoft stopped supporting IE.  https://techcommunity.microsoft.com/t5/microsoft-365-blog/microsoft-365-apps-say-farewell-to-internet-explorer-11-and/ba-p/1591666  What is the timeline for supporting it for webpack-dev-server?

[2021-09-21 16:52] alexander-akait commented on #3862
A lot of our developers still use IE11 (not everyone behaves like modern web), we can't drop it right now

[2021-09-21 17:59] alexander-akait commented on #3861
Weird, very

[2021-09-21 18:08] alexander-akait commented on #3861
If I use`<iframe src="https://example.com/" width="500" height="500"></iframe>` all works fine

[2021-09-21 18:22] alexander-akait commented on #3861
Even more try to add `"build": "webpack build"` and run it after `yarn serve`, extension still try to connect to dev server, but if I remove `<iframe>` all works fine

[2021-09-21 18:49] alexander-akait commented on #3861
Solution:
[code]

You don't need to add hot entries for `['content-script', 'devtools', 'background']`. Because they are worked in another worker, you can't hot them.

[2021-09-21 18:49] alexander-akait commented on #3861
Note - you don't need `CleanWebpackPlugin`, because we have `output.clean: true`

[2021-09-22 10:21] niksy commented on #1479
Seeing same issue in Webpack 5.53.0, macOS Big Sur, M1, Node 12.22.5.

[2021-09-22 10:24] alexander-akait commented on #1479
I have idea how to improve this, there are two approach:
- one CTRL+C - gracefully shutting down
- second CTRL + C - force process closing

So you can chose wait or close immediately

[2021-09-22 10:33] mandadimuralidharreddy opened #3868 "This plugin ignores file changes if folder name start with watch"
- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information
    "webpack-dev-server": "^3.11.2",
### Expected Behavior
file changes should start compile even if folder name start with watch
### Actual Behavior
if folder name start with watch then this will not trigger

[2021-09-22 10:36] alexander-akait commented on #3868
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

I don't understand the problem, please fill out all fields

[2021-09-22 10:36] #3868 closed

[2021-09-22 10:44] mandadimuralidharreddy commented on #3868
I have filled all the required fields.
The issue is am using this plugin in my project and i have folder i(folder name watchParty) in my code. This plugin not doing hot reload for file changes in watchParty folder.

[2021-09-22 10:56] alexander-akait commented on #3868
Because you need to setup watching this directory

[2021-09-22 11:02] mandadimuralidharreddy commented on #3868
its watching all other folder in src directory but ignoring folder name starts with watch in src dir

[2021-09-22 11:12] alexander-akait commented on #3868
Please create reproducible test repo

[2021-09-22 11:37] Halfist commented on #829
@shellscape, is this fixed or should I use `pathRewrite: (path, request) => '/path/to/mock.json'` instead for multiple paths?

[2021-09-22 13:06] raine commented on #1479
How realistic case is it that force exit corrupts webpack cache or something like that?

[2021-09-22 13:10] alexander-akait commented on #1479
In stage when webpack try to write caches, it is based on many metrics, hard to say, but I think in this case webpack should skip broken cache and try to create new

[2021-09-22 14:54] markjm opened #3869 "Cannot read properties of undefined (reading 'call') when hot: false, devtool: false, an entry has dependOn"
Hi @alexander-akait - I have a difficult (for me, at least) bug report:

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code
There seems to be some issue related to the injected WDS client entry when `hot: false`, `devtool: false`, and there are multiple entries linked by `dependOn`.

In the below repro example, it seems that `webpackRuntimeModules` snippet is being injected

[2021-09-22 15:11] alexander-akait commented on #3869
Yep, limitation for multiple entries, set:
[code]

https://github.com/webpack/webpack-dev-server/issues/2792, why https://github.com/webpack/webpack-dev-server/issues/2792#issuecomment-808328432

[2021-09-22 15:12] alexander-akait commented on #3869
I do not close https://github.com/webpack/webpack-dev-server/issues/2792#issuecomment-808328432 due this problem, maybe for better DX we need to force set `optimization.runtimeChunk` for multi entries, but it can be unsafe in some cases, so I prefer to keep open until we will found the best solution

[2021-09-22 15:48] markjm commented on #3869
Hm - thanks for the context. Due to some internal wackyness, runtimeChunk is an unsafe option for us - but I will keep investigating our options. Maybe we can just very fragile-ly keep devtool enabled for now :)

[2021-09-22 15:53] alexander-akait commented on #3861
Yes, it is in our roadmap, already tracked https://github.com/webpack/webpack-dev-server/issues/2969, title is some misleading, but there is the same problem

[2021-09-22 15:53] alexander-akait commented on #3869
let close in favor https://github.com/webpack/webpack-dev-server/issues/2792? If you need feedbakc or help you can write there

[2021-09-22 16:06] markjm commented on #3869
Sure - though the title of 2792 implies its just HMR, but in this example we are specifically not disabling `hot`

[2021-09-22 16:24] alexander-akait commented on #3869
Yep, it is how entries embedded in your chunks, as other idea maybe we can do it more smart then we apply Entry plugin and webpack can understand where to put runtime, but let's track it in https://github.com/webpack/webpack-dev-server/issues/2792

[2021-09-22 16:24] #3869 closed

[2021-09-22 18:16] mdaffan commented on #1433
Same issue, I dont know why it is even closed in the first place.

[2021-09-23 08:06] yiminghe commented on #3829
v3 works, but after upgrading to v4 it breaks

[2021-09-23 10:25] alexander-akait commented on #3829
@yiminghe your information is not help yo help you

[2021-09-23 13:00] EugenDueck opened #3872 "ENOENT: no such file or directory, stat '.../.#xyz.yaml'"
- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information
[code]
### Expected Behavior

Not throw an ERROR on any file appearing in the watched folders.

### Actual Behavior
I'm getting this error
[code]

### For Bugs; How can we reproduce the behavior?
1. Start wat

[2021-09-23 13:05] fevernova90 commented on #1430
With webpack v5, disabling websocket entirely (for whatever reason)
[code]

[2021-09-23 13:06] alexander-akait commented on #3872
Please open an issue in `chokidar`

[2021-09-23 13:07] alexander-akait commented on #1430
`webSocketServer: false` should be enouth

[2021-09-23 13:15] fevernova90 commented on #1430
Agreed.
But without `client: false`, I noticed that the served js still trying to connect to ws server, but returning 404 as server was disabled by `webSocketServer: false`. This may bother someone with OCD. lol

![image](https://user-images.githubusercontent.com/34376497/134512944-1842b88e-a929-4cb2-9465-a87164af355c.png)

[2021-09-23 13:19] EugenDueck commented on #3872
Here it is: https://github.com/paulmillr/chokidar/issues/1153

[2021-09-23 13:19] alexander-akait commented on #1430
@fevernova90 I think it is bug

[2021-09-23 13:20] alexander-akait opened #3873 "do not start connent to web socket server when server socket doesn't start"
Agreed.
But without `client: false`, I noticed that the served js still trying to connect to ws server, but returning 404 as server was disabled by `webSocketServer: false`. This may bother someone with OCD. lol

![image](https://user-images.githubusercontent.com/34376497/134512944-1842b88e-a929-4cb2-9465-a87164af355c.png)

_Originally posted by @fevernova90 in https://github.com/webpack/webpack-d

[2021-09-23 13:22] Zyie opened #3874 "Changes in node_modules are no longer being applied"
- [x] This is a **bug**
- [ ] This is a **modification** request

Hi so recently i upgraded to webpack v5 and webpack-dev-server v4 and noticed that if i make changes inside of `node_modules` the page no longer refreshes and the changes do not take effect.

Has anyone encountered this before?

### Code

[code]

[code]

### Please paste the results of `npx webpack-cli info` here, and mention other

[2021-09-23 13:34] alexander-akait commented on #3874
Expected, you shroud not touch `node_modules`, it decrease perf, anyway if you want to do it, please read https://github.com/webpack/webpack/issues/11612

[2021-09-23 13:34] #3874 closed

[2021-09-23 13:35] alexander-akait commented on #3874
Here full answer and solutin https://github.com/webpack/webpack/issues/11612#issuecomment-705790881

[2021-09-23 15:43] jsg2021 opened #3875 "Add a way to customize / replace / suppress info at startup"
- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

[code]

[code]

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information
I don't think this tools out is relevant here, but for posterity, I tried... but webpack-cli isn't workspace aware. (npm 7) and cannot find `webpack` :P even though it *is* in the workspace root's node_module

[2021-09-23 16:19] alexander-akait commented on #3875
Sorry, out of scope webpack-dev-server, you can suppress them using https://webpack.js.org/configuration/other-options/#level, but if you need real filter, please open an issue in webpack and ask to add `infrastructureLogging.filter` option, we can't do it here

[2021-09-23 16:19] #3875 closed

[2021-09-23 16:48] jsg2021 commented on #3875
Oh! I'm sorry. That logging setting looks perfect! thanks!

[2021-09-23 19:36] llwor94 commented on #3121
FYI if anyone is here with this question on version 4.2.1, `devServer.sockWrite` has been renamed to `devServer.sendMessage` and you'll want to use `devServer.webSocketServer.clients` instead of `devServer.sockets` !!

[code]

[2021-09-23 19:37] alexander-akait commented on #3121
Why you use internal API?

[2021-09-23 19:45] llwor94 commented on #3121
Live reload federated micro-app in host application:

[code]

[2021-09-23 19:49] alexander-akait commented on #3121
we have built-in `/webpack-dev-server/invalidate` route for this case

[2021-09-23 19:50] llwor94 commented on #3121
I'll check it out, thanks!

[2021-09-24 02:05] shenjo commented on #2758
that's works for me. Could you please update the [guides](https://webpack.js.org/guides/hot-module-replacement/) ? As following the guide doesn't work.

[2021-09-24 17:09] laverdet commented on #1479
I'd eat my hat if leaving a dangling watch handle corrupts any file cache. My hack above just leaves the watch handles open, it doesn't touch anything else. The operating system is more than capable of cleaning our mess up.

[2021-09-24 17:13] alexander-akait commented on #1479
@laverdet yep hack above will be corrupt cache, it just fix Node.js problems with slow closing files.

Here two problems:
1. Bug on our side, we don't close compiler - https://github.com/webpack/webpack-dev-server/pull/3880, also we should ask developer to close gracefully or force
2. Bug on Node.js side with slow file closing

[2021-09-24 18:14] #1479 closed

[2021-09-24 22:10] laverdet commented on #1479
The offer on eating my hat still stands. I just can't imagine a scenario in which a file would be corrupted by a dangling inotify handle. In fact, I'd go so far to say that any such corruption would warrant a CVE in the Linux kernel followed by a hushed patch by Google's top minds.

On the other hand calling process.exit will almost *definitely* cause partially written files to be flushed to the f

[2021-09-25 02:24] KK-wang opened #3881 "Why can’t I automatically refresh the html after I modify it"
webpack-dev-server has already been updated, but I ran into some problems.
After configuration, js and css can HMR. But html can't auto-reload.
Here is my code:
![image](https://user-images.githubusercontent.com/59858262/134754702-b71e3c00-e9b4-4346-a793-8f30fffb234d.png)
![image](https://user-images.githubusercontent.com/59858262/134754707-f95109ff-7d50-4362-971a-352c1ec6dbfb.png)
![image](https:

[2021-09-25 12:23] alexander-akait commented on #1479
There is another problems - developers middlewares, we can't know it is safe to close immediately or we need to do graceful shutdown, same for custom client/web socket server implementations, I think we need report problem with slow closing to Node.js. Anyway in the next release double pressing CTRL + C will close immediately process, so developer can choose what is better

[2021-09-25 12:28] alexander-akait commented on #3881
If you want to help please use the issue template, screenshots is not enough to help, sorry, no versions/no examples usage, no configuration, format your issue using the bug template and I will reopen and help you

[2021-09-25 12:28] #3881 closed

[2021-09-25 12:35] KK-wang commented on #3881
sorry, this is my first time to create a issue, I will **format** it now.

[2021-09-25 12:38] alexander-akait commented on #3881
Feel free to ping me when it will be ready

[2021-09-25 12:46] #3873 closed

[2021-09-25 12:58] KK-wang commented on #3881
@alexander-akait Thanks so much for your help. (maybe my format is still **terrible**.

[2021-09-25 14:04] alexander-akait commented on #3881
@KK-wang Can you create github repo? it will be easier to say what is wrong. And what is meaning `automatically refresh`? Reload page? Note - it is HTML page, HMR is impossible

[2021-09-25 14:28] alexander-akait commented on #3872
Found a problem, you on `webpack` v4, `webpack` v4 uses old version of `chokidar`, unfortunately there is only one solution here - update chokidar, we can't do it for v4, because it will be breaking change, sorry, nothing to fix here, feel free to feedback

[2021-09-25 14:28] #3872 closed

[2021-09-25 14:30] alexander-akait commented on #3829
Feel free to feedback, unfortunately we can't fix it here, if you still think we do something wrong, please open an issue in webpack repo

[2021-09-25 14:30] #3829 closed

[2021-09-25 15:24] fevernova90 commented on #3873
Awesome! Thank you!

[2021-09-25 16:09] DYW972 commented on #2958
Hello, Thank you all for your comments but here I'm with the same issue.

How can I convert this "old" configuration file to the new one?

[code]

[2021-09-25 16:35] coltongit commented on #2958
Wrap the writeToDisk: true; line in a function labelled devMiddleware: like sodevMiddleware: {    writeToDisk: true;}Sent from my Galaxy
-------- Original message --------From: Yohan Dunon ***@***.***> Date: 2021-09-25  1:10 p.m.  (GMT-04:00) To: webpack/webpack-dev-server ***@***.***> Cc: "Colton G. Rushton" ***@***.***>, Author ***@***.***> Subject: Re: [webpack/webpack-dev-server] Multiple bugs

[2021-09-25 19:38] DYW972 commented on #2958
Thank you for your answer @coltongit!

It's the only option that needs to be wrapped in another object key?

[2021-09-25 19:41] coltongit commented on #2958
There may be more that needs wrapped in the same devMiddleware function, check the docs

[2021-09-25 19:42] DYW972 commented on #2958
I'm sorry to bother you but can you provide a link where I can find this information?

[2021-09-26 12:13] johnhargestam commented on #776
@chaitanyaankam My solution to this problem is to inject a script into the page in my webpack-dev-server webpack config.

[code]

[2021-09-26 12:38] KK-wang commented on #3881
@alexander-akait I am sorry to reply you now... well here is my repo:

`https://github.com/KK-wang/tie-project-front`

And "automatically refresh" means reload page when I modify the html code.
(My mother tongue is not English, forgive my poor grammar and expression...)

[2021-09-26 19:44] joao-paulo-parity commented on #1271
For those still relying on `"content-changed"`, I found out that, in newer versions, the following code does not work:

`server.sockWrite(server.sockets, "content-changed")`

Instead it should be

`server.sendMessage(server.webSocketServer.clients,  "content-changed")`

[migration-v4](https://github.com/webpack/webpack-dev-server/blob/0002ebfbc8f36e92f91013372c9e2bca97022825/migration-v4.md) tells

[2021-09-26 19:52] LeoniePhiline commented on #1271
Thanks for sharing!

[2021-09-27 10:02] j-jmnz opened #3894 "current chokidar version is using a vulnerable dependency CVE-2020-28469"
- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

[code]

[code]

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

### Expected Behavior

### Actual Behavior

### For Bugs; How can we reproduce the behavior?

### For Features; What is the motivation and/or use-case for the feature?
chokidar version 3.5.1, which is the on

[2021-09-28 18:01] pinguin228 commented on #720
help me pls

[2021-09-29 16:56] markjm commented on #3554
Hi @alexander-akait - one perf issue we are facing in our larger project is the `stats.toJson()` call. I am using the below patch, and everything seems to be working just as expected (in terms of when page refreshes and when it doesn't). Instead of checking toJson-ing all the assets, we just compare the hash to decide if we need to refresh. I tried looking back in the history for why we need to ch

[2021-09-30 07:56] kollerdroid commented on #3601
This is a breaking change for us, because we cannot access our development pods through latest [Istio](https://istio.io/latest/blog/2021/upcoming-networking-changes/).
Please change back this behavior.

[2021-09-30 09:30] januwA opened #3903 "SyntaxError: Unexpected token ="
### Bug report

### Actual Behavior

[code]

### Expected Behavior

### How Do We Reproduce?

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[code]

[2021-09-30 13:00] ylemkimon commented on #3903
https://github.com/webpack/webpack-dev-server/blob/master/migration-v4.md

[2021-09-30 13:10] snitin315 commented on #3903
The answer is above, please use `node version >= 12.13.0`.

[2021-09-30 13:10] #3903 closed

[2021-09-30 13:23] snitin315 commented on #3894
We use caret (`^`) in dependencies, so it should not be a problem.

https://github.com/webpack/webpack-dev-server/blob/01ed7581b99640622c56d2cb9c3a27f06dc03331/package.json#L37

[2021-09-30 14:08] alexander-akait commented on #3894
Update deps locally, thanks

[2021-09-30 14:08] #3894 closed

[2021-09-30 14:15] alexander-akait commented on #3554
@markjm hm, we get only small piece of stats https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L1170, but I think you are right, we don't need to look at `emitted` assets, they are always `emmited` in `done`, storing `currentHash` and new hash should not decrease perf, can you try locally set `assets` to `false` and check perf?

[2021-09-30 15:43] alexander-akait commented on #3881
Because you need to be told what to do with changes for `component/navbar/index.html`, you can use `watchFiles: ['src/component/**/*.html']`, duplicate https://github.com/webpack/webpack-dev-server/issues/3794

[2021-10-03 15:34] sidekick101 commented on #2792
I'm facing a similar problem from following the exact steps in the get started guide in the official website. Except I get the following error after the first edit of `./src/index.js`:

![image](https://user-images.githubusercontent.com/49096097/135760811-9a368c7a-14ba-4c4e-8712-e673652dbf31.png)

If I try to edit it again and save, I get this:

![image](https://user-images.githubusercontent.com/4

[2021-10-04 09:19] alexander-akait commented on #2792
You can't use multiple entries on the same page, please use https://github.com/webpack/webpack-dev-server/issues/2792#issuecomment-806983882

[2021-10-05 15:01] n1kk commented on #1192
For future generations who also ended up here after a google search, you can add this simple inline plugin into your dev config:
[code]
Uses https://www.npmjs.com/package/open package, webpack uses it under the hood so it should be available, but if you use TypeScript you might need to install it.

[2021-10-08 13:59] aw3218 opened #3929 "Create a c3.11.3 to resolve vulnerability in dependency ansi-html"
### Bug report

Users of Angular 11 and 12 are vulnerable to ReDoS because of the package (ansi-html) in 3.11.2. There is a fix which is being used in the later versions of webpack-dev-server which are not compatible for Angular 11/12. Instead of using ansi-html package, use ansi-html-community version 0.0.8.

Simple fix saving 1000s of customers from a potential attack.

[https://snyk.io/vuln/SNY

[2021-10-10 15:21] Nazrinn commented on #1271
As @ripeshade wrote in 2018:

This is what the same config looks like in 2021:
[code]

Anyway, that's what worked for me, using webpack 5.X and webpack-dev-server 4.X. No need to add `writeToDisk: true`. This works perfectly in my dev environment.

[2021-10-11 16:40] alexander-akait commented on #1642
@0x53A Can you provide example to reproduce? What is `webpack-dev-server` version? I think it should be solved for v4, if not, we need investigate, fix should be easy, just need understand where it happens

[2021-10-11 17:13] 0x53A commented on #1642
@alexander-akait

I'm was on

[code]

and updated to ``webpack-dev-server: 4.3.1``.

With the latest version it does seem to work, thank you!

I didn't update before complaining because the issue was still open, sorry.

[2021-10-13 05:46] schlundus opened #3945 "Bug? Intended?"
### Bug report

### Actual Behavior
When specified "host" with '0.0.0.0' it always open '0.0.0.0:_PORT_>' and ignores the url configured in "open"

### Expected Behavior
It should open whatever is configured in "open"

I found this snippet within the source code which explains what it does... but it this intended behaviour ?
![image](https://user-images.githubusercontent.com/17083185/137073864-b0e

[2021-10-13 09:11] robatrain opened #3946 "liveReload bug?"
- [X] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]
const path = require('path')
// const HtmlWebpackPlugin = require('html-webpack-plugin')

module.exports = {
    mode: 'development',
    entry: {
        index: '/src/index.js',
        print: './src/print.js',
    },
    devtool: 'inline-source-map',
    devServer: {
        static: './public',
    },
    // plugi

[2021-10-13 10:22] alexander-akait commented on #3946
Duplicate https://github.com/webpack/webpack-dev-server/issues/2792, please use `runtimeChunk: single`

[2021-10-13 10:22] #3946 closed, assigned to nobody

[2021-10-20 04:34] khteh opened #3960 "Deprecation warning messages"
[code]
### Bug report

### Actual Behavior

### Expected Behavior
No deprecation warning messages

### How Do We Reproduce?

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[2021-10-20 09:24] khteh opened #3961 "Error: error:0308010C:digital envelope routines::unsupported"
Upgraded to Node.JS 17.0.0 and bump into this error:
[code]
WRT https://stackoverflow.com/questions/69394632/webpack-build-failing-with-err-ossl-evp-unsupported I have added webpack.config.js at the root of my quasar project to tell webpack the `hashFunction` to use but to no avail.
https://github.com/quasarframework/quasar/issues/11046
### Bug report

### Actual Behavior

### Expected Behavior

#

[2021-10-20 09:32] #3961 closed

[2021-10-21 10:33] rishabh3112 opened #3964 "fix: `Protocol error (Network.setUserAgentOverride): Target closed.` in CI"
### Bug report
CI experiencing this error randomly, Race conditions. Needs to be fixed.

### Actual Behavior
CI fails due to this sometimes.

### Expected Behavior
CI does not fail on this error.

### How Do We Reproduce?
Randomly occurs on CI. Race condition between processes.

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information
N/A

[2021-10-21 10:41] alexander-akait commented on #3964
We already investigate in this, it starts happens after update puppeteer, I think it is regression on their side

[2021-10-21 12:10] snitin315 commented on #3964
Could be possible. We can try downgrading puppeteer.

[2021-10-23 16:51] heath-freenome opened #3970 "Make `startCallback()` and `stopCallback()` catch and handle errors like `listen()` and `close()`"
### Feature Proposal

After code inspecting [startCallback](https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L2178) and [stopCallback](https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L2238) currently they do not catch and handle errors like their [listen](https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L2293) and [close](https:

[2021-10-23 20:28] wood1986 opened #3971 "live reload does not works when the change is happened on entry of child compiler"
### Bug report

I have a plugin which creates a child compiler and use a different entry for the compilation. It happens at parent's `compilation.hooks.processAssets` at `Compilation.PROCESS_ASSETS_STAGE_SUMMARIZE` stage . When I modify the child entry, it does not have a live reload but webpack did re-compile.

### Actual Behavior
webpack did re-compile but webpack-dev-server does not have a live

[2021-10-24 13:14] #3970 closed, assigned to nobody

[2021-10-25 22:52] TranquilMarmot opened #3979 "webpack-cli serve not using ts-node to compile TypeScript config"
### Bug report

I'm trying to set up webpack to use TypeScript as a config language as defined in the [Configuration Languages](https://webpack.js.org/configuration/configuration-languages/) docs.

I ended up with this in my `package.json`:

[code]

However, running `npm start` it's obvious that `ts-node` is not being used to run webpack, and the configuration file is being ran as a JavaScript fil

[2021-10-25 23:07] #3979 closed, assigned to nobody

[2021-10-28 14:55] vmukhachev opened #3985 "debug mode produces confusing messages"
https://localhost:4444/api/users redirectred to https://localhost:4443
It looks like the path is stripped, while it is not.

[2021-10-28 14:56] #3985 closed, assigned to nobody

[2021-10-28 18:08] jberes-cmm opened #3986 "No matching version found for webpack-dev-middleware@5.2.1"
### Bug report
During an install today (worked previously):
npm ERR! code ETARGET
npm ERR! notarget No matching version found for webpack-dev-middleware@5.2.1.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.

### Actual Behavior

during npm install
"webpack": "^5.41.1",
"webpack-cli": "^4.7.2",
"webpack-dev-serv

[2021-10-28 18:11] #3986 closed, assigned to nobody

[2021-11-01 07:22] wood3n opened #3996 "Can webpack dev server support proxy config reload without server restart in webpack.config.js?"
My project requires frequent changes to the `proxy` configuration items, after change them, i need to restart the application, can this support proxy config reload without restart?
[code]

[2021-11-01 10:02] alexander-akait commented on #3996
Yes, you need to restart, like you change nginx/apache configurations

[2021-11-01 10:02] #3996 closed

[2021-11-01 14:05] driskell opened #3997 "HTTPS clients do not receive Invalid Host/Origin header errors, they just get disconnected with no data"
### Bug report

The `Invalid Host/Origin header` error frame does not get sent to a client that is connecting using HTTPS.

This is due to `client.terminate()` call after sending the message, which I think does not allow sufficient time for the frame containing the error to get sent, presumedly slowed down by the TLS layer, so the client never receives it. (Terminate calls `socket.destroy` under t

[2021-11-01 14:13] alexander-akait commented on #3997
This is valid behavior, we should `terminate`, not `close` when headers are invalid

[2021-11-01 15:59] driskell commented on #3997
@alexander-akait Should we then remove the sendMessage? It's understand that will never complete for TLS since it has no opportunity to send it before termination.

Also I guess there needs to be some message on the client side about termination with no message rather than a regular non-error message of "Disconnected!" ?

[2021-11-01 16:00] DylanPiercey commented on #3794
This may be out of scope for wds, but it'd be great to have multi/SSR compilers have first class support for HMR, similar to Vite.

Currently webpack-dev-server adds some additional entires for `target: "node"` and friends that ultimately do nothing (https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L273-L283).

Instead it would be awesome if we could support a non web implem

[2021-11-01 16:02] alexander-akait commented on #3997
Why you need message here?

[2021-11-01 16:06] alexander-akait commented on #3794
@DylanPiercey make sense, do you want to send a PR

[2021-11-01 16:19] driskell commented on #3997
This doesn't tell you what the issue is and takes a fair bit of time to work out what's wrong:

[code]

This tells you what the problem is so you can fix it really quick:

[code]

[2021-11-01 16:27] alexander-akait commented on #3997
PR welcome to fix

[2021-11-02 10:05] #3964 closed

[2021-11-03 02:44] kamilic commented on #126
Bump priority. We NEED this feature.

[2021-11-04 13:27] jeiea opened #4005 "Compilation failure causes infinite refresh"
### Bug report

[Minimal reproducible repository](https://github.com/jeiea/webpack_report).

### Steps to reproduce

[code]
- Open http://localhost:[port appearing on terminal]
- Add `#` at the end of `index.js` and save.

### Expected behavior

Error overlay appears, only once at the time of modification.

### Actual behavior

Error overlay appears, it refreshes very rapidly.

### Please paste th

[2021-11-04 18:46] #4005 closed

[2021-11-04 22:59] taylorfsteele commented on #804
Also recently ran into this issue but had to make some changes for Webpack 5's config:

Running a reverse proxy with nginx and a webpack app in Docker. The fix I was looking for was switching `webSocketURL` to `'auto://0.0.0.0:0/ws'`, found on this handy tip here https://webpack.js.org/configuration/dev-server/#websocketurl I'm sure you could fill out the whole option object as needed, but the aut

[2021-11-05 06:03] huzaifaAhmedTestlio opened #4008 "webpack-dev-server Not working on M1 Chip"
### Bug report

Hi everyone,

I am facing an issue on M1 chip where webpack-dev-server is not launching properly. Please find details about the error and docker file

logs fetched from docker container
[code]
Following is the version of node I am using.
FROM node:16.10.0-alpine
I am using BigSur macOs

Any help will be highly appreciated.

### Actual Behavior

Container crashes after this error

#

[2021-11-05 11:11] alexander-akait commented on #4008
Please ope an issue in `npm` cli repo

[2021-11-05 11:11] #4008 closed

[2021-11-05 11:11] alexander-akait commented on #4008
But I think problem in your custom scripts in `package.json`, please read the stack trace

[2021-11-06 22:59] #3971 closed

[2021-11-08 04:36] ahungrynoob opened #4016 "Cannot get compiler in onBeforeSetupMiddleware"
### Bug report
![image](https://user-images.githubusercontent.com/26563778/140686184-24e92ec5-1299-4c81-8201-745d22023230.png)

### Actual Behavior

### Expected Behavior

### How Do We Reproduce?

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[2021-11-08 09:56] alexander-akait commented on #4016
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please look at source code https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L1475, use `this.compiler`

[2021-11-08 09:56] #4016 closed

[2021-11-10 10:56] maogongzi commented on #1192
Thank you bro, saved my day!

[2021-11-11 15:10] Alef5750 commented on #910
@pnoken did you ever find a solution to the JS Heap out of memory issue?
I've been having it ever since I started working for a company and running a very large project from my personal laptop.

[2021-11-11 15:11] alexander-akait commented on #910
What is webpack version?

[2021-11-11 16:31] Alef5750 commented on #910
I'm using yarn version 1.22.10

[2021-11-11 16:32] alexander-akait commented on #910
I mean webpack verison, not yarn

[2021-11-12 15:39] Jingotto commented on #2758
I also had a problem with the DevServer, the pages were not refreshed. I added this code and it helped me.

  static: {
      directory: path.join(__dirname, 'src'),
      watch: true,
    },

P.S. Maybe I didn’t understand the problem, sorry, i’m a noob. But if someone faced the same problem it helps.

[2021-11-13 00:13] GiancarlosIO commented on #3580
hi @alexander-akait , is this a breaking change related to v4?
In v3 (by using historyApiFallback: true) the root '/' URL always served the index.html even if the public path was set to a value like '/static/js/.

I was trying to update to webpack 5 and just notice that now my root URL '/' is giving a 'Cannot GET /'  error when output.publicPath is set to '/static/js/. And yep, I can access to '/s

[2021-11-13 11:46] #3997 closed

[2021-11-13 11:47] alexander-akait commented on #3580
What is `static` (i.e. previously `contentBase` value)

[2021-11-15 15:23] Jongminfire opened #4026 "Vanilla js supports only HRM for CSS?"
### Problem

I'm making SPA with vanilla js.

I added `hot` options in webpack.config.js but my whole page refresh when I change HTML and JavaScript files.

I also found the message `[webpack-dev-server] Hot Module Replacement enabled` at console but it didn't work.

Is only accepted for HRM to change CSS files in vanilla js?

### Version

[code]

### Code

[code]

[2021-11-15 15:39] alexander-akait commented on #4026
Yes, for any custom JS you should write HMR code itself, we can't handle it by out of box

[2021-11-15 15:39] #4026 closed

[2021-11-16 12:06] mmmDanone opened #4029 "HMR does not work if ESLint returned a warning or error"
### Bug report

### Actual Behavior

**If ESLint detects a warning in the code (for example, `console.log (123);`), then HMR stops working, and something is updated until `console.log (123);` is removed. This is very strange behavior.**

### Expected Behavior

**It is expected that HMR will not abort its work, and will ignore such warnings, because the compilation has, in fact, been successfully c

[2021-11-16 13:29] obsius commented on #4029
Probably related to #4006.

[2021-11-16 13:59] mmmDanone commented on #4029
this is not an endless reload

[2021-11-16 14:02] obsius commented on #4029
@mmmDanone No, but the change made in that PR may be behind this issue.

[2021-11-17 23:07] aryehb commented on #2898
It looks like that is hard-coded [here](https://github.com/webpack/webpack-dev-server/blob/a5b1c70c11e1a62fe269ce6d282dd4446e4e02ad/client-src/overlay.js#L52-L54), with no native way to set it programmatically.

You can use the [Stylus](https://add0n.com/stylus.html) extension to override the styles. E.g.:
[code]

[2021-11-18 12:09] alexander-akait commented on #4029
Yep, found bug

[2021-11-18 13:18] jimmywarting opened #4037 "Alternative isAbsoluteURL solution"
https://github.com/webpack/webpack-dev-server/blob/497e615f24d5a16266f0faa8db1063f1b0ec2b82/lib/Server.js#L53-L62
[code]
then you can use both a URL class and a strings and weird domain names that are very special

[2021-11-18 13:21] alexander-akait commented on #4037
PR welcome

[2021-11-18 13:22] alexander-akait commented on #4037
[code]

Will be better to read

[2021-11-18 13:23] jimmywarting commented on #4037
how about the c:\ ?

 static isAbsoluteURL(url) {
   try { url = new URL(url) } catch(e) { return false }
   return url.protocol !== 'c:'
 }

[2021-11-18 13:25] alexander-akait commented on #4037
I think we don't use it for paths, so fine to avoid it

[2021-11-19 13:08] andywampir commented on #4029
Just for note, version `4.3.1` works as expected

[2021-11-19 13:59] niharikamahajan02 opened #4041 "Just a typo in Support section of Readme.md ."
Documentation Is:

- [ ] Missing
- [x] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

### Your Proposal for Changes
In first line it's written "We do our best to keep Issues in the ......"
Replacing I in Issues with i is a better option

[2021-11-19 14:00] niharikamahajan02 commented on #4041
Should I make a pull request for this issue?

[2021-11-19 14:03] alexander-akait commented on #4041
No need to open an issue, just send a PR

[2021-11-19 14:03] #4041 closed

[2021-11-19 14:35] niharikamahajan02 commented on #4041
Yup , had send a PR but a comment pointed that "My commit is not authorized under a signed CLA."
Since I am contributing to webpack first time , so can you tell , do I need to authorize myself under this CLA for further PR to be merged?

[2021-11-19 14:45] alexander-akait commented on #4041
Already fixed https://github.com/webpack/webpack-dev-server/pull/4042#issuecomment-974132027

[2021-11-20 01:18] snitin315 commented on #4041
Yes, you need to sign CLA so that we can accept your contributions.

[2021-11-20 08:02] niharikamahajan02 commented on #4041
Okkk , thanks!

[2021-11-23 08:56] zachsa opened #4049 "V5 - allowedHosts suddenly stopped working"
Hi,

I have a dev server config that looks like this:

[code]

This worked on `webpack v5.61.0`. But updating to `webpack v5.64.2`, when I try to access 'test.localhost' I suddently get "Invalid Host header" as a response. I can still use `allowedHosts: 'all'`. But `allowedHosts: 'auto'` also doesn't work.

[2021-11-23 10:09] alexander-akait commented on #4049
We don't change this logic in webpack (this logic not in webpack), please use the issue template and I will help

[2021-11-23 10:09] #4049 closed

[2021-11-23 12:14] zachsa opened #4050 "After upgrading to Webpack v5.64.2, The `allowedHosts` functionality seems to be broken"
### Bug report
After upgrading to Webpack v5.64.2, The `allowedHosts` functionality seems to be broken

### Actual Behavior
With a Webpack dev server configuration like this:

[code]

Going to `test.localhost:3001` gives me an "Invalid Host Header" response. Changing to `allowedHosts: 'auto` also doesn't work. Changing to `allowedHosts: 'all'` DOES work (but this is explicitly recommended against

[2021-11-23 12:15] zachsa commented on #4050
From https://github.com/webpack/webpack-dev-server/issues/4049

[2021-11-23 12:16] alexander-akait commented on #4050
[code]

is not valid setup, please look at docs how to setup it

Also - we don't change this logic a long time, please create reproducible test repo

[2021-11-23 12:44] zachsa commented on #4050
okay - thank you for pointing out that staticOptions isn't correct (I seem to recall having to change to this structure for Webpack 5 but probably just made a mistake somewhere). I'm not sure why the allowedHosts configuration stopped working then.

[2021-11-23 12:44] #4050 closed

[2021-11-23 12:51] alexander-akait commented on #4050
What is the error message? What is stoped?

[2021-11-23 13:08] zachsa commented on #4050
As I mentioned - after updating webpack this morning, going to `test.localhost:3001` resulted in an error message: "Invalid Host Header". That is with `allowedHosts: ['.localhost, localhost'],`

When I change that to `allowedHosts: 'all',`, then I can go to `test.localhost:3001`. I don't know why this is the case. But I'm happy, for now to just continue. Sorry that I can't be more helpful - and I

[2021-11-23 13:22] alexander-akait commented on #4050
hm weird, it should work https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L2035, maybe you can provide reproducible example, no need to show projects, just example of the problem

[2021-11-23 14:19] rv4Flyver commented on #4029
I stumbled upon with the same issue.
As soon as `eslint-webpack-plugin` has any warning (even with `failOnWarning: false`), dev server do rebuilds but do not refresh the page.

[2021-11-23 14:29] alexander-akait commented on #4029
It is on my roadmap to fix

[2021-11-23 17:58] alex-vukov commented on #2484
Having the same problem with the latest possible setup + Module Federation Plugin:
[code]

This is in remoteEntry.js and I can't disable it because `config.devServer.injectClient: false` no longer works in this version of dev server
[code]

[2021-11-24 05:38] alex-vukov commented on #2484
If anyone is interested, the extra entry points disappeared after I set `webSocketServer: false` into `devServer: {}`

[2021-11-25 12:54] tuwrraphael commented on #4029
For me its the workbox InjectManifest warning
[code]
which stops auto-reload

[2021-11-25 20:01] #4029 closed

[2021-11-27 20:38] zdm opened #4059 "Socksjs is outdated"
Hi,
Why `webpack-dev-server` still use `socksjs`? This module is outdated and will not receive fixes and updates. It even archived on github. Also it contains several outdated dependencies. This is potential security issue.

[code]

[2021-11-28 08:51] #4059 closed

[2021-12-01 17:27] zdm opened #4066 "What is the sense in sockjs?"
### Modification Proposal

Why `sockjs` is provided as alternative transport to the `ws`. As I know, `sockjs` is also websockets based.
What is the sense to keep two parts of the similar functionality?

### Expected Behavior / Situation

### Actual Behavior / Situation

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[2021-12-01 17:29] alexander-akait commented on #4066
Because some developers still need old browsers support

[2021-12-01 17:32] zdm commented on #4066
Without websockets? Sockjs will not work on that browsers.

[2021-12-01 17:35] alexander-akait commented on #4066
IE10, IE11 support and some other legacy playrooms

[2021-12-01 17:37] zdm commented on #4066
https://caniuse.com/websockets

ie since v10
ff since v4
etc..

are you sure, that somebody still have this browsers (they are not support javascript ;-)) )?

[2021-12-01 17:39] alexander-akait commented on #4066
Here list of supported browsers https://github.com/sockjs/sockjs-client#supported-transports-by-browser-html-served-from-http-or-https, IE 10 starts support it not with first versions, but it was implemented a long time ago

[2021-12-01 17:40] alexander-akait commented on #4066
Also please note - not all browsers supports specification and can work with bugs, sockjs uses other transport to fix it, anyway `websocket` used by default, so just don't enable it

[2021-12-01 17:43] zdm commented on #4066
I see here https://github.com/webpack/webpack-dev-server/issues/3862 that you dropped ie11 support.
Less outdated items - less problems. People should move forward.
I understand you, thanks.

[2021-12-01 17:44] alexander-akait commented on #4066
It will be only for the next major release, but not right now

[2021-12-02 16:48] DerekSeverson opened #4070 "TypeError: fsevents.watch is not a function"
### Bug report

`webpack-dev-server` crashes due to a `TypeError: fsevents.watch is not a function` exception being thrown.  Below is the output:

[code]

### Actual Behavior

Crashes upon running `webpack serve --open` due to the exception posted above.

### Expected Behavior

`webpack serve --open` should be run without throwing said exception.

### How Do We Reproduce?

My setup was working whe

[2021-12-02 16:51] alexander-akait commented on #4070
Please open an issue in `chokidar` (look at stack trace), something wrong with your environment due `macOS`, also try to reinstall deps (also look at package manager output), sorry, we can't fix it here

[2021-12-02 16:51] #4070 closed

[2021-12-02 16:52] alexander-akait commented on #4070
Reinstall deps, because `fsevents-handler` is platform and Node.js versions have different API

[2021-12-02 16:53] alexander-akait commented on #4066
Let's close, it will be removed in the next major release

[2021-12-02 16:53] #4066 closed

[2021-12-02 16:58] alexander-akait commented on #4070
In this case please open an issue in `chokidar`, we can't fix it here, sorry

[2021-12-02 17:10] DerekSeverson commented on #4070
Would you be able to point me to where `webpack-dev-server` is using `chokidar`?  I pin point exactly where its being used or configured when searching within this repository.  It would help me write out the issue.

[2021-12-02 17:12] alexander-akait commented on #4070
Nothing special https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L2233

[2021-12-03 08:40] xxxace opened #4072 "version>=4.0 throw Error SCRIPT1014: Invalid character error in ie11"
### Bug report
if version is less than 4.0.0 is normal
i found the error that may be  caused by html-entities ^2.3.2
  "devDependencies": {
        "@babel/core": "^7.16.0",
        "@babel/preset-env": "^7.16.4",
        "babel-loader": "^8.2.3",
        "clean-webpack-plugin": "^4.0.0",
        "core-js": "^3.19.2",
        "html-webpack-plugin": "^5.5.0",
        "ts-loader": "^9.2.6",

[2021-12-03 08:54] snitin315 commented on #4072
Please follow the issue template and provide the steps to reproduce.

[2021-12-03 08:54] #4072 closed

[2021-12-03 23:58] Mr-Lion commented on #62
Hello friends,

I've been dealing with the problem for several weeks and look in vain for a sensible solution.

The one with the "writeToDisk: true" definitely doesn't work.
No matter what I did and how I tried every possible start, I could not write the "css" for the style on the disc.

Furthermore, the webpack-dev-server does not work at all with a multi-config. Here comes the mistake:

![image]

[2021-12-04 01:50] xxxace opened #4075 "version>=4.0 throw Error SCRIPT1014: Invalid character error in ie11"
### Bug report
if version is less than 4.0.0 is normal
i found the error that may be caused by html-entities ^2.3.2

### Actual Behavior
SCRIPT1014: Invalid character error in ie11

### Expected Behavior
normal to use in ie11
### How Do We Reproduce?
package.json:
[code]
webpack.config.js:
[code]
[code]

[2021-12-04 01:59] snitin315 commented on #4075
Please share a repo reproducing this issue.

[2021-12-04 02:17] xxxace commented on #4075
https://github.com/xxxace/ts-demo.git

[2021-12-04 02:26] snitin315 commented on #4075
Thanks, we will look into it soon.

[2021-12-04 02:32] xxxace commented on #4075
i already resolve it with the include: /html-entities/  .........

[2021-12-04 02:40] xxxace commented on #4075
{
            test: /\.js$/,
            use: [{
                loader: "babel-loader",
                options: {
                    presets: [
                        ["@babel/env", {
                            targets: {ie: "11"},
                            corejs: "3",
                            useBuiltIns: "usage"
                        }]
                    ]
                }

[2021-12-07 21:03] cl10k opened #4083 "WDS 3.x -> 4.6.0 : Error: spawn chrome ENOENT"
### Bug report
I'm running WDS 4.6.0 from a docker container inside WSL2. I configured the devServer to automatically open Chrome with certain arguments:

[code]

### Actual Behavior
WDS throws the following error:

[code]
When I remove the whole app argument for Chrome, WDS runs fine, even autostarts the os default browser and also correctly updates on code changes.

_I have to admit, I'm new to

[2021-12-09 12:11] alexander-akait commented on #4083
Please use:
[code]

It is small breaking change on `open` package side

[2021-12-09 12:11] #4083 closed

[2021-12-09 12:51] cl10k commented on #4083
I already tried that. Exactly the same error with your snippet.

From my original post (under actual behavior):

![image](https://user-images.githubusercontent.com/1145346/145397474-aadfdb32-c603-49c5-88c6-2de01809e1c8.png)
 _(I should've placed that statement somewhere more visible)_

[2021-12-09 12:54] alexander-akait commented on #4083
Try to open your terminal and run `chrome`/`google-chrome` and other possible commands, you need specify application name here,  `ENOENT` means child process in `Node.js` can't find application with this name, we can't fix it here

[2021-12-09 13:19] jim-basso commented on #4083
commands like "chrome" or similar don't work in the terminal - with WDS 3.x as well as in 4.6.0.

we're in a vsCode terminal inside a docker container - nothing changed here but the versions of the webpack packages.

for clarification:
`app: ["chrome", "--incognito", "--remote-debugging-port=9222"],` with WDS 3.x is working in our environment.

[2021-12-09 13:23] thw0rted opened #4088 "Docs for `mimeTypes` option show wrong syntax"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [ ] Confusing
- [X] Wrong
- [ ] Not Sure?

### Please Explain in Detail...

The [docs page for DevServer](https://webpack.js.org/configuration/dev-server/#devserverdevmiddleware) shows an example of passing `mimeTypes` to the dev middleware, but the syntax is backwards.  I'm not sure why, but the dev middleware wants `mimeTypes: { "extension": "mime/

[2021-12-09 13:28] alexander-akait commented on #4083
We really do not change nothing, just refactor options and update `open` package (we use `open` package to open browser https://github.com/sindresorhus/open/issues), I think better to report them about it, there are a lot of problems with WSL, we really can't fix it here, you can look at our logic https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L1834, we just use our dev se

[2021-12-09 13:29] alexander-akait commented on #4083
Maybe related https://github.com/sindresorhus/open/issues/270

[2021-12-10 05:40] bigbigDreamer commented on #4083
Yeah.

In particular, you can install `xdg-open` in your wsl in advance.

[code]

Then, `xdg-open` can automatically open the default browser on your host machine, provided that you have sufficient permissions.

you can try edit the source code in `open` from node_modules:

[code]

Finally，u can use as follow:

[code]

Don't add `app` param!

More info : [sindresorhus/open#270](https://github.com/

[2021-12-14 11:25] kopax-polyconseil opened #4111 "devServer.overlay: false with webpack-dev-server 3.11.2 is inneficient"
### Bug report

 `devServer.overlay: false` does show overlay in development

I think I am hitting the bug with create-react-app and not webpack-dev-server, as explained here: https://github.com/facebook/create-react-app/issues/4685

### Actual Behavior

It should not open overlay in development.

## Reproduction

`serverConfig` [here](https://github.com/pass-culture/pass-culture-app-native/blob/m

[2021-12-14 12:24] alexander-akait commented on #4111
Sorry v3 is not supported anymore and can contains bugs and security problems, please consider to update to v4, it is fixed in v4, sorry, v3 accept only security fixes

[2021-12-14 12:24] #4111 closed

[2021-12-15 07:33] alexnix commented on #1479
Hi, I am having an issue that is probably related to this.
In my setup I am calling `new WebpackDevServer(...).start()` from a script. Issue is Cmd+C (SIGINT) stops it immediately (at least in the shell it looks like so, it shows a prompt again, as if the previous command stopped), but then addition output from webpack dev server appears (the line about gracefully shutting down). At this point the

[2021-12-15 17:50] alexnix commented on #1479
Hi, I am having an issue with might be related.

I start WebpackDevServer from a script, but when I Cmd+C to close it, the script stops immediately (at least the terminal looks like it did), but then not only additional output appears from webpack (the line with "gracefully shutdown") but also, if i try to input characters such as up/down arrows they appear as `[OB^[OB`.

I am wondering if i need

[2021-12-15 20:05] laverdet commented on #1479
@alexnix what you are experiencing is a common issue when terminating processes which use vterm escape sequences, for example colors in Webpack's output. You can fix your terminal by running [`reset`](https://linux.die.net/man/1/reset) or by just opening a new terminal.

[2021-12-15 20:09] alexnix commented on #1479
Thanks for the clarification.
So you are basically saying this issue is not related to my code, but rather some common issue with terminals ?

[2021-12-15 20:45] laverdet commented on #1479
Right, it's totally normal. Just remember the `reset` command for situations like this.

[2021-12-16 17:12] alexander-akait commented on #4037
Closed due https://github.com/webpack/webpack-dev-server/pull/4038

[2021-12-16 17:12] #4037 closed

[2021-12-18 13:49] alexander-akait commented on #4075
Please update `webpack-dev-server` to v4, v3 accepts only security fixes, yes, there is can be problem with IE, based on your configuration, you can remove `compress: true`, because it is by default and no more changes, feel free to feedback

[2021-12-18 13:49] #4075 closed

[2021-12-18 22:14] jensenbox commented on #3862
No rush but was just wondering when the next release will be.

[2021-12-18 22:47] rinsuki commented on #3862
actually webpack-dev-server isn't using `querystring` package, but it comes from `url` package, which is providing node built-in `url` module for non-node environment (especially browser).

to remove `url` package, we need to replace `url` package function with some replacement.

in `client-src/**/*`, `url` package is used by two file.

first one is `client-src/utils/parseURL.js`.

https://github.

[2021-12-20 08:17] flute opened #4123 "Can't disable or custom console output"
### Bug report

webpack-dev-server console output can't disabled or customed. I can't find anyway todo this on document.

![image](https://user-images.githubusercontent.com/5842406/146734584-dd7b2584-7425-4695-94a6-2146e7c41801.png)

### Actual Behavior

Just can't do anything with output on console

### Expected Behavior

Console output should be configable, can be disabled or customed.

### Plea

[2021-12-20 10:49] alexander-akait commented on #4123
Please use https://webpack.js.org/configuration/other-options/#infrastructurelogging to setup it

[2021-12-20 10:49] #4123 closed

[2021-12-21 23:18] ludofischer opened #4128 "With futureDefaults: true, webpack-dev-server warns about own dependency"
### Bug report
1.  set `experiments.futureDefaults: true` in `webpack.config.js`
2. start webpack-dev-server

### Actual Behavior
webpack-dev-server prints this warning about `punycode`, which is a dependency of `url` which is a dependency of `webpack-dev-server`:

[code]

### Expected Behavior

No warning about modules that are part of webpack-dev-server.
### How Do We Reproduce?

Reproduction re

[2021-12-22 00:50] oobles opened #4129 "Provide migration guide for setupMiddlewares"
Documentation Is:

- [x ] Missing
- [x ] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

The recent change for issue #4068 deprecates onAfterSetupMiddleware and onBeforeSetupMiddleware. The commit making the change provides a new example, but there's no migration guide on how to migrate away from the deprecated configuration options.

### Your Proposal for Changes

[2021-12-22 02:23] snitin315 commented on #4129
## Before

[code]

## After

[code]

I believe this should be the migration. /cc @alexander-akait

[2021-12-22 03:58] markcipolla commented on #4129
Thanks @snitin315 🙏🏻

How would you migrate a before and after block with `server.use` instead of `server.get`?
e.g. the below:
[code]

[2021-12-22 11:07] alexander-akait commented on #4129
`middlewares` is just array, put it before or after, as you work with arrays and return modified array

[2021-12-22 16:01] #3862 closed

[2021-12-22 16:01] #4128 closed

[2021-12-24 03:23] xxxace commented on #4075
Sorry. did you check the reproduction? in this issues i paste the local package.json. and the v3 is ok with ie11.

[2021-12-24 03:28] xxxace commented on #4075
@alexander-akait  Sorry. did you check the reproduction? in this issue i'm paste the local package.json with v3.but actually i'm used the v4.6 and v3 is ok with ie11.

[2021-12-24 12:09] alexander-akait commented on #4075
Note:
[code]

is not help to ie11, please set `browserslist`, not only arrow functions generated by webpack v6, if you don't have browsers, you can set `target: ['web', 'es5']`

[2021-12-24 12:11] alexander-akait commented on #4075
You have `const` in you code, in future you can check code using `es-check`, set:
[code]

And look at code or run `es-check`

[2021-12-24 12:14] alexander-akait commented on #4075
How to fix? Create file `.browserslistrc` and put:
[code]

Note - ideally you should set minimum version of browsers, `defaults` is not good choose

[2021-12-24 16:57] otakustay commented on #4129
Note that `app.get(...)` in `onAfterSetupMiddleware` is not the same as `app.get(...)` in `setupMiddlewares`.

It seems `app.get()` in `setupMiddlewares` are always applied **before** middlewares are applied, if we have a config like this:

[code]

The route `/__index__.html` will take place for history api fallback, however if we changed it to this:

[code]

History api fallback are broken, we ha

[2021-12-25 01:29] xxxace commented on #4075
@alexander-akait  thank you so much! the `.browserslistrc` file is efficient way to fix that problem

[2021-12-25 13:52] alexander-akait commented on #4129
Yes, it is good solution :+1:

[2021-12-28 12:03] Maadtin commented on #1433
Also facing this issue :/ tried increasing the node `max_old_space_size` but its not doing it for me.

[2021-12-29 03:30] godky opened #4140 "Compatible with onAfterSetupMiddleware"
Note that `app.get(...)` in `onAfterSetupMiddleware` is not the same as `app.get(...)` in `setupMiddlewares`.

It seems `app.get()` in `setupMiddlewares` are always applied **before** middlewares are applied, if we have a config like this:

[code]

The route `/__index__.html` will take place for history api fallback, however if we changed it to this:

[code]

History api fallback are broken, we ha

[2021-12-29 03:36] godky commented on #4140
Although there is a deprecate prompt, but the behavior of projects that used `onAfterSetupMiddleware` before will be inconsistent with the new version of webpack-dev-server

[2021-12-29 03:55] zjjjjjjjjjjd opened #4142 "options has an unknown property 'disableHostCheck'."
### Bug report

![image](https://user-images.githubusercontent.com/32830366/147625872-03b07626-5b24-486e-a91e-1f9b18cdaff7.png)

### Actual Behavior

[code]

![image](https://user-images.githubusercontent.com/32830366/147625889-c3f334c1-4b01-4ec4-9da1-87e75ed5f2fb.png)

### Expected Behavior

don't have error

### How Do We Reproduce?

    "webpack": "5.65.0",
    "webpack-cli": "4.9.1",
    "webp

[2021-12-29 05:08] godky commented on #4142
The `disableHostCheck` option was removed in favor `allowedHosts: 'all'` in webpack-dev-server@4

v3:
[code]
v4:
[code]

[2021-12-29 05:48] zjjjjjjjjjjd commented on #4142
thanks

[2021-12-29 05:48] #4142 closed

[2021-12-29 11:57] #4140 closed

[2021-12-29 22:00] #2253 closed

[2021-12-30 07:31] coderXaj commented on #4129
(node:9304) [DEP_WEBPACK_DEV_SERVER_ON_AFTER_SETUP_MIDDLEWARE] DeprecationWarning: 'onAfterSetupMiddleware' option is deprecated. Please use the 'setupMiddlewares' option.
(Use `node --trace-deprecation ...` to show where the warning was created)
(node:9304) [DEP_WEBPACK_DEV_SERVER_ON_BEFORE_SETUP_MIDDLEWARE] DeprecationWarning: 'onBeforeSetupMiddleware' option is deprecated. Please use the 'setup

[2021-12-30 07:45] umair39 commented on #4129
i am facing same issue how i use that code in node module files

[2021-12-30 07:56] umair39 commented on #4129
where i can find file to isert modified code

[2021-12-30 10:26] alexander-akait commented on #4129
`webpack.config.js` file

[2022-01-05 09:26] marekdedic opened #4155 "Add an option to abort on compilation failure"
### Feature Proposal

Hi, I'd like there to be an option to abort the dev-server if compilation fails. I found no way to do this...

### Feature Use Case

I am using `webpack-dev-server` for my tests through `start-server-and-test`. If it happens that somebody somehow commits a change that causes the app to no longer build, the dev server simply says `webpack 5.65.0 compiled with 1 error in 406 ms

[2022-01-05 19:45] jnu opened #4156 "Client overlay/progress options not configurable via resource URL"
### Bug report

### Actual Behavior

When including the client manually via an entry point (instead of using the webpack devServer config object), the `overlay` and `progress` options are not configurable (`logging`, `hot`, and `liveReload` _are_ configurable).

### Expected Behavior

Expect an entry point configuration like:
[code]
to set the `progress` and `overlay` client options to true, as it

[2022-01-06 10:01] ChillyBots commented on #1433
Same error with wds@4.7.2

[2022-01-06 12:14] alexander-akait commented on #4155
Sorry out of scope webpack-dev-server, you can solve this on your test code side, just close server if something was failed

[2022-01-06 12:14] #4155 closed

[2022-01-06 13:00] marekdedic commented on #4155
Hi,
thanks for the reply. Could you please explain why this is out-of-scope? I would think this would be the most appropriate repo for this request...

Also, I could close the server if something failed... If I had a way to detect that - but the cli returns no error code on failure...

Thanks

[2022-01-06 13:05] alexander-akait commented on #4155
Because it is exotic usage for tests, it is not commonly used, we have API to solve this, so please use API.

Why you use `CLI` for tests, webpack has Node.js API, so I recommend to use it for tests, anyway you can configure `stats` to output all errors/warnings and parse them from `stderr`

[2022-01-06 13:06] alexander-akait commented on #4155
If you don't need errors/warnings text, you can parse `webpack 5.65.0 compiled with 1 error` using RegExp and close CLI process when you need it

[2022-01-07 00:13] donaldmcn opened #4159 "HTTP OPTIONS requests fail with a 404 response"
### Bug report

When using webpack-dev-server to serve content on local host, and OPTIONS HTTP request for any of the served content fails with a 404 response. This prevents CORS preflight requests from a browser from working, for example.

In version 3.11.3, the same request would work correctly, and return a 200 OK. Starting in version 4.5.0 OPTIONS requests fail with a 404.

### Actual Behavior

[2022-01-07 12:10] alexander-akait commented on #4159
Sorry, I'm afraid this is not entirely true due https://github.com/expressjs/serve-static/blob/master/index.js#L73, `serve-static` (used for `static`) supports only `GET` and `HEAD` methods, I don't know how you got `200`, If you need answer, please create reproducible example with old configuration and I will investigate, perhaps you have additional middlewares, using our configuration with 3 ver

[2022-01-07 12:10] #4159 closed

[2022-01-07 16:00] donaldmcn commented on #4159
Here is a webpack.config.js and package.json that works with an OPTIONS request (200 OK response)

webpack.config.js
`const path = require('path');

module.exports = {
  mode: 'development',
  entry: './src/index.js',
  output: {
    filename: 'main.js',
    path: path.resolve(__dirname, 'dist'),
  },

  devServer: {
      contentBase: path.join(__dirname, 'public'),
      compress: true,
      po

[2022-01-07 16:12] alexander-akait commented on #4159
Please use github for this, it is better

[2022-01-07 16:32] donaldmcn commented on #4159
Here is a github repo that will reproduce the issue

It has both webpack configs to show OPTIONS works with webpack-dev-server 3.11.3, and does not work with 4.5.0

https://github.com/donaldmcn/webpack-cors-test

[2022-01-10 09:01] whitetrefoil opened #4161 "ProxyConfigArray in type def (types/lib/Server.d.ts) is not an Array"
### Bug report

In the bundled type delcaration file "types/lib/Server.d.ts", type `ProxyConfigArray` is defined to not an array but what its item should be.

### Actual Behavior

[code]

### Expected Behavior

Below codes are modified base on `@types/webpack-dev-server` codes:
[code]

### How Do We Reproduce?

[code]

### Please paste the results of `npx webpack-cli info` here, and mention other

[2022-01-10 10:57] alexander-akait commented on #4161
PR welcome

[2022-01-10 12:35] alexander-akait commented on #4159
I see, there is the problem https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L3032, now we handle only `GET` and `HEAD` requests, we want to remove this options because it is very bad for performance, why you need this, can you describe? Maybe better to create own middleware (we support `setupMiddlewares`, so you can integrate any logic)?

[2022-01-10 16:05] donaldmcn commented on #4159
OPTIONS is used by browsers for CORS preflight requests for content such as images. We are developing a web app that has multiple independent parts, which we serve from different localhost ports for development and testing.

Without support for OPTIONS working none of the content that requires a preflight check will work.

Also, in the repro case when using web-pack-devsever 4.5.0, I have set magi

[2022-01-10 16:16] alexander-akait commented on #4159
I mean you relied on an option that was actually design for a completely different purpose, and yes we are going to remove this option in the future, and so it has some changes in v4, I recommend to create own middleware for this feature

[2022-01-10 16:25] donaldmcn commented on #4159
Modern browsers use HTTP OPTIONS for CORS preflight, and web-pack-devserver supported this up until version 4.5.0.

For now, I will just use webpack-dev-server 3.11.3 and consider creating a new middleware in the future if needed.

[2022-01-11 16:37] clinejj opened #4167 "Upstream Prototype Pollution vulnerability from selfsigned 1.10.11 -> node-forge 0.10.0"
### Bug report

There is an open CVE for `node-forge` 0.10.0, which webpack-dev-server includes via `selfsigned` 1.10.11.
- https://github.com/advisories/GHSA-5rrq-pxf6-6jx5
- https://github.com/advisories/GHSA-gf8q-jrpm-jvxq

Updating to `selfsigned` 1.10.13 will address the issue and is a backwards compatible update. This was attempted to be fixed in https://github.com/webpack/webpack-dev-server

[2022-01-11 16:40] alexander-akait commented on #4167
PR https://github.com/webpack/webpack-dev-server/pull/4144/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R60, anyway you can update deps locally, because we use `^`

[2022-01-11 17:00] alexander-akait commented on #4167
Oh, I see, we need to update `selfsigned@2`, WIP

[2022-01-11 17:42] #4167 closed

[2022-01-11 17:46] alexander-akait commented on #4167
Please update to `4.7.3`

[2022-01-12 01:30] donaldmcn commented on #4159
FYI, for my purposes of needing to just support CORS preflight requests, adding the following to the setupMiddlewares section of the webpack-dev-server makes things work:

           // Allow OPTIONS requests (i.e. CORS preflight)
           middlewares.push({
                name: 'cors-preflight',
                path: '/images',
                middleware: (req, res) => {
                    re

[2022-01-12 01:52] clinejj commented on #4167
Thanks for the quick fix, can confirm it addressed the issue

[2022-01-12 06:34] kingller opened #4172 "host: local-ip cannot visit with localhost"
### Bug report

[code]

### Actual Behavior

When I set host with local-ip, cannot visit it with localhost, and I don't know the ip, so how to set the proxy as above?
And when I set host with 0.0.0.0, then the open url is not ip address.

### Expected Behavior

Open url with local ip, and can be visited with localhost.

[2022-01-12 10:14] alexander-akait commented on #4172
You can use `const localIP = DevServer.getHostname("local-ip")` and reuse it in any string

[2022-01-12 10:14] #4172 closed

[2022-01-12 10:20] kingller commented on #4172
Thanks very much

[2022-01-12 15:23] alexander-akait commented on #1433
Somebody can provide reproducible example?

[2022-01-12 16:13] LukasBombach commented on #1433
I can try, I am getting this error while working on a child compiler thing, so that is why I think this is a hot candidate. I'm pretty swamped right now, I will try not to forget to create the example

[2022-01-13 10:01] alexander-akait commented on #4161
Closed by https://github.com/webpack/webpack-dev-server/pull/4173

[2022-01-13 10:01] #4161 closed

[2022-01-14 08:05] TrickyPi opened #4180 "Didn't handle preflight request correctly"
### Bug report

Didn't handle preflight request correctly, if browser send a CORS non simple request to get a static resource.
### Actual Behavior

Occur a CORS error.
The specific info:
Response to preflight request doesn't pass access control check: It does not have HTTP ok status.

### Expected Behavior
Request successful

### How Do We Reproduce?

1. type `npx ll-create create react-js bug-rep

[2022-01-14 09:12] PodaruDragos opened #4181 "Typescript types are broken when using a `webpack.config.ts` file"
### Bug report
When using `webpack-dev-server:4.7.3`

### Actual Behavior
[code]

### Expected Behavior
Typescript should not see any issues here, just like it worked before when we had types from `@types/webpack-dev-server`

### How Do We Reproduce?

Install
[code]

add a `webpack.config.ts` file.

[code]

### Please paste the results of `npx webpack-cli info` here, and mention other relevant inf

[2022-01-14 09:14] pweibbre opened #4182 "Dependency to old version of chokidar results in using a old version of glob-parent inkluding a high vulnerability"
### Bug report

webpack-dev-server@3.11.3 has dependency to old chokidar version 2.1.8 which has dependency to glob-parent@3.1.0 which has a high vulnerabilty

### Actual Behavior

i'm using Angular 12 with the latest version of @angular-devkit/build-angular@12.2.15.
the dependencies leads to the use of webpack-dev-server@3.11.3 which is the latest one for Angular 12.
in package.json there is a de

[2022-01-14 10:35] alexander-akait commented on #4181
You should import webpack dev server types, answer https://github.com/webpack/webpack/discussions/15076#discussioncomment-1887720

[2022-01-14 10:35] #4181 closed

[2022-01-14 10:36] alexander-akait commented on #4182
Sorry, it is not fixable, please update dev server to v4, v4 supports webpack v4 and webpack v5, just update

[2022-01-14 10:36] #4182 closed

[2022-01-14 10:51] alexander-akait commented on #4180
PR welome

[2022-01-16 02:24] #4129 closed

[2022-01-18 17:36] agaktr commented on #1168
ano solution for this?

[2022-01-18 18:19] Trinovantes commented on #4181
Typescript by default makes every definition in `node_modules/@types` global. The old `@types/webpack-dev-server` package has a side effect of extending `webpack.Configuration` object which means everything "just works" after installing `webpack-dev-server` and `@types/webpack-dev-server`

Now that the types are included in 4.7, the side effects cannot be applied globally without modifying the `ty

[2022-01-19 12:42] Imran-Siddiquii commented on #1491
VM51:2 Uncaught ReferenceError: process is not defined
    at Object.4043 (<anonymous>:2:13168)
    at r (<anonymous>:2:306599)
    at Object.8048 (<anonymous>:2:9496)
    at r (<anonymous>:2:306599)
    at Object.8641 (<anonymous>:2:1379)
    at r (<anonymous>:2:306599)
    at <anonymous>:2:315627
    at <anonymous>:2:324225
    at <anonymous>:2:324229
    at HTMLIFrameElement.e.onload (index.js:

[2022-01-21 13:40] PierBJX opened #4213 "Error when adding devServer type"
### Bug report

With typescript, when adding types for devServer, I have an error when I try to define the `bypass` property.

[code]
### Actual Behavior

It throws this error:
` 'bypass' does not exist in type 'Options'.`

### Expected Behavior

### How Do We Reproduce?

[code]

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[2022-01-21 13:42] alexander-akait commented on #4213
Feel free to fix types

[2022-01-21 14:12] sibelius opened #4214 "show lazyCompilation information while compiling in the client overlay"
### Feature Proposal

I'd like to provide some feedback to developers while webpack is compiling when using lazyCompilation experimental feature

### Feature Use Case

just improve the dx, not thinking that something is broken

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

System:
    OS: macOS 12.1
    CPU: (4) x64 Intel(R) Core(TM) i7-5557U

[2022-01-21 14:37] alexander-akait commented on #4214
What is information do you need?

[2022-01-21 16:45] sibelius commented on #4214
- lazy compilation is compiling this
- maybe a simple loading that does not block developer interaction with other chunks  already loaded
- or a progress bar

![image](https://user-images.githubusercontent.com/2005841/150566298-e1a84af6-efbf-41ac-ba83-7b008411cd3e.png)

[2022-01-22 13:38] alexander-akait commented on #4214
Do you want it in browser or in TTY?

[2022-01-22 14:04] sibelius commented on #4214
Browser, webpack already show this info on the terminal

[2022-01-23 17:22] maxprilutskiy opened #4217 "Dev server doesn't work when used with /etc/hosts mapping"
### Bug report

When I'm using webpack-dev-server in CRA, the WebSocket request URL gets composed incorrectly, if I'm using `/etc/hosts` to map a domain to localhost for the dev purposes. The code: https://github.com/webpack/webpack-dev-server/blame/master/client-src/utils/createSocketURL.js#L132-:L142

### Actual Behavior

Given the app is being accessed via https://app.localhost.dev through reve

[2022-01-23 18:14] maxprilutskiy commented on #4217
UPD:

This is the workaround I'm using meanwhile:
[code]

Added this to env when my CRA app after noticing these lines in react-scripts:
https://github.com/facebook/create-react-app/blob/20edab4894b301f6b90dad0f90a2f82c52a7ac66/packages/react-scripts/config/webpackDevServer.config.js#L19-L22

[2022-01-24 11:36] alexander-akait commented on #4217
Please open an issue in CRA, we can't fix it here

[2022-01-24 11:36] #4217 closed

[2022-01-24 16:09] bitkillerx opened #4221 "Dev server watchFiles not work on externals module"
DevSever is not reload module after `dist_path/*` files changed

[code]

[2022-01-24 16:13] maxprilutskiy commented on #4217
@alexander-akait with all respect, I doubt you have carefully read the description of the issue.

I've pointed you to the exact lines of code in webpack-dev-server repo that cause this problem. Monkey patching the webpack-dev-server repo in node_modules does solve the problem too, as well as modifying the variables during the debugging.

Here is the problematic code: https://github.com/webpack/web

[2022-01-24 16:19] alexander-akait commented on #4221
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2022-01-24 16:19] #4221 closed

[2022-01-24 16:23] alexander-akait commented on #4217
Yes, it is expected behavior, you should provide port/host/etc this case, otherwise we can't connect, we can't read `/etc/hosts` and understand that we should use, and also that is why we allow to set these options, what solution you suggest?

[2022-01-24 16:41] pkuczynski opened #4222 "devServer not recognised as valid webpack configuration option"
### Bug report

After removing deprecated `@types/webpack-dev-server` with the following config:

### Actual Behavior

I am getting TS error:

[code]

### Expected Behavior

There should be no error.

### How Do We Reproduce?

package.json

[code]

webpack.config.ts

[code]

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[code]

[2022-01-24 17:04] pkuczynski commented on #4222
The second option worked for me. Sorry for raising duplicate...

[2022-01-24 17:23] maxprilutskiy commented on #4217
I suggest using `location.host` of the host webpage when building the websocket URL, instead of `host` and `port` passed via resource string _from outside_, in cases when `location.host` is clearly not a localhost domain (when it's not localhost, 0.0.0.0, 127.0.0.0.1).

Do you see this rather a feature (fix?) for CRA? It might be if the arch idea behind webpack-dev-server is to keep it "window"-ag

[2022-01-24 17:31] alexander-akait commented on #4217
CRA should provide variables/options to change it, we nothing know about your URL in browser, proxy always required to set some options explicit, in your case it is port

[2022-01-24 17:39] maxprilutskiy commented on #4217
Got you, @alexander-akait, thanks for looking into this! I guess I got confused it's webpack-dev-server issue because its code is generating the URL.

Your comment makes total sense.

Thx 🙇‍♂️

[2022-01-25 20:53] rkovalyov opened #4224 "[webpack-dev-server]: Setting Websocket Connection invoked twice"
### Bug report
Setting Websocket Connection invoked twice

### Actual Behavior

invoked 2 request for setting websocket connection (see in Network Tab of DevTools )

<img width="600" alt="Webpack Template 2022-01-25 22-51-14" src="https://user-images.githubusercontent.com/4090779/151057743-f089fa64-dade-4df5-921e-41dbf14d769f.png">

### Expected Behavior
invoked 1 request for setting websocket con

[2022-01-26 07:49] Buddhad commented on #3576
I have faced the same problems how to `resolve` this error?

[2022-01-26 11:16] alexander-akait commented on #4224
It was created by `react-refresh-webpack-plugin`, please reopen an issue, look at stack trace.

First connection:
[code]

Second:
[code]

look at `| ./node_modules/@pmmmwh/react-refresh-webpack-plugin/client/ErrorOverlayEntry.js?sockHost=localhost&sockPort=8080&sockProtocol=http | @ | ErrorOverlayEntry.js:77`

If you set:
[code]

no double connection

@pmmmwh can you provide more infromation

[2022-01-26 16:10] carlobeltrame commented on #3576
Just update webpack-dev-server to a more recent version. This has been fixed for a few months now.

[2022-01-27 09:46] johnzhu12 opened #4228 "webpack dev-server.js module.hot undefined"
<img width="874" alt="image" src="https://user-images.githubusercontent.com/11485619/151332349-16afe69f-ad89-4003-8bc5-3292a44b1e2b.png">

<img width="1105" alt="image" src="https://user-images.githubusercontent.com/11485619/151332467-9234571a-d629-4265-ad17-4aaf84f92ea7.png">

don't understand why module.hot is undefined ,the debugger gets here:
<img width="1096" alt="image" src="https://user-ima

[2022-01-27 10:43] johnzhu12 commented on #4228
base.config.js
[code]
dev.config.js
[code]

[code]

[2022-01-27 10:44] alexander-akait commented on #4228
Please remove `new webpack.HotModuleReplacementPlugin()`, webpack-dev-server by default enabled when `hot: true` (`true` is default value)

[2022-01-27 10:48] #4228 closed

[2022-01-28 01:53] johnzhu12 commented on #4228
[code]

close this cause I found the above code make it happened

when I changed to regular module.exports:
[code]
It works fine

[2022-01-28 11:26] otakustay opened #4230 "Allow proxy's bypass to stop handler chain"
### Feature Proposal

We are working with a "proxy and cache" feature, in which we'd like to proxy a request the first time it appears and cache the response, after then we immediately respond from cache and not to proxy it to target server.

After some investigation we find `proxy`'s `bypass` function is a suitable place to check the cache existence, we can also `response.end` in it, however we a

[2022-01-28 11:48] alexander-akait commented on #4230
I think better to use custom middleware in this case, there are other cases which we don't cover, also we want to remove `bypass` in the next major release, because it is slow down proxy in dev env

[2022-01-28 12:14] otakustay commented on #4230
Totally understand that, the main reason I request for this is `webpack-dev-server` has a quite complex logic to parse routes from `proxy` options, and `http-proxy-middleware` also has a complex context matching mechanism, it's not easy to setup generic custom middleware from various `proxy` options.

I will try to implement it using a custom middleware

[2022-01-28 12:14] #4230 closed

[2022-01-28 14:09] jharris4 opened #4231 "hard to configure the index html path to be relative to the publicPath"
### Modification Proposal

### Expected Behavior / Situation

It is quite common to need to have webpack bundle an app such that the index.html is in the **parent directory** which contains a subdirectory for the rest of the assets, such as the following directory structure:

/index.html
/static/app-bundle.js
/static/app-bundle.css

The `webpack.config.js` for the above looks like this:

[code]

T

[2022-01-28 14:24] alexander-akait commented on #4231
Set `publicPath: 'auto'`

[2022-01-28 14:32] jharris4 commented on #4231
setting `publicPath: 'auto'` on either `output` or `historyApiFallback` doesn't seem to work.

[2022-01-29 22:55] PierBJX opened #4232 "Infinite reload with CopyWebpackPlugin"
### Bug report
Webpack dev server reloads infinitely after changes in the src code when I use `CopyWebpackPlugin` with `requirejs` such like that:
[code]

Here are the versions I have:
[code]

### Actual Behavior
When I run the command: `webpack serve` and I modify the code.
Webpack recompiles but after it is written `compiled successfully`, it recompiles again and again...

### Expected Behavior

[2022-01-30 12:01] alexander-akait commented on #4232
Can you provide `npx webpack-cli info`? Do you use macos? I can't reproduce locally, tried a lot of time

[2022-01-30 17:32] PierBJX commented on #4232
I updated the description. What do you by macos ?

[2022-01-30 17:35] alexander-akait commented on #4232
Can you reproduce the problem using given example of repo? I can't, maybe you can record video/screenshots?

[2022-01-30 21:25] TrendSonic commented on #2166
This worked for me very good. Thanks!

[2022-01-31 09:42] sandorvasas opened #4234 "Eats up all memory on compilation"
"webpack": "5.67.0",
"webpack-dev-server": "4.0",
but also happens with webpack-dev-server 4.7

"Starting development server..." text pops up and stays, while the process gradually eats up all memory of any system (e.g. 32GBs of laptop) then the machine goes OOM and freezes.

[2022-01-31 09:45] snitin315 commented on #4234
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2022-01-31 09:45] #4234 closed

[2022-01-31 10:03] sandorvasas commented on #4234
dude, is it hard to figure out that the
## Actual Behavior
is that it eats up all memory and then crashes
## Expected Behavior
it doesn't it up all memory and it doesn't crash ???

[2022-01-31 10:04] alexander-akait commented on #4234
What is `static` value?

[2022-01-31 10:04] alexander-akait commented on #4234
I think you watch very many files, so you got it

[2022-01-31 10:04] sandorvasas commented on #4234
didn't happen with previous dev server versions, only 4+

[2022-01-31 10:18] sandorvasas commented on #4234
webpack dev server conf is the factory default conf of the latest create-react-app. start.js script too. and webpack currently can't compile the code, because i've not finished upgrading our code base, however it doesn't run out of memory. only compiling with devserver does.
Here's the default CRA devServer cfg:
[code]

[2022-01-31 10:23] alexander-akait commented on #4234
What is `paths.appPublic`? If you use CRA, please open an issue in CRA, there are o lot of other plugins which can create OOM, also can you provide OOM stacktrace?

[2022-01-31 10:34] sandorvasas commented on #4234
[code]
Looks like nothing specific here. V8 starts to collect garbage and runs out of mem

[2022-01-31 10:47] alexander-akait commented on #4234
information is not enough, unfortunately we can not investigate it without additional information - reproducible example

[2022-01-31 10:52] sandorvasas commented on #4234
tips on how should I investigate it?

[2022-01-31 10:55] alexander-akait commented on #4234
Try to disable plugins/loaders step by steps and run server, webpack-dev-server doesn't eat many memory on start, just watch files in the `static` option (this is the most memory eating actions, but I think problems is not in this)

[2022-01-31 13:19] politsin commented on #3570
Оставлю тут работающий конфиг, вдруг кому пригодится

## Its work
[code]

[2022-02-02 04:59] waweber opened #4241 "Cannot disable --watch mode"
### Bug report

### Actual Behavior

It doesn't seem to be possible to disable --watch mode when running `webpack serve`:

- setting `watch: false` in webpack config does not disable --watch behavior
- setting `devServer.watchFiles` config to `{}` or `[]` does not stop recompilation
- setting `devServer.watchFiles.paths` to `[]` or `["asdf"]` does not stop recompilation
- running `webpack serve --

[2022-02-02 05:03] snitin315 commented on #4241
`--no-watch` already exists.

[2022-02-02 05:09] waweber commented on #4241
@snitin315 for webpack itself, yes, but dev-server does not seem to accept/forward the setting:

[code]

[2022-02-02 16:10] PierBJX commented on #4232
That's weird, I reproduced the problem with the [repo](https://github.com/PierBJX/fluffy-enigma/tree/main/webpack/copy-webpack-plugin-requirejs) I gave you. I recorded my screen to show you (sorry I had to split if not the file was too big):

https://user-images.githubusercontent.com/22519163/152191726-0e5a38e4-379c-41cd-8cc2-18439e624816.mp4

https://user-images.githubusercontent.com/22519163/152

[2022-02-02 16:19] alexander-akait commented on #4232
Can you try to reproduce it without VS code (using any editor)?

[2022-02-02 16:39] PierBJX commented on #4232
I tried with powershell to run the command and Notepad++ to edit the file and at the end I had the same infinite reload.

[2022-02-02 16:42] alexander-akait commented on #4232
hm, sorry, I can't help, I don't even reproduce try try to debug and look that is file raise change even

[2022-02-02 16:44] PierBJX commented on #4232
Yes sure no problem ;)

[2022-02-02 16:55] alexander-akait commented on #4232
I think no, problems somewhere easl

[2022-02-04 02:33] snitin315 opened #4251 "Potential memory leak in windows CI"
### Bug report

Recently, CI is flaky for windows and failing with the following error -

<img width="984" alt="Screenshot 2022-02-04 at 7 59 41 AM" src="https://user-images.githubusercontent.com/46647141/152462555-e4d7a387-ebe8-453e-af6f-244811faa0b0.png">

### Actual Behavior

CI `Error: Process completed with exit code 1.`

### Expected Behavior

CI should not fail with this error.

### How Do

[2022-02-04 03:12] mopduan opened #4252 "[multiple entries]Change in one file leads to HMR full recompilation"
### Bug report
[multiple entries]Change in one file leads to HMR full recompilation

### Actual Behavior
change entry file a.js leads to HMR full recompilation

### Expected Behavior
only recompile the changed file a.js HMR, but the stats info has HMR compilation of b.js and c.js

### How Do We Reproduce?
use https://github.com/mopduan/test-repo.git
run `npm run dev`

### Please paste the results

[2022-02-04 11:08] snitin315 commented on #2843
@alexander-akait How should we do this, migrate all test at once or one by one in separate PRs then remove puppeteer in last?

[2022-02-04 11:09] alexander-akait commented on #4251
@snitin315 Let's try to increase memory usage for tests

[2022-02-04 11:10] alexander-akait commented on #2843
I think we can do it in one PR, because API is almost same, we can encapsulate some helpers functions if it will make migration easy

[2022-02-04 13:48] alexander-akait commented on #4252
Expected, it is just stats, we already output all stats, but really only one thing was built:
[code]

[2022-02-04 17:45] stevematney commented on #2792
I was able to get multiple entries working with a _very_ hacky solution involving hijacking `self["webpackHotUpdate"]` with a `window` Proxy, utilizing a Service Worker, and which relies on another plugin that wraps the built entry bundle in a self-calling function for isolation.

It was... a lot, but eventually I got everything working smoothly. It doesn't always guarantee the updates get to the

[2022-02-05 04:04] mopduan commented on #4252
I get it. Thanks!

[2022-02-05 04:04] #4252 closed

[2022-02-05 12:00] sandorvasas commented on #126
still need it

[2022-02-05 21:37] RailsCod3rFuture opened #4255 "Web Sockets are breaking on Docker for Actioncable after upgrade from webpack-dev-server ^3 to 4.7"
- [ x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]
webpacker.yml

[code]
`
### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

System:
    OS: macOS 11.6.2
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
    Memory: 24.24 MB / 16.00 GB
  Binaries:
    Node: 16.0.0 - ~/.asdf/installs/nodejs/16.0.0/bin/node

[2022-02-06 14:33] alexander-akait commented on #4255
Please fix your URL to web sockets, we provide options for this (look at https://webpack.js.org/configuration/dev-server/#websocketurl), sorry you don't provide configuration so I can't help you

[2022-02-06 14:33] #4255 closed

[2022-02-06 22:43] ayroblu commented on #2792
Hi, just wanted to follow up with whether there's an alternative solution to the `runtimeChunk` solution? I found that using that with monaco-editor causes it to fail to load results.
In the meantime I can set `hot: false`. And the main difference is that I no longer have css hot reloading.

[2022-02-07 21:59] pmmmwh opened #4261 "Expose Socket Client for external integrations"
### Feature Proposal

Allow external integrations to tap into the socket client of WDS in order to consume compilation events, such as build logs, errors, progress, etc.

Right now, the client is done as a module level singleton:

https://github.com/webpack/webpack-dev-server/blob/87401b4927c75f1c5114508216101fd1a3ec9e67/client-src/socket.js#L19

Perhaps we can assign it to some special global var

[2022-02-08 00:13] owjsub opened #4263 "Replace bonjour"
### Modification Proposal

https://github.com/watson/bonjour has not received any commits since 2016. Security issues are starting to stack up. Here is a forked copy with recent commits that this project could switch to https://github.com/onlxltd/bonjour-service.

### Expected Behavior / Situation

A bonjour dependency without security advisories in peer dependencies

### Actual Behavior / Situati

[2022-02-08 03:39] yoyo837 commented on #4070
![image](https://user-images.githubusercontent.com/6134547/152913685-8b3fe2b3-011c-4225-9929-2a912720f27f.png)

[2022-02-08 03:53] yoyo837 commented on #4070
ref https://github.com/npm/cli/issues/3846

[2022-02-08 09:52] alexander-akait commented on #4261
I am fine with it, do you want to send a PR?

[2022-02-08 13:31] LukasBombach commented on #1433
In the issue at the next repo the problem was cause by chakra ui which also uses emotion under the hood

[2022-02-09 17:21] IgorStetsiuk commented on #2692
This time I'll be that guy... do we have any updates on this?

Have one question regarding Hot Module Replacement. Seems it doesn’t work properly. I used CRA with react-scripts v 5.0.0 And CRACO  to override the webpack config in order to set up my module federation and that’s everything is fine (build, test, start commands)… Thought when it comes to the local development I need manually hard relo

[2022-02-09 19:53] jose-sampedro commented on #2132
Hi @Bkucera

you can put a total example or an example repository?

thanx!

[2022-02-09 23:07] yasushi-saito opened #4271 "ErrorOverlayPlugin causes the devserver schema validator to fail with "options has an unknown property 'before'""
### Bug report

Using the `ErrorOverlayPlugin` in webpack.config.js makes the webpack-dev-server fail during schema validation.

### Actual Behavior

[code]

It looks as if someone adds key `before: undefined` to the config block for the devserver (`{static: {directory: "somepath"}}` in the example below).

### Expected Behavior

[code]

### How Do We Reproduce?

Package.json:
[code]

webpack.conf

[2022-02-09 23:16] yasushi-saito commented on #4271
I noticed that it's a problem in the ErrorOverlayPlugin side. There's a pending PR that's not acted on.

https://github.com/gregberge/error-overlay-webpack-plugin/pull/88

[2022-02-09 23:16] #4271 closed

[2022-02-11 06:13] ashish9719 commented on #149
I am facing the same issue, Cannot read property originalSource of undefined.
I don't have any property called originalSource. I am trying to use GridLayout
![image](https://user-images.githubusercontent.com/62070962/153545299-146499a7-2121-47d4-a018-ad8e72b23625.png)

[2022-02-11 11:12] snitin315 commented on #4251
@alexander-akait  How can we do that with jest?

[2022-02-11 11:22] alexander-akait commented on #4251
Just increase node memory limit

[2022-02-12 13:04] PierBJX commented on #4213
It seems fixed with the last release `4.7.4`

https://github.com/webpack/webpack-dev-server/compare/v4.7.3...v4.7.4

[2022-02-12 13:04] #4213 closed

[2022-02-13 03:25] snitin315 opened #4279 "CI: add job to check if types are up-to-date"
### Modification Proposal

Add job to check if `types` are up-to-date.

A possible solution is to build types on CI and check if there are modifications to the types folder/files. This can be a part of the lint job.

### Expected Behavior / Situation

CI will fail if the PR author doesn't update types.

### Actual Behavior / Situation

No check present.

[2022-02-13 14:14] alexander-akait commented on #4279
Yep, PR welcome

[2022-02-15 04:28] pmmmwh commented on #4261
Will send a PR sometime this week 👍🏻

[2022-02-15 10:31] alexander-akait commented on #4261
Thanks :+1:

[2022-02-16 03:41] promiseLC opened #4291 "Hot No more work"
### Bug report

I configured devServer, but I didn't get the result I wanted
### Actual Behavior

I modified the listening file, but there was no hot module replacement or even refreshing the page
### Expected Behavior

The listening file should be modified. The content I modified will change and the page will not be refreshed
### How Do We Reproduce?
https://github.com/promiseLC/webpack5.git

###

[2022-02-16 11:59] alexander-akait commented on #4291
You set `client: false`, so not HMR reload logic will be in your application, expected

[2022-02-16 11:59] #4291 closed

[2022-02-16 20:34] qswinson opened #4292 "HMR broken when using reverse proxy with SSL"
### Bug report

### Actual Behavior

When the websocket url is generated in `client-src/utils/createSocketURL.js`, the port from the webpack dev server is always used while the hostname and protocol from the `self.location` is used. This causes the connection to never succeed.

For example, if the webpack dev server is running on port 3000 and the url I use to access my local development website i

[2022-02-16 22:58] RailsCod3rFuture opened #4294 "Receiving new type of error from WebSocket.js"
### Bug report

### Actual Behavior

[code]

### Expected Behavior

WebSocket.js should compile without throwing error.

### How Do We Reproduce?

Install the latest webpack-dev-server and shakapacker 6.0 gem for rails

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

  System:
    OS: macOS 11.6.2
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU

[2022-02-17 00:48] RailsCod3rFuture commented on #4294
When I'm on a local domain, it doesn't happen. But, when I use a sub domain it does.

[2022-02-17 03:47] promiseLC commented on #4291
GET http://localhost:8080/runtime.7d943879cbb471711727.hot-update.json 404 (Not Found)

error

[2022-02-17 03:53] snitin315 commented on #4291
@promiseLC remove `client: false` from your configuration for HMR to work.

@alexander-akait maybe we can log warning if we have `client: false` along with `hot: true` in config?

[2022-02-17 03:56] promiseLC commented on #4291
i delete client: false , HRM is work ,but it not normal , is Refresh page

[2022-02-17 04:01] promiseLC commented on #4291
Error reporting information  http://localhost:8080/runtime.7d943879cbb471711727.hot-update.json 404 (Not Found) , i think
 publicPath  problem
<img width="489" alt="截屏2022-02-17 12 00 16" src="https://user-images.githubusercontent.com/56290517/154402728-ea9219c3-3525-482d-832a-2e77ea8999f7.png">

[2022-02-17 07:00] promiseLC commented on #4291
@alexander-akait   I found that opening HRM cannot open output Clean: true, otherwise HRM will fail. I don't know if it's a problem with my code. You can check whether it's a problem  , I wonder if this has anything to do with #1385

[2022-02-17 10:19] alexander-akait commented on #4294
Please open an issue in `shakapacker`

[2022-02-17 10:19] #4294 closed

[2022-02-17 10:20] alexander-akait commented on #4292
In this case you should set valid URL for client, we have options for these, sorry we can't fix it here

[2022-02-17 10:20] #4292 closed

[2022-02-17 10:21] alexander-akait commented on #4292
We can't know your proxy and can't know valid URL for proxy, so you should specify them

[2022-02-17 10:28] alexander-akait commented on #4291
Sorry I can't reproduce your problem, do you use MacOS?

[2022-02-17 11:38] promiseLC commented on #4291
@alexander-akait Yes, I use MacOS. You can pull my code and try it. Now I modify it to the stage of HRM failure. Is there a reason?   https://github.com/promiseLC/webpack5.git

[2022-02-17 15:34] iMoses-Apiiro opened #4298 "Cannot disable client overlay"
### Bug report

Trying to disable the client overlay fails

### Actual Behavior

[code]

All these options seems to be ignored and the overlay screen still appears on a client-side error

### Expected Behavior

overlay should be disabled and not appear at all :shrug:

### How Do We Reproduce?

Any simple app will do. Add a `throw Error('test')` to one of the loaded components and see the overlay s

[2022-02-17 15:40] alexander-akait commented on #4298
Because you use `error-overlay-webpack-plugin`

[2022-02-17 16:08] alexander-akait commented on #4298
Yes, `@pmmmwh/react-refresh-webpack-plugin` has own logic for overlay, so it can be broken, I am afraid no problems with overlay here (we have a lot of test on it using puppeteer), we better integration with `@pmmmwh/react-refresh-webpack-plugin` we have https://github.com/webpack/webpack-dev-server/issues/4261

[2022-02-17 16:18] iMoses-Apiiro commented on #4298
@alexander-akait ok, i'll take your word for it and re-open if I found anything that contradicts
I have noticed their overlay, seems reasonable that the problem is coming from there

thanks

[2022-02-17 16:18] #4298 closed

[2022-02-18 11:09] ScriptedAlchemy commented on #2692
This is a very hard problem to solve. An easy workaround I use is I'll fetch all remote urls on a poll and hash them. If any hash based on the contents changes, I window reload the page. Simple but easy way to get live reloading.

HMR is not easy since webpack needs to know both where something exists and where it's consumed. All graphs would need to be interlinked

[2022-02-20 01:32] snitin315 opened #4303 "New option `application` to allow developers to use their custom server application"
### Feature Proposal

New option `application: { type: "connect", options: ...options }` (default value is `express`)

### Feature Use Case

Please refer https://github.com/webpack/webpack-dev-server/pull/4068#issuecomment-998635537

[2022-02-21 01:18] yuis-ice opened #4305 "Chrome API undefined"
### Bug report

Chrome extension API is not available.

For example, `chrome.browserAction`, `chrome.commands`, `chrome.bookmarks` all commands from the Chrome API are not available.

### Actual Behavior

You can read [this SO post](https://stackoverflow.com/questions/61827059/chrome-is-undefined-in-chrome-extension-when-using-webpack-dev-server)

Basically as explained above in Bug report.

### E

[2022-02-21 11:13] alexander-akait commented on #4305
Please migrate on the latest stable version of `webpack-dev-server`

[2022-02-22 04:17] chenwenqin commented on #2792
![image](https://user-images.githubusercontent.com/32031718/155061851-683f2fb0-f3e1-4e0c-8de4-9e9839b25aca.png)

webpack@5.66.0

only in production mode, but not in development mode, whether it is enabled or not optimization option。

**My project only one entry**.

[2022-02-22 10:35] alexander-akait commented on #2792
@chenwenqin Can you provide reproducible example?

[2022-02-22 10:53] IgorStetsiuk commented on #2692
@ScriptedAlchemy Hello! Thank you for your reply. Wouldn't you mind sharing a piece of that config where you "fetch all remote URLs on a poll and hash them"? I'm not super aware of how to set up such config in webpack and it sounds a bit difficult to me to implement that so maybe some samples would be really helpful to me to understand that configuration and make live reloading in my case. Thank y

[2022-02-22 15:59] KutnerUri opened #4308 "Error overlay for runtime errors"
### Feature Proposal

I want to use the built in error overlay to handle runtime errors.
Is this possible? what is the configuration to do that?

Also, I see create-react-app switched to using the built-in error overlay. Does this mean it converged with the `react-error-overlay` like in #3689 ?
[code]
[code]

### Feature Use Case

I am making a custom workspace tool - http://bit.dev/, similar to c

[2022-02-22 16:03] alexander-akait commented on #4308
PR welcome, duplicate of https://github.com/webpack/webpack-dev-server/issues/3689

[2022-02-22 16:42] #4308 closed

[2022-02-23 00:50] wdfinch commented on #1558
Any updates on this. I'm trying to use newer versions of a few plugins in webpack and when I update one, I can't start the dev server.

[2022-02-23 12:53] yuis-ice commented on #4305
Still doesn't work. Are you really sure that the issue has been solved?

I changed:

webpack.config.dev.js

[code]

package.json

[code]

[2022-02-23 12:59] alexander-akait commented on #4305
We don't modify browser API, how we should fix it? Check your environment

[2022-02-26 00:10] romane-echino opened #4314 "Webpack dev server API compiling on saves but no HMR in browser"
Hi, I have some issues with webpack-dev-server@4.7.4 & webpack 5.69.1 over react with typescript

### context
I have a component SDK that provide build & run features for some projects. I used an old version of webpack and devserver for 1 year but I needed to work with some polyfills and for that needed to update to webpack >= 5.

Basically I build every files needed in a /build directory and run

[2022-02-26 01:27] romane-echino commented on #4314
I also tried what the documentation stated with HMR and devServer API

[code]

And now the hot reload seems to work but totally breaks react

[code]

[2022-02-27 02:13] romane-echino commented on #4314
Ok I talked to my PM and I can't publish the same project for NDA purpose. So it took a little bit of time and I managed to make the smallest project with the same architecture.

https://github.com/romane-echino/test-comp

Everthing that happens during build and run happens in /scripts

[2022-02-27 14:48] #4263 closed

[2022-02-27 15:00] #4279 closed

[2022-02-27 19:43] romane-echino commented on #4314
Hi Alexander I found the problem! The thing is webpack 4 used to compile the bundle.js where you specified the publicPath in dev server. It's not the case anymore apparently. You have to specify the following :

[code]

So with this the bundle.js is served under the correct publicPath during compilation. HMR now works perfectly, sorry for the inconvenience you can now close this issue.

Cheers fro

[2022-02-28 10:39] alexander-akait commented on #4314
@romane-echino nice to hear, sorry for delay, there are some problems with internet due situation in the world, feel free to feedback/ping

[2022-02-28 10:39] #4314 closed

[2022-03-02 07:32] ScriptedAlchemy commented on #2692
Fetch(jsUrl).then(text).then(md5hashFronString)

Store it on some object and put the fetch in a setInterval.

[2022-03-03 03:48] CastleCB opened #4326 "Module not found: Error, with "node_modules\webpack-dev-server\client\index.js"."
### Bug report
Seem to be a similar issue with #3221.But no "webpack.common.js" file could be found under node_module.

### Actual Behavior

Session contents restored from 3/2/2022 at 9:43:17 PM
Failed to compile.

Module not found: Error: Can't resolve 'D:\Documents\self_S\C#.NET\Reactivities\client-app\node_modules\webpack-dev-server\client\index.js?protocol=ws%3A&hostname=0.0.0.0&port=3000&path

[2022-03-03 03:51] snitin315 commented on #4326
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please provide steps to reproduce and your webpack config.

[2022-03-03 03:51] #4326 closed

[2022-03-03 03:53] CastleCB commented on #4326
Thanks.
Misclicked the submit button before I complete my editing of this issue. Will recreate the issue with your templates.

[2022-03-04 17:19] khelkun commented on #2792
@alexander-akait

Indeed it works but if I well understand, you need to include the runtimeChunk aka `runtime.js` before the others entry chunks.

Considering my app is actually a library used by others applications, this solution forces all dependent apps to include this new `runtime.js` before my library entries.

Would there be a way to embed this runtimeChunk in the chunk in the first entry of

[2022-03-04 17:36] slightlyfaulty commented on #2792
@khelkun I recently discovered that if you use the [dependOn](https://webpack.js.org/concepts/entry-points/#entrydescription-object) option for an entry, then it will use the runtime that's embedded in the entry it depends on.

In this case you don't need to use `runtimeChunk: 'single'` anymore, as long as the `dependOn` entry is always loaded first.

[2022-03-04 20:43] jakedowns commented on #3554
is this still an open issue in terms of performance? seems this patch is out of sync with the latest Server.js file

[2022-03-05 10:42] alexander-akait commented on #3554
@jakedowns We implemented patch above, so get some perf

[2022-03-10 15:32] nevnein commented on #1433
Facing this issue on a custom setup (no next/cra, custom webpack and dev server configs) using mui which uses emotion under the hood. I think @LukasBombach is on the right track here, probably emotion just stuffs webpack cache/in-memory file system till it explodes, see also https://github.com/emotion-js/emotion/issues/2503

Will try to strip down my project to a bare reproducible example as soon

[2022-03-10 15:35] LukasBombach commented on #1433
This thing is also blowup up at Next Js: https://github.com/vercel/next.js/issues/32314

There are several issues there with Heap Overflows

[2022-03-10 15:41] LukasBombach commented on #1433
@nevnein are you using next?

[2022-03-11 14:38] nkalinov commented on #3453
@alexander-akait We're using Yarn PnP workspaces with a few packages. We have a `core` package that is used by other packages and it's transpiled on the fly by adding its path to babel-loader's `include` prop.

No issues with Webpack4 but after the recent upgrade to WP5 changes to the core package stopped being detected from the largest app?! Yup, change detection works fine from smaller apps and

[2022-03-11 15:16] alexander-akait commented on #3453
Try to set it on `[]` https://github.com/webpack/webpack/blob/main/lib/config/defaults.js#L416, i.e. `immutablePaths`

[2022-03-11 21:56] nkalinov commented on #3453
Just to be clear, you mean that right?
[code]
Not working...

[2022-03-12 16:09] jhakkinen opened #4331 "sockjs-client updated -> Incompatibile SockJS! Main site uses: "1.6.0", the iframe: "1.5.0""
### Bug report
In v3, there seems to be a sockjs-client version mismatch between the version that gets bundled into into the `/client` directory and the version that gets installed as a dependency.

A fresh install of webpack-dev-server v3.11.3 bundles version 1.5.0 of sockjs-client into the `/client` directory to be used when falling back to iframe transports. However, the latest version of sockj

[2022-03-13 11:05] alexander-akait commented on #4331
`webpack-dev-server` has a lot of other bugs, please migrate to v4, v4 supports webpack v4

[2022-03-13 11:07] alexander-akait commented on #3453
@nkalinov Can you provide small example with steps, no need show code, just example of configuration to reproduce the problem, thanks

[2022-03-15 13:46] nkalinov commented on #3453
Another finding:
- Works on Windows ✅
- Doesn't work on MacOS ❌
- Linux - I can't verify...

[2022-03-15 16:42] tjx666 opened #4338 "Failed to construct 'WebSocket': The URL's scheme must be either 'ws' or 'wss'. 'vscode-webview' is not allowed"
- VS Code Version: 1.66.0-insider
- OS Version: MacOS 12.2.1

I try to develop VSCode webview with webpack + HMR. After configure the right CSP, it seems webpack-dev-server can't make a WebSocket Object.

Steps to Reproduce:

1. clone project https://github.com/tjx666/scripting-listener
2. install dependencies by `npm install`
3. open debugger panel, click `Run Extension`
4. go to Extension Develo

[2022-03-15 17:07] tjx666 commented on #4338
What's your meaning set client option?

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/41773861/158432752-c718628e-37b1-4686-ab79-1344588ad653.png">

[2022-03-15 18:34] alexander-akait commented on #4338
Look here https://webpack.js.org/configuration/dev-server/#websocketurl

[2022-03-15 20:38] tjx666 commented on #4338
I think here WebSocket had been connected because the response code is 101.And I manulay create the WebSocket instance in console at the place which error happen is no problem.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/41773861/158468135-3c40bd57-eb62-4a3a-a45e-1a330ae4b81d.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/41773

[2022-03-15 20:42] alexander-akait commented on #4338
Because internal window uses `vscode-webview` protocol

[2022-03-15 21:09] alexander-akait commented on #3453
oh, sorry for delay, yes, pnp has problem here, but based on different result on different os, it can be bug in pnp code, do you use the latest version?

[2022-03-15 21:13] nkalinov commented on #3453
Yes, we are on Yarn 3.2. I can also try the latest master ("from sources") but I don't see anything related to that in their CHANGELOG. Anyways, will report tomorrow. Meanwhile I hope @arcanis would have a minute to give it a thought.

[2022-03-16 06:38] tjx666 commented on #4338
After I manually set the protocol, the same issue still exits:

![image](https://user-images.githubusercontent.com/41773861/158531132-971ccc19-43b5-464f-a7e5-cbab0bb0f62c.png)

[2022-03-16 06:43] tjx666 commented on #4338
Somw info may help: https://github.com/microsoft/vscode/issues/145093#issuecomment-1068749058

[2022-03-16 09:51] webholics commented on #4231
Run into the exact same problem. Seems like quite a heavy hack for such a simple use case.

[2022-03-16 10:49] arcanis commented on #3453
It's difficult to say since there is no repro. Given that it works with X dependencies but not Y I'd tend to think it doesn't come from either Webpack or Yarn (otherwise I'd expect it to always fail), but that's just a guess 🤔

[2022-03-16 10:58] alexander-akait commented on #4338
Sorry, we can't fix it here, we use `new WebSocket(...)` constructor and it accepts only ws/wss protocols, but webview uses non standard, I think you need custom client to working with vscode webview

[2022-03-16 12:37] tjx666 commented on #4338
Fixed it by custom devServer client option in entry url and adjust the public path:

https://github.com/tjx666/scripting-listener/commit/34ace884434794db21d4772c6712d3bfd3725de5

[2022-03-16 12:37] #4338 closed

[2022-03-17 23:18] jchambers-ln opened #4342 "Works with 3.11.0 but fails with 3.11.3 errno: -4077 ECONNRESET"
### Bug report

Project starts and runs fine when on 3.11.0 but throws the below error on 3.11.3.  I've looked and searched the usually places but can't seem to find an answer and the error doesn't give me much to go on.

### Actual Behavior

Error: read ECONNRESET
    at TCP.onStreamRead (internal/stream_base_commons.js:209:20)
Emitted 'error' event on Socket instance at:
    at emitErrorNT (inte

[2022-03-17 23:27] jchambers-ln commented on #4342
The only thing I've found here or elsewhere is this https://github.com/webpack/webpack-dev-server/issues/1642 but its not 1:1.

[2022-03-17 23:45] jchambers-ln commented on #4342
Figured it out right after posting this:

the start up script contains:
[code]

Changing process.env.BABEL_ENV and process.env.NODE_ENV to development fixed it.

Closing the issue but maybe it will help someone else

[2022-03-18 00:07] alexander-akait commented on #4342
Please update to v4, v3 deprecated

[2022-03-18 06:34] hariseshathri opened #4393 "I am migrating my webpack v4 to v5 i'm facing the below issue"
[webpack-cli] D:\22.05\FORMS-1065\core-ui-application\node_modules\webpack-dev-server\lib\servers\WebsocketServer.js:10
  static heartbeatInterval = 1000;
                           ^

SyntaxError: Unexpected token =
    at Module._compile (internal/modules/cjs/loader.js:760:23)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:827:10)
    at Module.load (internal/modules/cjs/lo

[2022-03-18 09:25] markusschaber commented on #1642
I'm not sure about that - I run into this error without any TLS involved (as everything is on localhost):

[code]

[2022-03-18 14:41] jchambers-ln commented on #4342
works better with npm 8.5.0 than it did with 8.3.0... ok btw https://www.npmjs.com/package/webpack-dev-server?msclkid=319717faa6c911ec85f7d53e805f59a4 still lists the 3x tree as current versions not depreciated.

I'll close the issue and see if I can get this working in v4 (I'm more of a Java developer so wepack is a google the answer and try it process for me)

[2022-03-18 14:41] #4342 closed

[2022-03-19 20:42] Zekfad opened #4348 "hardcoded sockjs iframe url"
Why this is hardcoded?
https://github.com/webpack/webpack-dev-server/blob/95e26fea168440c0f694c16478aae672091d06a3/lib/servers/SockJSServer.js#L46

In our project this is failing because we have a different from `__webpack_dev_server__` path.

[2022-03-20 03:24] snitin315 commented on #4348
Hmm, we can add an option for this.

[2022-03-20 09:14] Zekfad commented on #4348
That would be nice!

[2022-03-20 12:05] alexander-akait commented on #4348
Why you need to change it? It is potential security problem

[2022-03-20 17:39] Zekfad commented on #4348
Because we have only a few restricted paths lead to a webpack server backend in development.
Also its a security problem *not* to change it, as it can be a really easy for scanners and so on.

[2022-03-21 12:03] alexander-akait commented on #4348
Okay PR welcome

[2022-03-22 06:17] sbussard commented on #3121
To get it to work with `ibazel`

[2022-03-22 14:18] idodoroz4 opened #4351 "dependency: node-forge vulnerability <1.3.0"
Please update node-forge to 1.3.0

output from "npm audit" :

[code]

[2022-03-22 14:56] #4351 closed

[2022-03-22 16:39] jschuler opened #4352 "Latest (4.7.4) dev server still uses bonjour"
I saw that this commit changed from bonjour to bonjour-service
https://github.com/webpack/webpack-dev-server/pull/4310

But as of today, version 4.7.4 still is using `"bonjour": "^3.5.0",`

[2022-03-22 17:29] jschuler commented on #4352
I see, thanks, will wait for next release then

[2022-03-23 00:46] Changyong-Jeon commented on #4351
`selfsigned` uses `node-forge@1.2.0`

https://github.com/jfromaniello/selfsigned/issues/55

[2022-03-23 06:41] idodoroz4 commented on #4351
Yeah I made a mistake. Sorry.

On Wed, Mar 23, 2022, 02:46 Changyong Jeon ***@***.***> wrote:

[2022-03-23 20:14] stevenleeg commented on #4351
FYI for anybody who lands here looking for a quick fix since webpack-dev-server is still using a version of `selfsigned` that uses the affected `node-forge` package: I added the following to my `packages.json`:

[code]

If you're reading this in the future you may not need to resort to this since I'm sure the relevant packages will end up being updated.

[2022-03-24 21:34] leemun1 opened #4354 ""public" option deprecated but documentation unclear about workarounds"
I was previously using webpack-dev-server v3, where I had the following configs:

[code]

According to the [migration guide to v4](https://github.com/webpack/webpack-dev-server/blob/master/migration-v4.md), the `public` option was replaced by `client.webSocketURL`, so I modified my config like so:

[code]

But this doesn't seem to work, am I using the option incorrectly?

Previously, with the `pub

[2022-03-24 21:43] alexander-akait commented on #4354
What is your URL in browser when you are working with app?

[2022-03-24 21:44] leemun1 commented on #4354
I would go to `https://some.custom.domain`

[2022-03-24 21:46] alexander-akait commented on #4354
Set ` webSocketURL: 'wss://some.custom.domain',`

But logs only says real IPs, your `some.custom.domain` is local configuration, we can't get it for console output, also you can have more domains for local setup

[2022-03-24 21:50] leemun1 commented on #4354
!!!!!!!!!!!!!!!!!!

setting `webSocketURL: 'wss://some.custom.domain'` indeed made it work!

The dev server still outputs
[code]
but I can actually go to the custom domain and use my app.

Thank you!!

[2022-03-24 21:53] alexander-akait commented on #4354
As I written above, starting with v4 we output the real IP, not your domain, because we can't know your domain, previously we got public option, but some developers says it is confused, so we change it on your API, you can use the `open` option if you want to automatically open your domain

[2022-03-24 21:55] leemun1 commented on #4354
Ah I see that makes sense. Just to confirm before closing the issue, is there no other way to have the console display the custom domain then?

[2022-03-24 22:15] alexander-akait commented on #4354
You can create small simple plugin using https://webpack.js.org/api/compiler-hooks/#watchrun and output what you need

[2022-03-31 00:41] c23gooey opened #4359 "update selfsigned from 2.0.0 to 2.0.1"
### Modification Proposal

### Expected Behavior / Situation

node-forge has a security vulnerability.
node-forge is used in selfsigned
selfsigned has been updated to 2.0.1 which has an updated version of node-forge

### Actual Behavior / Situation

update webpack-dev-server dependency selfsigned from 2.0.0 to 2.0.1

### Please paste the results of `npx webpack-cli info` here, and mention other re

[2022-03-31 00:45] c23gooey commented on #4359
More info here:

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-24771
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-24772
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-24773

[2022-03-31 00:46] c23gooey commented on #4359
https://github.com/jfromaniello/selfsigned/pull/57

[2022-03-31 00:46] alexander-akait commented on #4359
We already have updated version https://github.com/webpack/webpack-dev-server/blob/master/package.json#L61

[2022-03-31 00:46] #4359 closed

[2022-03-31 00:46] alexander-akait commented on #4359
Just update deps locally

[2022-03-31 08:38] jackchoumine opened #4360 "How access page in browser after config multi page build during dev?"
env:
[code]
my multi pages dir:
![image](https://user-images.githubusercontent.com/21340150/161013048-8eaa8669-30fc-458d-8ffb-f7160f364083.png)

dist output

![image](https://user-images.githubusercontent.com/21340150/161013411-8d2f0b9f-283f-4669-89ee-4a7156cc0197.png)

build no problem.

I open `http://localhost:8080/` in browser , it is 404.

I dont know how to access the html during dev? I dont

[2022-03-31 16:17] alexander-akait commented on #4360
Check you publicPath

[2022-04-01 03:33] darkcohiba commented on #4129
@snitin315 I can not find where to replace the code with the updated segment, what is the module this goes in?

[2022-04-01 03:36] snitin315 commented on #4129
@darkcohiba inside `webpack.config.js`, `devServer` option to be specific.

[2022-04-01 13:37] OleksiL opened #4362 "webpack-dev-server goes into infinite compile loop after making the smallest change to the source code"
Hi Guys.

I have an issue when webpack-dev-server goes into infinite compile loop after any change to the source code.
The same code works without this issue for my colleague. And it doesn't go into infinite loop every time: sometimes it will compile only once and stop (so works as it should), but sometimes it goes into frenzy mode.
In the the verbose log attached on the first change it compiled o

[2022-04-01 15:13] darkcohiba commented on #4129
@snitin315 this is my webpack config js dev server, I don't see what I need to replace;

`// @remove-on-eject-begin
/**
 * Copyright (c) 2015-present, Facebook, Inc.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */
// @remove-on-eject-end
'use strict';

const fs = require('fs');
const evalSourceMapMiddleware = requ

[2022-04-03 12:35] PashaTurok opened #4363 "Server doesn't reload module after the second module update."
### Bug report
I have two projects `a` and `b`. Project `b` uses project `a` with this way:

    "dependencies": {
        "@foo/a": "^0.1.0",
        ...
     },

In project `b` .npmrc I have

    @foo:registry=http://localhost:4873

To get the bug the following steps are required:

- In project `b`: npm run serve -- --port 8888
- In project `a` - some modifications, code building, uploading it t

[2022-04-03 13:37] alexander-akait commented on #4363
You should not run updates in node_modules when you in dev mode, otherwise you should set empty array here https://webpack.js.org/configuration/other-options/#managedpaths due https://github.com/webpack/webpack/blob/main/lib/config/defaults.js#L381

It is perf improvement in webpack v5

[2022-04-04 10:08] PashaTurok commented on #4363
@alexander-akait I am sorry, I am really a beginner in webpack. Do I understand you correctly - there is no way top update module while webpack server is running? And if I need to update module, I always should stop the server, update module and start server again?

[2022-04-04 11:36] alexander-akait commented on #4363
Yes or you can mark `node_modules` as mutable, but it is bad for perf, I recommend to avoid it

[2022-04-04 12:11] OleksiL commented on #4362
Windows 10.

[2022-04-04 12:19] alexander-akait commented on #4362
Can you remove `webpack.HotModuleReplacementPlugin`, when you set `hot: true`, webpack-dev-server automatically apply this plugin, anyway can you provide example with code (no need to copy all code, only for showing the problem)

[2022-04-05 00:09] technoY2K commented on #1457
I have solved it using @abettke and @haixiangyan comments. It appears with SPAs you must set the `historyApiFallback` index property to the `basename` if you are using `react-router-dom`.

`
    historyApiFallback: {
      index: '/app' // make sure this is the basename of your main router
    }
`

[2022-04-05 11:13] #4261 closed

[2022-04-05 11:20] alexander-akait commented on #4352
Release will be today

[2022-04-05 11:20] #4352 closed

[2022-04-05 11:20] alexander-akait commented on #4354
Feel free to any feedback, closed

[2022-04-05 11:20] #4354 closed

[2022-04-05 13:18] PashaTurok commented on #4363
@alexander-akait Following your advice I added the following to my config:

[code]
However, it didn't help. Server sees only the first module update, but doesn't see next ones. Could you say, if this is a bug or I do something wrong? Please, note, that webpack server performance is not important for me as I don't use JS web servers in production.

[2022-04-05 14:57] janlent1 opened #4369 "Modification request: Reset aggregateTimeout once during the timeout a new file has been changed"
- [ ] This is a **bug**
- [X ] This is a **modification** request

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

### Expected Behavior

When checking out a larger change, we would like to wait until all the files have been checked out, without having to wait in general for too long until long timeout has been modified.

### Actual Behavior

We

[2022-04-05 20:15] pdrgnclvs opened #4370 "v4.7.3 - Overlay doesn't show in the browser if server type is HTTPS"
### Bug report

I'm developing a small personal website in Vue 3 (3.2.13 to be precise), and when I changed a few settings in vue.config.js related to the development server, the overlay doesn't seem to show up when I change the server type from HTTP to HTTPS as the docs explain.

### Actual Behavior

The website loads fine without any apparent problems but the overlay doesn't show as it would on

[2022-04-05 20:37] alexander-akait commented on #4370
Can you create reproducible test repo, vue-cli uses own overlay, so maybe something broken

[2022-04-05 20:40] alexander-akait commented on #4363
Set `managedPaths` on `[]` and remove other options

[2022-04-05 20:41] alexander-akait commented on #4369
I don't think it will help to solve the problem

[2022-04-06 09:25] PashaTurok commented on #4363
@alexander-akait This is my new config:

[code]
However, result is the same. Server handles only the first module update and ignores all following updates..

[2022-04-06 10:07] pcorpet opened #4372 "Missing anymatch dependencies for typing"
### Bug report

Checking TypeScript types declarations in my project depending on `webpack-dev-server` fails.

Running `tsc`.

### Actual Behavior

I get this error:
[code]

### Expected Behavior

It should not raise an error (probably by pulling the `anymatch` in the dependencies).

### How Do We Reproduce?

I'm not sure, I feel like a simple repository using `webpack-dev-server` without any pack

[2022-04-06 10:34] janlent1 commented on #4369
Why don't you think so? Everytime a file has been changed, the timeout will be reset until the timeout runs out and no new file has been changed within that interval.

[2022-04-06 10:48] alexander-akait commented on #4372
Please check your tsconfig.json or provide reproducible example, sorry I can't reproduce

[2022-04-06 10:52] alexander-akait commented on #4369
Because it is not solution, it is unsafe hack, also we use `chokidar` and `watchpack` to track changes, so we can't solve it here, sorry

[2022-04-06 10:52] alexander-akait commented on #4363
Please create reproducible test repo

[2022-04-06 10:56] PashaTurok commented on #4363
@alexander-akait You can check it with any project where one and more dependencies.

[2022-04-06 11:02] alexander-akait commented on #4363
@PashaTurok I asked example, because I can't reproduce

[2022-04-06 11:03] janlent1 commented on #4369
Okay, then its no problem. But why is it a hack?

[2022-04-06 11:11] PashaTurok commented on #4363
@alexander-akait Ok, I will do repo with tests, but a little bit later.

[2022-04-06 11:13] alexander-akait commented on #4363
Thanks

[2022-04-06 11:20] alexander-akait commented on #4369
You can try https://webpack.js.org/configuration/experiments/#experimentslazycompilation, also it is unsafe due caching mechanism, in your case we should disable caches, but it can be worst for perf, ideally need investigate how to redesign build system (module federation, more entries, additional caches etc), if you use monorepo you can try https://turborepo.org/

[2022-04-06 11:28] pcorpet commented on #4372
OK, I'll try to reproduce today

[2022-04-06 11:31] #4372 closed

[2022-04-06 11:34] alexander-akait commented on #4372
@pcorpet I release `4.8.1` with fixes

[2022-04-06 12:05] pcorpet commented on #4372
I'm going to try 4.8.1 directly on my larger example failing.

[2022-04-06 22:03] pdrgnclvs commented on #4370
Sorry for the delay @alexander-akait, here you go: https://github.com/pdrgnclvs/webpack-dev-server-issue-overlay 👍

It only has two commits: the first one is automatically created by the Vue CLI on project creation so the repo is basically a fresh new project, and the second one has the code in `vue.config.js` that seems to mess with the overlay...

If it runs as HTTPS the overlay doesn't show on

[2022-04-06 23:29] alexander-akait commented on #4370
Please open an issue in `@vue/cli-service`, I think somewhere bug on their side, without `vue-cli` all works fine, I think they have wrong logic somewhere around https

[2022-04-07 00:06] pdrgnclvs commented on #4370
Thanks for your help @alexander-akait, I'm going to close this issue now and open one in Vue CLI's repo tomorrow, then link it back here so that your insight can be taken into account 😉

[2022-04-07 00:06] #4370 closed

[2022-04-07 17:37] alexander-akait commented on #4363
hm, I can't reproduce it without `@vue/cli-service`, I think a problem somewhere in `@vue/cli-service`, we don't use magic here, just watch files and rebuild on changes (note - for `node_modules` and other modules directory we use cache and you can control it using `managedPaths`), so if no changes - no reload, you can look at code and found we don't have any logic for handling fs changes except s

[2022-04-07 17:44] PashaTurok commented on #4363
@alexander-akait Thank you very much for your time, help and suggestions. Then I will add this information to vue-cli project.

[2022-04-07 19:06] alexander-akait commented on #4363
@PashaTurok Just interesting - why you need webpack to build library?

I think it is unnecessary step, ts works good with build libraries.

I want to say:
- If you use pure JS - just use ECMA Modules and publish library with ECMA Modules
- If you use ts, just emit ECMA modules and publish library with ECMA Modules

Webpack will use ECMA modules and many optimizations for this - so less size of you

[2022-04-07 19:48] PashaTurok commented on #4363
@alexander-akait This is a vue 3 library that can contain .vue, less etc files. It took me some effort to make it work with the application. What about CommonJS/UMD - I never used them and don't like. I like ES2015 modules.

But I can't find why my code is built with CommonJS. In all configs I have something like "module": "esnext". What and why CommonJS is used I don't know.

[2022-04-08 22:30] alesculek opened #4378 "Hot reload doesn't work in 4.x with ModuleFederationPlugin"
### Bug report

Webpack dev server doesn't perform the hot reload properly in conjunction with `ModuleFederationPlugin` in v4.x but works in v3.x

### Actual Behavior

When I set up a simple project using those dependencies:

[code]

I manage to startup my application, I can't see any errors but when I update the source code, the update is not propagated into the browser and the change is visible

[2022-04-08 22:47] alesculek commented on #4378
Update:

I'm also getting this error message:

[code]

This happens only if the App react component has other dependencies (in this case the history), if it does not, there is NO message in the logs.

If I open this in chrome, I can see those lines there:

[code]

where to problematic one seems to be:

[code]

[2022-04-09 08:51] BassOfBass opened #4379 "File watcher doesn't work in docker after upgrading from 3.11.2 to 4.8.1"
### Bug report

Recently I've updated my dependencies and `webpack-dev-server` along with them.
`3.11.2` config:
[code]

`4.8.1` config:
[code]
I was using it in a simple way by writing the output files into docker-compose shared volume and reading it off by the backend server. Also using `copy-webpack-plugin` to haul the non-webpack assets there.
The new config worked fine, as in it didn't crash

[2022-04-11 09:04] WisaniShilumani opened #4382 "Sockjs live reloading migration from v3 to v4 unclear"
Documentation Is:

- [x] Missing

### Please Explain in Detail...

Webpack-dev-server config options migration from v3 to v4 is not clear with regards to changes to websocket options; particularly when using `sockjs` protocol, given the new defaulting to the `ws` protocol.

When the sockjs protocol is provided in options, the SockJS server is bound to the `'/ws'` path.

This is fixed by adding the

[2022-04-11 10:57] alexander-akait commented on #4382
Socksjs supports `ws` and versa vice too, it was replaced in runtime based on supporting

[2022-04-11 11:16] #4379 closed

[2022-04-11 11:17] alexander-akait commented on #4379
I would help you find a bug in Node.js or chokidar but there is no reproducible repo so it's not possible

[2022-04-11 11:58] nyngwang commented on #3064
@alexander-akait: But I didn't use `[contenthash]` and still got the same result: no update on-save?

[2022-04-11 12:03] alexander-akait commented on #3064
I need to look at your configuration, otherwise it is hard to say there is a problem

[2022-04-11 12:21] nyngwang commented on #3794
hahaha @liby @alexander-akait thanks you guys. I learned, and I laughed too XDD

[2022-04-11 12:28] nyngwang commented on #3064
@alexander-akait: Lol I just realized that what I already have is called hot-reload lol. You might see I tag you in another thread comment.

[2022-04-11 15:11] pietia opened #4383 "node-portfinder not supported anymore"
### Bug report

Please consider replacing node-portfinder with some other module. node-portfinder is not supported anymore, meaning webpack-dev-server users are struggling now how to update async ( [CVE-2021-43138](https://nvd.nist.gov/vuln/detail/CVE-2021-43138), https://github.com/http-party/node-portfinder/issues/126).

### Actual Behavior

### Expected Behavior

### How Do We Reproduce?

### P

[2022-04-11 15:14] WisaniShilumani commented on #4382
Alright, if it doesn't warrant a docs update, happy if we close the issue!

[2022-04-11 15:52] alexander-akait commented on #4383
Why you decided it? Let's wait when developer gives feedback, not all people available 24/7

[2022-04-11 16:36] WisaniShilumani commented on #4382
Thanks @alexander-akait I will open a PR shortly!

[2022-04-11 16:57] pietia commented on #4383
https://github.com/webpack/webpack-dev-server/issues/4383

I decided about what?  https://github.com/webpack/webpack-dev-server/issues/4383

[2022-04-11 17:03] alexander-akait commented on #4383
Yes, I see, but there is security fix, so make sense to do patch release, anyway we have idea how to replace it, let's give some time

[2022-04-11 19:33] amakhrov commented on #1616
I don't see any related changes in the code, and it seems that v4 still keeps retrying indefinitely without any exponential backoff.
@alexander-akait could you please clarify?

[2022-04-11 20:19] alexander-akait commented on #1616
@amakhrov Can you check you have a latest version? If you still have a problem, please provide example how we can reproduce it

[2022-04-11 21:37] amakhrov commented on #1616
We're on 4.7.3

The exact scenario is webpack-dev-server terminating the socket, if it didn't receive the "pong" from the client as a part of heartbeat check.

[2022-04-12 17:54] amakhrov commented on #1616
Now as I think further about the use case, I understand why retries do not work properly.

In this case a client socket successfully connects, but then the server terminates it (due to the lack of ping response). Every time a socket successfully connects, `retries` counter is reset - which is totally valid in other scenarios, but effectively disables the exponential retries logic for my case.

I'm

[2022-04-12 22:37] arderyp commented on #4383
I think the concern is that portfinder hasn't been touched in years, so people are worried its dead and the maintainers won't chime in the issue a patch for this, in which case replacing the dependency is the only other option.

Hopefully time will prove portfinder isn't dead yet :)

[2022-04-12 22:55] alexander-akait commented on #4383
As fast workaround we can move required parts of  portfinder inside webpack-dev-server, there is no many code, if someone want to do it asap feel free to send a PR

[2022-04-13 00:48] ludofischer commented on #4383
There's also a zero-dep alternative [get-port](https://github.com/sindresorhus/get-port). I was looking at this port finding problem even before the security vulnerability, I've made webpack-dev-server with `get-port` [here](https://github.com/ludofischer/webpack-dev-server/commit/7264d5da437e80e3e25c38f61eae30e8ae9ce582). It's not exactly equivalent because when the preferred port is not availabl

[2022-04-13 01:00] arderyp commented on #4383
@ludofischer awesome summary.  I am wholly in the camp of "don't take on a third party dependency to use a single function therein".  If the small bit of logic we need is re-implemented here, and we drop a third party port dependency, then we reduce the chance of this happening again.

[2022-04-13 01:38] alexander-akait commented on #4383
@ludofischer We fixed flaky tests recently, most of them were due async logic in web socket communication and jest is not good tool to do it, random port - we don't use it, before tests we open required ports for all tests and assign port to each other using mocks.

Anyway porting small function to get port is good for me - less deps and less size, and yes, it is simple function

[2022-04-13 01:40] alexander-akait commented on #4383
So PR welcome (I'll have time this weekend, if nobody will send a PR)

[2022-04-13 03:47] jersobh commented on #4383
I've just created an override and it seems to work.
Just add to package.json:

[code]

[2022-04-13 04:13] arderyp commented on #4383
That's interesting @jersobh, but it sounds like portfinder is not only dead, but advised by the creator to not be run in production (see issue linked above). So I think the proper solution here is to drop that dependency, not workaround it 🫳

[2022-04-13 06:21] pietia commented on #4383
@jersobh it's not supported by all npm versions
@arderyp  +1 for proper fix.

[2022-04-14 14:43] #4383 closed

[2022-04-15 17:25] jadon-murphy-saama opened #4386 "Prototye Pollution in Async via portfinder@1.0.28 dependency"
### Bug report

### Actual Behavior
Dependabot cannot update async to a non-vulnerable version of async (3.2.2) as it is dependency of portfinder@1.0.28 creating a high severity vulnerability. From the dependabot log "A vulnerability exists in Async through 3.2.1 (fixed in 3.2.2), which could let a malicious user obtain privileges via the mapValues() method."
Currently it appears that portfinder m

[2022-04-15 18:31] ludofischer commented on #4386
A issue has been already opened for this problem (https://github.com/webpack/webpack-dev-server/issues/4383) and a fix merged into master: https://github.com/webpack/webpack-dev-server/pull/4384
Meanwhile you can also upgrade your async dependency to 2.6.4 which should also fix the problem: https://github.com/caolan/async/blob/2.x/CHANGELOG.md

[2022-04-16 11:23] alexander-akait commented on #4386
Duplicate

[2022-04-16 11:23] #4386 closed

[2022-04-18 10:08] ruojianll commented on #126
I need it.

[2022-04-18 11:38] PashaTurok commented on #4363
The problem seems to be in Vue. In Angular 13 (webpack-dev-server 4.7.3) everything works as expected. So, I close this issue.

[2022-04-18 11:38] #4363 closed

[2022-04-18 13:59] alexander-akait commented on #126
PR welcome, we can start to servers

[2022-04-19 17:52] Delagen commented on #1642
Issue about 3 years, but still patch lives in my sources in postinstall action
[code]

[2022-04-19 18:40] alexander-akait commented on #1642
@Delagen Can you send a PR? Will be great to have test case, I tried to reproduce but no luck

[2022-04-19 20:43] chimurai commented on #1642
Hi @alexander-akait.

Might have found the issue while working on the next version of http-proxy-middleware.

I noticed `http-proxy` has an undocumented `econnreset` event.

Added a [default handler](https://github.com/chimurai/http-proxy-middleware/pull/759/files) to `econnreset`; Hopefully this will prevent the server from crashing. 🤞
Haven't been able to replicate this bug as well.

Just publis

[2022-04-19 20:47] alexander-akait commented on #1642
@chimurai Big thanks

@Delagen Can you test it without hack and with a new version?

[2022-04-19 21:11] maknapp commented on #1642
I can confirm this fixes the issue with webpack-dev-server@4.7.4 and http-proxy-middleware@2.0.5

[2022-04-19 21:13] Delagen commented on #1642
@chimurai Thanks for fast fix. It works now.

[2022-04-19 21:22] alexander-akait commented on #1642
Great! I think we can close it, anyway if you faced with this issue - feel free to open an issue, hope we covered all cases

[2022-04-19 21:22] #1642 closed

[2022-04-19 21:33] chimurai commented on #1642
Glad to hear the fix is working.

Thanks @alexander-akait for helping out in this thread. 💪

[2022-04-20 02:56] alexander-akait commented on #4393
How you run dev server? Maybe you can provide repo?

[2022-04-20 03:17] progerchai commented on #4393
[code]
Sorry, My project is quite complex and create the repo is a bit difficult for me  T-T

[2022-04-20 04:06] alexander-akait commented on #4393
Can you update Node.js? 12 is EOL

[2022-04-20 06:14] CHENJIAMIAN commented on #2758
use cnpm install , resolve.symlinks: false,  make it happen.
You can see this [troubleshooting.html#symbolic-links-in-node-modules](https://cli.vuejs.org/guide/troubleshooting.html#symbolic-links-in-node-modules)

[2022-04-20 11:37] OleksiL commented on #4362
I've solved it by changing ending of one word: `ignore` -> `ignored` :
`      watchOptions: {
        ignored: ['**/node_modules', utils.root('src/test')]
      },`

   I don't know how could it work correctly for everyone else with just `ignore` because docs tell to use `ignored`. I also had to change regexp values in the array because it complained about it. Maybe there are two different ways to

[2022-04-20 15:30] maknapp commented on #1642
It seems I spoke too soon. I am still getting the error. Somehow the ECONNRESET error is thrown without being caught. I see the error handler in http-proxy-middleware being added, but it does not catch anything.

[2022-04-20 16:10] maknapp commented on #1642
@chimurai The `econnreset` event appears to be only for http and not websocket. The uncaught error causing the crash when websockets are involved is an "error" event, not an "econnreset" event. Looking at https://github.com/http-party/node-http-proxy/blob/master/lib/http-proxy/passes/ws-incoming.js, the uncaught "error" event is coming from `socket`. There is a `proxySocket.on("error")` that re-em

[2022-04-20 18:38] maknapp commented on #1642
In http-proxy, there is an error handler on `socket` that is added only after the websocket upgrade. The ECONNRESET error causing the crash occurs _before_ the upgrade (since there is no destination) and throws an error that nobody catches. This seems to be fixed by https://github.com/http-party/node-http-proxy/pull/1439, but it looks like there is nobody there to merge it.

The following in http-

[2022-04-20 20:04] chimurai commented on #1642
Appreciate for your feedback @maknapp!

Published `http-proxy-middleware@2.0.6` with your suggestion.

Let me know if this fix helps.

Bit challenging without  a reproduction of the bug 😬

[2022-04-20 20:25] alexander-akait commented on #4362
Do you change this options in dev server options? Because we have validation, so you should get an error...

[2022-04-20 23:30] danlevy1 opened #4394 "Patch node-forge in Webpack-dev-server v3"
- [ ] This is a **bug**
- [x] This is a **modification** request

### Security Vulnerability in Version 3
There is a security vulnerability in `node-forge`:
[code]

A patch for this was already made in `webpack-dev-server` v4 ([see PR](https://github.com/webpack/webpack-dev-server/pull/4170)), but I'm hoping that this patch can be applied to `webpack-dev-server` v3.

[2022-04-20 23:51] alexander-akait commented on #4394
Please update webpack-dev-server to v4, webpack v4 and webpack v5 are supported

[2022-04-21 06:45] progerchai commented on #4393
Yes, update node to 16.13.0 worked too

[2022-04-21 06:47] veloek commented on #1642
@chimurai I can confirm that version 2.0.6 solves the issue. It used to crash for me every time the app pool recycled (IIS), but now it just logs this and keeps running:
[code]
So now I can remove the workaround, great work! 🙂

[2022-04-21 07:18] OleksiL commented on #4362
Yes, in devServer options.  I am using these versions of libraries:
[code]

Now it looks like this:
[code]
Should I had validation errors before the change or after it?

[2022-04-21 12:42] maknapp commented on #1642
v2.0.6 is working for me as well. Thanks @chimurai!

[2022-04-21 13:13] alexander-akait commented on #4362
Yes, it should be validation error, @snitin315 can you look at this?

[2022-04-21 21:21] RailsCod3rFuture opened #4398 "AWS Inspector Vulnerability Scan | async, minimist, portfinder"
I don't know exactly where to post this issue, but some dependencies for the webpack-dev-server are being picked up as major vulnerability risk by AWS. Can you please review the packages that that I are included in the title.

[2022-04-22 09:59] alexander-akait commented on #4398
Done in master, release will be in near future

[2022-04-22 09:59] #4398 closed

[2022-04-22 09:59] alexander-akait commented on #4393
Good

[2022-04-22 09:59] #4393 closed

[2022-04-23 08:33] Michaelvons commented on #1141
The most recent solution is to add  ` "build": "webpack --config webpack.dev.config.js"` to your `package.json`. Ensure you have created a webpack config with the `output` set correctly. See webpack documentation.

When all is set, go to your terminal and run `npm run build`. Voila!. Your dist folder will appear.

[2022-04-23 10:20] snitin315 commented on #4362
So, this config is for v3, in which we had `watchOptions` property with `type: object` only, hence there was no error.

https://github.com/webpack/webpack-dev-server/blob/aa3cddcf6eb2347704870f0e0cf33bc211e2a378/lib/options.json#L417-L420

In v4 we moved this to `static.watch` which also has `type: object` only, we have not defined specific property because options are from `chokidar` which can ch

[2022-04-23 10:24] snitin315 commented on #4362
Similar is the case with other options as well which uses external API like `historyAPIFallback`, `bonjour` etc

[2022-04-23 12:56] Siegrift opened #4400 "Trusted Types support"
### Feature Proposal

Hello,

I propose adding [Trusted Types](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/trusted-types) support which are already [supported by Webpack 5](https://webpack.js.org/guides/csp/#trusted-types). From my research, the only place that would need to be changed is [showing the error overlay](https://github.com/webpack/webpack-dev-serve

[2022-04-23 20:34] Miodec opened #4401 "Dev server doesnt rebuild html when a template file is saved"
I would like to start by saying that im not sure if this fully applies to the dev server, but im thankful in advance for any pointers / alternative solutions on how to fix this.

### Bug report

Im using html templating to reduce the size of my single page app. My index.html looks like this:
[code]

When I save `index.html` dev server reacts correctly, updates the html and refreshes the site. Howe

[2022-04-24 15:04] alexander-akait commented on #4401
Sorry, bug in `html-webpack-plugin`, please open an issue there, we can't fix it here

[2022-04-24 15:04] #4401 closed

[2022-04-24 15:06] alexander-akait commented on #4362
We need to add `additionalProperties: false`, let's do it

[2022-04-24 15:09] alexander-akait commented on #4400
Yep, sounds good PR welcome

[2022-04-27 22:23] sap-anawaz commented on #4398
Hi @alexander-akait, thank you for solving this. Any idea when the release will be published?

[2022-04-27 22:40] alexander-akait commented on #4398
I am waiting it https://github.com/webpack/webpack-dev-server/pull/4404 but if it will not be solved in a couple days I will do release

[2022-04-28 08:07] 7anshuai commented on #4331
`sockjs-client`  [1.6.0](https://github.com/sockjs/sockjs-client/blob/main/Changelog.md#160) introduce a breaking change (required Node.js 12), for backward compatible `webpack-dev-server` v3 should set [tilde ranges](https://github.com/npm/node-semver#tilde-ranges-123-12-1) `~1.5.0` for `sockjs-client`

[2022-04-28 16:51] alexander-akait commented on #4331
Please migrate on v4, v3 is depreacted, also v4 supports webpack v4 and webpack v5

[2022-04-29 06:48] computnik commented on #1713
Seems like http2 is being supported now, but I observed that the proxy downgrades requests from http2 to http1.1, which was weird 🤔

[2022-04-29 15:09] alexander-akait commented on #1713
@computnik Can you clarify?

[2022-05-02 13:38] VitaliyR commented on #1642
Is there any way to silent exactly these messages?

[2022-05-02 13:40] alexander-akait commented on #1642
You can setup logging for http-proxy-middleware, there are options for it

[2022-05-04 17:08] alexander-akait commented on #4400
Implemented

[2022-05-04 17:08] #4400 closed

[2022-05-04 17:08] #4360 closed

[2022-05-04 17:09] #4331 closed

[2022-05-05 10:34] ahtrahdis7 opened #4429 "Want to make a PR, to upgrade v3.9.0 -> v3.9.1 with portfinder custom implementation as in v4.9.0"
Hey there! If you need support, help, or advice then this is not the place to ask.
Please visit [Discussions](https://github.com/webpack/webpack/discussions), [StackOverflow](https://stackoverflow.com/questions/tagged/webpack)
or [the Webpack Gitter](https://gitter.im/webpack/webpack) instead.

[2022-05-05 10:35] ahtrahdis7 commented on #4429
I want to know more about how to be sure if the release works fine and can be used in production.

[2022-05-05 12:14] alexander-akait commented on #4429
3.9.0 is deprecated, please migrate on v4, v4 supports webpack v4 and webpack v5

[2022-05-06 15:05] lilbumblebear commented on #1713
@computnik @alexander-akait I'm curious if anyone is seeing the following errors related to http2 and chrome:

net::ERR_HTTP2_PROTOCOL_ERROR 200

I'm getting these errors intermittently for both API requests using proxy and webpack chunks.  I've gone through all of the normal checks for the error (server side settings) and everything looks ok.  I did see that the requests are proxied through as HT

[2022-05-09 12:24] ntthanh25 commented on #2312
what and where does the file which i need add this code in

[2022-05-13 06:05] Huansheng1 commented on #431
options能通过了，post显示404 not found怎么处理呀大佬

[2022-05-15 06:21] Jianrong-Yu commented on #1370
This solution works, but the `pem` file mailed to the iPhone is not the `pem` file for webpack, but the CA pem file which you can find it by command:
[code]
More details here: https://github.com/FiloSottile/mkcert#mobile-devices

[2022-05-15 07:42] jscptman opened #4433 "DEP_WEBPACK_DEV_SERVER_HTTPS"
I am prompted to update to the devServer.server option when I use the devserver.https: true option,
![image](https://user-images.githubusercontent.com/48516756/168462541-5a492161-bd99-49d6-b01e-d775f3b5af89.png)
However, when I updated to this option and started my Vue project, an error was reported:
![image](https://user-images.githubusercontent.com/48516756/168462555-17689852-5734-4bb5-9a67-2b86

[2022-05-15 08:00] snitin315 commented on #4433
Please share steps to reproduce and your webpack config.

[2022-05-17 19:59] ivanbacher opened #4440 "Bump memfs to 3.4.2"
### Bug report
installed node v18.2.0

Dev server randomly dies with the following error message:

[code]

Found [this issue](https://github.com/streamich/memfs/issues/828) on `memfs` library:

### Actual Behavior

### Expected Behavior

### How Do We Reproduce?

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[2022-05-17 20:04] alexander-akait commented on #4440
Close in favor https://github.com/webpack/webpack-dev-middleware/issues/1268, because it is used in `webpack-dev-middleware`

[2022-05-17 20:04] #4440 closed

[2022-05-17 20:05] ivanbacher commented on #4440
Sorry, this is actually an issue with `webpack-dev-middleware`. Also created a [bug report on that repo](https://github.com/webpack/webpack-dev-middleware/issues/1268#issue-1239099731). Once `memfs` gets updated there, will probably need to bump  `webpack-dev-middleware` to newest version.

[2022-05-17 20:06] alexander-akait commented on #4440
When we done release `webpack-dev-middleware` you can update own deps, I don't think we need to do release for each patch here

[2022-05-19 02:30] snitin315 commented on #4433
Are you using any third-party plugin like [`error-overlay-webpack-plugin`](https://github.com/gregberge/error-overlay-webpack-plugin), it is possible that the plugin is not compatible with `ws` itself.

See https://github.com/gregberge/error-overlay-webpack-plugin/issues/96 for example.

[2022-05-26 13:00] nathanmillar16 opened #4460 "Update to use latest sockjs-client package, once they've updated to use latest eventsource package (CVE-2022-1650)"
### Bug report
webpack-dev-server has sockjs-client as a dependency.  sockjs-client has a dependency eventsource.  sockjs-client needs to update to latest event soruce. Once that is done, webpack-dev-server will need to update to latest  sockjs-client

sockjs-client will need to use eventsource 2.0.2. Lower versions have a critical vulnerability.

### Actual Behavior

Vulnerability scanners (with

[2022-05-26 13:12] nathanmillar16 commented on #4460
This change is dependant on one of the following PRs:

https://github.com/sockjs/sockjs-client/pull/590

https://github.com/sockjs/sockjs-client/pull/591

[2022-05-26 13:12] ahmetalsan commented on #4460
I have same error. Please help

[2022-05-26 13:18] nathanmillar16 commented on #4460
Related Vulnerability defition:
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-1650
https://huntr.dev/bounties/dc9e467f-be5d-4945-867d-1044d27e9b8e/

[2022-05-26 15:22] nathanmillar16 commented on #4460
Yes, that's right. I raised this issue so people are aware and stated in original bug comment that it is pending a fix in sockjs

[2022-05-30 08:46] nathanmillar16 commented on #4460
sockjs-client have now implemented this fix. (https://github.com/sockjs/sockjs-client/pull/590)

webpack-dev-server can now consume the newest version of sockjs-client

[2022-05-31 13:41] wegry opened #4467 "`express-serve-static-core` and `serve-static` should be an explicit (optional) dependencies if their types are part of export"
### Bug report

### Actual Behavior

With Webpack-dev-server@4.9.0, typescript@4.7.2, and yarn@3.2.1

[code]

### Expected Behavior

tsc should compile without error. `@types/express-serve-static-core` and `@types/serve-static` should be an explicit (optional) dependencies if their types are part of export.

### How Do We Reproduce?

I'll try and create a repro repo later today.

### Please paste

[2022-05-31 15:31] alexander-akait commented on #4460
Fixed https://github.com/webpack/webpack-dev-server/releases/tag/v4.9.1

[2022-05-31 15:31] #4460 closed

[2022-05-31 17:18] DanielStout5 opened #4469 "Dev server breaks library entry type"
### Bug report
We have an app with two entries - the main one for the app, and a second entry for a library. Both should be served up by the dev server, but the hot reloading breaks the library one.

### Actual Behavior
Bottom of app entry file:
[code]

Bottom of library entry file:
[code]

The value for MyLibrary ends up being undefined.

### Expected Behavior

MyLibrary should be the exported mo

[2022-05-31 18:37] alexander-akait commented on #4469
Please provide more infromation, I think you have a problem in configuration

[2022-05-31 18:49] pmmmwh commented on #4224
Hi, this can be closed, we haven't updated the implementation yet but I'll do it soon.

[2022-05-31 19:15] alexander-akait commented on #4224
@pmmmwh Feel free to any feedback and PRs if you need to expose more

[2022-05-31 19:15] #4224 closed

[2022-05-31 19:32] DanielStout5 commented on #4469
Here's a sample project demonstrating the issue: https://github.com/DanielStout5/WebpackLibraryHMRIssue

It looks like it might be caused by the combination of the dev server and optimization.splitChunks. The project in question above is actually a Vue one and the Vue-CLI adds a default splitChunks config that specifies a chunk-vendors cache group.

[2022-06-01 10:37] laggingreflex commented on #2802
Was having the same issue, what worked for me:

[code]

https://webpack.js.org/configuration/cache/

[2022-06-01 20:03] alexander-akait commented on #4469
Please try to set https://webpack.js.org/configuration/optimization/#optimizationruntimechunk, `true` should be enough

[2022-06-02 08:00] flavianh commented on #126
Need this too

[2022-06-02 12:14] DanielStout5 commented on #4469
That configuration is set by Vue-CLI.

My workaround was to delete the optimization section entirely when running in dev mode:

[code]

[2022-06-02 16:40] alexander-akait commented on #4469
I think something wrong on vue-cli side in configuration or default configuration is not for you, you have library and application compilation using entries, it is exotic usage, most of developers move library compilation to own compiler (look at multi compiler mode for webpack), also it will allow to reduce time of build and cache

[2022-06-03 12:18] DanielStout5 commented on #4469
@alexander-akait  Sorry, I meant is there a way to prevent webpack-dev-server from modifying the output for a specific entry point. E.g. my bundle has this:

[code]

How can I keep the dev server for one entry but remove it for the other? I need it for the app that's part of this build, but not the library.

[2022-06-03 14:20] alexander-akait commented on #4469
Set `hot: false` too

[2022-06-03 14:22] DanielStout5 commented on #4469
No dice unfortunately. With both client and hot set to false, it still adds the `__webpack_require__("./node_modules/webpack-dev-server...` line

[2022-06-04 13:40] alexander-akait commented on #4469
@DanielStout5 webpack-dev-server inject entries here https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L612 (there are three entries, two of them are always inject based on options), as you can see no magic here, try to disable these options

[2022-06-05 13:43] white-than-wood commented on #1400
Seems to be only for mac platform.It seems to only apply to the mac platform, and create-react-app does the same: https://github.com/facebook/create-react-app/blob/25184c4e91ebabd16fe1cde3d8630830e4a36a01/packages/react-dev-utils/openBrowser.js#L65-L86

[2022-06-05 13:56] alexander-akait commented on #1400
Yes PR welcome

[2022-06-06 17:12] #4467 closed

[2022-06-06 17:14] #4433 closed

[2022-06-07 13:52] petr-ujezdsky commented on #1132
This seems to be fixed in `webpack-dev-server` v4. I have just tested it on `4.9.1` and the local files take precedence over the proxied ones by default.

[2022-06-08 20:44] wegry commented on #4467
With #4468,

[code]

Is still failing.

[2022-06-11 08:58] jderijke opened #4481 "image link breaks after updating scss with html-loader"
### Bug report
When I start the page in the small attached project using webpack-dev-server the page is displayed as expected..
When webpack reloads the project, image links break.
Images are loaded by html-loader.
Issue is also reported here: https://stackoverflow.com/questions/72498866/webpack-images-disappear-after-css-changes-using-webpack-dev-server

### Actual Behavior

When I start the page

[2022-06-13 15:36] shalkauskas commented on #2792
@slightlyfaulty thank you, worked great with webpack 5!

[2022-06-14 11:21] rzkhosroshahi commented on #2692
Is there any temporary solution to solve the HMR issue?

[2022-06-14 13:35] DanielStout5 commented on #4469
@alexander-akait thanks for that link, that was helpful.

I found a very hacky workaround that seems to work. It's a little more complicated because this project is using the Vue CLI and not just plain webpack by itself.

Set webSocketServer to false to prevent adding the additional entries in `initialize`:
[code]

Very hacky, but I used the setupMiddlewares callback to restore HMR (normally added

[2022-06-14 19:19] alexander-akait commented on #4469
Yes, you can do it, we added `setupMiddlewares` for such edge cases, I don't think we will break this API in future, it is very simple and flexibility

[2022-06-15 17:16] pedrettin commented on #126
I see that people suggest doing the redirection using nginx/apache, but I dont understand how that fits this problem. If i am using webpack-dev-server locally, i am serving my frontend directly from it. So when i go to `http://mysite.localhost:3000` i dont go to nginx at all, i go to webpack-dev-server.

Other requests to get data might go to the backend, but the first render should go to webpack-

[2022-06-15 19:55] pedrettin commented on #126
I consider this a hack, so i still think a proper webpack property to allow redirect is needed, but here is a solution only using webpack and without having to spin up another local server frontend by nginx.

Basic idea: spin up 2 webpack dev servers, 1 listening on http one on https. Have the one listening on http implement a proxy to redirect to https.

// package.json
[code]

// webpack.config.

[2022-06-15 20:08] alexander-akait commented on #126
Why you need HTTPS on dev env? Due http2/http3 support?

[2022-06-15 20:12] pedrettin commented on #126
I am guessing there are multiple use cases, but we need it to communicated with the auth service which does not do CORS with non `https` services.

[2022-06-15 20:15] alexander-akait commented on #126
Why not use HTTPs and self signed certificate?

[2022-06-15 20:38] pedrettin commented on #126
that's what we do

[2022-06-25 02:01] bradyclifford commented on #2792
@slightlyfaulty  you wouldn't happen to have an example you could share with the `dependOn` working for you?

[2022-06-25 02:24] slightlyfaulty commented on #2792
@bradyclifford I've pretty much just got my entry points listed like the examples in the docs. Nothing special.

https://webpack.js.org/concepts/entry-points/#entrydescription-object

[2022-06-25 03:03] chenmingzhen commented on #2802
This works for me, but before I didn't set cache. Hot update also worked. Now I don't understand what cache does. When I set the cache to false, I felt like my compilation slowed down a lot😕

[2022-06-28 16:19] alexander-akait commented on #2716
Partially fixed https://github.com/webpack/webpack-dev-server/pull/4501

[2022-06-29 23:12] rogerfar commented on #1850
I have been having this issue for years too. Changing it to 127.0.0.1 or ::1 makes no difference.

This is what I deal with:

![image](https://user-images.githubusercontent.com/1142915/176560829-bc216b86-4e9c-4a68-ac60-ddab3537b0d5.png)

Fast request:
![image](https://user-images.githubusercontent.com/1142915/176560871-2e2db7d7-29c9-460e-9637-8922bfd99fb3.png)

Slow request:
![image](https://user-

[2022-06-30 09:54] ghoshsanjeev commented on #2312
did you find the answer?
In my case, my freshly installed nodejs, angular cannot run the very first app that I have created. I haven't even edited the newly created app!

[2022-06-30 12:32] wbobeirne opened #4508 "Middleware that attempts to rewrite response & headers gets `ERR_HTTP_HEADERS_SENT` error"
### Bug report

I just updated my webpack-dev-server from 3.11.0 to 4.9.2 and a custom middleware I had written now causes an error. The middleware simulates a Cloudflare worker we have in production that pre-fills a `<script>` tag with some API information so that our initial render doesn't have to do a fetch to render the user's account information. I've dumbed it down a little, but here's the g

[2022-07-07 05:53] closertb commented on #3945
i also get this problem. i set open false，but it still open the 0.0.0.0:port page

[2022-07-07 08:55] hcxmj opened #4511 "upgrade error：Can't resolve 'webpack/hot/log.js、ansi-html-communit、html-entities、webpack/hot/emitter.js"
"webpack": "^5.73.0",
    "webpack-cli": "^4.10.0",
    "webpack-dev-server": "^4.9.3",

<img width="990" alt="image" src="https://user-images.githubusercontent.com/58494807/177733720-bbeb43dc-e9ad-451b-88d7-762444ce2cb6.png">

[2022-07-07 15:04] alexander-akait commented on #4511
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2022-07-07 15:04] #4511 closed, assigned to nobody

[2022-07-09 00:48] hobgoblina opened #4512 "localhost is applying port to the URL provided to `client-web-socket-url`"
### Bug report

My local port is wrongly being mapped onto the URL provided to the `client-web-socket-url` CLI parameter.

### Actual Behavior

1. I set `client-web-socket-url` to `wss://example.com/ws` and visit the webpage at `localhost:8910`.
2. It attempts to establish a socket `wss://example.com:8910/ws`.

I can set the port that's provided to `client-web-socket-url`, and only 443 is getting

[2022-07-10 19:56] alexander-akait commented on #4512
hm, we can't connect to https when you on http, you should use https everything, is `localhost:8910` undert https?

[2022-07-10 21:51] necropolina commented on #4512
No, it's not. Why is that a limitation? Is there a way around it?

[2022-07-11 02:39] snitin315 commented on #4512
@necropolina enable https via `--https` or [use `server: { type: 'https' }`](https://webpack.js.org/configuration/dev-server/#devserverserver)

[2022-07-11 04:56] necropolina commented on #4512
Hmm, that's making the react app inaccessible (502s) from both localhost and the domain for some reason.

[2022-07-11 15:05] alexander-akait commented on #4512
@necropolina

There are some questions:
1. Do you need HTTPs for the all website or only for workers?
2. Why you want to mix HTTP and HTTPS (and we don't be align with one protocol?)
3. Why don't use `/etc/hosts`?

[2022-07-11 16:24] s-shev opened #4514 "Dev server stops completely when postcss-loader throws error"
### Bug report

`webpack-dev-server` stops completely when during rebuild `postcss-loader` throws an error.

### Actual Behavior

I start dev server via `npx webpack-dev-server` and when I start typing new rule in `.css` webpack tries to rebuild my app but since I haven't finished typing, file contains incorrect css rule. So build fails due to `postcss-loader` throwing error `CssSyntaxError`. Howe

[2022-07-11 16:50] alexander-akait commented on #4514
Shortly - when we try to get `result.root` from postcss we got an error, I will fix it, but that is a little bit unexpected behaviour for getters

/cc @ai

[2022-07-11 17:00] #4514 closed

[2022-07-11 17:04] alexander-akait commented on #4514
@s-shev Please update https://github.com/webpack-contrib/postcss-loader/ to `7.0.1`

[2022-07-11 17:11] necropolina commented on #4512
This is for using Gitpod in which the dev workspace that hosts the webpack server is containerized, non-local, and created on the fly. When using gitpod, devs have a couple options for access ports/interfaces that are exposed in the workspace:

1. Gitpod creates URLs for each exposed port (ie, port 3000 would be available at a URL that looks something like `3000-some-workspace-subdomain.gitpod.io`

[2022-07-11 17:13] ai commented on #4514
@alexander-akait PostCSS has a lazy processing for 2 cases:

1. If you do not call `await` in `LazyResult`
2. If you do not pass any plugins in [`NoWorkResult`](https://github.com/postcss/postcss/blob/main/lib/no-work-result.js#L67)

We use it to avoid spending unnecessary resources.

[2022-07-11 17:15] alexander-akait commented on #4514
@ai yeah, I undestand this, just intresting why it is on the getter... Usually I don't expect to get errors on getter...

[2022-07-11 17:19] ai commented on #4514
@alexander-akait for the case when you called PostCSS without plugins and then request only `result.css`. In this case, we can avoid parsing.

[2022-07-11 20:16] pmoleri commented on #933
According to docs that only sets response headers.

You can pass arbitrary options to the proxy middleware.
Setting `xfwd: true` should do the trick.

[2022-07-12 20:42] alexander-akait commented on #1815
@JounQin Looks like you use css-loader with `target: node` so we use `file://`..., right?

Do you build library or app?

[2022-07-12 23:36] JounQin commented on #1815
@alexander-akait We are targeting `['web', 'es2015']`, it's an app.

[2022-07-13 00:19] alexander-akait commented on #1815
@JounQin strange, can you provide reproducible example? Maybe you have own CSS/extract CSS loader?

[2022-07-13 01:45] alexander-akait commented on #1815
@JounQin webpack internally replace `import.meta.url` when you build CSS code for `node` target (note - mini-css-extract-plugin do the same under the hood, so after evalation we can extract them from JS), can you capture what loaders are used for CSS (from bottom to top, you can use Profile plugin)?

[2022-07-13 01:54] JounQin commented on #1815
@alexander-akait

In `Angular@v13`, `.css` will not be handled by default, so I can confirm that we're using:

[code]

[2022-07-13 06:04] yangxiaolang commented on #1815
It seems **@angular-builder/custom-webpack**  influence css-loader,when i use @angular-builders/custom-webpack:browser and webpack to handle same imported css file which use **url()**
[code]

they output differently
[code]

[code]
and this issue metioned it [https://github.com/webpack-contrib/css-loader/issues/1362](https://github.com/webpack-contrib/css-loader/issues/1362)

[2022-07-16 19:57] alexander-akait commented on #1815
@yangxiaolang Looks like angular execute CSS on Node.js side, so webpack inline `base` of `new URL(...)`

@alan-agius4 can you look at this, thank you?

[2022-07-18 12:54] alan-agius4 commented on #1815
Modifying the Webpack configuration is not something that we the Angular team support.

Likely however this is caused because we disabled `url` parsing https://github.com/angular/angular-cli/blob/bf41b66fcc7e68b6a04ea3a6be470c7d97eacd57/packages/angular_devkit/build_angular/src/webpack/configs/common.ts#L351-L353

[2022-07-18 14:22] JounQin commented on #1815
So `css-loader`'s `url` should default to `module. parser. javascript.url` if possible?

[2022-07-19 22:11] alexander-akait commented on #1815
@alan-agius4 Could you tell me why it's disabled? Maybe we can solve it

[2022-07-21 12:24] Saamin-Rahman opened #4526 "Getting the error "SyntaxError: Invalid or unexpected token" at webpack-dev-server/lib/getPort.js:13"
### Bug report

### Actual Behavior

I am using webpack-dev-server to bundle sass and javascript in a glitch node project(glitch.com)
When I run npm start I found the following log:
[code]
![Screenshot 2022-07-21 182035](https://user-images.githubusercontent.com/108727798/180212624-85aaddba-3207-4681-91d2-0247d718e373.png)

### Expected Behavior

When I open "https://responsible-swanky-opportunity

[2022-07-23 10:24] fourglobe302500 opened #4528 "Cannot get / with webpack-dev-server"
### Bug report

I have this project https://github.com/fourglobe302500/TheGrindGame/tree/new-content where when I can bundle it up for production without probelm but when I run the webpack it gets the files it should serve but it doen't serve then

### Actual Behavior

It maps two files for static serving app.js and index.html (can verify by the /webpack-web-server route) but does not serve either

[2022-07-23 16:45] stevium commented on #1141
@Michaelvons `writeToDisk` is still supported, it was just moved to `devMiddleware`.

As documented in [migration-v4.md](https://github.com/webpack/webpack-dev-server/blob/master/migration-v4.md), the new config should look like this:

[code]

[2022-07-25 09:59] alexander-akait commented on #4528
Why you set `publicPath` for static?

[2022-07-25 10:24] alexander-akait commented on #4526
Please update `Node.js` version, you have an old version

[2022-07-25 10:24] #4526 closed

[2022-07-25 11:52] #4156 closed

[2022-07-26 04:02] hcxmj commented on #1969
Please how did you solve this problem in the end?I also encountered a similar problem.
<img width="1019" alt="image" src="https://user-images.githubusercontent.com/58494807/180920376-944154cf-57b7-4a06-8a93-95bcc17cb22a.png">

[2022-07-26 04:03] hcxmj commented on #1969
Please how did you solve this problem in the end?I also encountered a similar problem.
<img width="1006" alt="image" src="https://user-images.githubusercontent.com/58494807/180920465-0df56b56-c06f-476e-aba5-8df4205e7130.png">

[2022-07-26 10:57] fourglobe302500 commented on #4528
@alexander-akait I tested both with and without `publicPath` defined since it is setup to in the future also bundle a backend server based on asp.net that will reroute / on another port to this one of the webpack (could be the problem but I don't have any reason to write the server for now and I can't find any configuration style that isn't setup for that and works on my project with multiple comp

[2022-07-26 12:11] alexander-akait commented on #4528
Remove the `publicPath` everywhere, you don't need `publicPath: './'` to have relative public path

[2022-07-26 12:16] fourglobe302500 commented on #4528
It worked, thanks (I had that mainly because the html templater was having trouble linking files but not having it was the solution) thank you very much

[2022-07-26 12:16] #4528 closed

[2022-07-28 01:34] douglasg14b commented on #1249
The `public` property works, but sockjs still tries to use the port, which doesn't work if you're proxying and the port is proxied for you...

[2022-07-29 12:27] nickdeakin commented on #4180
Alans change fixes this issue

[2022-07-29 18:42] LP1994 opened #4532 "Enabling the experimental option experiments.buildHttp will cause HMR to not work."
### Bug report

### Actual Behavior
Enabling the experimental option experiments.buildHttp will cause HMR to not work.

### Expected Behavior
Enable experimental option experiments.buildHttp. HMR also works fine.

### How Do We Reproduce?
1、I've provided a small library of examples to reproduce the problem:
https://github.com/LP1994/experiments_buildHttp_hmr.git
2、After downloading the project, go

[2022-07-29 18:49] LP1994 commented on #4532
However, I found that if you manually import 'webpack/hot/dev-server.js' and 'webpack-dev-server/client/index.js' into the entry point, you can use both experiments.buildHttp and HMR.

[2022-07-29 18:53] LP1994 commented on #4532
However, it should not be done as I mentioned above, because webpack already provides the hot option and the HMR plugin to enable HMR. And this obviously goes against the "out of the box" philosophy of webpack 5.

[2022-07-29 19:00] alexander-akait commented on #4532
Please do not duplicate, original issue created in webpack, so wait for answer there, thank you

We will answer near future

[2022-07-29 19:00] #4532 closed

[2022-07-29 19:03] LP1994 commented on #4532
OK,Thanks in advance, I will go to webpack to add more details for your reference.

[2022-07-30 02:31] Chris3y commented on #803
@ActionScripted. Webpack5 docs say the headers prop is for setting headers on all "_responses_" which has left me confused.

https://webpack.js.org/configuration/dev-server/#devserverheaders

[2022-08-01 04:19] gebeer commented on #4232
I am experiencing same issue. Only for me dev server goes into infinite compile loop right after starting it up. When I disable CopyWebpackPlugin, there is no infinite loop.

Environment:
OS: Arch Linux
node v16.13.1 (npm v8.15.1)

Installed packages:
[code]

devServer config:
[code]

I can provide a testing repo if you can fire up an external server in your environment providing the PHP app at my

[2022-08-01 13:32] PierBJX commented on #4232
In my case, adding this property does not fix it :/

[2022-08-01 13:33] PierBJX commented on #4232
@alexander-akait. Is there a way to know which file makes the reload ?

[2022-08-04 10:06] dingyanhe commented on #978
It works for me：

{
  output: {
    publicPath: '/'
  },
  devServer: {
    historyApiFallback: true,
  },
}

[2022-08-04 16:39] amrfhn commented on #2758
Hello, i come from  2022, is there any updates regarding the live reloading issue?

[2022-08-10 11:20] thebat93 commented on #2792
I'm having a problem with HMR when Webpack has multiple entries and one of them is a service worker.

If I use `runtimeChunk: 'single'` hot reloading works as intended. But none of service worker's hooks runs.

I found [this solution](https://stackoverflow.com/questions/72114876/webpack-transpiled-typescript-service-worker-code-doesnt-seem-to-work). With this service worker's hooks run, but this b

[2022-08-10 13:09] alexander-akait commented on #4232
@PierBJX hm, you should see this in console https://github.com/webpack/webpack-dev-server/blob/master/client-src/index.js#L225

[2022-08-10 13:56] #4180 closed

[2022-08-10 23:28] Slapbox commented on #3769
@alexander-akait it's not clear from the migration guide that `contentBase` is deprecated. The guide says that it was moved:

Can you advise how we would update code like ` contentBase: path.join(rootPath, 'dist'),` to work with v4?

[2022-08-11 07:35] ohrrkan opened #4540 "Pwa- Service worker not work"
### Bug report

The service worker not work with webpack DevServer also when dev-server is configure in write memory like specify in :
[(https://webpack.js.org/configuration/dev-server/) writes in-memory](https://webpack.js.org/guides/progressive-web-application/)

### Actual Behavior

The service worker is register and activated but event are never trigger. no error

### Expected Behavior

Event

[2022-08-11 08:22] alexander-akait commented on #3769
Just set `static: path.join(rootPath, 'dist')`

[2022-08-11 08:44] xujie-phper commented on #2692
any updates, i face the same issue when use module federation

[2022-08-11 11:52] PierBJX commented on #4232
This is what I have in the console:

[code]

What is weird is that it goes to `App updated. Recompiling...`. Looking at the file you share, it is in the method `invalid()`. Is there a way to know what called this method? And why?

[2022-08-11 20:44] Slapbox commented on #3769
Thanks for your reply! It was indeed required.

[2022-08-12 11:51] alexander-akait commented on #4232
@gebeer Do you have copy plugin? And how you use `session-activity-decorator.ts`? You can create a private repo and invite me and I will try to help you

[2022-08-12 11:52] alexander-akait commented on #4540
Please create reproducible test repo, hard to say what is wrong

[2022-08-12 13:20] thebat93 commented on #4540
Are you using multiple entries for app and service worker? If yes, try solution from [this issue](https://github.com/webpack/webpack-dev-server/issues/2792):
`optimization.runtimeChunk: "single"`

I'm still having trouble with hot reloading though.

[2022-08-12 13:37] PierBJX commented on #4232
@alexander-akait , gebeer succeeded to fix it by adding `writeToDisk: true`. Unfortunately, it is a project with my company so I can not shared with someone the project. However, maybe we could have a team call or something similar, it will be easier to show you?

[2022-08-12 14:06] alexander-akait commented on #4540
@thebat93 Do you use plugin for service worker code generation or it is self-created code?

[2022-08-12 14:13] thebat93 commented on #4540
@alexander-akait it is a self created code. For debug purposes it has only `install`, `activate`, `fetch` hooks with logs. The file is used as one of two entries for webpack. Also I use this config:
[code]

[2022-08-12 14:21] thebat93 commented on #4540
Here's my message in [another issue](https://github.com/webpack/webpack-dev-server/issues/2792#issuecomment-1210534850)

[2022-08-12 14:27] thebat93 commented on #4540
And here are the errors that I'm getting when I try to change some app code and wait for hot reload. Sorry for spamming.

<img width="808" alt="Снимок экрана 2022-08-12 в 18 26 07" src="https://user-images.githubusercontent.com/29524634/184374721-12883926-f7ea-4b4d-b119-9b1d0b24201c.png">

[2022-08-12 15:34] thebat93 commented on #4540
@alexander-akait here is a minimal test repo with the issue: https://github.com/thebat93/sw-webpack-hmr
I mentioned solutions that I tried in webpack config file.

[2022-08-14 11:27] ohrrkan commented on #4540
Confirm what you say @thebat93 . Your solution to bypass the issue on web pack-dev-server work :

`    optimization: {

        splitChunks: {
            chunks(chunk) {
                return chunk.name !== "sw";
            },
        },

    },`

Thanks

[2022-08-15 00:54] gebeer commented on #4232
Thanks for the offer. I solved it, like @PierBJX wrote. Yes, I am using copy plugin.

But, when I use my machines IP instead of 'localhost' to make the app available in local network, then the reload loop is back again. So it might be something related to the http-proxy-middleware package. This is just a guess. Didn't find the time to look deeper into it.

[2022-08-15 07:47] thebat93 commented on #2792
Here is a minimal test repo with the issue: https://github.com/thebat93/sw-webpack-hmr
I mentioned solutions that I tried in webpack config file.

[2022-08-15 09:38] PierBJX commented on #4232
It sounds weird if it is related to localhost. Indeed, even when I do not open the page in the browser, I can have the reload in the command line. Like in the video.

[2022-08-18 02:27] jakeonfire commented on #395
the new location for the relevant documentation is https://webpack.js.org/guides/hot-module-replacement. after reading it, however, i think my issue is that the module in question uses `addEventListener`, so hot-updating the code would be problematic.

[2022-08-19 15:45] weijarz opened #4543 "Version 4.10.0 breaks compatibility with older browsers that do not have Object.entries"
### Bug report

### Actual Behavior

Old browsers throws exception on 4.10.0: no method Object.entries
Version 4.9.x works.

The problem is with this file:
https://github.com/webpack/webpack-dev-server/blob/216e3cbe62dc90b9345995cb4f33ca9dd7b6aaba/client-src/utils/log.js#L22

core-js polyfill does not work because this file was loaded before it.

### Expected Behavior

### How Do We Reproduce?

##

[2022-08-19 15:51] snitin315 commented on #4543
Thanks for the report. I'll look into it.

[2022-08-19 16:27] clyfish commented on #3038
@wdfinch I have a workaround for your problem by excluding the module federation entry in `html-webpack-plugin`, because it's included in the output HTML by mistake.

You can use the `chunks` or `excludeChunks` options of `html-webpack-plugin`.

[code]

[2022-08-29 12:43] #4543 closed

[2022-08-29 14:18] alexander-akait commented on #4232
@PierBJX Sorry for delay (I got Covid), if you disable copy plugin do you have infinity reload? Copy plugin get base from glob (i.e. `dir/dir/**/*` -  `dir/dir` and watch it, so if someone writes to this directory you can faced with infinity reload)

[2022-08-30 12:22] MarceloZabini opened #4551 "Automatically replying to OPTIONS requests is potentially problematic"
### Bug report

`OPTIONS` requests are automatically handled by webpack-dev-server since https://github.com/webpack/webpack-dev-server/issues/4180 was implemented by https://github.com/webpack/webpack-dev-server/pull/4185, bypassing the application's backend.

### Actual Behavior

webpack-dev-server automatically replies to `OPTIONS` requests regardless of how the backend application would handle

[2022-08-30 14:04] liesauer opened #4552 "Module not found: Error: Can't resolve './xxxxxxx'"
### Bug report

### Actual Behavior
after run `webpack serve`, it says lots of `Module not found: Error: Can't resolve './xxxxxx'`

here is my config
[code]

[code]

### Expected Behavior
start the dev server without errors.

### How Do We Reproduce?
1. create a new webpack project with `webpack-dev-server 4.10.1`
2. using the config above
3. `webpack serve`

### Please paste the results of `npx w

[2022-09-02 17:30] alexander-akait commented on #4552
Please provide a reproducble test repo, sounds like you have broken env. Are you using yarn?

[2022-09-02 17:32] alexander-akait commented on #4551
@MarceloZabini What about if we implement an option for this? So you can disable it when you need

[2022-09-05 08:42] MarceloZabini commented on #4551
There is perhaps a discussion of what users expect the default to be (personally I'd expect every request to be proxied), but having the option available and documented would certainly be good enough - at least for me.

[2022-09-05 12:31] PierBJX commented on #4232
@alexander-akait  No problem :) If I disable copy plugin I do not have infinite reload anymore. And an additional interesting thing is when I run with WSL2 my project, I do not have infinite reload anymore. It seems related to windows.

[2022-09-05 12:33] alan-agius4 commented on #4551
This has also been reported in https://github.com/angular/angular-cli/issues/23857

I wonder if it's just a matter of registering the `options-middleware` as the last middleware, which will act as a fallback if none of the other middlewares handles the OPTIONS.

[2022-09-05 12:39] alan-agius4 commented on #4551
Are you able to test if by updating `node_modules/webpack-dev-server/lib/Server.js` to https://gist.github.com/alan-agius4/156a7c36c2927986ef4e1dc6ffcdc97a the issue still persists?

[2022-09-05 14:01] alan-agius4 commented on #4551
Based on the reproduction in https://github.com/angular/angular-cli/issues/23859 it does seem like it's a matter of registration order.

[2022-09-05 14:02] sek1973 commented on #4551
We also have problems with OPTIONS requests handled this way.
I reported it to Angular team, as webpack-dev-server@4.10.0 is internally used by @angular-devkit/build-angular@14.2.1. Please find details here [https://github.com/angular/angular-cli/issues/23857](url).
I also described a workaround for OPTIONS requests to be handled properly.

[2022-09-05 14:31] alan-agius4 commented on #4551
Another user confirmed my suspicions that it’s a matter of ordering.

See: https://github.com/angular/angular-cli/issues/23857#issuecomment-1237123670

[2022-09-05 16:01] snitin315 commented on #4551
Feel free to send a PR.

[2022-09-05 17:10] alexander-akait commented on #4232
@PierBJX Yeah, WSL2 has some bugs with `fs`... Anyway if you provide example of the problem I will investigate it and report to Node.js or WSL developers (other issues have already been reported)

[2022-09-05 21:55] alexander-akait commented on #4551
@alan-agius4 hm, do you have a valid order (confirmed that we don't have the issue again)?

[2022-09-06 05:04] alan-agius4 commented on #4551
@alexander-akait, yeah it need to be registered as the last middleware as per the gist (https://gist.github.com/alan-agius4/156a7c36c2927986ef4e1dc6ffcdc97a) that the above users used to verify this.