[2018-09-24 04:06] gluons commented on #311
@emilio-martinez I face the same problem as you.

Seems that `open` option is only used in CLI.

https://github.com/webpack/webpack-dev-server/blob/d0725c98fb752d8c0b1e8c9067e526e22b5f5134/bin/utils.js#L41-L89

https://github.com/webpack/webpack-dev-server/blob/d0725c98fb752d8c0b1e8c9067e526e22b5f5134/bin/webpack-dev-server.js#L30-L36

https://github.com/webpack/webpack-dev-server/blob/d0725c98fb7

[2018-09-24 04:58] Muzietto commented on #1501
In my case, adding `outputPath` to the dev-server config object just doubled the error message:

    options should NOT have additional properties
    options should NOT have additional properties

I removed `colors: true,` (suggested somewhere) and the error message went away. I guess this is all about the version of webpack-dev-server we are using. In my case it's 3.1.8

[2018-09-24 11:43] evilebottnawi commented on #1509
@marcofugaro it is feature,  can you describe use case for this?

[2018-09-24 12:35] marcofugaro commented on #1509
Sure thing! Basically I was using these hooks to show only the information I need to the console (same thing I was using webpack-command for).

Here is config I was using, take a look at the comments:
[code]

[2018-09-24 13:56] teh0xqb commented on #1463
`webpack-serve` was officially deprecated and archived 6 days ago, commit:
https://github.com/webpack-contrib/webpack-serve/commit/edaf28c6c935c3e29d26dbb02a9d6b672cc5148a

There's also a discussion to update README in #1493

[2018-09-24 14:04] teh0xqb commented on #1406
Are you trying to explore your server app from the browser? This is a browser security feature. Probably caused because your UI is served in a different location than a server you're trying to access.

I presume your `index.js` file is part of a different server? It should set up CORS on its config.

Let's say that you're using express:

https://github.com/expressjs/cors#usage

As a **temporary**

[2018-09-24 19:01] SpaceK33z commented on #1406
Thanks for your help @teh0xqb. I'm closing this since this doesn't seem to have anything to do with WDS.

[2018-09-24 19:01] #1406 closed

[2018-09-24 19:03] SpaceK33z commented on #1507
Yep see #883.

[2018-09-24 19:03] #1507 closed

[2018-09-25 02:30] Tzcodejs commented on #1485
@hg-pyun Thank you very much!

[2018-09-25 06:18] alex3683 commented on #565
@szalapski I'm using vue-cli and don't know if it changes something on the messages sent by the webpack-dev-server, but in my case this works:

[code]
So the console will be cleared as soon as webpack detects the change (at least that's what I think `webpackInvalid` is used for ...).

[2018-09-25 17:28] aryzing commented on #117
Not sure if this issue is back, but I'm seeing the error

[code]

as reported by #381. This error is reported the very first time webpack HMRs. Subsequent HMRs do not cause this error to show up. Let me know if you need a repo reproducing the issue.

[2018-09-25 21:45] szalapski commented on #565
I don't appear to ever have "e.data".  I have e.payload and e.source, and nothing in them seems to distinguish a HMR-reload event from any other.

[2018-09-26 06:47] alex3683 commented on #565
@szalapski Which version of the dev server are you running? Mine is the latest, `3.1.8`.

[2018-09-26 10:26] aryzing opened #1510 "WDS not opening a browser tab when `open: true` is set (Node API)"
* Operating System: Ubuntu 18.04
* Node Version: v10.11.0
* NPM Version: 6.4.1
* webpack Version: 4.20.2
* webpack-dev-server Version: 3.1.9

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

You can check out this [barebones repo](https://github.com/aryzing/reproducing-WDS-no-broswer-open) reproducing the issue.

The WDS is using via it's Node API with `open: true`.

###

[2018-09-26 13:54] sevenryze commented on #616
since we begin to make our own dev workflow, this issue has been an entry-blocker for our young developers. so, please do some nice works and time for it.

[2018-09-26 14:05] SpaceK33z commented on #616
Please, feel free to do some nice works and time for it.

[2018-09-27 02:33] roy201603 opened #1511 "when i npm run dev i find in ios safari and not can open my project"
* Operating System:IOS
* Node Version:8.11.4
* NPM Version:5.6.0
* webpack Version:3.6.0
* webpack-dev-server Version:2.7.1

- [x] This is a **bug**
when  i npm run dev i find in ios safari and not can open my project
and also find
SyntaxError: Unexpected keyword 'const'. Const declarations are not supported in strict mode.
/app.js:57856:0
and i search when webpack-dev-server version up 2.7.1 some

[2018-09-27 02:50] michael-ciniawsky commented on #1511
It seems when you bundle your application a tool like e.g `babel` (`babel-loader`) adds a `'use strict';` pragma to the bundle file and depending on the browser (e.g without decent ES2015 (ES6) support) you're using this might leads to the current `{Error}` you're experiencing. Try to remove the pragma from the `app.js` file and check if this fixes your `{Error}`, then checkout how to disable that

[2018-09-27 02:53] michael-ciniawsky commented on #1511
https://github.com/webpack/webpack-dev-server/pull/1270

Updated to at least `webpack-dev-server >= v2.11.0`

[2018-09-27 02:54] #1511 closed

[2018-09-27 03:02] roy201603 commented on #1511
![image](https://user-images.githubusercontent.com/25165512/46121053-9e0cbe00-c244-11e8-98cc-a55f08fe1d29.png)
i have install webpack-dev-server to 2.11.3  and not use babel-loader strict mode  so  you think this is babel bring this problem?

[2018-09-27 03:29] michael-ciniawsky commented on #1511
Either `webpack` or `babel` (`babel-loader`) add  a `'use strict'` pragma (I think it is `babel`). e.g

**`file.js`**
[code]

**`file.transpiled.js`**
[code]

yet you **exlude** the `node_modules` folder and one of yur dependencies might use ES6 Syntax which **doesn't** get transpiled atm eventually leading to e.g

**`file.js`**
[code]

**`file.transpiled.js`**
[code]

[2018-09-27 13:00] Srikanth979 opened #1512 "json-loader injection in webpack 1.13.1 bundles with backtick ` which fails in IE 11"
IE11 throws Invalid Character for backtick `
Someone help please

[2018-09-27 19:35] WellspringCS commented on #1449
So... five hours later, and I've not seen the error yet. I still have the occasional "The expression evaluated to a falsy value" crash, but moving back to 10.5... I count it as a huge win.

For me, at least, webpack-dev-server 3.1.7 proved to be a false hope.

[2018-09-27 21:06] kunwang0916 commented on #1355
`npm install webpack-dev-server@2.x`, works for me.

[2018-09-28 13:45] kasvtv commented on #1418
OP here. For my dev environment I ended up dropping using a separate reverse proxy alltogether and use the reverse proxying of the webpack dev server. Obviously this solves the problem of dropped requests, but suboptimal as this is yet another point at which my dev environment is going to differ from production.

[2018-09-30 22:42] simpert opened #1515 "typescript configuration files seem not to be accepted"
* Operating System: win
* Node Version: 8.4.11
* NPM Version: what 8.4.11 installs
* webpack Version: new
* webpack-dev-server Version: new

- [x ] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior
should be able to pass a `.ts` file like `webpack-dev-server --config webpack.renderer.hot.dev.config.ts` as `webpack` fully supports this.
###

[2018-10-01 11:06] liyokuna opened #1516 "the project is not displayed on IE."
* Operating System:
* Node Version: 6.12.4
* NPM Version: 6.4.1
* webpack Version: 4.0.0
* webpack-dev-server Version: 3.1.0

- [ ] This is a **bug**
- [ ] This is a **modification** request

### Code

Hello, I have an angular that is working ( displaying ) on chrome and mozilla but not on IE.
The IE console is displaying an error syntax at this place:

```js eval("/* harmony import */ var __WEBPA

[2018-10-01 11:16] evilebottnawi commented on #1516
@liyokuna please create minimum reproducible test repo

[2018-10-01 12:01] liyokuna commented on #1516
@evilebottnawi [here ](https://github.com/Orange-OpenSource/Orange-Boosted-Angular/tree/correcting_the_display_on_ie)is the link to a test repo :)

[2018-10-01 12:11] evilebottnawi commented on #1516
@liyokuna Do you use right configuration? Please read http://idangero.us/swiper/get-started/

  rules: [
    {
      test: /\.js$/, // Check for all js files
      exclude: /node_modules\/(?!(dom7|ssr-window|swiper)\/).*/,
      loader: 'babel-loader'
    }
  ]
}

You deps in node_modules in `ES6` you need transpile some dependencies from `node_modules`. Problem is not related to `webpack-dev-serv

[2018-10-01 12:12] liyokuna commented on #1516
The problem is on IE 9 and superior version

[2018-10-01 12:14] liyokuna commented on #1516
um... I didn't think that this could cause this problem.
thank you I will work on it.

[2018-10-01 16:40] evilebottnawi commented on #1516
@liyokuna find what?

[2018-10-02 01:56] asrofie commented on #792
I have same issue, I fixed it with finding `self` variable and make sure it redefined (using `let` keyword, e.g `let self = this`).

[2018-10-02 03:44] kevinburke opened #1517 "Document the supported options for starting WebpackDevServer directly"
It is difficult to figure out which configuration options the WebpackDevServer constructor supports directly. It would be good to provide a list without requiring people to spelunk through the source code.

[2018-10-02 05:43] liyokuna commented on #1516
the configuration is misused ?

[2018-10-02 09:18] evilebottnawi commented on #1516
@liyokuna which?

[2018-10-02 09:19] evilebottnawi commented on #1517
It looks like you just deleted our lovely crafted issue. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-10-02 09:19] #1517 closed

[2018-10-02 18:18] ematipico commented on #1516
I think the issue can be closed as it's not an issue related to this project

[2018-10-02 19:34] araphiel opened #1518 "contentBase: Expose Watch Options"
https://github.com/webpack/webpack-dev-server/blob/ddc1e2c6d266823fcb9be1a018f8beeb4de4ab1c/lib/Server.js#L672-L683

Issue:
    1. watchContentBase only watches the top level folder
    2. contentBase doesn't seem to work with path globs.

For larger static projects, this means hot reloading will not work after the top level path ie:

- /index.html - will cause change
- /foobar/index.html - won't

[2018-10-02 20:01] adamklepacz commented on #1373
Got the same problem after downloading some of the boilerplates. Thank You @PatelDipen92  for resolving a problem

[2018-10-02 22:14] TacB0sS commented on #62
Extremely late for the party, but my 2 cents on this:

You are correct that when you are busy in developing your page and components and styles, this is somewhat redundant, but when you are configuring your environment, adding third party sdks, scripts, configurations, files (and god know what other requirements they have) all that while maintaining dev and prod (maybe also staging) configurations

[2018-10-03 00:11] araphiel commented on #1227
@evilebottnawi Thanks! [Your solution ](https://github.com/webpack/webpack-dev-server/issues/1227#issuecomment-376821796) worked perfectly in my use-case.

[My webpack-dev-server + Jekyll setup](https://gist.github.com/araphiel/e2c02337fab3f52b6b31c0d42ccefd0d)

[2018-10-03 00:50] WellspringCS commented on #1419
I'm seeing this behavior too. Driving me nuts.

[2018-10-03 01:12] #1518 closed

[2018-10-03 01:13] araphiel commented on #1518
Turns out contentBase was enough for my usecase but this could be worth a gander

[2018-10-03 21:17] stepquick commented on #1515
I actually just came across this recently trying to set up an environment for something similar. Were you able to get it working?

I made a gist of the webpack config i started with and seemed to work for me: https://gist.github.com/stepquick/ffd78fa456ab91a2ccbb787e1e7236ed

I followed the guidelines for webpack and ts: https://webpack.js.org/guides/typescript/

From what I noticed I got import e

[2018-10-04 05:28] ematipico commented on #1515
The guide talks about how to use typescript on your source code, not on your configuration.

If you want to run typescript on you configuration, use `ts-node`, if you don't please revert to see simple JavaScript. This is not an issue related to this project.

[2018-10-04 12:51] akoidan opened #1519 "How to run `--hot` from from custom server so live-reload works."
* Operating System: Archlinux
* Node Version: 10.10.0
* NPM Version: 6.4.1
* webpack Version: 4.20.2
* webpack-dev-server Version: 3.1.9

- [ ] This is a **bug**

### Code

[code]

[code]

### Expected Behavior
On editing files browser should automatically refresh the page

### Actual Behavior
[code]
### For Bugs; How can we reproduce the behavior?
 - `git clone https://github.com/Deathangel908/we

[2018-10-04 13:01] evilebottnawi commented on #1519
Looks you should use https://github.com/webpack-contrib/webpack-hot-middleware

[2018-10-04 13:06] Deathangel908 commented on #1519
I'm using it, should I close this issue and report new one to `webpack-hot-middleware`?

[2018-10-04 13:08] evilebottnawi commented on #1519
@Deathangel908 yep

[2018-10-04 13:08] WellspringCS commented on #851
I tried many of the above suggestions, and I could very much have gotten some things wrong, but here's what worked for me. (I call this "guns a'blazin" mode, where you try anything, out of desperation....)

(And note that the following efforts are not listed chronologically. I'm not sure I was sane during the last two days since this issue benighted my life.

I started on Angular 6, ended up Angul

[2018-10-04 13:57] WellspringCS commented on #1419
@evilebottnawi  I apologize, but I cannot, for several reasons. Behind on everything is #1, but even so the other problem was that in order to solve the problem I did strip my project bare and rebuilt it. The issue did not resurface until I had added several layers of components and navigation, at which point I started having existential moments, wondering what to do. I finally tried the desperati

[2018-10-04 14:01] evilebottnawi commented on #1419
@WellspringCS It is hard to reproduce problem based on your information, i can't help without minimum reproducible test repo. We can contact via email and use NDA if you are afraid for the information in the project.

[2018-10-04 14:02] WellspringCS commented on #1419
Yes, I would be fine with that approach, and if I can be of help I'd gladly do so.

[2018-10-04 14:10] evilebottnawi commented on #1419
@WellspringCS translation game :smile:

[2018-10-04 18:42] stepquick commented on #1515
I didn't mean to imply I was talking about my source code, I meant the config file. Following the guide for typescript is what I was missing to use my config.ts file properly. Installing ts-node resolved it for me.

[2018-10-05 14:06] chen88 commented on #1274
I've updated to the latest Window 10 version through **Windows Update**, and it stops the recompiling/reload

[2018-10-05 14:10] evilebottnawi commented on #1274
@chen88 what editor you are use?

[2018-10-05 14:10] chen88 commented on #1274
Visual Studio Code

[2018-10-05 14:13] evilebottnawi commented on #1274
@chen88 Can you try run dev server and change file using other editor?

[2018-10-05 14:14] chen88 commented on #1274
I'm not saying it doesn't recompile on file save. Just saying the new windows update helps with the issue of random recompiling/reloading which the original poster and others are facing.

[2018-10-05 14:33] evilebottnawi commented on #1274
@AKArchy problem still exist? Can you create minimum reproducible test repo?

[2018-10-06 21:50] simpert commented on #1515
I figured it out. The problem I had was mistake in code `module.exports = `.  I think the error I received kinda through me off that for a bit as according to errors I was looking for issue with the imports.

changing to `const config = merge...` and following `export default config;` did the trick.

[2018-10-06 21:50] #1515 closed

[2018-10-07 00:06] pmw57 commented on #993
I had this problem because I had only "src" listed for my modules.

I fixed this problem by adding "node_modules" to it.

[code]

[2018-10-07 21:10] chrisisler commented on #62
Just wanted to chime in to say again what has already been said: Django + webpack --watch is annoying without the awesomeness of hot reloading. Haven't tried @gajus plugin. This should be a core feature, or at least mentioned somewhere in the webpack-dev-server documentation.

[2018-10-08 11:06] bakkujp commented on #349
This is my solution. Install 3 packages together.

[code]

[2018-10-10 06:26] cfkxzsat opened #1521 "How to use proxy.bypass function to change from POST to GET"
Seems like here is the more appropriate place to ask...
[https://github.com/chimurai/http-proxy-middleware/issues/302](https://github.com/chimurai/http-proxy-middleware/issues/302)
Appreciated!

[2018-10-10 09:18] dakom commented on #1503
On a similar note - I'm not getting live-reloading with multiple configs. I get the rebuild when looking at the terminal, but the browser doesn't refresh (if I manually refresh, I do see the changes).

I'm happy to file a separate issue but I'm wondering if this is specifically due to multiple configs or some other bug... does live-reload work for you in this case?

[2018-10-10 10:04] dakom commented on #1503
Nevermind - my issue is fixed by _not_ having the manual entry point added as suggested at https://stackoverflow.com/a/41223040/784519

Removing that fixed things - though it could be that I had it added to all the configs whereas it would have worked if only added to the first _shrug_

[2018-10-10 11:14] #1357 closed

[2018-10-11 08:28] zhengtulymGh commented on #432
在html里面引用`<script type="text/javascript" src="/static/js/vendor.dll.js" charset="UTF-8"></script>`，使用webpack-dev-server启动的时候发现返回的是html文件怎么破？

[2018-10-12 13:05] santoshsaho077 commented on #349
No @bakkujp , it doesn't solve it.
Whenever I try to install " npm install && bower install " , I get this error .
Can anyone please suggest a solution

$ npm install && bower install
npm WARN deprecated npmconf@0.0.24: this package has been reintegrated into npm and is now out of date with respect to npm

invalid configloglevel="notice"
Downloading https://bitbucket.org/ariya/phantomjs/downloads/

[2018-10-13 00:33] fredyrivas commented on #1161
you saved my life

[2018-10-13 03:01] RayBowman2017b opened #1522 "Webpack dev-server not updating changes in browser"
* Operating System:
Windows 10

* Node Version:
8.10.0

* NPM Version:
6.4.1

* webpack Version:
"webpack": "^4.16.0"

* webpack-dev-server Version:
"webpack-dev-server": "^3.1.4"
"webpack-dev-middleware": "^3.4.0",

- [x ] This is a **bug**
- [ ] This is a **modification** request

### Code

https://github.com/RayBowman2017b/react-course-2-Budget-app_03b

[code]

`
const active_app_file = "sec012

[2018-10-13 22:18] RayBowman2017b commented on #1522
As it turns out, all I had to do was to give the "hot" flag on the command to turn on the React Hot Loader:

package,json
    "dev-server": "webpack-dev-server  --env=development --hot",

https://gaearon.github.io/react-hot-loader/getstarted/

[2018-10-13 22:18] #1522 closed

[2018-10-15 07:01] nekolab opened #1529 "Failed to serve over https when using ECDSA cert on node 8"
* Operating System: macOS 10.14
* Node Version: v8.12.0
* NPM Version: 6.4.1
* webpack Version: 4.18.0
* webpack-dev-server Version: 3.1.9

- [x] This is a **bug**
- [ ] This is a **modification** request

### For Bugs; How can we reproduce the behavior?
Use OpenSSL generate an ECDSA certificate, then run dev server with `--https` `--key` and `--cert`

Visit the generated resource url (like: https

[2018-10-15 09:48] evilebottnawi commented on #1529
@nekolab Any ideas how we can fix it?

[2018-10-15 09:49] evilebottnawi commented on #1529
Also can you create minimum reproducible test repo to ensure it is problem for node, not in local environment?

[2018-10-15 10:38] nekolab commented on #1529
A really simple repro on: https://github.com/nekolab/repro-webpack-dev-server-1529

Run `npm run dev` on different version of nodejs (6/8/10),  and visit https://localhost:8081/ , you will see only node 8 will cause `ERR_SSL_VERSION_OR_CIPHER_MISMATCH`

Not dig into how wds server content now, but `require("tls").DEFAULT_ECDH_CURVE = "auto"` may helps, if you guys use third-party library to do the

[2018-10-15 14:12] NirBenya opened #1530 "Hot reload doesn't work when using Node API"
* Operating System: Mac os
* Node Version: 7.10.0
* NPM Version: 5.6.0
* webpack Version: 3.11.0
* webpack-dev-server Version: 2.11.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior
DevServer should refresh the page upon every change.

### Actual Behavior
I see this messages in the console, but page doesn't refresh:

[WDS] Hot Modu

[2018-10-15 14:40] evilebottnawi commented on #1530
@NirBenya please create minimum reproducible test repo

[2018-10-16 01:43] gorakhnathlad commented on #1
Thanks.

[2018-10-16 12:59] j-langlois commented on #1505
Any update on this?

[2018-10-16 13:04] nekolab commented on #1529
Hi @evilebottnawi

A quick test confirm adding `require("tls").DEFAULT_ECDH_CURVE = "auto";` to the first line of `Server.js` can slove this issue.

If you think this way is acceptable to webpack dev server, I can create a pull request for it

[2018-10-17 18:52] AdamAndSubtractThem commented on #993
This was my issue as well. Thanks @pmw57

[2018-10-18 06:28] shirleyR commented on #1274
I get the same problem in Windows 10 when using VS Code 1.26.1,  sublime seems fine. webpack version is "webpack": "3.8.1" and  "webpack-dev-server": "2.11.1"

[2018-10-18 08:59] donaldpipowitch opened #1532 "Set a process.env to see if webpack-dev-server was used"
* Operating System: Mac OS
* Node Version: 8 LTS
* NPM Version: I use yarn
* webpack Version: 4
* webpack-dev-server Version: 3.1.9

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

[Old `WEBPACK_SERVE` usage in our config.](https://github.com/Mercateo/ws/blob/cd81606d5c0704dc2a74d6c3310d3ce95d0c87c1/packages/ws/src/configs/webpack.ts#L49)

### For Features; What is the

[2018-10-18 09:40] evilebottnawi commented on #1532
@donaldpipowitch PR welcome

[2018-10-18 09:42] evilebottnawi commented on #1387
@Rody-Kirwan problem still exists?

[2018-10-18 09:43] evilebottnawi commented on #1455
@pybuche problem still exists? If yes, can you create minimum reproducible test repo?

[2018-10-18 10:41] Rody-Kirwan commented on #1387
@evilebottnawi I'm not sure - moving to webpack-serve solved any issues I was having.

[2018-10-18 10:43] evilebottnawi commented on #1387
@Rody-Kirwan `webpack-serve` is deprecated and doesn't maintenance anymore

[2018-10-18 10:48] Rody-Kirwan commented on #1387
@evilebottnawi Since when?
There is no mention of that here:
https://www.npmjs.com/package/webpack-serve

[2018-10-18 11:00] evilebottnawi commented on #1387
@Rody-Kirwan https://github.com/webpack-contrib/webpack-serve

[2018-10-18 11:18] Rody-Kirwan commented on #1387
Hah - That is not good news!
Thanks for the update @evilebottnawi.

[2018-10-18 11:21] evilebottnawi commented on #1387
@Rody-Kirwan `webpack-server` is very buggy, better avoid to use this even it looks good and works

[2018-10-18 12:36] pybuche commented on #1455
Indeed, problem still exists.
I'll try to do that asap, thanks for looking into it.

[2018-10-18 18:57] jeremejevs commented on #1493
@michael-ciniawsky

Source? His [latest commit](https://github.com/shellscape/webpack-serve/commit/c5b1a1d19841e9932763210cd31e8ef175a01a0c) suggests otherwise. The tone also implies conflict, what happened?

[2018-10-18 19:09] evilebottnawi commented on #1493
@jeremejevs it is fork, `webpack` and `webpack-contrib` don't support `webpack-serve` officially, you can use it at your own risk. Some developers create problems, not code. Closer to the new year we will try to release a new version - lightweight and using `websocket`.

[2018-10-18 19:51] michael-ciniawsky commented on #1493
Besides of removing the deprecation note I don't see any changes being made to this fork? If the original author intends to keep maintaining `webpack-serve` and it's dependencies, he can of course do that as he pleases, but from an organizational stand point it's not possible for other contribs to do the same since some dependencies of `webpack-serve` are exclusively owned by him and would need to

[2018-10-18 22:45] MattGurneyAMP commented on #1302
I seem to have a similar problem and config, anyone know what the resolution to this is?

[2018-10-19 08:16] qkdreyer commented on #1479
Still an issue with [`v3.1.9`](https://github.com/webpack/webpack-dev-server/releases/tag/v3.1.9)

[2018-10-21 07:45] jiankafei opened #1534 "Why not create a separate express middleware: webpack-hot-middleware, like webpack-dev-middleware, to support HMR"

[2018-10-21 09:36] #1534 closed

[2018-10-22 06:25] SerhiiBilyk opened #1535 "Hot Module Replacement does not work with only one file"
* Operating System: Windows 10
* Node Version: 10.10.0
* NPM Version:6.4.0
* webpack Version:4.21.0
* webpack-dev-server Version:3.1.5

- [x] This is a **bug**
- [] This is a **modification** request

### Code

[code]

### Expected Behavior
Rebuild on every change of file content

### Actual Behavior

Very strange behavior. HMR does not update only one file [./packages/js/cic/lazyLoad.js] in proje

[2018-10-22 13:52] YonatanKra opened #1536 "Inline: true prevents a script from running"
* Operating System: Windows 10
* Node Version: 8.9.4
* NPM Version: 5.6.0
* webpack Version: 4.22.0
* webpack-dev-server Version: 3.1.9

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

https://github.com/YonatanKra/web-components-ui-elements/tree/webpack-dev-server-case
The config is inside the `config` folder.

### Expected Behavior

I'd expect web-pack-dev-server to r

[2018-10-22 16:19] evilebottnawi commented on #1536
@YonatanKra Why you use `inline`?

[2018-10-22 16:19] evilebottnawi commented on #1535
@SerhiiBilyk Can't reproduce, need minimum reproducible test repo

[2018-10-22 16:20] evilebottnawi commented on #1535
Also `MiniCssExtractPlugin` doesn't support hmr

[2018-10-22 16:28] evilebottnawi commented on #1536
@YonatanKra i.e. without `inline` it is not work as expected?

[2018-10-22 16:38] YonatanKra commented on #1536
@evilebottnawi yes. I don't usually use `inline`. It just didn't work, so I tried to pinpoint the issue and found out that when I use `inline: false` it is OK (e.g. when it uses the iFrame to reload the page).

[2018-10-22 17:15] YonatanKra commented on #1536
@evilebottnawi were you able to reproduce the issue?

[2018-10-22 17:28] evilebottnawi commented on #1536
@YonatanKra i will see in this in near future

[2018-10-22 20:02] SerhiiBilyk commented on #1535
@evilebottnawi thank you for your fast response, I will share tomorrow a minimum reproducible repo

[2018-10-23 06:09] nekolab commented on #1529
Fixed in https://github.com/webpack/webpack-dev-server/releases/tag/v3.1.10

Pull Request: https://github.com/webpack/webpack-dev-server/pull/1531

[2018-10-23 06:09] #1529 closed

[2018-10-23 09:44] SebT commented on #1479
Having the issue on Linux and Mac with webpack-dev-server `v3.1.8`.

[2018-10-23 09:46] evilebottnawi commented on #1479
Please create minimum reproducible test repo with steps

[2018-10-23 11:28] evilebottnawi commented on #1455
@pybuche you `webpack` configuration is insane, please read documentation before setup webpack or ask other peoples on `gitter` or `stackoverflow` how do this in right way.

Problems:
1. `[HPM] Error occurred while trying to proxy request / from localhost:8080 to http://localhost:8000 (ECONNREFUSED)` is not related to `HMR`. This error means backend server can't response your request - he is not s

[2018-10-23 11:28] #1455 closed

[2018-10-23 11:32] evilebottnawi commented on #1356
Problem still exists? If yes please create minimum reproducible test repo

[2018-10-23 11:38] evilebottnawi commented on #1521
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-10-23 11:38] #1521 closed

[2018-10-23 11:49] evilebottnawi commented on #1495
@cinderblock we should use:
[code]

to avoid this problem, but it can break other setup in theory, we can fix it in next major release.

/cc @michael-ciniawsky

[2018-10-23 11:52] evilebottnawi commented on #1387
/cc @Rody-Kirwan can you create minimum reproducible test repo?

[2018-10-23 11:53] evilebottnawi commented on #1436
Problem still exists? Somebody can create minimum reproducible test repo?

[2018-10-23 11:55] evilebottnawi commented on #1341
@JannesMeyer Problem still exists? If yes please create minimum reproducible test repo

[2018-10-23 13:36] Rody-Kirwan commented on #1387
@evilebottnawi Yep, I can try to do that ASAP. It may be a couple of days before I can get to it though. Still need to switch back from webpack-serve. Thanks

[2018-10-23 17:06] evilebottnawi commented on #1500
@Perlover Thanks for issue, but we use `chokidar` in `watchpack` (https://github.com/webpack/watchpack) for track fs events, looks better create this issue in `chokidar` repo. Sorry, we can't fix it on our side.

[2018-10-23 17:06] #1500 closed

[2018-10-23 17:38] evilebottnawi commented on #1450
@LeonardoHabitzreuter You reproducible test repo not consistent with what you wrote - no `scss` files in repo.

For JS add this in you config in `watch`:
[code]

[2018-10-23 17:38] #1450 closed

[2018-10-23 17:40] evilebottnawi commented on #1436
Duplicate https://github.com/webpack/webpack-dev-server/issues/1510 .Close this issue due not issue template and test repo

[2018-10-23 17:40] #1436 closed

[2018-10-23 17:48] evilebottnawi commented on #1337
@webpack-bot move to webpack/webpack.js.org

[2018-10-23 17:51] evilebottnawi commented on #1337
Close in favor https://github.com/webpack/webpack.js.org/issues/2610

[2018-10-23 17:51] #1337 closed

[2018-10-23 19:31] evilebottnawi commented on #1493
The question is answered. Still use `webpack-dev-server` (`webpack-server` is not supported officially and you use this package at one's own risk). Feel free to feedback.

[2018-10-23 19:31] #1493 closed

[2018-10-23 19:35] evilebottnawi commented on #1485
Based on comment above problem is solved. Feel free to feedback.

[2018-10-23 19:35] #1485 closed

[2018-10-23 19:42] evilebottnawi commented on #1519
Looks solved https://github.com/webpack-contrib/webpack-hot-middleware/issues/337. Feel free to feedback.

[2018-10-23 19:42] #1519 closed

[2018-10-23 19:55] evilebottnawi commented on #1370
Problem in `Safari`, we use `node` API for running server over `https` (https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L596). Looks this happens not only for `webpack-dev-server` https://stackoverflow.com/questions/18964175/how-to-fix-curl-60-ssl-certificate-invalid-certificate-chain. Some `Safari` version doesn't have good support for `self-signed` certificates and/or dis

[2018-10-23 19:55] #1370 closed

[2018-10-23 20:00] evilebottnawi commented on #1530
Don't add `webpack-dev-server/client` to your `entries` in `webpack.config.js`. Using `addDevServerEntrypoints` already do this.

You can forget to add `plugins: [new webpack.HotModuleReplacementPlugin()]`.

[2018-10-23 20:00] #1530 closed

[2018-10-24 08:45] SerhiiBilyk commented on #1535
I have created reproducible repo, and it works fine.
When I'm starting dev-server in VSCode terminal it works as expected, unlike in windows cmd.
Now dev server in main app works fine.
I don't know how to explain it. When I will understand what's happened I will reopen issue and reproduce all my steps.
@evilebottnawi Before all steps, I have replaced MiniCssExtractPlugin to 'style-loader'.
Now, I'

[2018-10-24 09:36] evilebottnawi commented on #1503
Duplicate https://github.com/webpack/webpack-dev-middleware/issues/338
WIP

[2018-10-24 09:46] Rody-Kirwan commented on #1387
@evilebottnawi - HI, I've recreated the issue on a repo here:

https://github.com/Rody-Kirwan/webpack-single-runtime

Please excuse the repo name . - It was initially created to display another webpack issue.

I'm not a fan of this `/.endpoint` pattern on the BE - but it's unfortunately outside my control.

When I was investigating the issue previously, I located the issue to regex matching patter

[2018-10-24 09:49] evilebottnawi commented on #1535
@SerhiiBilyk feel free to open new issue, thanks!

[2018-10-24 09:49] #1535 closed

[2018-10-24 12:57] felixcatto opened #1544 "Live reloading not work in Node.js API"
* Operating System: Ubuntu 16.04
* Node Version: v10.12.0
* NPM Version: 6.4.1
* webpack Version: 4.22.0
* webpack-dev-server Version: 3.1.10

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

I created a simple repo https://github.com/felixcatto/wds-test
[webpack.config.js](https://github.com/felixcatto/wds-test/blob/master/webpack.config.js)
[server.js](https://github.c

[2018-10-24 13:10] evilebottnawi commented on #1544
@felixcatto you need `hot: true` in `devServer` and `new webpack.HotModuleReplacementPlugin()`, here docs https://webpack.js.org/guides/hot-module-replacement/.

[2018-10-24 13:10] #1544 closed

[2018-10-24 20:52] cheezy64 commented on #1505
@j-langlois I used `create-react-app` and the page is being served correctly on my Mac.  I haven't dug into the details, but I think `create-react-app` does some configuration with `webpack-dev-middleware`.

So, this original issue still exists, but I've been able to work around it.

[2018-10-25 05:46] uxweb opened #1545 "cli double dash question"
Hi!

Just a quick question:

What does the double dash (`--`) option for the cli means? I've seen it on all the cli examples.

[code]

[2018-10-25 05:53] KenilDomadia commented on #1503
Are we working on resolving the issue [webpack/webpack-dev-middleware#338](https://github.com/webpack/webpack-dev-middleware/issues/338)?

[2018-10-25 06:11] michael-ciniawsky commented on #1545
`npm` will pass all the arguments after the `--` directly to your script (e.g `webpack-dev-server`)

[2018-10-25 10:15] evilebottnawi commented on #1545
@uxweb Answer is above. Thanks!

[2018-10-25 10:15] #1545 closed

[2018-10-25 10:16] evilebottnawi commented on #1503
@KenilDomadia First we should find where this happens and why

[2018-10-25 10:19] KenilDomadia commented on #1503
@evilebottnawi I've described the scenario for **when** this happens. By "where", do you mean the line of code where this happens? I haven't look into webpack-dev-server code until now. I can get started if you want to me to trace the lines of code.

[2018-10-26 08:55] Rody-Kirwan commented on #1387
@evilebottnawi Is there any update on this - completely blocked from updating webpack because of the issue.

[2018-10-26 09:55] evilebottnawi commented on #1387
@Rody-Kirwan A lot of issue and work, feel free to investigate and send a PR with fix

[2018-10-26 10:08] Rody-Kirwan commented on #1387
@evilebottnawi okay thanks. Think the issue is with micromatch dependency of http-proxy-middleware. Will investigate further

[2018-10-26 13:04] tfrijsewijk commented on #128
Same here inside docker on windows

[2018-10-26 13:10] doowb commented on #1387
@Rody-Kirwan try setting the [dot option](https://github.com/micromatch/micromatch/#optionsdot) to `true` in `http-proxy-middleware`. It looks like `http-proxy-middleware` does not pass any options through to `micromatch`, so you'd have to manually do this in your `node_modules` to test.

[2018-10-29 11:04] mzpuu opened #1550 "macOS: sometimes can't work"
* Operating System:macOS Mojave (10.14) & macOS High Sierra (10.13)
* Node Version:v10.6.0
* NPM Version:6.1.0
* webpack Version:3.10.0
* webpack-dev-server Version:2.9.7

- [√] This is a **bug**
- [ ] This is a **modification** request

### Code

   Problem Description:  Sometimes the browser does not automatically refresh after the file in a folder has been modified.After modifying the file name

[2018-10-29 11:12] evilebottnawi commented on #1550
We don't know how to fix it, sorry. People create minimum reproducible test repo and recreate issue.

[2018-10-29 11:12] #1550 closed

[2018-10-29 14:52] wangzhigang opened #1551 "I don't want to open index.html by default。Is there any other way?"
* Operating System:
* Node Version:
* NPM Version:
* webpack Version:
* webpack-dev-server Version:

- [ ] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior

### Actual Behavior

### For Bugs; How can we reproduce the behavior?

### For Features; What is the motivation and/or use-case for the feature?

[2018-10-29 14:56] evilebottnawi commented on #1551
Use `open: false`, in future use issue template, it is bug tracker not `stackoverflow`

[2018-10-29 14:56] #1551 closed

[2018-10-29 15:34] wangzhigang commented on #1551
Such as:
page:
    index.html
    about.html
    news.html
    ......

I want to select the page I want to preview instead of opening page's folder and open index.html by default。

but，Configure index:'' to report an error。
devServer: {
        contentBase: [
            path.join(ROOT, 'src/')
        ],
        index:''
}

[2018-10-29 17:22] szalapski commented on #565
How do I find that?  I don't see a "devServer" anywhere in my .js files.

[2018-10-29 17:59] Ranguro opened #1552 "Webpack-dev-server creates two tabs when hitting save in my editor."
# Bug report

**What is the current behavior?**
* Whenever I hit the save button in my text editor, webpack-dev-server generates 2 new tabs in Google Chrome with the introduced changes. If there aren't changes and I hit the save button, webpack still opens the 2 new tabs.

**If the current behavior is a bug, please provide the steps to reproduce.**
[Webpack config](https://gist.github.com/Ranguro/

[2018-10-29 20:34] ArslanAmeer commented on #1419
Hi!
I dont know but Starting project with `npm start` instead of 'ng serve` fix my WDS Disconnected Error.  🙄😜

[2018-10-30 01:16] wangzhigang opened #1554 "Do not want to open a folder, automatically jump to index.html。Is there any other way?"
I want to select the page I want to preview instead of opening page's folder and open index.html by default。Because I'm a multi-page project, I want to be able to select the file I want to preview. Instead of automatically opening index.html

Such as:
The entry page，page folder:
index.html
about.html
news.html
......

but，Configure index:'' to report an error。
devServer: {
contentBase: [
path.join

[2018-10-30 02:57] quanzhiyuan commented on #1259
mark

[2018-10-30 05:49] pandoracat commented on #1377
I met the same problem as yours.  The example code for me is here: https://github.com/pandoracat/webpack-demos/tree/master/demos/09.hot-module-reload.03.hrm

Someone, please help me, it haunted me for a very long time.

[2018-10-30 09:16] evilebottnawi commented on #1554
Please use issue template, feel free to recreate issue using issue template

[2018-10-30 09:16] #1554 closed

[2018-10-30 15:01] wangzhigang opened #1556 "Do not want to open a folder, automatically jump to index.html。Is there any other way?"
Operating System: mac
    Node Version: 10.9.0
    NPM Version: 6.2.0
    webpack Version: 3.11.0
    webpack-dev-server Version: 2.8.2

This is a bug
This is a modification request

### `Code`
[code]

### Expected Behavior
go to http://0.0.0.0:6060/view/page/ will open the default index. HTML。
I want to select the page I want to preview instead of opening page's folder and open index.html by defa

[2018-10-30 15:09] evilebottnawi commented on #1556
@wangzhigang Please create minimum reproducible test repo, can't reproduce

[2018-10-31 05:17] superhawk610 commented on #1479
@SebT I've also had this issue, specifically when using the `-theme react` preset from the ReasonReact starter. I'm working on getting reproducible steps - it doesn't seem to happen in a dry environment, so I imagine it's some conflict with another file watcher that occurs after some period of use.

I'll report back if I get anything useful.

[2018-10-31 05:46] superhawk610 commented on #1479
The error (in this case, at least) appears to occur when the dev server gets stuck compiling. `Ctrl+C` at this point doesn't actually end any processes - all 3 processes listed above remain active after sending `SIGINT` to the yarn process.

After further attempts, this still doesn't reproduce the error consistently :/ FWIW, I'm using VSCode with the Reason/OCaml extension.

[2018-10-31 16:15] mahmoudafifi414 commented on #875
in webpack.config.js write

module.exports = {
  devServer: {
    watchOptions: {
      poll: true
    }
  }
};

for further information see this link
https://webpack.js.org/configuration/dev-server/#devserver-watchoptions-

[2018-10-31 16:26] mahmoudafifi414 commented on #875
if the webpack not serving code changes so
in webpack.congif.js write :

module.exports = {
  //...
  devServer: {
    watchOptions: {
      poll: true
    }
  }
};

for further information see this link:
https://webpack.js.org/configuration/dev-server/#devserver-watchoptions-

[2018-10-31 16:34] mahmoudafifi414 commented on #1454
if the webpack not serving code changes to the browser so
in webpack.congif.js write :

module.exports = {
//...
devServer: {
watchOptions: {
poll: true
}
}
};

for further information see this link:
https://webpack.js.org/configuration/dev-server/#devserver-watchoptions-

[2018-11-01 12:29] aszmyd commented on #1509
Check out this plugin: https://www.npmjs.com/package/event-hooks-webpack-plugin

[2018-11-01 14:36] flekschas commented on #1400
Just in case somebody else stumbles upon this ticket and wonders "should I use webpack-serve"? `webpack-serve` is now deprecated!

[2018-11-01 15:01] evilebottnawi commented on #1400
feel free to send a PR

[2018-11-01 18:57] flekschas commented on #1400
Just as a reference, @elrumordelaluz submitted a PR to `webpack-serve` regarding this matter: https://github.com/webpack-contrib/webpack-serve/issues/117

Since it's much more involved than I thought it would be I am not sure it's simply to copy it over to `webpack-dev-server`. :)

[2018-11-01 19:12] evilebottnawi commented on #1400
@flekschas feel free to send a PR

[2018-11-01 19:13] evilebottnawi commented on #1400
Oh we don't have event/hooks right now, we need implement their

[2018-11-01 21:16] brandonwiemann commented on #1442
I was having this exact same issue and realized that I was using `optimization.splitChunks` in my default webpack config but wasn't linking to the common (chunked) script on my entry page. Hopefully this helps someone else.

[2018-11-01 23:09] missalyss opened #1557 "No respect, no respect at all! (for stats.warningsFilter 😉)"
* Operating System: mac OS Sierra 10.12.6
* Node Version: 6.11.1
* NPM Version: 3.10.10
* webpack Version: 4.19.0
* webpack-dev-server Version: 3.1.8

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

**webpack.config_.dev_.js**
[code]

Webpack config stats docs I'm going off of:
https://webpack.js.org/configuration/stats/#stats

WDS stats docs:
https://webpack.js.org/con

[2018-11-02 09:49] evilebottnawi commented on #1557
@missalyss looks like a bug, feel free to investigate and send a PR

[2018-11-02 10:08] dcorb commented on #1479
One developer in our team is having the same issue (the rest of the team not). So it's hard to offer a reproducible test.

[2018-11-02 10:09] evilebottnawi commented on #1479
If somebody can reproducible test please post how here, we can fix it asap

[2018-11-02 10:36] Krzychek commented on #1479
The same happens for me on Linux (up-to-date ArchLinux). Also it drains 100% of one CPU core.

[2018-11-02 11:07] webpack-bot opened #1558 "Webpack hangs indefinitely when a plugin throws an error in `done` hook"
# Bug report

**What is the current behavior?**
When using webpack in development mode with either webpack-dev-server or webpack-serve a plugin may throw an error in the `done` hook. When this happens, there is no indication this error has occurred and compilation halts. It is also not possible to see what the error is. It seems like the `done` hook does not get called for any plugins that are lat

[2018-11-02 19:46] missalyss commented on #1557
@evilebottnawi to your knowledge, does your client have access to webpack config at all? I've been trying to send it from `bin/webpack-dev-server`, but it doesn't want to read it.

[2018-11-03 07:59] jiankafei opened #1559 "Provide more webpack-dev-server API"
Webpack-dev-server is now like a black box, hoping to provide a convenient API for developers to call. The advantage of this approach is that, on the premise of ensuring devServer configuration, developers can use it programmatically and access custom logic.

[2018-11-03 11:48] albertian commented on #875
Hi guys.
I'm a newbie in Webpack and I got the same problem.
But now it works good. Even without bundle.js file my server works correctly.
command: `node_modules/.bin/webpack-dev-server --config webpack.config.js --hot`
webpack.config.js
[code]
Both _publicPath_ are url path, so not need to put your file path here.
After my changes my webpage reloades after each file change.
I hope it will be help

[2018-11-04 00:16] ArnaudD commented on #1323
Setting the `filename` option fixed the problem in my case :

[code]

[2018-11-05 03:42] Noi-Git commented on #349
Hey guys,
I got the same error message. I found this on [Stack Overflow](https://stackoverflow.com/questions/51293822/webpack-cli3-0-8-requires-a-peer-of-webpack4-x-x-but-none-is-installed), and it works.

run this on the command line   -->    npm i -D webpack@latest

`+ webpack-cli@3.1.2
+ @webpack-cli/init@0.1.2
added 563 packages from 320 contributors, updated 2 packages, moved 6 packages and a

[2018-11-05 07:18] NaNdreas opened #1560 "Setup without warnings (defaults to production mode)"
* Operating System: Windows 10
* Node Version: 8.9.0
* NPM Version: 6.1.0
* webpack Version: 4.24.0
* webpack-dev-server Version: 3.1.10

- [ ] This is a **bug**
- [x] This is a **modification** request

### Expected Behavior
When following the setup instructions in the readme I want to have `webpack-dev-server` running without any warnings or errors.

### Actual Behavior
I end up with a warning b

[2018-11-05 09:20] xtx1130 opened #1561 "Hot module: ERR_INVALID_CHUNKED_ENCODING"
* Operating System: MAC OS 10.12.6
* Node Version: v9.2.0
* NPM Version: v5.5.1
* webpack Version: ^4.16.0
* webpack-dev-server Version:^3.1.4

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code
The code is almost build with vue-cli:
[code]
### Expected Behavior
I choose `Slow  3G` mode in chrome inspector. I hope my `main.js` can request successfully.
npm scripts: `npm run

[2018-11-05 23:57] ncjones commented on #1559
I think this is what I'm looking for too. To reduce the number of API calls on page load I have moved to having a dynamic index.html served by express instead of a static one served by nginx. Now I'm trying to replicate the functionality of webpack-dev-server using webpack-dev-middleware and webpack-hot-middleware. This turns out to be really challenging.

I'm still lacking incremental compiling (

[2018-11-06 05:11] jiankafei commented on #1559
Have you tried the following way?

[code]
devServer.app is a express instance.

[2018-11-06 05:13] jiankafei commented on #1559
I think it should be able to run, but I haven't actually tested it yet.

[2018-11-06 08:56] evilebottnawi commented on #1560
@NaNdreas Feel free to send a PR

[2018-11-06 08:57] evilebottnawi commented on #1561
@xtx1130 Please create minimum reproducible test repo, thanks!

[2018-11-06 08:59] evilebottnawi commented on #1559
@jiankafei what exactly you want to have in API?

[2018-11-06 09:12] jiankafei commented on #1559
@evilebottnawi
I think server can be designed as follows:

main: defines middleware and exposes it;
bin: parse the parameters, instantiate express, invoke Middleware of main, and then generate services.

Such a design can ensure the use of bin commands, but also allow developers to use the middleware of main. Complete custom development.

[2018-11-06 09:15] evilebottnawi commented on #1559
@jiankafei it is require a lot of work, also it is impossible only `defines middleware and exposes it`, we should setup other part of system to more zero configuration - `client`, `default` setting, `try/catch` errors, setup `webpack` plugins and more

[2018-11-06 09:15] evilebottnawi commented on #1559
You should use custom setup for these purpose what you desribe

[2018-11-06 09:31] evilebottnawi commented on #1559
@jiankafei here `webpack-hot-middleware` https://github.com/webpack-contrib/webpack-hot-middleware, what is problem to setup own configuration?

[2018-11-06 09:35] jiankafei commented on #1559
@evilebottnawi
I know it. But @ncjones had problems.This means that it can not achieve the effect of webpack-dev-server.

[2018-11-06 09:36] evilebottnawi commented on #1559
Need more information what is not works as expected

[2018-11-06 10:37] khyamay commented on #875
like @albertian mentioned and has shown in the example publicPath for output and devServer needs to be same.

[Why webpack-dev-server Live-Reload Is Not Working](https://medium.com/code-oil/burning-questions-with-answers-to-why-webpack-dev-server-live-reload-does-not-work-6d6390277920)

[Webpack — Understanding the ‘publicPath’ mystery](https://medium.com/@raviroshan.talk/webpack-understanding-the

[2018-11-06 20:04] ncjones commented on #1559
@evilebottnawi with webpack-dev-server I didn't need any conditional logic in webpack.config.js - my production mode settings just worked perfectly with the dev server which is great. Now with dev middleware and HMR I must have conditional logic for setting:

 * mode ("production" vs "development")
 * js/css asset name format ("[contenthash]" not allowed with HMR)
 * plugins (HotModuleReplacement

[2018-11-06 20:14] evilebottnawi commented on #1559
@ncjones

- https://github.com/webpack/webpack-dev-server/issues/1560

Fixed in https://github.com/webpack/webpack/releases/tag/v4.24.0

`HotModuleReplacement` it is doing using if you use `webpack-dev-server` bin, feel free create issue if you think what it is should be not only in bin

`NoEmitOnErrors` is not suitable for all developers

Not related to `webpack-dev-server`, but feel free to feed

[2018-11-07 06:10] NaNdreas commented on #1560
Thank you @evilebottnawi

Just to be sure, do you want the documentation fix or setting development by default? 😃

[2018-11-07 06:44] evilebottnawi commented on #1560
@NaNdreas based on user experience, we need implement `development` by default (don't forget respect `mode` from configuration)

[2018-11-07 11:10] Rody-Kirwan commented on #1387
@doowb - Thank you. Never spotted that. Works perfectly, so I will create an issue with http-proxy-middleware.
Really appreciate it :)

[2018-11-07 21:52] chrisckc commented on #1296
I spotted this and thought i would try it to see if i could simplify my webpack config.

Unfortunately not, I found that i always need to have either 'webpack-dev-server/client' and/or  'webpack/hot/dev-server' in the 'entry' section when using  `--inline` and/or `--hot` on the commandline otherwise the websocket calls are not made and the page never refreshes on changes.

This means that the docs

[2018-11-07 21:56] chrisckc commented on #1296
I also found this not to be the case:
https://webpack.js.org/configuration/dev-server/#devserver-hot

Tried that and the page does not load when --hmr is used without the plugin.
Also the wording is a bit odd "so you **may** not need to add this", so that must mean i just have to try it and see then.

[2018-11-08 08:52] Rody-Kirwan commented on #1387
@evilebottnawi Yup. Closing now. Thanks

[2018-11-08 08:52] #1387 closed

[2018-11-08 11:59] felixcatto commented on #1559
I think ability to manually reload browser window would be great. Such ability exists in BrowserSync, but not in WDS :'(

[code]

[2018-11-08 12:04] evilebottnawi commented on #1559
@felixcatto why?

[2018-11-08 12:45] felixcatto commented on #1559
i am using WDS and webpack only for bundling client js. For moving images, process CSS and transpile server js i am using gulp. So when i change my server code, all code transpiled  and i want to refresh browser after this process. I make a simple WDS config with proxy option to target my original server. It works well, when i change client code, but i can't trigger refresh after my server code ch

[2018-11-09 11:01] xtx1130 commented on #1561
@evilebottnawi  I have tried to use pure `vue-cli` to  reshow this bug, but I failed. May be `nginx` caused this error.I will close this issue, thanks for you reply :)

[2018-11-09 11:01] #1561 closed

[2018-11-10 01:57] belachkar commented on #1334
1 - Upgrade webpack to v4, you must change the webpack.config.js file for compatibility. or
2 - Downgrade webpack-dev-server to exactly v3.0.0 as @Nufeen said.

[2018-11-10 16:56] rc452860 opened #1565 "use api start,get error Cannot set property 'log' of undefined."
* Operating System: Win10
* Node Version: v8.11.3
* NPM Version: v8.11.3
* webpack Version: ^4.24.0
* webpack-dev-server Version: ^3.1.10

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior

### Actual Behavior
[code]
### For Bugs; How can we reproduce the behavior?

### For Features; What is the motivation and/or use-case for the feat

[2018-11-10 16:58] evilebottnawi commented on #1565
Strange, looks like a bug, feel free to send a PR

[2018-11-10 17:01] rc452860 commented on #1565
@evilebottnawi the server.js has three arguments. the last arguments are log. but in examples last argument lost.

[2018-11-10 17:05] evilebottnawi commented on #1565
I think we should setup default value

[2018-11-10 17:16] rc452860 commented on #1565
@evilebottnawi I think I was wrong. actually, I forget new.
[code]

[2018-11-10 17:16] #1565 closed

[2018-11-10 18:33] QoT commented on #910
I have the same error message when trying to use yarn so it probably is not related specifically to webpack.

yarn run v1.12.1
$ cross-env NODE_ENV=development parcel index.html --no-hmr --open
Server running at http://localhost:1234
⠦ Building index-nonode.js...
<--- Last few GCs --->
...
/var/folders/dc/kt06jl4n17393wmd8xmqtcsr0000gn/T/yarn--1541874315534-0.04599513967422797/node: line 3:  4868

[2018-11-11 08:18] tpw1314 opened #1566 "Missing Origin Validation during npm install"
* Operating System: Windows 10
* Node Version: v11.1.0
* NPM Version: 6.4.1
* webpack Version: 3.12.0
* webpack-dev-server Version: 3.1.10

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code
N/A

### Expected Behavior
npm install finishes without error

### Actual Behavior
[code]

### For Bugs; How can we reproduce the behavior?
On Windows environment, launch cmd and run th

[2018-11-11 08:26] Snivio opened #1567 "Webpack specified host not working on Windows"
* Operating System: Windows
* Node Version: 8.11.1
* NPM Version: 5.6.0
* webpack Version: 4.20.2
* webpack-dev-server Version: 3.1.9

- [Webpack not running on specified host in the code as 0.0.0.0 on windows but works on others  ]
- [Require it to work on windows as well ]

### Code
[code]

[code]

### The code should run on windows on host :0.0.0.0

### it works on other OS on that host on wind

[2018-11-11 08:48] tpw1314 commented on #1566
I remember the first time I installed laravel via composer + npm install, there was not a problem at all. However, I had to re-install a fresh laravel project so I ended up just 'Right click' and delete the project folder.
After few busy weeks I now decided to have fresh laravel project and then run ```npm install``` and boom.

[2018-11-11 19:55] webmasterslava opened #1568 "mime.define() doesn't have "force=true" argument"
mime.define() doesn't have "force=true" argument, therefore setting mimeTypes options falls with error:
[code]

[2018-11-11 19:58] #1568 closed

[2018-11-12 02:54] cinderblock opened #1569 "listeningApp is defined late and cannot be used in before/after functions"
* Operating System: `Windows 10`
* Node Version: `v8.11.2`
* NPM Version: `5.6.0`
* webpack Version: `4.25.1`
* webpack-dev-server Version: `3.1.10`

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

Fails: `Cannot read property 'address' of undefined`
[code]

Yes, in this simplistic example, I recognize that I could hard code or add a variable `port` that is shared betwe

[2018-11-12 03:38] cinderblock opened #1570 "No way to have multiple remote IPs have different headers on proxied requests"
* Operating System: `Windows 10`
* Node Version: `v8.11.2`
* NPM Version: `5.6.0`
* webpack Version: `4.25.1`
* webpack-dev-server Version: `3.1.10`

- [ ] This is a **bug**
- [x] This is a **modification** request

### Problem

Currently, there seems to be no easy way to programmatically use different headers for different remote clients. This is critical for testing certain backend features, esp

[2018-11-12 04:30] seeliang commented on #262
@thenewguy  you will need

and you may need

[2018-11-12 08:12] ItamarShDev opened #1571 "Build and live Reload"
* Operating System: Ubuntu 18.10
* Node Version: 8.11.3
* NPM Version: 5.6.0
* webpack Version: 3.8.1
* webpack-dev-server Version: 2.9.4

- [ ] This is a **bug**
- [x] This is a **modification** request

### Expected Behavior
Ability to build the app and live reload it
### Actual Behavior
no happening (or otherwise, unknown how to achieve is

### For Features; What is the motivation and/or use-ca

[2018-11-12 09:42] evilebottnawi commented on #1571
@ItamarShDev just setup you port, what is problem i can't understand

[2018-11-12 09:43] ItamarShDev commented on #1571
@evilebottnawi which port?
if i set the webpack to be same as the server, then they are conflicted.

[2018-11-12 09:44] evilebottnawi commented on #1570
@cinderblock can you describe use case more verbosely with examples?

[2018-11-12 09:55] evilebottnawi commented on #1571
@ItamarShDev it is hard to understand what you want, maybe you can create minimum reproducible test repo and what you expected?

[2018-11-12 09:57] evilebottnawi commented on #1566
Please this create issue in `laravel-mix`. you use old `webpack-dev-server` version in `laravel-mix`

[2018-11-12 09:57] #1566 closed

[2018-11-12 09:59] evilebottnawi commented on #1567
Can't reproducible , what is not works as expected? Maybe you can create minimum reproducible test repo?

[2018-11-12 10:01] ItamarShDev commented on #1571
I will try.
What i want is to be able to run production compilation in dev-server, with hot reload.
Its sounds to me like an unfeasible idea, and I wanted to just ask

[2018-11-12 11:18] aprilmintacpineda commented on #1489
I'm experiencing this same error, but in my case the process exits after a while after ctrl+c.

This is the output I get after `CTRL+C`:

![image](https://user-images.githubusercontent.com/21032419/48344293-9481cd00-e6af-11e8-809c-4c865bafbed5.png)

I know that the dev-server is still running because when I run the server again, it would complain that the port is already occupied and I have to man

[2018-11-12 11:19] evilebottnawi commented on #1489
@aprilmintacpineda Looks problem in `babel-node` here

[2018-11-12 11:54] aprilmintacpineda commented on #1489
I see, after doing only `webpack-dev-server --config webpack/start.js` it exited with no error. But then would need to refactor my codes for the build script to work without `babel-node`. Any suggestion?

[2018-11-12 12:00] evilebottnawi commented on #1489
@aprilmintacpineda better create issue in `babel-node`, we just listen `process` on `CTRL+C` and looks babel don't pass this to `webpack-dev-server` process

[2018-11-12 12:17] tanx commented on #1566
Any chance the security fix will get backported to `webpack-dev-server@2.x.x`? We're still on `react-scripts@1.x.x` yet which relies on this version range. Thanks for your consideration.

[code]

[2018-11-12 12:29] evilebottnawi commented on #1566
@tanx `webpack-dev-server@2` is deprecated and not updated anymore due a lot of bugs and security problem, sorry

[2018-11-12 21:35] cinderblock commented on #1570
I see webpack-dev-server in a development environment as an equivalent to nginx in a full production environment.

In nginx, there is a special variable [`$proxy_add_x_forwarded_for`](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#variables) just for the purpose of informing a proxied application who is actually connected.

Configurations usually look something like this:

[code]

*Note,

[2018-11-13 06:06] VishalGulati commented on #1440
Any update on this? I am also facing this with Webpack 2.10.

[2018-11-13 09:16] nikini commented on #1278
@TimvanScherpenzeel Did you manage to bypass this? I've been battling this for the last 2 days 😢

[2018-11-13 14:53] tpw1314 commented on #1566
For all of you, this issue appears to be solved by this [#1815](https://github.com/JeffreyWay/laravel-mix/pull/1815)

[2018-11-13 15:07] tanx commented on #1566
Not in `react-scripts@1.x.x` unfortunately though.

[2018-11-13 19:18] cinderblock commented on #1570
Ooops. I don't know how I missed that.

----

This is all I needed:
[code]

[2018-11-13 19:18] #1570 closed

[2018-11-14 14:46] ninofiliu commented on #1489
I've got more or less the same behavior:

1. `webpack-dev-server --open`
2. Everything works fine when dev-serving the project
3. Hit Ctrl+C
4. `localhost:8080` doesn't serve anything anymore, however the node task launched by the dev server is still running (30% of the CPU power + ~400MB of RAM)

OS: Windows
Config: HMR enabled

[2018-11-14 21:57] trusktr commented on #62
Because I'm developing a library which I need to test in a browser, but I also need to import it from the file system in Node.js applications (f.e. other Electron apps that I'm also testing).

[2018-11-14 22:04] trusktr commented on #62
Essentially `webpack-dev-server` is designed to be used while developing apps, not while developing libraries.

[2018-11-16 01:58] u9520107 opened #1572 "Retry port finding"
* Operating System: Windows 10
* Node Version: 10.12.0
* NPM Version: 6.4.1 (yarn 1.12.1)
* webpack Version: 4.21.0
* webpack-dev-server Version: 3.1.9

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

[code]

### Expected Behavior
When I start 2 instances of dev servers without specifying port, both instances can figure out available ports and start up correctly.

### A

[2018-11-16 09:46] evilebottnawi commented on #1572
@u9520107 Feel free to send a PR

[2018-11-16 13:04] RomanIsko commented on #1132
Probably since v3 is released, the link from [comment-340639565](https://github.com/webpack/webpack-dev-server/issues/1132#issuecomment-340639565) is broken. If you use v2 then correct link is https://github.com/webpack/webpack-dev-server/blob/v2/lib/Server.js#L365 or in order to find a source code you may use the keywords  `const defaultFeatures =` in `lib/Server.js`.

btw, I've solved the issue

[2018-11-16 20:31] Morgul commented on #1433
I'll second this, I have a project where even with 4GB of memory allocated it dies at least twice a day with this error.

This ran fine for weeks at a time without restarted the dev server on webpack 3. Our code didn't change between working and not. There's a memory issue in webpack-dev-server and/or webpack 4.

[2018-11-16 20:52] Chewiwehavecompany commented on #420
I tried to run the command ng serve in terminal and I get this error

getaddrinfo ENOTFOUND localhost
Error: getaddrinfo ENOTFOUND localhost
    at errnoException (dns.js:50:10)
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:92:26)

Help please

[2018-11-17 08:29] byamasu-patrick commented on #1334
Hey I am facing with the same problem too

[2018-11-17 08:58] weaponhe opened #1573 "Can webpack-dev-server serves compiled assets on disk?"
In general, webpack-dev-server serves webpack assets in memory, but the compilation is time-consuming When I need to start webpack-dev-server on different machine for various purposes, for example, e2e test. Can webpack-dev-server serves compiled assets on disk so that I can complied once and run anywhere as well as taking advantage of some options of webpack-dev-server like devServer.proxy?

[2018-11-17 13:35] evilebottnawi commented on #1573
@weaponhe use this option https://github.com/webpack/webpack-dev-server/blob/master/lib/options.json#L57, need documentation, feel free to create issue about this in webpack docs repo, thanks!

[2018-11-18 20:13] damianobarbati commented on #62
Facing same issue. @sokra @trusktr in my scenario I'm trying to write a library and in the meantime watch it in an app:

[code]

The latter does not find the "resolved" => "Form" bundle on disk because it is not written.
If I trigger separated the build, subsequent changes to form bundle do not trigger dev-server "watch".

:(

[2018-11-19 06:56] vijaypandiyan commented on #940
follow this thread and has solution for it to downgrade webpack version.
https://github.com/vuejs/vue-cli/issues/714

[2018-11-19 07:37] tpw1314 commented on #1566
Please refer to [this issue](https://github.com/JeffreyWay/laravel-mix/issues/1809). Apparently it is not fixed yet.

[2018-11-19 20:48] kontrollanten commented on #1334
@byamasu-patrick for me it was solved by installing `webpack-dev-server`. I guess it was included in `webpack` before.

[2018-11-20 13:20] SkyCo commented on #183
Maybe you could try it that turn "Global Mode" to "Auto Proxy Mode" in ShadowsocksX.

[2018-11-20 16:17] jrweinb opened #1574 "spdy break content when you use difference protocols for dev server and proxy"
* Operating System: MacOS High Sierra v 10.13.6
* Node Version: 8.9.2
* NPM Version: 6.4.1
* webpack Version: 4.26.0
* webpack-dev-server Version: 3.1.10

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]
I added the Accept-Encoding header per this advice: [https://github.com/webpack/webpack-dev-server/issues/354](https://github.com/webpack/webpack-dev-server/issue

[2018-11-20 17:18] evilebottnawi commented on #1574
@jrweinb can you create minimum reproducible test repo?

[2018-11-20 17:57] fortinmike commented on #1373
Thanks @dandohotaru, this works for us too. We didn't have to revert to earlier versions of the packages; just adding the `publicPath` did the job (we already had `historyApiFallback` so I can't comment on the effect of that).

[2018-11-20 20:23] samsam2310 opened #1575 "Get mime type "application/octet-stream" for wasm files"
* Operating System: ArchLinux
* Node Version: v11.0.0
* NPM Version: 6..4.1
* webpack Version: 4.26.0
* webpack-dev-server Version: 3.1.10

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior
.wasm files should have "application/wasm" content type.

### Actual Behavior
Got "application/octet-stream"

### For Bugs; How can we reproduce the behav

[2018-11-20 20:35] evilebottnawi commented on #1575
@samsam2310 can't reproduce, please create minimum reproducible test repo

[2018-11-20 20:36] #1573 closed

[2018-11-20 20:37] evilebottnawi commented on #1571
Don't use this server for `production`.

[2018-11-20 20:37] #1571 closed

[2018-11-20 23:06] ItamarShDev commented on #1571
Not what I've meant.
I use it to develop.

[2018-11-20 23:19] kimberli commented on #1433
Agreed with above. I recently upgraded from webpack 3 to 4 and started running into this issue fairly often, whereas before I never encountered this at all.

Previously, we were on webpack 3.12.0 and webpack-dev-server 2.11.3, and now we're on webpack 4.22.0 and webpack-dev-server 3.1.10. Happy to provide more debugging info if needed.

Operating System: Ubuntu 18.04
Node Version: 9.11.2
NPM Versi

[2018-11-21 02:23] stefanayres opened #1576 ".."
* Operating System:
* Node Version:
* NPM Version:
* webpack Version:
* webpack-dev-server Version:

- [ ] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior

### Actual Behavior

### For Bugs; How can we reproduce the behavior?

### For Features; What is the motivation and/or use-case for the feature?

[2018-11-21 08:13] samsam2310 commented on #1575
Hi @evilebottnawi

Here is the test repo: https://github.com/samsam2310/wp-bug/blob/master/package.json
I have tried this and got the same result, hope this will help.

Thanks

[2018-11-21 10:12] #1576 closed

[2018-11-21 10:34] connecteev commented on #1566
Seeing the same. This issue hasn't been fixed yet.

[2018-11-21 13:33] MatTheCat commented on #1240
The setup is complicated because [the documentation](https://webpack.js.org/configuration/dev-server/#devserver-public) saying

is wrong. The URL is actually built from `__resourceQuery`, which makes no sense when using a reverse proxy.

Setting `host: '0.0.0.0'` and `disableHostCheck: true` is a hack to circumvent the host being wrong but there is no hack for the port.

Removing [this condition](

[2018-11-21 23:22] ehsanul commented on #1021
The new PR is here: https://github.com/webpack/webpack-dev-server/pull/1553

[2018-11-22 13:55] Cristy94 commented on #400
Any updates on this?  I need to have two  hostnames, one for local one for LAN connection from other PCs, I need to use a hostname so that the HTTPS certificate work locally. (local.site.com and pc1.site.com)

[2018-11-23 00:18] anto-christo opened #1578 "Electron application using dev-server cannot resolve any node module that is added to webpack externals"
I am trying to build an Electron application using Vue.js. I am using webpack-dev-server to run the electron app in development mode.

In the webpack config I am adding all my node modules to the externals array since I do not want them to be bundled.

The webpack development server gets started successfully without any error and the application is also launched as expected but I get the following

[2018-11-23 09:18] evilebottnawi commented on #1578
Looks you have invalid configuration, can you create minimum reproducible test repo?

[2018-11-23 10:11] Download commented on #1566
Same here

[2018-11-24 10:18] vog commented on #854
Note that generating a self-signed certificate with SAN is a lot easier than any of the long commands specified here. In particular, you do not need to know the location of the OpenSSL config file in your system. It is described in the following StackOverflow answer:

* https://stackoverflow.com/a/41366949/19163

[2018-11-25 14:54] zzis commented on #1433
The same issue, webpack dev server dies every 10 times re-compile the code.
webpack: 4.12.0
webpack-dev-server: 3.1.4

[2018-11-25 16:20] kistora commented on #875
I'm on ubuntu 18.04 and i fix this issue following [Visual Code guidelines](https://code.visualstudio.com/docs/setup/linux#_visual-studio-code-is-unable-to-watch-for-file-changes-in-this-large-workspace-error-enospc).

Hope it will help.

[2018-11-26 10:07] samsam2310 commented on #1575
Hi @evilebottnawi
It seems like package "send" use a old version of node mime package, therefore, the .wasm file has wrong mime type.

[2018-11-26 10:15] evilebottnawi commented on #1575
@samsam2310 feel free to send a PR with fix

[2018-11-26 11:33] JerryChin commented on #522
Can't capture runtime errors, what a big disappointment.

[2018-11-26 17:13] proliuk commented on #1566
=== npm audit security report ===

                                 Manual Review
             Some vulnerabilities require your attention to resolve

          Visit https://go.npm.me/audit-guide for additional guidance
[code]

Already, what we can do with this vulnerabilities? Do it works in a local server?

[2018-11-27 00:34] rhys-vdw commented on #1479
Can confirm we're still experiencing this at webpack-dev-server 3.1.10, macOS 10.13.6

**cc** @nfm confirm whether you're still experiencing this one?

[2018-11-27 02:39] mathstracted commented on #875
Not sure if the same issue is happening for other that is happening for me.
My problem was that I had created a class but had forgotten to export it. And I started to use the class directly in one of other typescript file in the same module without having to export it. The ide I was using was vs code. I guess it thought the class was in global module and just didn't report error.
In my bundled cod

[2018-11-27 08:14] realtebo commented on #950
Sorry, I've the same problem; how did your solved?

[2018-11-27 10:15] evilebottnawi commented on #1479
Please create minimum reproducible test repo

[2018-11-27 10:18] Younghun-Jung opened #1579 "webpack-dev-server proxy has an error [HPE_INVALID_CHUNK_SIZE]"
* Operating System: macOS Mojave
* Node Version: 9.4.0
* NPM Version: 5.6.0
* webpack Version: 4.25.1
* webpack-dev-server Version: 3.1.10

- [x ] This is a **bug**
- [x ] This is a **modification** request

### Description
I use webpack-dev-server on my project. Project uses Spring boot + Tiles + Vue + webpack.
In local environment, Front-end port uses 8080 and webpack-dev-server port is 9090. Bu

[2018-11-27 10:20] evilebottnawi commented on #1579
Problem on your side, `502 (Bad Gateway)` says what proxy server doesn't response

[2018-11-27 10:50] evilebottnawi commented on #1479
@danburzo What os i need to reproduce?

[2018-11-27 10:58] rhys-vdw commented on #1479
OS:

[code]

Using the above repo:

![wds-kill-failure](https://user-images.githubusercontent.com/822105/49077459-70b5ae00-f28f-11e8-82e3-e61ddd375f12.gif)

Every time the progress bar is duplicated I am pressing `^C`. Also I need to press it to bring the prompt back at the end.

[2018-11-27 11:03] rhys-vdw commented on #1479
(Note that @nfm is experiencing this on Ubuntu so it's not just macOS)

[2018-11-27 11:47] samsam2310 commented on #1575
Hi @evilebottnawi
The "send" package is used by express.js, so I think there is no need to add a new pr.
But we need to wait for the next release of  express.js.

[2018-11-27 11:54] Younghun-Jung commented on #1579
I solved this problem.
I did not configure connection options like below.

[code]

[2018-11-27 11:55] evilebottnawi commented on #1579
@Younghun-Jung :+1:

[2018-11-27 11:55] #1579 closed

[2018-11-27 11:55] evilebottnawi commented on #1575
@samsam2310 Do you have link on `express.js` issue?

[2018-11-27 12:16] samsam2310 commented on #1575
@evilebottnawi You can take a look about the PR I posted above : https://github.com/pillarjs/send/pull/154

It seems like it should be released with send@0.16.2, but it didn't.
And this issue https://github.com/pillarjs/send/pull/154 says it will be released with express@4.17, but 4.17 disappeared and it seems like the next release will be 5.0.0 (There is a new release 5.0.0-alpha).
So, ... I don'

[2018-11-27 12:40] samsam2310 commented on #1575
@evilebottnawi
I don't think this can fixed, or, for now it can't.
It seems like there isn't express@4.17, the latest release is 4.16.4.
And the issue is caused by send@0.16.2 (bind with express.js) which lock mime to @1.4.1, and the latest release of send is released on Feb 8, 2018.

[2018-11-27 12:49] evilebottnawi commented on #1575
@samsam2310 hm, here PR https://github.com/expressjs/express/pull/3778/files, maybe we need workaround before this will be released

[2018-11-27 12:52] samsam2310 commented on #1575
@evilebottnawi ok, I can make a PR with a workaround solution.

[2018-11-27 17:19] ajorquera commented on #1404
doing `npm install webpack-cli` worked for me

[2018-11-27 19:20] killemth opened #1581 "Hostname Mapping in Dev-Server"
How can you define different entry points in the dev-server based on hostname?

For example, host1.localhost should serve content from the folder /entry1, and host2.localhost should serve content from the folder /entry2.

[2018-11-27 20:49] ashleymoogle opened #1582 "Sockjs instances keeps piling up - creating multiple reload each time"
* Operating System: MacOs Mojave 10.14.1
* Node Version: 9.4.0
* NPM Version: 5.6.0 / Yarn 1.6.0
* webpack Version: 4.25.1
* webpack-dev-server Version: 3.1.10

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

webpack-dev-server keeps adding instances of sockjs each time I make a modification in the code and HMR is triggered which in turn causes the app to reload each ti

[2018-11-27 21:00] evilebottnawi commented on #1582
Try to don't use `inline`, without reproducible test repo i can't help and issue will be closed

[2018-11-27 22:10] ashleymoogle commented on #1582
I found the issue:
I have a plugin that inject the js bundle in my html entry point and for some reasons it keeps injecting the bundle and the bundle bundle.hot-update.js so it keeps piling up

[2018-11-28 03:51] EdgardoRodriguezSolano commented on #875
Live-reload was not working for me. This might be a really dumb error, but I had missed (or deleted) the `<meta charset="utf-8" />` tag in the `<head></head>` section of my index.html. It's working like a charm now.

[2018-11-28 09:45] evilebottnawi commented on #1582
@ashleymoogle looks problem in plugin, maybe you can create minimum reproducible test repo with plugin

[2018-11-28 13:32] evilebottnawi commented on #1479
@danburzo Awesome, reproduce problem on `linux` (`Ubuntu`) too

[2018-11-28 14:30] evilebottnawi commented on #1479
One interesting thing - it is happens when you try to `require('webpack')`, if you change this on `console.log` all works fine

[2018-11-28 15:42] evilebottnawi commented on #1479
Problem found, we use `server.close` before run `process.exit` (close all connections, watchers and etc stuff). `server.close` use `webpackDevServer.close` method, what use `watching.close` (when you in not lazy mode - using `webpack-dev-server`), but `watching.close` wait until all was compiled.

What we need to fix all problem with `CRTL+C`:
1. Implement `Watching.kill()` method in webpack
2. Ad

[2018-11-28 16:45] killemth commented on #1581
It seems that the dev-server can be manipulated to change the content it serves by intercepting the request as per below.

`    before: function (app, server) {
      app.get('/', function (req, res, next) {
        console.log(req.hostname);
        if (req.hostname.indexOf('host1') === 0) {
          console.log('changing route');
          res.sendFile(path.resolve(__dirname, '../dist/entry1/in

[2018-11-28 17:11] evilebottnawi commented on #1581
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-11-28 17:11] #1581 closed

[2018-11-28 23:09] kubatek94 commented on #1240
@MatTheCat Actually there is a hack for the port - it needs to be 0.
I have following config and it works nicely behind reverse proxy:

`
        devServer: {
            host: '0.0.0.0',
            port: '7654',
            hot: true,
            inline: true,
            disableHostCheck: true,
            public: '0.0.0.0:0'
        },
`

With such config, due to setting public to '0.0.0.0:0',

[2018-11-28 23:10] kubatek94 commented on #400
@Cristy94

I have following config and it works nicely behind reverse proxy:

`
        devServer: {
            host: '0.0.0.0',
            port: '7654',
            hot: true,
            inline: true,
            disableHostCheck: true,
            public: '0.0.0.0:0'
        },
`

With such config, due to setting public to '0.0.0.0:0', it works because:
- hostname is overridden to use window

[2018-11-29 09:43] evilebottnawi commented on #1240
We can do this in next major release

[2018-11-29 09:58] kwzm opened #1583 "Map is undefined in ie9"
* Operating System: win7 64bit
* Node Version: 8.12.0
* NPM Version:  6.4.1
* webpack Version:  4.9.1
* webpack-dev-server Version: 3.1.9

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

use create-react-app

### Expected Behavior

webpack-dev-server can run in ie9

### Actual Behavior

I use create-react-app init a application, and view the page in ie9 in dev environme

[2018-11-29 10:01] montogeek commented on #1583
Try with `https://github.com/zloirock/core-js#map` not `Array.prototype.map`

[2018-11-29 10:15] evilebottnawi commented on #1583
Please post this issue in `create-react-app`

[2018-11-29 10:15] #1583 closed

[2018-11-29 13:12] sbergotts commented on #247
I think it would be a good thing to have because it would allow tool makers to plug a custom logger on emitted stats. Right now that is not possible.

[2018-11-29 13:45] kwzm commented on #1583
@montogeek Thanks I will try.

[2018-11-30 00:49] lnorton89 commented on #1433
I'm also getting this issue recently after my project started to increase in size.

[code]

[code]

[2018-11-30 01:44] kwzm commented on #1583
@montogeek I tried it, but didn't work, I guess maybe is create-react-app's bug as @evilebottnawi  said.

![default](https://user-images.githubusercontent.com/16114101/49263202-7aeccd80-f484-11e8-96b2-9032c022ca63.PNG)

[2018-11-30 03:16] lnorton89 commented on #1433
Gotcha, can confirm it persists after updating as well.

[code]

[2018-11-30 03:41] DawgOnKing commented on #1566
Still not resolved as of this evening. Fresh laravel install on Amazon AMI still shows report. Working locally but I haven't tried to deploy.

[2018-11-30 17:33] mayacoda commented on #851
We have a Vue app using webpack-dev-server and encountered the same issue (using version 2.11.3, but it persisted with newer versions as well). After a lot of digging, turns out our problem was multiple websocket connections, specifically [SockJS](https://github.com/sockjs/sockjs-client) instances, spawning on application load and causing each other to time out and disconnect. The SockJS documenta

[2018-11-30 23:31] AnujRNair opened #1584 "Missing module dependency between shared and async bundles causing code updates to disappear"
* Operating System: Mac
* Node Version: 10.1.0
* NPM Version: 6.0.1
* webpack Version: 4.26.1
* webpack-dev-server Version: 3.1.10

- [x] This is a **bug**
- [ ] This is a **modification** request

### Overview
I'm not sure if this is a webpack or a webpack dev server bug, but it looks like there might be a missing module dependency between async and shared bundles in some edge cases.

At @slackhq

[2018-12-01 01:12] indirectlylit commented on #1051
I don't claim to understand why, but for me the `addServerEntrypoints` call was not enough.

I also had to modify `config.entry` as [described here](https://github.com/webpack/docs/wiki/webpack-dev-server#hot-module-replacement-with-nodejs-api), in particular:

[code]

[2018-12-01 12:57] siosonel opened #1585 "4"
* Operating System:
* Node Version:
* NPM Version:
* webpack Version:
* webpack-dev-server Version:

- [ ] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior

### Actual Behavior

### For Bugs; How can we reproduce the behavior?

### For Features; What is the motivation and/or use-case for the feature?

[2018-12-01 13:44] #1585 closed

[2018-12-01 23:49] RobertChanphakeo commented on #1141
webpack-dev-server serves from memory. If you want to see the files on disk during development with webpack-dev-server, you'll need to run the standard webpack. See https://stackoverflow.com/questions/41928358/webpack-how-to-compile-write-on-disk-and-serve-static-content-js-css-using-w/41928812#41928812

[2018-12-01 23:50] RobertChanphakeo commented on #1141
webpack-dev-server runs in memory, If you want to see the files on disk during development you need to run the standard webpack. See https://stackoverflow.com/questions/41928358/webpack-how-to-compile-write-on-disk-and-serve-static-content-js-css-using-w/41928812#41928812

[2018-12-01 23:52] RobertChanphakeo commented on #1141
webpack-dev-server runs in memory, If you want to see the files on disk during development you need to run the standard webpack or set writeToDisk to true (https://github.com/webpack/webpack-dev-server/releases/tag/v3.1.10)

[code]

[2018-12-02 19:45] bennyn commented on #1051
Setting up [Hot Module Replacement](https://webpack.js.org/concepts/hot-module-replacement/) with webpack-dev-server via the Node.js API is pretty tricky.

When using the CLI, all I had to do was adding `new webpack.HotModuleReplacementPlugin()` in the `plugins` section of my `webpack.config.js` and it worked by simply executing `webpack-dev-server`. As an alternative, I could run `webpack-dev-ser

[2018-12-03 10:13] evilebottnawi commented on #1584
@AnujRNair i think better create issue in `webpack`, we just webpack server and run `webpack` using api

[2018-12-03 13:54] italoborges commented on #793
For Webpack 4 and OSX10, I had to add changeOrigin property to make it work.

{
  historyApiFallback: true,
  contentBase: './static',
  port: 9095,
  proxy: {
    '/api/**': {
      target: 'http://another-url',
      pathRewrite: {
        '^/api': '',
      },
      secure: false,
      **changeOrigin: true**,
      logLevel: 'debug',
    },
  },
};

[2018-12-03 17:42] AnujRNair commented on #1584
@evilebottnawi thanks! I posted an issue there: https://github.com/webpack/webpack/issues/8455

[2018-12-03 17:42] #1584 closed

[2018-12-03 19:18] george-norris-salesforce commented on #1160
https://github.com/webpack/webpack-dev-server/tree/master/examples/hmr is a broken link

[2018-12-04 10:43] SergeShkurko commented on #641
My solution to a similar problem with `webpack multi compiller` & `react` & `HMR`

I have 2 sub projects: app & widget

App located at `localhost:8080/*` (except `localhost:8080/widget`)
Widget located at `localhost:8080/widget`

### webpack.config.js
[code]

### dev-server.js
[code]

And... add `react-hot-loader` in app & widget entrypoints

Works great 👍

[2018-12-04 16:35] SilentGert commented on #793
For us setting the header `Connection: keep-alive` did the trick. Requests were handled by the backend server and a response was sent as well, nevertheless we saw the error `ECONNRESET` for some of the API requests before.

[code]

[2018-12-04 18:06] markleppke opened #1587 "Installed 3.1.10 and now my application won't compile"
* Operating System: Windows 10 : version 1803
* Node Version: 10.14.1
* NPM Version: 6.5.1
* webpack Version:
* webpack-dev-server Version: 3.1.10

- [x] This is a **bug**
- [ ] This is a **modification** request

### Expected Behavior
Application would compile

### Actual Behavior
Fails to compile and gives the following error
Module not found: Error: Can't resolve 'loglevel' in 'C:\Source\Portal

[2018-12-04 18:14] evilebottnawi commented on #1587
@markleppke `npm cache clean`/`yarn cache clean`

[2018-12-04 18:14] #1587 closed

[2018-12-04 22:01] #1552 closed

[2018-12-05 02:41] duanbowen commented on #1278
@nikini  https://github.com/vuejs/vue-cli/issues/1789 , maybe, it can help you.

[2018-12-05 08:35] alzuma commented on #924
Why this is closed? It is a normal use case to check etag with HEAD request. This `req.method = 'GET';` is just unneeded hacking.

[2018-12-05 11:37] evilebottnawi commented on #1491
@odinho fixed in https://github.com/webpack/webpack-dev-server/issues/1491, will be shipped in near future

[2018-12-05 11:37] #1491 closed

[2018-12-06 09:58] ItsJepser commented on #1381
@se7en00 I see you closed this issue, is this fixed? If yes, how did you fix it?

[2018-12-06 12:47] evilebottnawi commented on #851
Somebody can create minimum reproducible test repo?

[2018-12-06 16:48] yamsellem opened #1591 "devServer.public not used by hot-update.json"
* Operating System: debian stretch
* Node Version: 6.11.1
* NPM Version: 3.10.10
* webpack Version: 4.27.0
* webpack-dev-server Version: 3.1.10

- [x] This is a **bug**
- [ ] This is a **modification** request

Configuring `devServer.public` to a custom domain only updates the hot-reload socket GET calls, but not the hot-modules GET calls. It seems that there are no ways to configure the later.

A

[2018-12-06 16:51] evilebottnawi commented on #1591
PR welcome

[2018-12-06 16:52] yamsellem commented on #1591
@evilebottnawi thanks for your quick answer. Your speed of answer made me consider this is a known issue, is this?

[2018-12-06 16:54] evilebottnawi commented on #1591
@yamsellem not sure it is bug, i think it is feature, a lot of issue and PRs, hard to say

[2018-12-06 16:55] yamsellem commented on #1591
@evilebottnawi ok, I take a look of how it can be done. Are we agree the `output.public` should also change the __hmr domain from where the hot-updates files are served?

[2018-12-06 17:12] evilebottnawi commented on #1591
@yamsellem not sure, need look code, feel free to send a PR and we will find

[2018-12-07 11:46] nzapponi opened #1592 "webpack-dev-server failing on Node v11.3 due to SPDY module"
* Operating System: macOS v10.14
* Node Version: v11.3.0
* NPM Version: 6.4.1
* webpack Version: 3.5.1
* webpack-dev-server Version: 2.8.2

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior
The server should not crash at the first request

### Actual Behavior
Webpack compiles successfully but the server crashes at the first request

### For B

[2018-12-07 11:47] nzapponi commented on #1592
https://github.com/spdy-http2/node-spdy/issues/350

[2018-12-07 11:53] evilebottnawi commented on #1592
Thanks for issue, maybe we can find workaround

[2018-12-07 18:49] SharakPL commented on #1566
`npm install laravel-mix@beta` fixes the problem

[2018-12-08 07:20] SolidZORO opened #1593 "cannot get dot start file, e.g. env.js"
Cannot GET /.env.js

but rename `.env.js` to `env.js` is can be GET.

[2018-12-10 08:37] evilebottnawi commented on #1593
Please use issue template

[2018-12-10 20:30] runarberg opened #1594 "Allow absolute URL as the `openPage` option"
* Operating System: Ubuntu 18.04
* Node Version: 11.2.0
* NPM Version: 6.4.1
* webpack Version: 4.26.1
* webpack-dev-server Version: 3.1.10

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

[code]

### Expected Behavior

Browser should open a page at http://test.example/

### Actual Behavior

Browser opens a page at http://localhost/http://test.example/

### For Bugs; Ho

[2018-12-10 21:38] enbermudas commented on #1566
@SharakPL options actually fixes the problem. Thanks a lot!

[2018-12-11 03:44] Jvalal commented on #1566
this did not fix it for me.

![image](https://user-images.githubusercontent.com/3803053/49777129-f2f09a00-fcb3-11e8-89cc-f71c42ba16d3.png)

[2018-12-11 08:51] evilebottnawi commented on #1594
It is bug, we need fix it, feel free to send a PR

[2018-12-11 17:14] napindc commented on #803
@ActionScripted Do you know why the below doesn't have my headers show up in my browser (when I try to inspect one of my POST requests)? I know the proxy is somewhat working, because when I change the “target” below, I get a bunch of errors.

[code]

[2018-12-11 21:31] LaravDev commented on #1566
i did this and worked, but i have some kind of issue with babel-core now, guess it's a separated issue

[2018-12-12 07:16] aprilmintacpineda opened #1595 "allow us to exclude certain files from the HMR"
* Operating System: MacOS
* Node Version: 11.3.0
* NPM Version: 6.5.0
* webpack Version: 4.27.1
* webpack-dev-server Version: 3.1.10

- [x] This is a **bug**
- [x] This is a **modification** request

### Code

Sorry for not posting my config, I don't think it's related to that.

I'm using [worker-loader](https://github.com/webpack-contrib/worker-loader) which basically allows us to turn certain fi

[2018-12-12 09:28] shengbeiniao opened #1596 "sockjs proxy when use xhr-streaming failed"
My webpack-dev config like this
[code]
websocket can proxy correctlly.

But when I change the transports,just use xhr-streaming,the proxy will failed.
[code]
I debug sockjs-client code,just tell me **Transport timed out**.
If I directly connect the remote server,xhr-streaming works well~

[2018-12-12 09:38] evilebottnawi commented on #1596
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-12-12 09:38] #1596 closed

[2018-12-12 09:39] evilebottnawi commented on #1595
@aprilmintacpineda problem in `worker-loader`, anyway you need reproducible test repo

[2018-12-12 11:49] lolz42 opened #1597 "Error: EPERM: operation not permitted, stat 'D:\System Volume Information'"
* Operating System: Windows 10.0.17134
* Node Version: 11.4.0
* NPM Version:  6.5.0
* webpack Version: 4.26.0
* webpack-dev-server Version: 3.1.10

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior
Seeing website on localhost: 9000 (or other port)
### Actual Behavior
Seeing "Error: EPERM: operation not permitted, stat 'D:\System Volum

[2018-12-12 11:50] evilebottnawi commented on #1597
Looks like you have virus or Trojan in you environtment

[2018-12-12 11:51] evilebottnawi commented on #1597
Please create minimum reproducible test repo

[2018-12-12 12:34] lolz42 commented on #1597
`
const path = require("path");
const HtmlWebpackPlugin = require("html-webpack-plugin");
const webpack = require("webpack");

module.exports = {
  entry: {
    main: "./src/index.js"
    // second: './src/js/helper.js',
  },
  output: {
    filename: "js/[name].[hash].js",
    path: path.resolve(__dirname, "dist"),
    publicPath: "dist/"
  },

  devServer: {
    contentBase: "/",
    compress: t

[2018-12-12 12:36] evilebottnawi commented on #1597
@lolz42 **minimum reproducible test repo**, no need copy/paste config here, because it is unreadable

[2018-12-12 12:49] lolz42 commented on #1597
Is there any fix for this or I should reinstall my OS?

[2018-12-12 12:54] evilebottnawi commented on #1597
@lolz42 i don't know, you need investigate who touch your system files and fix problem(s), maybe use antivirus or reinstall os, i am not computer doctor, sorry.

[2018-12-12 12:54] #1597 closed

[2018-12-12 18:19] debs-obrien opened #1598 "webpack 5 install 'url' and 'events' as a dependency"
* Operating System: Mac OS
* Node Version: v10.11.0
* NPM Version: 6.4.1
* webpack Version: 5
* webpack-dev-server Version: 3.1.10

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior

### Actual Behavior
[code]
after adding the alias to the webpack.config I get this error
[code]

### For Bugs; How can we reproduce the behavior?
Run the webpack

[2018-12-12 18:52] TheLarkInn commented on #1598
This is a good _second timer_ issue to PR.

It can be a pain because you have to:
Clone, make change, build, then _yarn link_, and then link locally in a webpack 5 project but since fix is the easy part I'll mark this as Help Wanted

[2018-12-13 00:39] glenjamin commented on #1598
The fix for `events` needs to go into webpack itself, see https://github.com/webpack/webpack/pull/8494

[2018-12-13 09:21] #1598 closed

[2018-12-16 10:56] tpw1314 commented on #1566
Anyone manage to run npm install laravel-mix without hitting any error even after a month ?

[2018-12-16 15:55] deepeshmadkar commented on #1566
yes i am also getting the same issues.

[2018-12-18 00:19] connor11528 commented on #1334
Kind of sketch because when I downgrade npm gives a notification that there is a high severity vulnerability

[code]

Downgrading version does fix this with vue-cli

[2018-12-19 19:17] rschultheis commented on #1445
👋 Hi I am looking at this issue as it seems to relate to these security advisories:
- https://nvd.nist.gov/vuln/detail/CVE-2018-14732
- https://www.npmjs.com/advisories/725

As far as I can tell, [the fix commit](https://github.com/webpack/webpack-dev-server/commit/f18e5adf123221a1015be63e1ca2491ca45b8d10) has not made it to master nor been released?  Both the NPM Advisory and CVE report a fix ver

[2018-12-20 09:35] evilebottnawi commented on #1445
this package should be used only for `development` purpose, so it is not very high priority

[2018-12-20 11:59] KishanIos007 opened #1601 "SyntaxError: missing ) after argument list"
I am running the old ionic 1 project in winodws and when I installed all the dependencies via yarn it successfully installed but when I run the project using `npm start ` I got this

[code]

* Operating System:Windows
* Node Version: 6.11.2
* NPM Version:3.10.10
* webpack Version:
* webpack-dev-server Version:

I don't know whats wrong.. can anyone help me out please ?

[2018-12-20 12:03] evilebottnawi commented on #1601
Something wrong in your environment, maybe something in `bashrc` or related files. We don't have this lines in our code base. Sorry i can't help you here.

[2018-12-20 12:03] #1601 closed

[2018-12-20 13:00] #1593 closed

[2018-12-20 13:14] tseho commented on #1591
@yamsellem I had the same issue as you and I found out the urls for `hot-update.json` are using the `output.publicPath`, not the `devServer.publicPath`.

In our project, we have no issue using `output.publicPath` for webpack in dev.

The code responsible for the path generation is there: [webpack/lib/MainTemplate.js](https://github.com/webpack/webpack/blob/9fe42e7c4027d0a74addaa3352973f6bb6d20689/

[2018-12-20 13:34] gustavomassa opened #1602 "ConcurrentCompilationError"
* Operating System: Windows 10 Pro 64bits
* Node Version: 10.14.0 (LTS)
* NPM Version: 6.4.1
* webpack Version: 4.27.1 and below
* webpack-dev-server Version: 3.1.10

- [x] This is a **bug**

### Code

[code]

[code]

### ERROR Info
[code]

### For Bugs; How can we reproduce the behavior?
It's lottery, async synchronization issue, sometimes it works fine, sometimes it doesn't. Just exec "npm run d

[2018-12-20 13:43] evilebottnawi commented on #1602
Looks problem in `webpack`, please create minimum reproducible test repo

[2018-12-20 16:31] evilebottnawi commented on #1601
@KishanIos007 please use `stackoverflow` or `gitter` for this ,it is bug tracker, i don't know what is wrong with your environment

[2018-12-20 16:34] KishanIos007 commented on #1601
Okay Thanks actually I go through many stackoverflow questions but I am confused whether they are related to my question or not .. Thant's why posted question over here.. bcz its related to this package..

[2018-12-20 16:38] evilebottnawi commented on #1601
@KishanIos007 we don't have provided code in our code so i can't help, how i can reproduce problem?

[2018-12-20 16:39] evilebottnawi commented on #1601
@KishanIos007 just imagine yourself in my place, what would you do?

[2018-12-20 16:40] KishanIos007 commented on #1601
yeah u r right my frd .. :) I don't know how u can reproduce .. I have one of client's project that I need to setup in mu system I can give u zip u just extract it and install the dependencies using yarn when I tried to run using `yarn start` .. then I got error

[2018-12-20 16:42] KishanIos007 commented on #1601
I really appreciate your efforts :)

[2018-12-20 16:42] evilebottnawi commented on #1601
@KishanIos007 please provide zip and instruction how i can reproduce problem

[2018-12-20 16:43] evilebottnawi commented on #1601
Also i see what you use `windows`, can you try it on `linux`?

[2018-12-20 16:45] KishanIos007 commented on #1601
yeah sure let me try on linux.. https://drive.google.com/file/d/1VDN70GTK8BxrzCM4FY5Dw1BVGspomV-j/view?usp=sharing

[2018-12-20 16:46] KishanIos007 commented on #1601
just extract it and run following command
1) yarn
2) yarn start

[2018-12-20 18:55] willthemoor commented on #910
Searching brought me here. Thought I'd leave a note confirming what @QoT said for future landers. It's not related specifically to webpack. I'm researching the same error but I'm not using webpack.

[2018-12-21 12:36] GaryHos commented on #1556
` devServer: {
        openPage: './pages/login/index.html',
    }`

[2018-12-21 12:44] evilebottnawi commented on #1556
@GaryHos Thanks for answer and helping

[2018-12-21 12:44] #1556 closed

[2018-12-21 18:02] evilebottnawi commented on #1445
Done in `webpack-dev-server@3.1.11`

[2018-12-21 18:02] #1445 closed

[2018-12-21 18:21] ravshansbox opened #1604 ""Invalid Host/Origin Header" warning"
# PLEASE READ

We are working on this problem. It is regression problem after fixing security error. Security issues are always high priority and we would not want to revert it, but it is require some changes in https://github.com/sockjs/sockjs-node/pull/247, we have workaround for this problem https://github.com/webpack/webpack-dev-server/pull/1608, but need some feedback. Feel free to feedback.

[2018-12-21 18:37] evilebottnawi commented on #1604
@ravshansbox it is security fix, looks you origin than you use in config, you can use `disableHostCheck: true` in you case, anyway can you create minimum reproducible test repo?

[2018-12-21 18:47] ravshansbox commented on #1604
@evilebottnawi yes, sure, here you are: https://github.com/ravshansbox/webpack-dev-server-sample

[2018-12-21 18:49] ravshansbox commented on #1604
with `disableHostCheck: true` there is no warning.

[2018-12-21 18:49] evilebottnawi commented on #1604
@ravshansbox thanks, i will look in near future, but if original is not same it is normal have this error

[2018-12-21 20:30] pkk82 commented on #1604
I have the same issue. Problem here is that browser does not send origin header at all. Here my debug of connection object

`
SockJSConnection {
  _session:
   Session {
     session_id: undefined,
     heartbeat_delay: 25000,
     disconnect_delay: 5000,
     prefix: '/sockjs-node',
     send_buffer: [],
     is_closing: false,
     readyState: 1,
     timeout_cb: [Function],
     to_tref:

[2018-12-21 21:55] bwigs commented on #1604
I am seeing this issue as well with 3.1.11.  Rolling back to 3.1.10 fixes it.

[2018-12-21 22:56] silvenon commented on #851
Not sure when this started happening, but it seems to happen in every browser. [Here's a repro](https://github.com/silvenon/repro-webpack-sockjs-error).

[2018-12-21 23:30] rpang77 commented on #1604
Also, got this issue after upgrading to 3.1.11

[2018-12-22 01:43] fengxtao opened #1605 "devserver .bypass"
# Bug report

my config:
devServer: {
		contentBase: path.resolve(__dirname, 'dist'),
		hot: true,
		inline: true,
		port: 3000,
		host: '127.0.0.1',
		// Required for webpack-dev-server.
		// outputPath: path.resolve(__dirname, 'dist'),
    disableHostCheck: true,
    proxy: {
      '/post': {
        // target: 'http://localhost:2000',
        bypass: function(req, res, proxyOptions) {

[2018-12-22 06:42] c80609a commented on #851
Works for me, `webpack.confg.js`:

[code]

[2018-12-22 06:43] lambcode commented on #1604
I also am getting this error in Firefox 64.0 with version 3.1.11. Reverting to 3.1.10 fixes it.

[2018-12-22 08:53] Akiyamka commented on #1604
I confirm, the same problem, I roll back too.

[2018-12-22 10:30] silvenon commented on #851
Works for me when I downgrade to 3.1.10. https://github.com/webpack/webpack-dev-server/issues/1604#issuecomment-449550096

[2018-12-22 13:30] juank11memphis commented on #1604
Same problem here

[2018-12-22 13:47] evilebottnawi commented on #1604
Please read https://github.com/webpack/webpack-dev-server/issues/1604#issuecomment-449465737

[2018-12-22 13:48] evilebottnawi commented on #1605
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-12-22 13:48] #1605 closed

[2018-12-22 15:03] evilebottnawi commented on #1604
Please try https://github.com/webpack/webpack-dev-server/releases/tag/v3.1.12

[2018-12-22 15:10] ravshansbox commented on #1604
I can confirm that the issue still exist.

[2018-12-22 15:48] davidpelayo commented on #1604
I can also confirm that the issue still exists

[2018-12-22 16:17] evilebottnawi commented on #1604
Please don't spam `Same problem here` or `issue still exists`, better create minimum reproducible test repo, it is allow to fix all edge cases, thanks!

[2018-12-22 16:32] 3846masa commented on #1604
Sockjs remove `Origin` header.
Ref. https://github.com/sockjs/sockjs-node/pull/247

[2018-12-22 16:38] 3846masa commented on #1604
In my opinion, it is better to revert #1603 until sockjs/sockjs-node#247 is merged.

[2018-12-22 16:39] evilebottnawi commented on #1604
@3846masa let's wait some time and revert it, maybe we can implement workaround on our side, need investigate, feel free to do it, thanks

[2018-12-22 18:33] melkishengue opened #1607 "Webpack-dev-server 3.1.12 seems broken"
* Operating System: Mac osx high Sierra
* Node Version: v 6.9.4
* NPM Version: 3.10.10
* webpack Version: 4.20.2
* webpack-dev-server Version: 3.1.12

- [x ] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior
webpack dev server should start a local dev server

### Actual Behavior
Crashes with the following error:
[code]
### For Bugs; How can we repr

[2018-12-22 18:40] 3846masa commented on #1604
I tried to add workaround (#1608).
It works and resolve this issue in my environment. Please check it.

[2018-12-22 19:09] 3846masa commented on #1607
Sorry, it's my fault.
The PR I created cannot work at Node <= 7.x.
I sent new PR for fixing.

Please use v3.1.11 until merged.

[2018-12-22 19:17] #1607 closed

[2018-12-22 19:20] evilebottnawi commented on #1604
@ravshansbox Can you test https://github.com/webpack/webpack-dev-server/pull/1608 PR?

Any who can test PR please leave feedback

[2018-12-22 19:33] evilebottnawi commented on #1604
@lbogdan `3.1.12` only fix compatibility with `node@6`, please check https://github.com/webpack/webpack-dev-server/pull/1608

[2018-12-22 20:45] carlosgeos commented on #1604
#1608 is working for me (Node 11.5.0 and SockJS 0.3.19)

[2018-12-22 22:53] scottjmaddox commented on #1365
@fitzgen I think this should be reopened. This is still an issue with `webpack-dev-server`, but no longer with normal `webpack` builds. Building with webpack and then hosting with a separate file server works fine, but hosting with `webpack-dev-server` results in the same old `RangeError: WebAssembly.Instance is disallowed on the main thread, if the buffer size is larger than 4KB. Use WebAssembly.

[2018-12-23 13:56] panzelva commented on #851
@c80609a's solution worked for me - actually simply adding `disableHostCheck: true` to devServer options worked.

[2018-12-24 01:57] jjjjose commented on #1604
@vue/cli afectado, que pasooooooooooooo

[2018-12-24 09:59] evilebottnawi commented on #1604
Please tests https://github.com/webpack/webpack-dev-server/releases/tag/v3.1.14

[2018-12-24 13:03] alan-agius4 commented on #1604
Looks like the issue has been solved. Thanks

[2018-12-24 16:37] kamilbrk commented on #1604
I'm on 3.1.14 and one could argue that my setup is a bit extreme.

I'm using `public: 'mydomain.dev'` and `port: 8070` setting in `devServer` section of the config file. Charles Proxy rewrites all requests from `mydomain.dev`, `subdomain1.mydomain.dev`, `subdomain2.mydomain.dev` etc to `localhost:8070`.

This way I have a multi-tenant environment locally, with one web app, but the behaviour is dif

[2018-12-24 16:40] evilebottnawi commented on #1604
@kamilbrk thanks for feedback, can we setup very minimum reproducible test repo? Maybe we can solve on our side without `disableHostCheck`

[2018-12-24 16:47] ravshansbox commented on #1604
The issue has been resolved. Great thanks for support. 👍👏

[2018-12-24 16:59] evilebottnawi commented on #1604
@ravshansbox let's keep it open for feedback some time :+1:

[2018-12-24 18:44] carlosgeos commented on #1604
@3846masa said:

So I tested `webpack-dev-server` version 3.1.13 and changed
`webpack-dev-server/node_modules/sockjs/lib/transport.js` to include `origin` in the `ref` array:

[code]

Therefore I guess that if sockjs includes that small change as proposed in sockjs/sockjs-node#247, this issue would also be resolved.

[2018-12-25 09:06] show-me-code commented on #1604
god , i got the same problem and it confused me, maybe i have to roll back

[2018-12-25 10:39] evilebottnawi commented on #1604
@show-me-code what you have? Problem will be solved, please check you deps version and if problem exists please create minimum reproducible test repo

[2018-12-25 10:40] evilebottnawi commented on #1604
@carlosgeos yes, please tests `3.1.14` version, we implement workaround on our side

[2018-12-25 11:56] show-me-code commented on #1604
@evilebottnawi  okay, now I may have to roll back to version 3.1.10

[2018-12-25 12:02] evilebottnawi commented on #1604
@show-me-code what? Issue was fixed in `3.1.14`

[2018-12-25 12:05] show-me-code commented on #1604
@evilebottnawi OH, I checked my version and find my version is 3.1.11, that's the reason caused problem , thanks a lot

[2018-12-25 12:17] evilebottnawi commented on #1604
Fixed in `webpack-dev-server@3.1.14`, please your deps before write, anyway feel free to feedback, thanks for helping

[2018-12-25 12:17] #1604 closed

[2018-12-25 21:16] talolard commented on #1442
@brandonwiemann This sounds like what I'm doing wrong and suffering with.
Could you shed more lite on how to link common scripts ?

[2018-12-26 15:11] szalapski commented on #565
This seemed to work better for me.

`if (module.hot) {
    module.hot.accept() // already had this init code

    module.hot.addStatusHandler(status => {
        if (status === 'prepare') console.clear()
    })
}`

See also https://stackoverflow.com/a/53933757/7453 .

[2018-12-27 04:53] neilmonroe commented on #875
The "Why webpack-dev-server Live-Reload Is Not Working" article is what everyone here should read. This contains most of the answers to the questions here that keep getting repeated.

Thanks for pointing these out, @khyamay ! It helped me understand how webpack-dev-server works.

Having local files in an output dir from webpack-cli *will cause problems*. Remove them if you are going to use the dev

[2018-12-27 11:55] AlexLeung commented on #249
After I call the close it still seems to be alive.

[2018-12-27 21:05] joe307bad commented on #1278
I can confirm this is still an issue with version 3.1.14. Anybody have an alternative to developing with webpack in IE 11?

[2018-12-28 04:36] ralph-cheng commented on #1557
@evilebottnawi

I have also encountered this problem, expcept the warnings are from a different loader (ts-loader).

Setting a proper `stats.warningsFilter`, as described in ts-loader [doc](https://github.com/TypeStrong/ts-loader#transpileonly-boolean-defaultfalse), does eliminate the warning from terminal output, but not from browser console.

I found the root cause is browser console log is coll

[2018-12-28 06:42] sudhir600 commented on #212
getting same issue in nuxt application. basically inside a function i wanted to get json data (Don't want to use axios). so my workaround was -
[code]

However, i am getting the data but with warning.

even After spending hours, didn't find proper solution so what i did is that -
in json file  -
[code]

and imported this file as `import base from '../plugins/base.js'`
then inside function just cal

[2018-12-28 09:48] wuliqiangqiang opened #1613 "the reload page and the reload hmr all doesn't work"
[code]
use nodejs boot the webpack4
[code]
webpack entry is multiple entry like
{
 a:'a.js',
 b:'b.js'
}

it cann't reload page..

the hmr function also doesn't work
add the
[code]

open the devServer.hot = true.

and push the plugins in the webpack plugin
[code]

[2018-12-28 10:21] evilebottnawi commented on #1613
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-12-28 10:21] #1613 closed

[2018-12-28 10:33] wuliqiangqiang commented on #1613
@evilebottnawi update it.

[2018-12-29 19:50] clshortfuse opened #1614 "Content-Type is returned as "null" for extension-less files"
* Operating System: Mac OS X
* Node Version: v8.11.3
* NPM Version: 6.5.0
* webpack Version: 4.18.0
* webpack-dev-server Version: 3.18

- [ ] This is a **bug**
- [X] This is a **modification** request

### webpack.config.js

[code]

### Expected Behavior

Unknown mime/types should be able to have a default.

### Actual Behavior

`Content-Type` is reported as `null` for unknown types.

### For Bugs

[2018-12-29 20:17] bigsee commented on #397
👆🏽This...

...made me look for stupid, obvious stuff and found an accidentally duplicated folder that was confusing things. 🙈

Thank you, @Offirmo!

[2018-12-30 11:43] nimatullah commented on #424
I have same issue. All above advice does not work

[2018-12-30 17:19] clshortfuse commented on #1614
I "solved" my issue using the dirtiest of hacks. It appears `webpack-dev-middleware` sends a or rewrites the Content-Type and then uses a `res.send()` or `res.end()` command. It means it has final say what is sent so no other middleware gets a chance. By the time it gets to `options.after`, it's too late.

`webpack-dev-middleware` doesn't null-check what is returned from `mime.getType()`, so it pl

[2018-12-30 17:19] #1614 closed

[2018-12-31 19:32] rosko opened #1615 "npm audit security warning"
* Operating System: All
* Node Version: Any
* NPM Version: Any
* webpack Version:
* webpack-dev-server Version: <=3.1.14

- [x] This is a **bug**
- [ ] This is a **modification** request

https://www.npmjs.com/advisories/725

[code]

[2018-12-31 19:38] klymenkoo commented on #1566
I can confirm. I'm using create-react-app.

[2018-12-31 19:54] ealexhaywood commented on #1566
As am I, latest CRA is using `webpack-dev-server@3.1.9` so I notified them in the existing issue that was opened https://github.com/facebook/create-react-app/issues/5777#issuecomment-450684848

[2018-12-31 20:18] amitozdeol commented on #1566
Issue still persist. Using fresh copy of create-react-app on Mac OS High sierra

[2018-12-31 20:46] SharakPL commented on #1604
I think this fix caused another problem. I'm using `webpack-dev-server@3.1.14` in 2 new projects and both show the same high severity vulnerability:

[2018-12-31 20:47] SharakPL commented on #1615
It's probably caused by #1604

[2019-01-01 10:09] Xamanthas commented on #1615
Still getting this issue despite the fact that I am on v3.1.14. Reinstalling does nothing

![untitled-1](https://user-images.githubusercontent.com/18110006/50571917-68f6a580-0e09-11e9-9ec1-c90285e33ccf.png)

[2019-01-01 10:37] dvvdev commented on #1566
Issue is occuring with vue/cli-service

[2019-01-01 12:38] tetrohed commented on #1566
having the same issue with creat-react-app! can somebody clarify why this is closed?! The react issue links to here and is closed as well

[2019-01-01 13:34] cc616 commented on #1604
webpack-dev-server@3.1.14 is not fixed this issue

[2019-01-01 14:39] yuri-sakharov commented on #1582
Also got polling after update to 3.1.11 and higher. There is no polling on version 3.1.10. Downgraded.

[2019-01-01 15:07] carlosgeos commented on #1604
@SharakPL https://www.npmjs.com/advisories/725/versions says all versions are affected so I think this fix had little to do with it:
![screenshot_20190101_154644](https://user-images.githubusercontent.com/5300711/50573876-9547fd00-0ddc-11e9-8210-849b2e1059d8.png)

My guess is that the npm security team judged that the package still has the vulnerability. What is weird is that in their website, the

[2019-01-01 15:18] ealexhaywood commented on #1566
Everyone who is using create react app should post here https://github.com/facebook/create-react-app/issues/5777.  Webpack has already said they are not back porting fixes.  Tell create-react-app to update their webpack dev server version.

[2019-01-01 16:02] millenjo commented on #1566
I'm getting this directly when just installing webpack-dev-server. I create a new folder, run `npm init` then `npm install webpack-dev-server --save` and i get:

[code]

when i run `npm audit`

[2019-01-01 17:31] pauldraper commented on #1615
The npmjs advisory is currently inconsistent and there is no 3.1.x patch that npm audit will allow.

https://npm.community/t/advisory-725-inconsistently-marks-affected-versions/4333

[2019-01-01 17:33] pauldraper commented on #1604
Yes, it seems the npmjs security team does not know what is going on.

Reported https://npm.community/t/advisory-725-inconsistently-marks-affected-versions/4333

[2019-01-02 01:44] palkan commented on #1566
just tried 3.1.9 – the same(

[2019-01-02 08:00] antimodern commented on #1615
Today I noticed warning, when I disconnect from the Internet while running app in Dev (Vue-cli template)

![screenshot from 2019-01-02 08-01-14](https://user-images.githubusercontent.com/45076741/50583983-28347600-0e75-11e9-9a0f-02c5d3102db7.png)

Am I being hacked?
Since when SockJS demand Internet connection and why it's needed it in the first place?

[2019-01-02 08:03] falsy commented on #1566
If you run 'npm install' on Node v8.12.0, the following error appears. (npm v6.4.1)

[code]

[2019-01-02 09:40] manishaggarwalm commented on #1615
Not working with `webpack-dev-server@3.1.14`

[2019-01-02 10:13] skreborn commented on #1615
@antimodern Don't worry, you're not being hacked. As you can see, it's trying to access a local address - most likely your own computer. The reason it fails to do so is because you've disconnected from the network, and your computer lost its IP address.

[2019-01-02 10:47] charlesfaustin commented on #1615
I'm getting the same issue, updating to 3.1.14 doesnt solve the issue, `npm audit` still returns the vulnerability after updating

[2019-01-02 11:02] Diaan commented on #1615
there seems to be a typo in the vulnerability database: https://npm.community/t/npm-audit-sweems-to-get-semver-wrong/4352/4

[2019-01-02 11:22] manishaggarwalm commented on #1615
You saved my rest of the day

[2019-01-02 14:52] fergyfresh commented on #1566
@falsy. we are seeing the same thing. I've retried it with `3.1.11` through `3.1.14` and no dice.

[2019-01-02 15:10] simPod commented on #1566
Those versions are listed as affected

![image](https://user-images.githubusercontent.com/327717/50597802-ecb39f00-0ea8-11e9-9882-daef67fc1bcd.png)

[2019-01-02 15:17] charlesfaustin commented on #1615
how can we get this typo fixed? some builds require npm audit returning a clean bill of health

[2019-01-02 15:20] Diaan commented on #1615
Not sure, but the link in my previous post is a bug-report at NPM, so maybe voting on it will help it getting resolved faster.

[2019-01-02 15:30] Diaan commented on #1615
probably not, unless they are releasing version 3.110.1 ;)

[2019-01-02 15:31] manishaggarwalm commented on #1615
Okay thanks let them do before its late

On Wed, 2 Jan 2019 at 9:00 PM, Syed Farhan <notifications@github.com> wrote:

--

*Thanks & Regards,Manish AggarwalMb: +919802551120*

*Skype: manish.aggarwalm*

[2019-01-02 15:35] evalineBai commented on #1566
This was due to a typo in the vulnerability database apparently: https://npm.community/t/advisory-725-inconsistently-marks-affected-versions/4333/3

[2019-01-02 16:06] Diaan commented on #1615
I think it is fixed, the audit passes for me.

[2019-01-02 16:46] simPod commented on #1566
On the 1st January I contacted NPM. Should be just fine now

![image](https://user-images.githubusercontent.com/327717/50601985-41114b80-0eb6-11e9-8c6b-8cfb0806f08c.png)
![image](https://user-images.githubusercontent.com/327717/50601990-4a021d00-0eb6-11e9-9e26-e14244903cac.png)

[2019-01-02 17:16] rosko commented on #1615
Cool, thank you all!

[2019-01-02 17:16] #1615 closed

[2019-01-02 17:26] falsy commented on #1566
@fergyfresh Hi, fergyfresh.

First of all, I am sorry but I am not good at English. (I didn't understand the meaning of 'dice'.)
I am currently using v3.1.14. Most webpack-dev-server v3.1.x output an error on node v8.12.0. However, we have used the NVM to change to Node v6.14.4 and have verified that it does not output subsequent installed result errors.

I don't think this is the solution.
If you

[2019-01-02 17:48] fergyfresh commented on #1566
@falsy it just means it did not work. Still have the high vulnerability security warning.

[2019-01-02 18:14] falsy commented on #1566
@fergyfresh I tested it on my PC at home and found it installed on node v8.12.0 without errors.
Sorry, I think the cause of the problem is something other than the node version.

[2019-01-02 18:46] simPod commented on #1566
@falsy Have you read my posts? I think it explains it all.

[2019-01-02 18:47] SharakPL commented on #1566
@simPod I can confirm that it's been fixed. `npm audit` is clean now.

[2019-01-02 18:58] falsy commented on #1566
@simPod Oh, it's fixed. thank you.

[2019-01-02 18:59] carlosgeos opened #1616 "[sockjs-client] fix exponential reconnect time"
* Operating System: Debian
* Node Version: v11.6.0
* NPM Version: 6.5.0
* webpack Version: 4.28.3
* webpack-dev-server Version: 3.1.14

- [x] This is a **bug**

### Code

You can see the problem here:
https://github.com/webpack/webpack-dev-server/blob/v3.1.14/client-src/default/socket.js

### Expected Behavior

An exponential increase in time between reconnects with the sockjs server.

### Actual

[2019-01-03 00:33] carlosgeos opened #1618 "Missing Origin Validation, for IP addresses"
* Operating System: Hannah Montana Linux
* Node Version: v11.6.0
* NPM Version: 6.5.0
* webpack Version: 4.17.1
* webpack-dev-server Version: 3.1.14

- [x] This is a **bug**
- [x] This is a **modification** request

Hello 😄 !!! This issue is intended to build on top of https://github.com/webpack/webpack-dev-server/pull/1603

### Code

Just check https://github.com/webpack/webpack-dev-server/blob/v

[2019-01-03 01:14] falsy commented on #1566
@simPod Oh, now the error is not output. Thank you.

[2019-01-03 06:40] quang5566 commented on #1566
I'm also getting the same issues. Althought I was update `webpack-dev-server@3.1.14 `. But I can't run `npm run dev`. `TypeError: Cannot destructure property `compile` of 'undefined' or 'null'.`

[2019-01-03 16:01] laryssamagalhaes commented on #851
On chrome works, but I've the same problem on the firefox 😢

[2019-01-03 16:15] mohammedgqudah commented on #128
same :(

[2019-01-03 19:47] michaelhartmayer commented on #126
Yes please.

[2019-01-04 00:12] thomas-darling commented on #1440
Yeah, this issue is more than a little inconvenient - only being able to proxy `GET` requests effectively makes the proxy feature completely useless, and really gets in out way.

I see the dependency on `webpack-dev-middleware` is now at `v3.4.0`, so sounds like it should be a very easy fix, based on earlier comments.

Any chance we could have a fix for this out in the near future, @michael-ciniaw

[2019-01-04 05:37] khalwat commented on #1604
@davidpelayo yes, it is happening for me as well with the latest versions of both `webpack-cli` and `webpack-dev-server`

For now, I've added:

[code]

...which skirts around the issue.

[2019-01-04 09:48] mrbbm commented on #1604
Where could I add this `disableHostCheck: true,` ?

[2019-01-04 10:49] carlosgeos commented on #1604
Hi, I have no problem with this minimal example (with the latest versions of `webpack-cli` and `webpack-dev-server`): https://github.com/carlosgeos/simple-webpack-repo

@mrbbm in the webpack config like this:
[code]

[2019-01-04 11:11] bandisudhir commented on #1566
I'm also still seeing the issue. If anyone found a solution please help.

[2019-01-04 11:34] mrbbm commented on #1604
@carlosgeos

Thanks for your reply. I would like to know where could I add in my Angular project, there won't be any file namely webpack.config

[2019-01-04 12:21] jduser36 commented on #1566
I´m also getting this isusue on a mac. I am new to react.js, so is there a way to solve it or to bypass it?

[2019-01-04 12:57] evilebottnawi commented on #1582
@yuri-sakharov what? polling !== multiple reloading

[2019-01-04 14:35] evilebottnawi commented on #1618
@carlosgeos Feel free to send a PR :+1:

[2019-01-04 18:32] evilebottnawi commented on #1582
@yuri-sakharov do you solve problem?

[2019-01-04 19:23] yuri-sakharov commented on #1582
solved via downgrade to 3.1.10

[2019-01-04 20:11] jduser36 commented on #1566
Yes it is, and i have the version 3.5.0 installed.

[2019-01-04 22:16] spencer-brown commented on #1595
web worker's can't use `window`; this isn't an issue in `worker-loader`. there's a related issue [here](https://github.com/webpack/webpack/issues/6642).

[2019-01-05 06:47] leonid-shevtsov commented on #1422
Additionally, `webpack-dev-server` won't start in a Yarn Plug'n'Play-enabled project because p'n'p does not allow implicit dependencies:

[2019-01-07 01:01] tshravan86 commented on #1615
I'm still getting the error. Can someone please help me how to resolve this issue? Thanks.

<img width="598" alt="webpackerror" src="https://user-images.githubusercontent.com/45789078/50744109-d493a500-1245-11e9-8821-b5cd8b24a868.png">

[2019-01-07 05:39] nelson1212 commented on #1615
Hi dude. You must update the version of "webpack-dev-server" to 3.1.14  in the following files: package-lock.json and package.json. in all occurrences. Finally, run "npm update"

it works for me

[2019-01-07 09:36] bandisudhir commented on #1566
After updating the webpack-dev-server@3.1.14. The problem is resolved though it is still showing 1 high vulnerability I was able to install required packages. If your problem is not resolved delete node_modules folder and install again. Hoping your problem will be resolved.

[2019-01-07 09:41] bandisudhir commented on #1566
Please check the version properly the highest version of webpack-dev-server available is 3.1.14 when I'm writing this comment.

[2019-01-07 14:55] smlombardi commented on #1615
@nelson1212 note that `npm update` will update _all_ your package to their latest versions, which might not be what you want

[2019-01-07 17:51] wchargin opened #1620 "Please backport CVE-2018-14732 security fix to 2.x"
- Operating System: n/a
  - Node Version: n/a
  - NPM Version: n/a
  - webpack Version: 3
  - webpack-dev-server Version: 2
  - [x] This is a **bug**
  - [x] This is a **modification** request

[CVE-2018-14732] describes a vulnerability in webpack-dev-server<3.1.11
by which attackers are able to steal developers’ code. The vulnerability
is classified as “HIGH severity” under the CVSS v3.0 score.

[2019-01-07 18:12] chris-schmitz opened #1621 "devServer proxy shows the pass happening in the console, but doesn't work in browser"
* Operating System: Mac OS 10.14
* Node Version: 10.2.1
* NPM Version: 5.6.0
* webpack Version: 4.17.1
* webpack-dev-server Version: 3.1.14

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior
When the axios request is made from the browser I expect the API request to be passed to the node/express server running on port 3000 via the web

[2019-01-07 18:34] dep commented on #1278
I can confirm this is still an issue with version 3.1.14. Anybody have an alternative to developing with Webpack in IE 11?  Moving to `webpack-serve` is not an option for me.

[2019-01-07 19:03] fitzgen commented on #1365
@scottjmaddox I suggest filing a new issue with STR and test case. I'm not a maintainer for webpack-dev-server or familiar with its internals at all, but that is probably the best way to push forward on the issue.

[2019-01-07 20:15] FeklistovGleb commented on #1621
Maybe port missmatch 8080 and 3000?

[2019-01-07 20:35] chris-schmitz commented on #1621
How so? If I'm understanding correctly, the webpack dev server should be hosting from port 8080 for my front end code base and any requests to `:8080/api/v1/...` are passed to `:3000/api/v1/...` via the proxy. That should be what's happening, right?

Both the webpack dev server's code base and the express server are working from their respective port, it's just the proxy from one to the other and

[2019-01-08 01:40] joe307bad commented on #1278
@dep it looks like this is slated to be fixed in 3.2
https://github.com/webpack/webpack-dev-server/issues/1286

[2019-01-08 04:48] tshravan86 commented on #1615
@nelson1212 Thanks for your help, it worked. @chimericdream thanks for your information. Need to change the version number at `package-lock.json` as well. Thanks once again.

[2019-01-08 15:38] nelson1212 commented on #1615
My pleasure

[2019-01-08 22:00] germn opened #1623 "How can I tell dev server to stop serving old bundles and unload them from memory?"
* Operating System: Windows 10 x64
* Node Version: v10.13.0
* NPM Version: 6.4.1
* webpack Version: 4.27.1
* webpack-dev-server Version: 3.1.10

- [ ] This is a **bug**
- [ ] This is a **modification** request

### Quiestion

1) I start web server, it compiles and serves `bundle.123.css`
2) I change source and server re-compiles and serves `bundle.456.css` now
3) But `bundle.123.css` can still be

[2019-01-09 07:21] yuri-sakharov commented on #1582
@evilebottnawi I will try

[2019-01-09 09:13] evilebottnawi commented on #1620
The `webpack-dev-server` contains other security fixes (some of them is not public), we strongly recommend to update `webpack-dev-server` to latest version because backport solve only one security problem. You may receive a new vulnerability report at any time. Also `2` version is not maintenance. Sorry, better spend time to update.

[2019-01-09 09:13] #1620 closed

[2019-01-09 09:35] evilebottnawi commented on #1623
@germn please create reproducible test repo, looks you have invalid configuration

[2019-01-09 09:37] evilebottnawi commented on #1621
@chris-schmitz can you create full minimum reproducible test repo and describe in readme what you actually have and what you expected

[2019-01-09 14:19] germn commented on #1623
@evilebottnawi done:

https://github.com/germn/webpack_dev_server_issue_1623

To reproduce, after cloning:

- `npm install`
- `npm run static-dev-server`
- open compiled file url, for example `http://localhost:9001/static/bundle.1e074de3.js`
- change something in `./static_src/app/index.js`
- open new file url and refresh outdated file url: both will work

Same true for css.

I tried to comment ou

[2019-01-09 16:54] LilSebastian5000 opened #1624 "Incomplete Changelog"
* Operating System: Windows
* Node Version: Doesn't matter
* NPM Version: Doesn't matter
* webpack Version: 3.10.0
* webpack-dev-server Version: Looking to upgrade 2.9.1 to a version supported in Webpack 3

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

### Expected Behavior
A complete list of changes for each version of this project.

### Actual Behavior
The Changelog

[2019-01-09 17:19] evilebottnawi commented on #1624
Please read here https://github.com/webpack/webpack-dev-server/releases/tag/v3.0.0 . We can't describe all changes in CHANGELOG so we describe only necessary stuff. Better to start update and see documentation. Also no big changes between `2.9` and `3.14`

[2019-01-09 17:19] #1624 closed

[2019-01-09 17:31] mehl321 commented on #1574
I also got a this issue after upgrading from `3.1.10`. Big JSON responses get either truncated or even corrupted.

[2019-01-09 17:35] LilSebastian5000 commented on #1624
Actually, when I upgrade to version 3.0, NPM warns me that Webpack 4 is required. So that seems like a breaking change to me that should be logged?

[2019-01-09 17:51] evilebottnawi commented on #1624
@LilSebastian5000 you need use `webpack@4` for `webpack-dev-server@3`

[2019-01-09 17:52] evilebottnawi commented on #1574
@mehl321 maybe you can create minimum reproducible test repo?

[2019-01-10 00:56] kryptokinght opened #1625 "Add simple webpack-dev-server API example to readme"
The page [here](https://webpack.js.org/configuration/dev-server/#devserver) redirects to the [webpack-dev-server API](https://github.com/webpack/webpack-dev-server/tree/master/examples/api/simple) example. On entering the page, a user may expect to see a sample code in the README file.
It can look like this:
![pr](https://user-images.githubusercontent.com/21311242/50938913-86c6a900-14a0-11e9-80b0-

[2019-01-10 08:47] evilebottnawi commented on #1625
@kryptokinght We already have examples here https://webpack.js.org/configuration/dev-server/#devserver, feel free to send a PR to webpack docs repo if you think what something misleading or missing

[2019-01-10 08:47] #1625 closed

[2019-01-10 09:07] LeoLozes commented on #1195
webpack Version: 4.28.3
webpack-dev-server Version: 3.1.14

with the devServer clientLogLevel set to 'warning' I can still see the `[HMR] Waiting for update signal from WDS...` message every time.

Am I doing something wrong?

[2019-01-10 15:33] dstj commented on #1604
@mrbbm I just had that very problem after upgrading my project to angular 7.2.0. I fixed it by modifying my `package.json` file as so:

    {
	  ...
      "scripts": {
        "ng": "ng",
        "start": "ng serve --disableHostCheck=true",    <===== HERE
        "build": "ng build --extract-css",
       ...

[2019-01-10 17:43] xhocquet commented on #1445
@evilebottnawi Could you please advise the state of this vulnerability in `webpack-dev-server 2.11.3`? Is this vulnerability present, and if so is there a possibility of adding this patch as a security update?

[2019-01-11 00:57] realgs commented on #1355
I read this topic for a second time within 2 weeks so I decided to write down my own suggestions in case I will come back anytime in the future;) The below is a complete list of dependencies I had to upgrade to upgrade from vulnerable react-dom@16.0.0 to @16.0.1:

❯ yarn add react@16.0.1 react-dom@16.0.1 webpack-dev-server@3.1.14 live-server@1.2.1 extract-text-webpack-plugin@next
❯ yarn add -D web

[2019-01-11 09:35] sindresorhus commented on #924
@shellscape It's also a common use-case to use a HEAD request to check whether the server is running. Can you please reopen?

[2019-01-11 21:05] mehl321 commented on #1574
I created a minimal repo on my machine with a similar config (proxy, HMR, fetching a similar JSON from another local server. No HTTPS though) but I couldn't reproduce the bug.
There is a bug for sure because downgrading to 3.1.10 fixed the issue.

[2019-01-12 06:35] kwerle commented on #1334
Locking to 3.0.0 worked for me:
`    "webpack-dev-server": "3.0.0"`

[2019-01-13 22:45] thunderkid commented on #533
I've found a solution to my ongoing CORS errors - switch to `webpack-plugin-serve`.

FWIW, I'd been using `webpack-dev-server` since `webpack 3` and had never been able to get rid of these `CORS`/`sockjs-node` errors in the console. I've tried everything listed on this and multiple similar threads - adding `Access-Control-Allow-Origin`, changing from `localhost` to `0.0.0.0`, changing ports, runni

[2019-01-14 09:54] NafaaBout commented on #1323
this is still the issue, I tried all the above-mentioned solutions and no one works. I'm just following the guides and I just tried to play with the different options when I reached the [Development](https://webpack.js.org/guides/development/) section.

[code]

[2019-01-14 11:51] evilebottnawi commented on #1574
@mehl321 so we can close issue?

[2019-01-14 13:15] mehl321 commented on #1574
Close the issue if you want but I think the bug is still here. I just didn't manage to reproduce it.

[2019-01-14 17:32] peteromano commented on #128
+1 For re-opening.

This is happening with Windows WSL Ubuntu, as well. Mac OS X doesn't have an issue.

[2019-01-15 05:41] polco commented on #1509
what about the solution given in this issue: https://github.com/webpack/webpack-dev-server/issues/132 ?

[2019-01-15 09:58] marcofugaro commented on #1509
@polco as I already specified, I don't want to call webpack from node, I have a simple webpack.config.js and want to keep it that way.

[2019-01-15 10:01] polco commented on #1509
My bad

[2019-01-15 10:43] evilebottnawi commented on #1509
PR welcome, it is should be not diffucult

[2019-01-18 08:15] panlina opened #1628 "sockjs 404 when calling webpack-dev-server from API"
* Operating System: MacOS
* Node Version: 10.14.1
* NPM Version: 6.4.1
* webpack Version: 4.28.3
* webpack-dev-server Version: 3.1.14

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior
Everything works fine.
### Actual Behavior
Gets `GET http://localhost:8080/dist/info?t=1547796416979 404 (Not Found)` in console
### For Bugs; How can we repro

[2019-01-18 10:14] evilebottnawi commented on #1628
@panlina Please create minimum reproducible test repo and describer what you have and what you expected in README

[2019-01-18 10:38] panlina commented on #1628
Following may be not a "minimum", but small enough:
https://github.com/panlina/resq-example/tree/webpack-dev-server-issue-1628

[2019-01-18 10:50] evilebottnawi commented on #1628
@panlina i will look on this in near future, but feel free to investigate and if you think it is bug feel free to send a PR

[2019-01-18 11:46] evilebottnawi commented on #1628
@panlina not sure, looks like bug

[2019-01-18 14:44] panlina commented on #1628
After tracing back several blames, an interesting commit is https://github.com/webpack/webpack-dev-server/commit/7dcd41d342c9f0c45ca77a5175345aa3996954a1#diff-895656aeaccff5d7c0f56a113ede9662
. I'm no sure if that used to work before socket.io is replaced by SockJS.
@SpaceK33z Can you give us some information? How using `urlParts.path` as socket url prefix is supposed to work?

[2019-01-19 01:50] appsparkler commented on #416
This is what worked for me:

![image](https://user-images.githubusercontent.com/12084821/51420725-a5bced80-1bba-11e9-8a34-b6c46b0ef6ab.png)

[code]

Good Luck...

[2019-01-19 20:58] erpheus opened #1629 "Making HMR work behind a proxy without knowing public address"
I'm sorry if the issue has been filed before. Feel free to close it and point me in the right direction in that case. I found this one which I think references the same thing https://github.com/webpack/webpack-dev-server/issues/914 but has been closed due to inactivity. I'd be willing to contribute with a pull request if you agree that such an improvement is useful.

* Operating System: OS X Mojav

[2019-01-20 09:59] grantperry commented on #183
Ran a docker prune and re-built my images. Fixed. Probably could have restart the docker engine???

[2019-01-21 16:11] asiainfoliwei opened #1631 "How to shorten compilation time in multiple html outputs project"
Hello，I met a trouble，I use the hrm in a multiple html outputs project, And when i change a file, the server will rebuild all files, How to shorten compilation time? It would be perfect to compile only the dependencies of that HTML file！

[2019-01-22 10:22] createdbyjurand commented on #1315
in
`package.json`
change
`"serve": "vue-cli-service serve",`
to
`"serve": "vue-cli-service serve --host localhost",`

[2019-01-22 10:56] modestotech opened #1634 "Invalid configuration object (configuration.plugins)"
* Operating System: Windows 7
* Node Version: 10.13.0
* NPM Version: 6.5.0
* webpack Version: 4.20.2
* webpack-dev-server Version: 3.1.14

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code
See [this](https://gist.github.com/modestotech/a63be51a4bad77e67ba32588733f6d6b) gist.

### Expected Behavior
Use `npm run start` (`webpack-dev-server --mode development`) to get webpack

[2019-01-22 10:58] evilebottnawi commented on #1634
You have invalid configuration
[code]

rewrite this on

[code]

[2019-01-22 10:58] #1634 closed

[2019-01-22 19:10] chowdam commented on #851
issue resolved after adding below in polyfills.ts file:
import 'core-js/es7/object';
import 'core-js/es7/array';

[2019-01-23 01:11] erpheus commented on #1629
Sure, here is a quite minimal repository:

https://github.com/erpheus/base-interface-react

Right now the code has a fixed port 3232 as can be seen on the [Makefile](https://github.com/erpheus/base-interface-react/blob/master/Makefile#L3) and [on the Webpack config for the dev server](https://github.com/erpheus/base-interface-react/blob/master/ui/webpack.config.js#L24).

I run the code by using `m

[2019-01-23 07:51] stoplion commented on #1433
This is still happening all the time for me

[2019-01-23 09:00] rvion opened #1635 "electron: `events` var is empty object => no handlers for webpackHotUpdate"
* Operating System: win10
* Node Version: 10.13.0
* NPM Version: 6.4.1
* webpack Version: 4.28.4
* webpack-dev-server Version: 3.1.14

- [x] This is a **bug**

### Code

![image](https://user-images.githubusercontent.com/2150990/51594624-264e5780-1ef5-11e9-9236-f92e7eb2370f.png)

[code]
[code]

### Expected Behavior

perform hot reload

### Actual Behavior

Log that it will do hot reload, but fail

[2019-01-23 09:46] evilebottnawi commented on #1635
@rvion please check you deps, we doesn't contains events or reflect in our code

[2019-01-23 10:01] evilebottnawi commented on #1629
@erpheus can you reduce example? It is hard to debug when developers have big configuration

[2019-01-23 10:05] rvion commented on #1635
@evilebottnawi it's in lib/events.js.EventEmitter code
the hot module plugin doesn't seem to register correctly its handlers on electron, and internally do not respond to it's own `webpackHotUpdate`.

with almost no configuration beside what is here, `target: 'electron-renderer'` makes hot reload fail to send fetch request for updated blob

[2019-01-23 10:07] evilebottnawi commented on #1635
@rvion webpack doesn't use `event` too in code, please provide minimum reproducible test repo

[2019-01-23 10:57] rvion commented on #1635
@evilebottnawi
1. thanks for your quick responses
2. you can find a minimal repro here: https://github.com/rvion/electron-webpack-failure (all files are as minimal as it can be)
3. webpack-dev-server hot-reload related code seems to use events, as this shown in below picture
4. to see how things go wrong, adding a breakpoint here, and going steps by step is useful
![image](https://user-images.gith

[2019-01-23 11:06] rvion commented on #1635
@evilebottnawi I simplified the minimal repo a bit more

here are all files content to ease reading this thread:

### view.js

[code]
### main.js

[code]
### webpack.dev.js

[code]

### package.json

[code]

### index.html

[code]

### readme.md

[code]

2. in `view.js`, change `CHANGE-ME` to any string

3. BUG:

   - in electron browser window: console shows:

[code]

   - nothing is updated, no

[2019-01-23 11:09] evilebottnawi commented on #1635
@rvion Can reproduce, no `events` package in my code

[2019-01-23 11:20] rvion commented on #1635
@evilebottnawi I don't believe you: the webpack-hot-middleware code is here and use `.emit()` from the events module from either the `events` node package or the https://nodejs.org/api/events.html native node module: https://github.com/webpack-contrib/webpack-hot-middleware/search?q=emit&unscoped_q=emit

there is no two-way about it.

Did you even clone my project and run the two commands shown in

[2019-01-23 11:21] evilebottnawi commented on #1635
@rvion we don't use `webpack-hot-middleware`, please create issue in `webpack-hot-middleware` repo

[2019-01-23 11:34] rvion commented on #1635
@evilebottnawi also, technically, you use webpack-hot-middleware in some way, since you're instantiating it in webpack-dev-server when `--hot` is present.

eg1. https://github.com/webpack/webpack-dev-server/search?q=HotModuleReplacementPlugin&unscoped_q=HotModuleReplacementPlugin

eg2. https://github.com/webpack/webpack-dev-server/search?q=hot&unscoped_q=hot

I understand that I'm a bit stubborn h

[2019-01-23 11:36] evilebottnawi commented on #1635
@rvion i think better wait answer in `webpack-hot-middleware`, i am not familiar with `webpack-hot-middleware` code and how they implement `hot`

[2019-01-23 12:01] rvion commented on #1635
thanks !

[2019-01-23 14:31] rvion commented on #1635
@evilebottnawi

found the problem. the culprit was a mix of
 - `webpack-node-external`
 - target: `electron-renderer`
 - leading `events` to be required the wrong way

replacing webpack-node-external by some explicit filter list fixed it.

-------

As a final note, one can find below the list of required modules induced by webpack-dev-server --hot.
(`events` module/package is always loaded with 'h

[2019-01-23 14:31] #1635 closed

[2019-01-24 00:48] ojune commented on #1141
If you need to see from where webpack is serving the files without writing the content to disk, visit http://localhost:8080/webpack-dev-server on your local.

[2019-01-24 04:32] bhavya9107 commented on #1567
@Snivio 0.0.0.0 is used to access all interfaces on your network. Linux converts/corrects it to 127.0.0.1 silently, whereas Windows doesn't. If using VM keep it 0.0.0.0 else change it to 127.0.0.1 in your config file.

[2019-01-24 09:37] evilebottnawi commented on #1567
@bhavya9107 thanks for answer, i think it is won't fix on our side

[2019-01-24 09:55] dlepaux opened #1636 "Webpack dev-server refused connexion on localhost"
* Operating System: OSX 10.14
* Node Version: 10.10.0
* NPM Version: 6.6.0
* webpack Version: ^4.27.1
* webpack-dev-server Version: ^3.1.10

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior
`webpack-dev-server` should not refuse connexion from itself. Like in my production env.

### Actual Behavior
I use `webpack-dev-server` to work locally

[2019-01-24 10:08] evilebottnawi commented on #1636
Don't use `extract-text-webpack-plugin`, it is doesn't work with `webpack@4`, switch on `mini-css-extract-plugin`, also you don't need `extract-text-webpack-plugin` in development mode and don't use `webpack-dev-server` in production.

Something wrong with `mithril`, `axios` works as expected:
[code]

Problem not on our side.

[2019-01-24 10:08] #1636 closed

[2019-01-24 10:09] evilebottnawi commented on #1636
Maybe you need more configuration for `mithril`, when you do `https` request, i am not familiar with `mithril` so documentation can help with this.

[2019-01-24 10:11] dlepaux commented on #1636
Thank you @evilebottnawi for your quick answer I'll check it out.
Have a nice day

[2019-01-24 10:11] evilebottnawi commented on #1636
Hm, i get original error:
[code]

Something wrong with https

[2019-01-24 10:12] evilebottnawi commented on #1636
Ref: https://github.com/openssl/openssl/issues/6289 maybe help

[2019-01-24 10:19] evilebottnawi commented on #1636
With `NODE_TLS_REJECT_UNAUTHORIZED=0` and `axios`/`fetch` all works fine. But with `mithril` not, better ask in their repo how do request with self signed cert.

[2019-01-24 10:22] dlepaux commented on #1636
You are amazing @evilebottnawi thank you very much

[2019-01-24 12:09] mrigne opened #1637 "Automatically add hostname, specified in --public parameter, to self-signed certificate"
For ex. if webpack-dev-server started with --public=mylocalhostname - add DNS name 'mylocalhostname' to resulting generated self-signed certificate

[2019-01-24 12:14] evilebottnawi commented on #1637
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-01-24 12:14] #1637 closed

[2019-01-24 12:22] mrigne opened #1638 "Automatically add hostname, specified in --public parameter, to self-signed certificate"
* Operating System: any
* Node Version: any
* NPM Version: any
* webpack Version: 4.28.4
* webpack-dev-server Version: 3.1.14

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

[code]

### Expected Behavior
In generated certificate DNS with hostname from --public present

### Actual Behavior
Only predefine localhost names are present

### For Bugs; How can we reproduce th

[2019-01-24 12:30] evilebottnawi commented on #1592
@nzapponi sorry for delay, problem still exists? if yes, please create minimum reproducible test repo, thanks!

[2019-01-24 12:31] evilebottnawi commented on #1602
@gustavomassa friendly ping

[2019-01-24 12:32] evilebottnawi commented on #1307
@leegee friendly ping, problem still exists? If yes, please create minimum reproducible test repo, thanks

[2019-01-24 12:35] evilebottnawi commented on #1251
/cc @kellyrmilligan @sepo27 sorry for delay, problem still exists?

[2019-01-24 12:37] evilebottnawi commented on #1489
Close in favor https://github.com/webpack/webpack-dev-server/issues/1479#issuecomment-442492922

[2019-01-24 12:37] #1489 closed

[2019-01-24 12:38] leegee commented on #1307
Sorry I don't know, I moved on from that shortly afterwards. But thanks for checking.

[2019-01-24 12:42] evilebottnawi commented on #1307
@leegee thanks for answer, let's close issue, if somebody will has same problem feel free to create new issue

[2019-01-24 12:42] #1307 closed

[2019-01-25 08:25] DemonCloud opened #1639 "Question: how to make hot reload work also with [express server] ?"
Example ``webpack.config.js``

[code]

when I was changed ``someMockData``, I hope webpack-dev-server live reload express server.

In this way, the latest interface to the Mock service will take effect immediately, without restarting the Webpack dev server service.

Is there a good solution or documentation? please~

[2019-01-25 10:03] evilebottnawi commented on #1639
@DemonCloud
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Also it is bug tracker please use `stackoverflow` or `gitter` for questions.

You should use `loader` or

[2019-01-25 10:03] #1639 closed

[2019-01-25 17:50] misterdev commented on #1594
@evilebottnawi are you sure this is a bug?

I read this in the [documentation](https://webpack.js.org/configuration/dev-server/#devserver-openpage):

The correct option to use in this case is [host](https://webpack.js.org/configuration/dev-server/#devserver-host)

Reading again the issue, this is not a bug, but a feature request.
From my understanding, absolute URLs in openPage shouldn't be allowe

[2019-01-25 18:03] runarberg commented on #1594
@misterdev You are right. I didn’t know you could use the `host` option that way.

closing

[2019-01-25 18:03] #1594 closed

[2019-01-25 20:03] kmannislands opened #1642 "Hard to catch error on proxying in Node.js 10"
* Operating System: macOs 10.14.1
* Node Version: 10.15.0
* NPM Version: yarn 1.13.0
* webpack Version: 4.23.1
* webpack-dev-server Version: 3.1.14

- [X] This is a **bug**
- [ ] This is a **modification** request

### Code
The bug I'm reporting here showed up after switching to Node js v10.x. I believe there are differences in how the `net` core package raises exceptions/policy toward unhandled e

[2019-01-25 20:16] evilebottnawi commented on #1642
@kmannislands Can you create minimum reproducible test repo, it is hard to fix without this and maybe never will be fixed without this

[2019-01-25 20:37] evilebottnawi commented on #1642
@kmannislands Fatal error should be don't crash webpack-dev-server so we will accept a PR, but we need test case or minimum reproducible test repo to unsure we fix this problem and avoid regressions in future

[2019-01-29 10:23] bhavya9107 commented on #1479
I want to work on this issue. How to get started?

[2019-01-29 10:38] evilebottnawi commented on #1479
@bhavya9107

Here https://github.com/webpack/webpack/blob/master/lib/Watching.js

[2019-01-29 13:37] wjdp opened #1643 "Bundle does not run if linked from page running on a different port."
* Operating System: Ubuntu 18.04
* Node Version: v8.15.0
* NPM Version: 6.7.0
* webpack Version: 4.28.4
* webpack-dev-server Version: 3.1.14

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

Run `webpack-dev-server` on cli to start server.

### Expected Behaviour

I'm running a Flask web server on port 8000 (our app is currently completely server side, looking to

[2019-01-29 13:41] evilebottnawi commented on #1643
@wjdp i can't understand your problem. Please create reproducible test repo.

[2019-01-30 15:16] bhavya9107 commented on #1479
What is expected behavior of kill method?

[2019-01-30 15:19] evilebottnawi commented on #1479
@bhavya9107 immediately kill watch on webpack side

[2019-01-30 15:20] andyhall opened #1644 "Full page reload on syntax errors during hot reloads"
* Operating System: Mac 10.13.6
* Node Version: 11.8.0
* NPM Version: 6.5.0
* webpack Version: 4.29.0
* webpack-dev-server Version: 3.1.14

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Actual Behavior

Above is a super-minimal version of my HMR setup - it works fine, whenever `foo.js` changes it gets hot reloaded, so far so good.

The problem occu

[2019-01-30 15:26] evilebottnawi commented on #1644
@andyhall it is expected, you use `require` in `module.hot.accept` and it is require rebuild all modules. Why you do this?

[2019-01-30 18:03] andyhall commented on #1644
@evilebottnawi:

https://webpack.js.org/api/hot-module-replacement/#accept

[2019-01-30 18:07] evilebottnawi commented on #1644
@andyhall Please create minimum reproducible test repo, maybe something wrong in env

[2019-01-30 19:08] #1412 closed

[2019-01-30 19:55] #1567 closed

[2019-01-30 19:55] evilebottnawi commented on #1602
Closing due to inactivity. Feel free to feedback.

[2019-01-30 19:55] #1602 closed

[2019-01-31 01:59] andyhall commented on #1644
Uh, does that mean this isn't expected behavior / invalid usage?

[2019-01-31 05:35] hkostia commented on #1574
I'm encountering this too but couldn't make minimum reproducible test repository.

<= 3.1.9 OK

Operating System: Windows 10
Node Version: 8.12.0
NPM Version: 6.4.1
webpack Version: 4.29.0
webpack-dev-server Version: 3.1.10 - 3.1.14

[2019-01-31 09:49] evilebottnawi commented on #1574
I think problem on proxy server side, we don't touch content from proxy

[2019-01-31 09:50] evilebottnawi commented on #1644
@andyhall not sure (depends on full config and content in `foo.js` and some other tweaks), please provide minimum reproducible test repo

[2019-01-31 14:19] evilebottnawi commented on #1505
/cc @j-langlois problem still exists?

[2019-02-01 04:07] j-langlois commented on #1505
I ended up using a different tool for reasons other than this, sorry

[2019-02-01 07:32] andyhall commented on #1644
@evilebottnawi The code samples above are already the minimal repro, there's nothing else in the project.

Here's the same code in a repo:
https://github.com/andyhall/wds_hmr_issue

[2019-02-01 21:05] thomas-darling commented on #1440
Ok, let's try this again...

@michael-ciniawsky - or maybe @evilebottnawi, just because I noticed you actually commit things.

This is becoming _really_ annoying. Being able to proxy API requests is a pretty essential feature, and leaving it broken for months is not acceptable - especially when the fix seem to be already identified and easily implemented. There's a lot of people depending on this

[2019-02-01 21:54] evilebottnawi commented on #1440
@thomas-darling yep, let's fix it and release new version, can you create minimum reproducible test repo and describe in readme what you have and what you expected?

[2019-02-03 15:30] daryn-k opened #1648 "Webpack-dev-server doesn't work on Node 10.15.1"
Webpack-dev-server doesn't make a bundle on Node 10.15.1 which realised a couple days ago. But everything works well on Node 8.11.3.

It's stucking on this:

[code]

* Operating System: MacOS Mojave / Windows 8.1
* Node Version: 10.15.1
* NPM Version: 6.4.1
* webpack Version: 4.16.0
* webpack-dev-server Version: 3.1.14

[2019-02-04 11:00] evilebottnawi commented on #1648
@daryn-k yep, please create reproducible test repo

[2019-02-04 16:46] daryn-k commented on #1648
Well, I figured out the problem is in another place, but I don't know where exactly. Yes, everything works good in my minimal config on the newest Node. Sorry.

[2019-02-04 16:46] #1648 closed

[2019-02-05 12:01] daryn-k commented on #1648
I found where is the problem. Node.js v.10 made mandatory to pass callback on fs.writeFile(). One of my plugin used fs.writeFile().

[2019-02-05 17:00] tr1s opened #1651 "mkcert ruined my webpack-dev-server / localhost:8080"
I had to run [these commands](https://shopify.github.io/slate/docs/create-a-self-signed-ssl-certificate) in order to get [slate](https://shopify.github.io/slate/docs/create-a-self-signed-ssl-certificate) to work, it never worked... Then I found some hacks in the github issues of slate, it finally worked by creating some keys in my project. So now my slate project works, no need to show you picture

[2019-02-05 17:04] evilebottnawi commented on #1651
Please create reproducible test rrepo

[2019-02-07 17:41] Mafii commented on #1433
Any updates?

[2019-02-07 18:01] evilebottnawi commented on #1440
Somebody can create reproducible test repo and we fix it in next release

[2019-02-07 18:28] thomas-darling commented on #1440
Yeah, I'm actually looking into this right now, but can't seem to reproduce it.

When I wrote here a few days ago, I _thought_ I had run into the issue again - it has bitten me quite a few times now, and the error appeared to be the same, hence the frustration - but looks like it was actually a problem on my end this time. Right now, proxying appears to work as expected for all HTTP methods, so un

[2019-02-07 19:23] mzealey opened #1655 "Mobile safari caching javascript"
- Operating System: ubuntu 18.04
- Node Version: 8.10.0
- NPM Version:6.6.0
- webpack Version: 4.28.3
- webpack-dev-server Version: 3.1.14

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

Not required. Running `webpack-dev-server --mode development` seems to only serve `ETag` headers which it appears that mobile safari (ios 12) does not obey sufficiently to reload the j

[2019-02-08 02:41] Vandivier commented on #1440
Not sure if this is the same issue. I can't do a whole repro but I can drop my devServer snippet:

    devServer: {
      contentBase: path.join(__dirname, 'dist'),
      //compress: true,
      port: 9000,
      proxy: {
        '*api': {
          target: '', // always use bypass fxn to preserve path
          secure: false,
          bypass: function(req, res, proxyOptions) {
            // for

[2019-02-08 04:08] Vandivier commented on #1440
The reason WDS proxy lost the request body is because I wasn't using bodyParser and I guess that functionality isn't included. I was tipped off to the solution by these two articles:

1 - https://github.com/chimurai/http-proxy-middleware/issues/40
2 - https://stackoverflow.com/questions/39636615/webpack-not-accepting-post-requests

Here's my now-working devServer snippet:

    devServer: {
      b

[2019-02-08 09:51] evilebottnawi commented on #1655
We don't send `ETag` header, please create reproducible test repo

[2019-02-08 09:51] evilebottnawi commented on #1440
@Vandivier can you create minimum reproducible test repo?

[2019-02-08 11:09] #1560 closed

[2019-02-08 11:14] evilebottnawi commented on #1510
/cc @hiroppy after refactor `bin` it should be easy to fix, can you help with this too, you are do amazing job :+1: Just need move event handler in `Server` instead `bin`, same problem for `bonjour`

[2019-02-08 12:22] xeptore commented on #875
i had the same problem, i tried all of these suggestions, but none of them woks for me.
finally, i tried to add a `newline` at the end of the `webpack` configuration and it just worked!
awesome!

[2019-02-09 07:03] bhavya9107 commented on #1479
why can't we just process.exit()

[2019-02-09 07:05] bhavya9107 commented on #1479
if we want to close a specific process then we need specific close and kill methods, otherwise process.exit() is fine according to me. What you say @evilebottnawi

[2019-02-09 13:27] hiroppy commented on #1510
`open`(https://github.com/webpack/webpack-dev-server/blob/master/bin/utils.js#L91-L95) seems to be called only by webpack-dev-server.js(https://github.com/webpack/webpack-dev-server/blob/master/bin/webpack-dev-server.js) (as `status`).
package.json calls `"lib/Server.js"`.

[2019-02-09 14:45] evilebottnawi commented on #1479
@bhavya9107 because when you `process.exit()` you kill process immediately, but in this moment somebody/something can write file to fs or do other async call and it is bad

[2019-02-09 14:48] evilebottnawi commented on #1510
@hiroppy yep, we should move all starting with https://github.com/webpack/webpack-dev-server/blob/master/bin/webpack-dev-server.js#L172 in `lib/Server`, it is fix when you use Node API, it is architecture bug and will be great fix it.

[2019-02-10 21:13] expertup opened #1659 "Webpack and connect WebSocket (socket.io) via domain"
- Operating System: Windows 10
- Node Version: v10.15.0
- NPM Version: v10.15.0
- webpack Version: 4.29.0
- webpack-dev-server Version: 4.29.0

- [ ] This is a **bug**
- [ x] This is a **problem**
- [ ] This is a **modification** request

### Code

[code]

I have problem with websocket. I'm using socket.io and socket.io-client in React. When I try connect ws in localhost:5678 this working. But on

[2019-02-11 09:44] evilebottnawi commented on #1659
Can you provide minimum reproducible test repo, should be works

[2019-02-11 13:48] ejoo commented on #100
@tiodot 's solution worked with Typescript + React but failed with Redux and Redux Saga Integrated.

[2019-02-12 17:08] EloB opened #1661 "Feature request to extend use of sockjs"
I would like a simple way to communicate between clients and devServer.

By using the `devServer.before` property. We could do something like:
[code]

In the code I see that we expose message sent.
https://github.com/webpack/webpack-dev-server/blob/master/client-src/default/index.js#L71

If we could add `custom` to https://github.com/webpack/webpack-dev-server/blob/master/client-src/default/index.

[2019-02-12 17:27] evilebottnawi commented on #1661
What is real use case? Why you need send messages? Please provide PoC

[2019-02-12 17:36] EloB commented on #1661
My initial use case is that be able to serialize key events on my browser to send to each device and then unserialize the key event on each device to simulate the key event. This feature will only be development to speed up testing. Webpack and Webpack dev server has been a great tool for me when working cross platform and multiple devices.

Also has some other ideas to be able to send logs/errors

[2019-02-12 18:17] evilebottnawi commented on #1661
@EloB hm, PR welcome :+1:

[2019-02-13 05:00] NodiraIbrogimova commented on #424
I tried all options above in my vuejs app, but none of them seem to work.
In **webpack.config.js** I added the following:
[code]
and writing POST request in one of the components as:
[code]
But, this seems not to work, as long as I'm getting the error :
**The requested URL /accountApi/api/users/... was not found on this server.**

Anybody can help me to figure out what's wrong here, please?

[2019-02-13 23:52] rlamana opened #1663 "HMR socket URL should infer not only from location.hostname but also location.port"
HMR socket fails to connect when the *dev server* is behind some sort of proxy or layered architecture (nginx, k8s ingress, etc.) exposing a different end **port** than the one used in the server's configuration. In these cases, a common configuration is to set *dev server*'s host to `0.0.0.0` to make it externally accessible and rely on browser's **location object** to infer the HMR socket URL.

[2019-02-14 06:03] lukebro commented on #1558
@evilebottnawi why do you think this is a wds/wdm issue and not a webpack issue?

I looked into this and it seems like this is an issue with the watcher in Webpack.

If a plugin throws an error in the done hook in watch mode, webpack emits the chunk but never taps done.  This causes wdm to not properly exit/error and it just gets stuck waiting for done to tap.

I've better reproduced this issue he

[2019-02-14 09:58] evilebottnawi commented on #1558
Can you create minimum reproducible test repo?

[2019-02-14 13:55] lukebro commented on #1558
@evilebottnawi yes the repo is here: https://github.com/lukebro/webpack-issue-8234

[2019-02-14 13:57] evilebottnawi commented on #1558
/cc @ooflorent

[2019-02-15 06:36] LeTranAnhVu commented on #645
Hi. So how can we make the bundle show up in disk instead build in memory? Any suggestion?

[2019-02-15 07:45] houzhitaohzt commented on #1282
+1 have same issue, it's because of arrow functions in code
module.exports = () => {
	const pattern = [

[2019-02-15 10:47] emillynge commented on #1574
+1 on this issue. downgrade to 3.1.9 worked for me. I have no reproducible test/repo for you.

[2019-02-15 10:51] evilebottnawi commented on #1574
@eemeli we don't touch anything with `3.1.9` around proxy

[2019-02-15 14:20] emillynge commented on #1574
@evilebottnawi Well, it was literally the only change in my setup. Maybe a dependency changed? in which case it would be helpful to track down which dep could cause this.

[2019-02-15 14:21] evilebottnawi commented on #1574
@emillynge yep, so we need reproducible test repo, it is help to solve this issue

[2019-02-15 20:03] victors1681 commented on #1574
My Payload is 512KB and I have the same issue. JSON it gets corrupts in webpack-dev-server Version: 3.1.11 - 3.1.14.
The only one is working fine is  3.1.10

[2019-02-15 20:09] evilebottnawi commented on #1574
@victors1681 please create minimum reproducible test repo, otherwise issue was closed and marked as spam

[2019-02-17 07:26] yi-ge commented on #1592
The bug is fixed. https://github.com/webpack/webpack-dev-server/pull/1660

[2019-02-17 07:27] yi-ge commented on #1592
@evilebottnawi the same problem. 😄

[2019-02-18 12:31] evilebottnawi commented on #1592
Fixed https://github.com/webpack/webpack-dev-server/pull/1660/

[2019-02-18 12:31] #1592 closed

[2019-02-18 14:16] evilebottnawi commented on #1428
/cc @hiroppy can we check all examples on working :+1:

[2019-02-19 07:27] alexdriaguine commented on #79
I have the same problem as @blackmiaool and @Ashoat. When having a syntax error or something that makes webpack compile with errors, upon fixing the error the hashes from the server and the client mismatch.

Seems like the server responds with the next hash, but after fixing the error, another hash is generated while the client is still trying to access the old hash. Omitting the hash seems to fix

[2019-02-19 09:43] #1438 closed

[2019-02-19 11:08] edwint229 commented on #1574
I meet some issue in version 3.1.14, my payload is 27.5KB, enabled https proxy. After I downgrade to 3.1.10, it works fine also. I think the issue should happened in proxy side, please help to check and fixed. Thanks

[2019-02-19 11:17] evilebottnawi commented on #1574
@edwint229 Can you provide minimum reproducible test repo?

[2019-02-19 16:47] karolyi commented on #1604
I got `devServer: { disableHostCheck: true },` in my config and it still fails with `3.1.14`.

[2019-02-19 16:58] karolyi commented on #1604
Why is this closed if it still doesn't work?

[2019-02-19 17:07] karolyi commented on #533
Quick update: the access control headers are now replaced to `disableHostCheck: true` in the config due to #1604.

[2019-02-19 23:27] TSMMark commented on #851
What worked for me was adding config for `allowedHosts` https://webpack.js.org/configuration/dev-server/#devserverallowedhosts

[2019-02-19 23:45] kevinoliveira commented on #1433
on my project, when i save any file, webpack-dev-server/webpack consumes 5% more of my memory, even if i din`t change anything at al on the filel, and the memory consumption keeps incensing on steps of 5% of my total ram, to the point where it freezes my computer and now i have to use a system manager on daily basis to work, and kill the process when i only have 10% of ram left.
extra info:
i have

[2019-02-20 20:51] MLoughry opened #1674 "Passing an SSL key or certificate as a raw string results in an exception"
- Operating System: Windows 10
- Node Version: 11.1.0
- NPM Version: 6.4.1
- webpack Version: 4.27.1
- webpack-dev-server Version: 3.2.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior
`webpack-dev-server` operates as it did prior to 3.2.0, without throwing an exception

### Actual Behavior
[code]

### For Bugs; How can we reproduce the be

[2019-02-20 20:55] hiroppy commented on #1428
I think we should use `path` module.(because it does not occur in mac)
Currently, I don't have windows pc so could you please submit PR?

[2019-02-20 21:37] shobhitsharma opened #1675 "v3.2.0 Breaks host parameter passed with options falling back to localhost"
- Operating System: macOS Mojave
- Node Version: 10.15.1
- NPM Version: 6.x
- webpack Version: 4.x
- webpack-dev-server Version: 3.2.0

- [x] This is a **bug**
- [ ] This is a **modification** request

[code]

[2019-02-21 09:13] evilebottnawi commented on #1428
@hiroppy don't have pr also, let's use `path` and just fix example with `path`

[2019-02-21 09:15] evilebottnawi commented on #1675
@shobhitsharma Please describe you issue more verbosely, what do you mean `Breaks host parameter`?

[2019-02-21 09:34] evilebottnawi commented on #1674
hm, it is interesting how it is work before because we use code https://github.com/webpack/webpack-dev-server/commit/0b89fd94b78f6e049614ab466a7eab7d6a2a33f2

[2019-02-21 10:02] evilebottnawi commented on #1675
Please create minimum reproducible test repo

[2019-02-21 10:31] evilebottnawi commented on #1674
@MLoughry PR https://github.com/webpack/webpack-dev-server/pull/1676, anyway, better to use files for this, because `pfx` can't be string due it is binary format

[2019-02-21 11:41] jsmith-sapient opened #1677 "proxy.bypass return false does not work"
- Operating System: MacOS High Sierra
- Node Version: 11.0.0
- NPM Version: 6.4.1
- webpack Version: 4.29.5
- webpack-dev-server Version: 3.2.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

does *not* work:
[code]

*does* work:
[code]

### Expected Behaviour

Based on the [vague explanation in the docs](https://webpack.js.org/configuration/dev-server/#devserverproxy)

[2019-02-21 11:53] evilebottnawi commented on #1677
Can you try return `null` or something else? Looks like regression in `http-proxy`/`http-proxy-middleware`

[2019-02-21 11:54] evilebottnawi commented on #1677
Anyway PR welcome

[2019-02-21 13:16] #1674 closed

[2019-02-21 14:19] jsmith-sapient commented on #1677
@evilebottnawi I tried `null`: No difference to `false` (it does nothing).

I'll try to find some time this weekend to take a look. I might be posting as @jshado1 (my personal account, not a catfish).

[2019-02-21 14:21] evilebottnawi commented on #1677
@jsmith-sapient i will look on this in near future, anyway we glad any help

[2019-02-21 14:35] evilebottnawi commented on #1677
@jsmith-sapient reproducible test repo works fine, i am use `/test` and it is return `json`. What expected?

[2019-02-21 14:39] evilebottnawi commented on #1655
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-02-21 14:39] #1655 closed

[2019-02-21 14:40] jsmith-sapient commented on #1677
@evilebottnawi see the [commit history](https://github.com/jsmith-sapient/local-api-mocker/commits/webpack-devsrv):

[2019-02-21 14:40] evilebottnawi commented on #1677
@jsmith-sapient thanks, it si very strange because we have tests on this case and tests passed :confused:

[2019-02-21 14:44] evilebottnawi commented on #1508
Close in favor https://github.com/webpack/webpack.js.org/pull/2813

[2019-02-21 14:44] #1508 closed

[2019-02-21 14:50] evilebottnawi commented on #1643
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-02-21 14:50] #1643 closed

[2019-02-21 14:55] evilebottnawi commented on #1651
`mkcert` is not related to `webpack-dev-server`, we don't use this tool, you need to read documentation how it is works, we provide option like `ca`, `pfx`, `key` and `cert` for `https`.

Problem looks like you generated invalid certificate, maybe missing some arguments or somethings else, anyway you get some problems with any servers (`nginx`, `apache` and etc). So we can't help you here, sorry.

[2019-02-21 14:55] #1651 closed

[2019-02-21 14:56] evilebottnawi commented on #1642
@kmannislands we need minimum reproducible test repo for manual testing (hard to testing), it is increase speed for solving problem

[2019-02-21 14:57] evilebottnawi commented on #1582
/cc @yuri-sakharov friendly ping

[2019-02-21 15:31] evilebottnawi commented on #1454
@robbyemmert you can't get same issue, because this problem related how plugin insert new entries.
@neo7official It is not bug, you don't have webpack-dev-server client code in you entry

[2019-02-21 15:36] evilebottnawi commented on #1356
Somebody can create minimum reproducible test repo?

[2019-02-21 15:37] evilebottnawi commented on #1294
Close in favor https://github.com/webpack/webpack-dev-server/pull/1632

[2019-02-21 15:37] #1294 closed

[2019-02-21 15:38] evilebottnawi commented on #1161
Somebody still has problem? if yes, please create minimum reproducible test repo, thanks!

[2019-02-21 15:49] jsmith-sapient commented on #1677
@evilebottnawi could you link me to the test case? that might help.

[2019-02-21 15:55] jsmith-sapient commented on #1677
@evilebottnawi I think you're talking about [this case](https://github.com/webpack/webpack-dev-server/blob/master/test/Proxy.test.js#L116-L118):

[code]

If so, the function does not return null:

[code]

[2019-02-21 15:58] evilebottnawi commented on #1677
@jsmith-sapient we return nothing in this test, i think `null`, `undefined`, `false` is same in this context :confused:

[2019-02-21 15:59] jsmith-sapient commented on #1677
I don't think so. I would expect no return to mean "go ahead, proxy, do your thing". How else would that be signalled?

[2019-02-21 16:02] evilebottnawi commented on #1677
@jsmith-sapient in previous versions all works fine, right?

[2019-02-21 16:05] jshado1 commented on #1677
I haven't used `bypass` with previous versions.

[2019-02-21 16:10] evilebottnawi commented on #1623
@germn yep, we don't remove old assets due perf reason, anyway it may cause some memory leaks so i think it is bug, PR welcome

[2019-02-21 16:17] evilebottnawi commented on #1274
/cc @hiroppy we need test with latest deps this problem and close this in `3.3.0` version

[2019-02-21 16:29] evilebottnawi commented on #1287
Reproducible test repo doesn't work, also you use outdated version of `webpack-dev-server`, please update. Closing issue due can't reproduce, anyway feel free to feedback. If somebody can create working reproducible test repo with latest version of `webpack-dev-server` i will reopen issue and fix problem, thanks!

[2019-02-21 16:29] #1287 closed

[2019-02-21 16:43] evilebottnawi commented on #1375
Fixed in https://github.com/webpack/webpack-dev-middleware/commit/e606cf1fa747b9b6d828dc259d346d1cf2f0d549, if somebody still have problem feel free to feedback thanks!

[2019-02-21 16:43] #1375 closed

[2019-02-21 16:56] evilebottnawi commented on #1503
/cc @KenilDomadia problem still exists?

[2019-02-21 16:58] evilebottnawi commented on #1341
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-02-21 16:58] #1341 closed

[2019-02-21 17:06] evilebottnawi commented on #1595
/cc @spencer-brown sorry for delay, maybe you can create minimum reproducible test repo, it is allow other developers make fast test and search problem place to fix

[2019-02-21 17:16] evilebottnawi commented on #1644
@andyhall why don use `try/catch`? What is expected?

[2019-02-21 17:46] andyhall commented on #1644
I'm already using `try/catch`, to work around this problem. But anyone not using it will encounter the issue.

Expected behavior is in the bug report.

[2019-02-21 18:00] evilebottnawi commented on #1644
@andyhall i don't have idea how we can allow the error to be caught by the browser, can ypu provide more verbosely example? Maybe it is part of webpack, not dev server

[2019-02-22 01:50] mjrussell commented on #1642
Can confirm we are also experiencing this error proxying websockets when the server doesn't gracefully respond to the connect or it closes abruptly. Only happens on Node 10.x

[2019-02-22 02:06] andyhall commented on #1644
@evilebottnawi Uhhhh I'd better start over 😁

Currently, when there's a syntax error inside an HMR callback, WDS _reloads the page_, right? That's what should be happening in the minimal reproduction repo, step 3.

The issue I'm reporting is that WDS should _not reload the page_ in this case. If WDS doesn't reload the page, then the HMR callback will execute and the browser will catch the error an

[2019-02-22 10:04] evilebottnawi commented on #1642
@mjrussell can you create minimum reproducible test repo?

[2019-02-22 11:26] GitNomster opened #1681 "idb-connector dependency"
- Operating System: Win 10 x64
- Node Version: 10.15.1
- NPM Version: 6.7.0
- webpack Version: 4.29.5
- webpack-dev-server Version: 3.2.0

- [x] This is a **bug**

### Expected Behavior
All is ok without any err.

### Actual Behavior
When i install webpack-dev-server 3.2.0 console warns about:
[code]
and then, when i try to install deps with npm ci it starts to install idb-connector. And result is

[2019-02-22 11:29] jsmith-sapient commented on #1677
I'm having trouble finding where this is in the source code. Could you point me in the right direction?

[2019-02-22 11:48] evilebottnawi commented on #1681
@GitNomster Problem in `internal-ip` package, please fill issue on their repo, we can't do something here

[2019-02-22 11:49] evilebottnawi commented on #1681
@GitNomster `npm i` works fine? `npm ci` no?

[2019-02-22 11:54] GitNomster commented on #1681
@evilebottnawi problem occurs only in `npm ci`

[2019-02-22 11:58] evilebottnawi commented on #1681
@GitNomster it is happens on CI, right? Looks you `package-lock.json` contains installed peerDeps so `npm ci` try to install deps

[2019-02-22 12:02] GitNomster commented on #1681
@evilebottnawi yes, i'm using it locally. I've dig deeper and found default-gateway 3.1.0 package start using idb-connector.

[2019-02-22 12:11] evilebottnawi commented on #1681
@GitNomster You should not use `npm ci` locally, this command only for CI systems

[2019-02-22 12:14] GitNomster commented on #1681
@evilebottnawi sometimes i'm using it on build server, where i get program for production.

[2019-02-22 12:30] evilebottnawi commented on #1681
@GitNomster npm ci should be run only on CI systems, where you stode node_modules cache otherwise it doesn't have sense and can lead to this error. We can't solve this problem on our side. It is problem more related to package manager, sorry

[2019-02-22 12:32] #1681 closed

[2019-02-22 13:58] evilebottnawi commented on #616
We should move CLI logic to `webpack-cli` (we need discussion how better do this). Ideas:
- Allow package define own command in `webpack-cli`
- Remove out bin and add message about using `webpack serve` instead `webpack-dev-server` bin

Feel free to dicussion

[2019-02-22 13:59] evilebottnawi commented on #1422
Close in favor https://github.com/webpack/webpack-dev-server/issues/616#issuecomment-466404912. We solve this for `v4`

[2019-02-22 13:59] #1422 closed

[2019-02-22 14:00] evilebottnawi commented on #851
Issue has a lot of post with difference issue, please confirm what issue exists and provide minimum reproducible test repo, thanks!

[2019-02-22 14:11] evilebottnawi commented on #1505
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-02-22 14:11] #1505 closed

[2019-02-22 14:12] evilebottnawi commented on #1505
Sometimes some `fs` doesn't support `changes`, you need setup `poll: true` in `watchOptions`.

[2019-02-22 14:15] evilebottnawi commented on #1386
Closing in favor https://github.com/webpack/memory-fs/issues/59, also we have problem in `webpack-dev-middleware` and already fixed this problem, so update deps, if problem still exists feel fee to open new issue with reproducible test repo, thanks

[2019-02-22 14:15] #1386 closed

[2019-02-22 14:18] evilebottnawi commented on #1193
/cc @micacardillo Problem still exists?

If somebody has problem please report here about this, any reproducible test repo welcome, thanks!

[2019-02-22 14:21] evilebottnawi commented on #1111
/cc @n1474335 Problem still exists? If yes please create minimum reproducible test repo

[2019-02-22 15:13] miketownsend commented on #1675
* Operating System: macOS Mojave
* Node Version: 10.15.1
* NPM Version: 6.x
* webpack Version: 4.x
* webpack-dev-server Version: 3.2.0

* [x]  This is a **bug**
* [ ]  This is a **modification** request

I am seeing the same issue, and have a project serving html with a local ssl certificate on:
https://app.domain.com:3000

The webpack assets are served on:
https://app.domain.com:8080

Using:

[co

[2019-02-23 09:56] shobhitsharma commented on #1675
@evilebottnawi This resolves the issue for me https://github.com/webpack/webpack-dev-server/pull/1686. If you guys have better ideas up there, feel free to commit and let me know.

[2019-02-24 04:03] phil-lgr commented on #1675
v3.2.0 broke my --https setup with --host I get the autogenerated certificate instead of the one I pass in parameters

[2019-02-24 04:11] phil-lgr commented on #1675
I don't understand the changes here: https://github.com/webpack/webpack-dev-server/commit/0b89fd9#diff-15fb51940da53816af13330d8ce69b4e cc @evilebottnawi

@shobhitsharma  It's sad that such a change was merged and released! Hopefully your revert can be merged quickly!

[2019-02-24 04:39] phil-lgr commented on #1675
Repro: https://github.com/phil-lgr/repro-https-issue

![image](https://user-images.githubusercontent.com/9644867/53295174-cbde3a80-37c3-11e9-8b03-bd7af37f99e4.png)

![image](https://user-images.githubusercontent.com/9644867/53295183-fb8d4280-37c3-11e9-9ca7-1eecb49dcfee.png)

**with "webpack-dev-server": "3.1.14"**:

![image](https://user-images.githubusercontent.com/9644867/53295205-5030bd80-37c4-

[2019-02-24 04:43] phil-lgr commented on #1675
basically... all the --cert --key args are ignored

[2019-02-24 04:46] phil-lgr commented on #1675
Looks like v3.2.0 just ignores --cert --key and the other --https args? let me know if you have any questions

[2019-02-24 05:50] oscarhco commented on #1249
Hey @leepowellcouk !
I am having this issue, can you elaborate on what exactly the 'public' configuration property is?
Thanks in advance.

[2019-02-24 22:09] martinoppitz opened #1687 "https config is broken"
webpack.conf.json
[code]

I believe the fs.readSync is now inside webpack-dev-server ... we configured the key inline.

[code]

[2019-02-24 22:20] martinoppitz commented on #1687
is that the new feature?

[code]

[2019-02-25 08:41] langri-sha commented on #1687
There's some documentation already up:

https://webpack.js.org/configuration/dev-server/#devserver

[2019-02-25 09:33] evilebottnawi commented on #1687
@martinoppitz already fixed in master, we accept `key`, `cert` and `ca` as `path`, `string` and `Buffer`, it was regression

[2019-02-25 09:33] #1687 closed

[2019-02-25 09:35] evilebottnawi commented on #1675
@phil-lgr please don't post issue in difference issue, create new issue instead

[2019-02-25 10:18] arthureggert opened #1689 "Problems with idb-connector"
Since the upgrade to internal-ip@4.0.0, that was done [here](https://github.com/webpack/webpack-dev-server/pull/1668), some people have issues on running npm-ci [here](
https://github.com/webpack/webpack-dev-server/issues/1681), checked that the origin of the problem is the default-gateway package, that is used by the internal-ip, but the 2 projects already resolve this problem and revealed a new

[2019-02-25 10:35] evilebottnawi commented on #1689
@arthureggert let's do it

[2019-02-25 10:35] #1675 closed

[2019-02-25 10:38] arthureggert commented on #1689
@evilebottnawi I open a PR to fix this.
If anything is needed please let me know.

[2019-02-25 11:04] #1689 closed

[2019-02-25 11:20] evilebottnawi commented on #1677
/cc @hiroppy need fix this problem next :+1: Should be not difficult

[2019-02-25 13:11] shobhitsharma commented on #1675
@evilebottnawi Please write better testing in future to prevent issues like this.

[2019-02-25 13:30] evilebottnawi commented on #1675
@shobhitsharma it is open source and i am maintaining many projects and sometimes doesn't have enough time on all test cases, you can help us just send a PR with more tests

[2019-02-25 14:09] LukasBombach commented on #1381
I had the same issue and I fixed it by changing the `name` property from starting with a `/` (which resulted in an absolute path) to a `./` (which is a relative path). My config:

[code]

[2019-02-26 09:52] #1428 closed

[2019-02-26 10:22] #1572 closed

[2019-02-26 10:45] fimars opened #1693 "Another log after first start WDS."
- Operating System: MacOS High Sierra
- Node Version: 10.6.0
- NPM Version: 6.8.
- webpack Version: 4.29.5
- webpack-dev-server Version: 3.2.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

https://github.com/fimars/webpack-emit-test/blob/master/bin.js#L6-L23

### Expected Behavior

I expect that there is no second log after WDS is started.

### Actual Behavior

It gi

[2019-02-26 11:41] shanmugarajbe commented on #1433
I too facing the same issue with the latest webpack. It was working fine in the previous version. I have 8GB of RAM. Is there any solution available ?

[2019-02-26 11:51] evilebottnawi commented on #1433
@shanmugarajbe please **provide minimum reproducible test repo** and create new issue

[2019-02-26 12:42] aakhan89 commented on #981
I did the same, but not working

[2019-02-26 13:32] houfeng0923 commented on #1574
i found our api response data  (large json ) is truncated .   the api server support http2  and it  only  reproduced in http2 .  we can force proxy server  use  http1.1 always:

[code]

[2019-02-26 14:55] evilebottnawi commented on #1574
@houfeng0923 Can you create minimum reproducible test repo?

[2019-02-26 20:18] sharkySharks commented on #1249
same ^

[2019-02-26 20:49] sharkySharks commented on #1249
@oscarhco found it: https://webpack.js.org/configuration/dev-server/#devserverpublic

[2019-02-27 08:36] andy0130tw commented on #174
I think the more correct way to get `window` is `Function('return this')()` instead. The content in `Function` constructor is non-strict regardless of the environment it is created in.

[2019-02-27 08:52] skyFi commented on #1623
Looking forward to fix this

[2019-02-27 10:17] marcofugaro commented on #1518
@araphiel how did you solve this issue for your project??

[2019-02-27 10:51] marcofugaro opened #1694 "Add option to make watchContentBase recursive or expose chokidar options"
- Operating System: OSX
- Node Version: v11.7.0
- NPM Version: 6.5.0
- webpack Version: 4.29.5
- webpack-dev-server Version: 3.2.1

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code
I have a public folder like this
[code]

And my config like this

[code]

### Actual Behavior
Right now the `watchContentBase` acts only on the root folder, because of this chokidar options:

h

[2019-02-27 17:18] rcreasi commented on #1591
Any movement on this issue? Unfortunately it's not possible for me to use `output.publicPath` due to some particulars of my project's configuration.

[2019-02-27 19:38] araphiel commented on #1518
Hi @marcofugaro,

Honestly, I misunderstood Webpack + WDS.

In my instance, I used Webpack to compile CSS & JS for use with my static site generator.
Setting `contentBase` to the root directory used for my dev build - was enough to handle this.

However, if you needs are more comprehensive - you can manually run an additional callback that uses chokidar with more depth settings using `devServer.be

[2019-02-27 20:15] marisveide opened #1695 "Generated SSL Certificate is not valid (has no CA), and cannot make it as valid and accepted"
- Operating System: MacOS Mojave 10.14.3
- Node Version: v11.9.0
- NPM Version: 6.5.0
- webpack Version: 4.0.0-rc.7
- webpack-dev-server Version: 3.1.14

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior
When starting the `webpack-dev-server` it should generate the SSL certificate which is valid, with the CA, so that when it gets accepted, it

[2019-02-28 00:06] rcreasi commented on #1591
I specifically need the hot files to be served from a separate domain. The code that @tseho linked to above shows where the filename is generated but not where the domain part of the url comes from.

I did some of my own digging and it appears the domain is [hardcoded in the runtime](https://github.com/webpack/webpack/blob/9fe42e7c4027d0a74addaa3352973f6bb6d20689/lib/web/JsonpMainTemplate.runtime.

[2019-02-28 05:30] philipbordallo commented on #1370
I ran into this issue as well, usually when going between different projects that use `webpack-dev-server` and `https`.  What worked for me, albeit a somewhat excessive solution, was clearing the iOS Safari browser data (Settings &rarr; Safari &rarr; **Clear History and Website Data**).

[2019-02-28 05:45] philipbordallo commented on #1651
@tr1s make sure your config for `devServer` is correct and you are pointing to the certs you made with `mkcert`.

For example,
[code]

See [the documentation](https://webpack.js.org/configuration/dev-server/#devserverhttps) for more.

[2019-02-28 10:06] dnicoara-psft commented on #1574
I'm having the same issue with webpack-dev-server 3.2.1
The JSON response is truncated. Downgrading to 3.1.10 solves the issue.
Could someone take a look at this, please?

[2019-02-28 13:24] BeSaRa commented on #1377
Any solution here Please !??

[2019-02-28 14:05] bastienrobert commented on #1377
@BeSaRa Several solutions have already been explained above. Please add more details if these solutions are not adequate.

[2019-02-28 15:32] tr1s commented on #1651
@philipbordallo thank you! I missed that. I'll remember this when I try it again. I ended up having to reset my laptop to the hour before I installed mkcert 😒

I don't really see the advantages of going through all this trouble though. I only needed it for Slate, but I thought the point of https was for live websites, not local development.

Guess I need to look into it more.

[2019-03-02 13:39] dmohns commented on #1614
Hey, @clshortfuse Sorry to necro this. I am stuck in a similar scenario where `webpack-dev-middleware` sets an inappropriate `Content-Type` and I have no option to modify it in `after` for reason given in OP.
I am trying to make your monkey patch work by putting it into my `webpack.config.js`, but `webpack-dev-middleware` doesn't quite seem to pick it up. Where do I have to put the monkey patch?

[2019-03-03 07:29] hanjunlee commented on #285
FYI

[2019-03-03 09:40] yuri-sakharov commented on #1582
I just checked it in v3.2.1 and see that problem with polling was fixed.

[2019-03-03 15:46] BeSaRa commented on #1377
all applied but nothing work with me.

and actually after a long time i catch the reason of that, when i add copy-webpack-plugin to the plugins property, the HMR not working.
should i open issue here or in copy-webpack--plugin !!??

[2019-03-03 16:06] bastienrobert commented on #1377
Did you check https://github.com/webpack-contrib/copy-webpack-plugin/issues/270 ? You can still re-open it

[2019-03-04 02:28] houfeng0923 commented on #1574
@evilebottnawi  , i guess a http2 bug in `node-spdy` or ` http-proxy-middleware` .
webpack-dev-server depend on express , express use node-spdy to support http2 feature .

i ceate a [issue](https://github.com/spdy-http2/node-spdy/issues/357) here.

[2019-03-04 08:10] evilebottnawi commented on #1574
@houfeng0923 thanks for investigateion

[2019-03-04 08:37] evilebottnawi commented on #1623
@skyFi What is it?

[2019-03-04 08:41] evilebottnawi commented on #1694
Yep, we should avoid this limitation, feel free to send a PR with remove this `depth`. Question for `depth: 0` in `watchpack` not related to `contentBase` option

[2019-03-04 09:21] evilebottnawi commented on #1582
Closing, feel free to feedback, if somebody has problem feel free to create new issue

[2019-03-04 09:21] #1582 closed

[2019-03-04 09:27] evilebottnawi commented on #1695
It is expected, you should accept self-signer certificate, anyway we can skip regeneration certificates if they already exists to avoid this problem, feel free to send a PR, it is feature

[2019-03-04 10:30] marcofugaro commented on #1694
Done!

[2019-03-04 11:53] marisveide commented on #1695
Having to accept the self-signed certificate is only one part of an issue.
The main issue is that I cannot add my own certificate which I can make valid for a longer period. Or am I missing something - how to use my own certificate?

That would be really awesome if I could...
Thank you!

[2019-03-04 12:12] evilebottnawi commented on #1695
See second example https://webpack.js.org/configuration/dev-server/#devserverhttps

What is real problem?
Each run require accept certificate?

[2019-03-04 12:30] mwikstrom commented on #1482
@evilebottnawi how to figure out which port to publish when using the `before` approach?

I need to publish webpack's port and public path, preferably using bonjour. Following the suggestion in this thread, I should invoke bonjour explicitly in my `before` callback (instead of relying on the `bonjour` option).

However, the `before` callback gets two arguments: `app` and `server` (no `options` as

[2019-03-04 12:44] evilebottnawi commented on #1482
@mwikstrom maybe we should pass option too for `before` option, feel free to send a PR

[2019-03-04 13:00] marisveide commented on #1695
That's right - this is an issue: running the command line like this (as explained in the link you sent):
`webpack-dev-server --https --key /path/to/server.key --cert /path/to/server.crt --cacert /path/to/ca.pem`

It just ignores those parameters, and still generates its own certificate. It doesn't use my passed certificate.
The concrete command I am running, is this:
`./bin/webpack-dev-server --ht

[2019-03-04 13:12] evilebottnawi commented on #1695
What version `webpack-dev-server` you use? We fix problem with CLA in previously patch release

[2019-03-04 13:13] evilebottnawi commented on #1695
Also please create reproducible test repo, something wrong in your config/env

[2019-03-04 15:17] clshortfuse commented on #1614
@dmohns Sorry for not getting back to you sooner.

In my `webpack.config.js` I added

[code]

Basically, you import `mime` and change `getType` before `webpack-dev-middleware` executes. So when when it runs `mime.getType`, it actually runs through your proxy. I no longer need this because I actually filed the issue and made a pull-request to fix my issue. It was merged in 3.5.0.

I do recommend yo

[2019-03-04 15:39] jharwig commented on #1482
@mwikstrom
[code]

[2019-03-04 17:09] amefoDC commented on #720
Hi,  I used "npm install --save-dev babel-loader" and it worked for me. Give a try.

[2019-03-04 20:56] acacia314 commented on #1458
I ran into this issue as well.

I was running dev server with a specified self signed cert which used localhost as the CA. The page would load fine under localhost but any HMR requests failed because they pointed to the network address.
[code]
Setting `useLocalIp: false` did not resolve the issue for me.

However, specifying the host as localhost did force the hmr requests to go through localhost.

[2019-03-05 01:20] mwikstrom commented on #1482
@jharwig Thank you, that's exactly what I needed!

@evilebottnawi Yes, that might be a good idea. However, since the port number is available on `this` it might be sufficient to just document that?

[2019-03-05 04:07] #1693 closed

[2019-03-05 07:40] devrsi0n commented on #1377
I got
[code]
warning too, I fixed this issue by replacing webpack config `devServer.hotOnly: true` to `devServer.hot: true`.

[2019-03-05 10:29] yadue opened #1699 "Spdy net::ERR_CONTENT_DECODING_FAILED 200"
- Operating System: Mac OS
- Node Version: 8.11.4
- NPM Version: 5.6.0
- webpack Version:
- webpack-dev-server Version: 3.2.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

Angular CLI with proxy:

When using dev-server with https proxy with config:
[code]
I'm getting error when trying to data via ajax call:
net::ERR_CONTENT_DECODING_FAILED 200

I went through differe

[2019-03-05 10:34] evilebottnawi commented on #1699
We need reproducible test repo, it is hard to debug and search problem without example

[2019-03-05 13:47] yadue commented on #1699
I tried to reproduce this with express js but with no luck, but at the end I found out that:
- with proxy to spring boot server, https, gzip
 `net::ERR_CONTENT_DECODING_FAILED 200`
https://imgur.com/h0JSywp
- with proxy to spring boot server, https no gzip
`Unexpected token , in JSON at position 8192 at JSON.parse` and really missing some characters in that positions
- with proxy to express, https

[2019-03-05 14:37] evilebottnawi commented on #1699
Unexpected token , in JSON at position 8192 at JSON.parse and really missing some characters in that positions

Maybe related https://github.com/webpack/webpack-dev-server/issues/1574 ? And problem with `net::ERR_CONTENT_DECODING_FAILED 200` looks also related to this issue.

[2019-03-05 15:56] yadue commented on #1699
Yeah, it sounds it’s related, but in my particular case it breaks after 8192 signs, and it worked just fine when using the same json response from express js, same response coming from spring boot didn’t.

[2019-03-05 16:00] evilebottnawi commented on #1699
Wait reproducible test repo, it is really hard to debug and find problem without this

[2019-03-06 03:25] Mozar10 commented on #875
Restarting the computer fixed it for me

[2019-03-06 05:47] skyFi commented on #1623
@evilebottnawi Web pages memory usage in development mode

[2019-03-06 08:26] lzane commented on #1574
same issue here with Node v8
update to Node v10 solve my problem

[2019-03-06 08:35] yadue commented on #1574
node v10 forces webpack-dev-server to use https server instead of spdy, I think just an option to select manually would be a solution in that particular case