[2019-03-06 09:29] evilebottnawi commented on #1574
@yadue why?

[2019-03-06 09:33] evilebottnawi commented on #1623
@skyFi This problem not related directly to this issue, many of loaders and plugins have memory leak so i don't think it is problem `webpack-dev-server`

/cc @hiroppy i think we should investigate this, just create big file (100mb as example) change multiple time and see on memory usage, can you take care about this, don't have time on this right now

[2019-03-06 09:48] yadue commented on #1574
for users who are not using nodejs 10 for some reasons it uses only spdy which in webpack-dev-server above 3.1.10 fails for some reasons for the guys here, it truncates response in some cases. there is no way for us to use latest versions of webpack-dev-server since we can't manually select which protocol we want to use

webpack-dev-server detects node v10 and runs https server which works just fi

[2019-03-06 09:50] evilebottnawi commented on #1574
@yadue it is not solution, we should find problem and fix it, no need implement hacks

[2019-03-06 09:51] evilebottnawi commented on #1574
What is problem create minimum reproducible test repo?

[2019-03-06 10:07] dmohns opened #1700 "Pass mimeTypes options to webpack-dev-middleware"
- Operating System: macOS 10.14.3
- Node Version: `v11.10.0`
- NPM Version: `6.8.0`
- webpack Version: `4.29.6`
- webpack-dev-server Version: `3.2.1`

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

`webpack-dev-middleware` exposes an option to set custom mime types via passing a `mimeType` object, see https://github.com/webpack/webpack-dev-middleware#mimetypes

Current

[2019-03-06 10:31] yadue commented on #1574
here you go:
https://github.com/yadue/webpack-dev-server-proxy-issue
npm install
npm run start
open https://app.localhost:4201/
you'll see 2 requests proxied to
http://yadue.synology.me/api3/2jcegul7ephjg2emsfg4v5097g.json (10kb)
http://yadue.synology.me/api3/2jcegul7ephjg2emsfg4v5097g-small.json (2kb)
https://imgur.com/a/sXfyiuY

it really took me so long to find reproducible case.

[2019-03-06 10:47] dmohns commented on #1614
@clshortfuse Thanks!

I will create and issue in the `webpack-dev-middleware` repo and ping you there.

[2019-03-06 11:10] yadue commented on #1699
here you go:
https://github.com/yadue/webpack-dev-server-proxy-issue
npm install
npm run start
open https://app.localhost:4201/
you'll see 2 requests proxied to
http://yadue.synology.me/api3/2jcegul7ephjg2emsfg4v5097g.json (10kb)
http://yadue.synology.me/api3/2jcegul7ephjg2emsfg4v5097g-small.json (2kb)
https://imgur.com/a/sXfyiuY

it really took me so long to find reproducible case.

[2019-03-06 11:29] evilebottnawi commented on #1700
PR welcome

[2019-03-06 11:30] evilebottnawi commented on #1574
@yadue very thanks, i will looks on this in near future

[2019-03-06 20:29] maclockard commented on #1536
FWIW I was running into this issue as well, but bumping to the latest version webpack-dev-server resolved it.

Version: 3.2.1

[2019-03-06 23:18] heymath commented on #1659
@expertup If I understood your problem, I guess you should check the `public` option [devServer.public](https://webpack.js.org/configuration/dev-server/#devserverpublic).

For my own case:

I got some troubles with my config for Webpack dev server running in a Docker container.
Because of Hot Modules Reload / Web Sockets using the `--host=$HOST` and `--port=$PORT` options that I gave for running t

[2019-03-07 01:46] yingliang33h opened #1702 "'node-forge' security alert"
- Operating System: Mirosoft Windows 10
- Node Version: 8.11.1
- NPM Version:5.6.0
- webpack Version:3.10.0
- webpack-dev-server Version:3.2.1

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior

### Actual Behavior

### For Bugs; How can we reproduce the behavior?

### For Features; What is the motivation and/or use-case for the featu

[2019-03-07 05:05] rlamana opened #1703 "Using API doesn't add HMR plugin entry"
Hot Module Replacement plugin entry doesn't seem to be added when using the API. The new tests on the PR #1664 use the dev server API via the `test/helper.js` and `addEntries` function in `lib/utils/addEntries.js` had to be manually called to make it work.

webpack Version: 4.29.0
webpack-dev-server Version: 3.1.14

- [x] This is a **bug**
- [ ] This is a **modification** request

### How can we r

[2019-03-07 09:58] evilebottnawi commented on #1702
We don't use `node-forge` directly we need update https://github.com/webpack/webpack-dev-server/blob/master/package-lock.json#L10153

[2019-03-07 09:59] evilebottnawi commented on #1702
Feel free to send a PR with update

[2019-03-07 10:02] #1663 closed

[2019-03-07 13:58] marisveide commented on #1695
I am using `webpack-dev-server` version `Version: webpack 4.29.5` (upgraded to latest).

Here is the reproducible steps:
[code]

Notice the line `ℹ ｢wds｣: Generating SSL Certificate`
It generates its own SSL certificate and ignores the command line arguments to use my own certificate.

[2019-03-07 14:31] cicibobo commented on #1592
Issue still exist  node - v11.11.0,   spdy - 4.0.0

[2019-03-08 09:08] stephan-v commented on #1257
The Webpack community never ceases to amaze me with its stupidity.

[2019-03-08 14:49] damianobarbati commented on #400
@sokra the ability to bind to multiple hosts enables advanced use cases:
- I have a webapp which is "templated" for multiple customers and server serves the correct bundle upon the requesting domain, if I want hot reload I need to mimic this behaviour in the webpack-dev-server
- each domain has its own certificates and I need to use SSL certs correctly: I can't disable SSL given the implication wh

[2019-03-08 22:23] ed-sparkes opened #1711 "400 Bad request due to Node limiting header size to 8kB"
- Operating System: Windows 10
- Node Version: 10.15.1
- NPM Version: 6.4.1
- webpack Version: 4.26.1
- webpack-dev-server Version: 3.2.1

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior

### Actual Behavior

### For Bugs; How can we reproduce the behavior?

### For Features; What is the motivation and/or use-case for the feature?
W

[2019-03-09 10:28] njwest opened #1712 "[feature request] --stdin as option in config"
System:
    OS: macOS 10.14.3
    CPU: (8) x64 Intel(R) Core(TM) i7-4870HQ CPU @ 2.50GHz
  Binaries:
    Node: 8.10.0 - ~/.nvm/versions/node/v8.10.0/bin/node
    Yarn: 1.9.4 - /usr/local/bin/yarn
    npm: 6.4.1 - ~/.nvm/versions/node/v8.10.0/bin/npm
  Browsers:
    Chrome: 72.0.3626.121
    Firefox: 65.0.1
    Safari: 12.0.3

- [ ] This is a **bug**
- [x] This is a **modification** request

### Co

[2019-03-09 15:47] Aghassi opened #1713 "Question: What is the status of HTTP/2 support?"
- Operating System: macOS 10.14.3
- Node Version: 10
- Yarn Version: 1.13.0
- webpack Version: 4.29.4
- webpack-dev-server Version: 3.2.1

- [ ] This is a **bug**
- [ ] This is a **modification** request
- [x] This is a question

I spent about an hour digging around yesterday and couldn't find the answer to this question, so I wanted to post here and get some insight.

I read through https://githu

[2019-03-10 08:45] jayarjo commented on #1315
Shouldn't HMR work with modules too? I thought that's what hype was about, why it only works for CSS?

[2019-03-10 15:21] #1315 closed

[2019-03-11 09:44] evilebottnawi commented on #1711
PR welcome

[2019-03-11 09:46] evilebottnawi commented on #1712
@njwest i think we should open this issue in `webpack-cli`, for `v4` we drop our `bin` in favor `webpack-cli` command, so i think we should discussion about this in `webpack-cli`

[2019-03-11 09:56] evilebottnawi commented on #1713
We support `http2` using `spdy` module for backward compatibility with old node version, to enable http2 you should enable `https` option and `spdy` option, but i agree it is misleading, and looks we doesn't respect `spdy` (https://github.com/webpack/webpack-dev-server/blob/master/bin/options.js), thanks for issue. We need:
1. Respect `spdy` (add alias `http2`) in CLI
2. Add tests

For future vers

[2019-03-11 10:11] evilebottnawi commented on #1695
@marisveide can you run `npm ls webpack-dev-server`?

[2019-03-11 13:51] marisveide commented on #1695
@evilebottnawi , sure!

[code]

[2019-03-11 13:53] evilebottnawi commented on #1695
@marisveide you have old version, latest `3.2.1` https://github.com/webpack/webpack-dev-server/blob/master/package.json#L3, please update version and check again

[2019-03-11 15:51] marisveide commented on #1695
Oh, I see where the issue is.
We need this package `@rails/webpacker` (https://github.com/rails/webpacker), and the `webpack-dev-server` comes as a dependency for that one.
So actually, looks like I need to wait/ask them to support the latest `webpack-dev-server`.

[2019-03-11 16:12] evilebottnawi commented on #1695
@marisveide problem solved? Because we solve this issue for `3.2` version

[2019-03-11 16:52] marisveide commented on #1695
Sorry, nope, the problem is not solved.

Look - I have the `webpack-dev-server@3.2.1` now.
Still, when I run the following commands:
[code]

I see the following output:
[code]

When I look in the code of the latest version of this package, in the file `node_modules/webpack-dev-server/lib/Server.js` I see the following code:
[code]

Notice the code `const certPath = path.join(__dirname, '../ssl/ser

[2019-03-11 17:02] evilebottnawi commented on #1695
@marisveide for `.pem` files you should use `--cacert` arg. From docs:
[code]

We don't generate certificate if you provide `key` or `cert`.

[2019-03-11 18:14] marisveide commented on #1695
@evilebottnawi - so sorry, but when I pass the arguments as you show, it still generates the certificate.

I am generating the key, crt and ca.pem according to this doc:
https://gist.github.com/fntlnz/cf14feb5a46b2eda428e000157447309

If I update the SSL parameter file paths to something non-existing, it doesn't complain about that either, so that gives a hint it won't even try to locate those fil

[2019-03-11 18:49] Aghassi commented on #1713
As an added note, will respecting the `spdy` option in the CLI also reflect if I am using this programmatically by importing `webpack-dev-server`?

[2019-03-11 19:54] marisveide commented on #1695
Oh, @evilebottnawi - since that all is linked through the Rails "webpacker" gem, I think that is the issue. I managed to put the key/cert/ca into the webpacker.yml file, and it took the certificates, and that part is working fine.
It looks like the `./bin/webpack-dev-server` is actually not passing the correct command line arguments to the real `webpack-dev-server` NPM package.

Just now the Rails

[2019-03-12 02:49] DirtySoc commented on #544
Issue persists in Firefox. See minimal test case [here.](https://github.com/DirtySoc/reload-wds-disconnect-test-webpack-dev-server)

[2019-03-12 09:17] evilebottnawi commented on #1713
@Aghassi no, but fix it very easy

[2019-03-12 09:23] evilebottnawi commented on #1695
@marisveide What version `webpacker` uses `webpack-dev-server`? So we can close issue?

[2019-03-12 13:07] marisveide commented on #1695
I have `rails/webpacker` v4.0.2.

Basically, when I set the correct keys, and actually see that SSL certificate is ok, then there is an issue with the Rails - it doesn't find the _"compiled"_ .js files.

Interestingly, when the SSL certificate is generated by `webpack-dev-server`, then everything works, it finds the compiled .js files. It's just when SSL certificate is properly generated, then it

[2019-03-12 13:27] evilebottnawi commented on #1695
@marisveide yep, it is not our area

[2019-03-14 03:03] Kris-Lee-SH commented on #558
Actually, setting `devServert.contentBase` to `false` works.
The [document](https://webpack.js.org/configuration/dev-server/#devservercontentbase) helps a lot.

[2019-03-14 09:51] webpack-bot opened #1716 "cannot mute webpack/hot/dev-server console.logs"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
Right now [webpack/hot/dev-server/](https://github.com/webpack/webpack/blob/master/hot/dev-server.js) spams my console, especially with multiple hot entry points (double spam).

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Use HMR in one of the entry points and

[2019-03-14 09:54] evilebottnawi commented on #1716
/cc @noelebrun

Can you clarify `clientLogLevel` diesn't respect `hot`? What is spam messages? Maybe you can show what you options/command use and what you actually have and what you expected, thanks?

[2019-03-14 10:17] DrakeXiang commented on #875
Just figured out sometimes it's about case sensitivity, I'm on macOS, and I misspelled route path from `/Auth` to `/auth`, the issue is gone when I fix the typo, hope helped

[2019-03-14 13:58] esomkin opened #1717 "devServer ignore port param when load chunks"
- Operating System: MacOS
- Node Version: 11.9
- NPM Version: 6.9
- webpack Version: 4.29.0
- webpack-dev-server Version: 3.1.14

- [x] This is a **bug**
- [x] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior
Load chunk from http://domain:8080/build/0.js

### Actual Behavior
Try load chunk from http://domain/build/0.js

### For Bugs; How can we reproduce the beha

[2019-03-14 14:08] evilebottnawi commented on #1717
@esomkin please create minimum reproducible test repo, works fine for me

[2019-03-14 14:11] aryzing opened #1718 "WDS fails to bundle on localhost subdomains"
# Bug report

**What is the current behavior?**
Webpack Dev Server fails with an unhandled error when trying to listen to localhost subdomains.

**If the current behavior is a bug, please provide the steps to reproduce.**

1.
[code]

**What is the expected behavior?**
Webpack Dev Server should catch errors while trying to establish the connection and report the failure.

**Other relevant informati

[2019-03-15 02:30] appsparkler commented on #1346
Removing `hot: true` and setting `overlay: true` makes it work faster for some reason.  I am not sure why, though.

[2019-03-15 08:50] esomkin commented on #1717
@evilebottnawi Here is reproducible demo https://github.com/esomkin/repo.

[2019-03-15 15:12] orange4glace opened #1719 "Reload occurs on every entry even only one entry changed."
- Operating System:
- Node Version: 10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.2.1

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

[code]

**a.js**
[code]
**a.html**
[code]

**b.js**
[code]
**b.html**
[code]

### Expected Behavior

When either `a.js` or `b.js` is changed, like, let's say if `a.js` is changed. Then only `a.htm

[2019-03-15 15:20] evilebottnawi commented on #1719
Duplicate https://github.com/webpack/webpack-dev-server/issues/1503, thanks for issue, feel free to send a PR with fix

[2019-03-15 15:20] #1719 closed

[2019-03-15 15:24] orange4glace commented on #1719
@evilebottnawi Thanks for the comment. It seems time to code XD

[2019-03-15 15:32] evilebottnawi commented on #1719
@orange4glace we are happy when you send PRs

[2019-03-15 15:50] davidgolden commented on #458
@wulichenyang Yep that did it for me.

Removed `app.all('/', function(req, res, next) {
    res.header("Access-Control-Allow-Origin", "*");
    res.header("Access-Control-Allow-Headers", "X-Requested-With");
    next();
});` from my `server.js`

My webpack config looks like this:
`proxy: {
            '/api': {
                target: 'http://localhost:5000',
                pathRewrite: {'^/api':

[2019-03-15 15:57] evilebottnawi commented on #544
@DirtySoc Can't reproduce in `Firefox` and `Chrome` (`linux` and `windows`), looks bug in Firefox with websockets, please use stable version of Firefox

[2019-03-15 15:57] #544 closed

[2019-03-15 15:58] chrisnicola commented on #1433
Seeing this as well. It always compiles at least once without running out of memory, but crashes on the second or third recompile after a file changes. I tried a lot of things to fix it but the only thing that worked was setting:

[code]

I'm at a loss as to why this works, but I suspect it may have something to do with creating more small common chunks that do not change between recompiles?

[2019-03-15 15:59] evilebottnawi commented on #851
Issue was closed due a lot of difference issues in one, also problem should be solved in latest version, anyway feel free to open new issue with reproducible test repo, thanks!

[2019-03-15 15:59] #851 closed

[2019-03-15 18:11] ajain17 commented on #1346
I had the same issue with Webpack version 4.27.1 and Node V8, V10. I just upgraded my node version to 11.11.0 and my initial build is down from 2 mins to 1min and HMR time is down from 2 mins to 12seconds

[2019-03-16 03:43] Loonride opened #1720 "Page not reloading in iframe mode (inline: false)"
- Operating System: Windows 7
- Node Version: 8.10.0
- NPM Version: 6.4.1
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.2.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

### Expected Behavior
Page should reload in iframe mode on changes.

### Actual Behavior
Page does not reload on changes (console output does not update).

### For Bugs; How can we reprod

[2019-03-16 04:09] orange4glace commented on #1719
@evilebottnawi I'm just trying to find where the compilation start point is, but I can't find it. The only code line I found `compiler.run()` is [here](https://github.com/webpack/webpack-dev-middleware/blob/master/lib/context.js#L81) and it seems no actual effect since after delete that function, WDS still works. Could you tell me where the actual webpack compile starts?

[2019-03-16 11:25] evilebottnawi commented on #1719
You are right, compiler.run is function here starts webpack, need investigate inside webpack why it is happens, also we can test this in watch mode

[2019-03-16 11:56] orange4glace commented on #1719
@evilebottnawi I mean, I'm finding the **start point** of  the compilation (or at least which code line of WDS or WDM fires webpack to start compile). The only code line I found which runs `compiler.run()` is [this](https://github.com/webpack/webpack-dev-middleware/blob/master/lib/context.js#L81) one. But when I have tested WDS without that code line (by clearing body of `rebuild()`), WDS still wo

[2019-03-16 12:44] evilebottnawi commented on #1719
Here other run https://github.com/webpack/webpack-dev-server/blob/master/bin/webpack-dev-server.js#L130

[2019-03-17 00:51] noelebrun commented on #1716
Hey,

I'm not really able to reproduce the issue, as I was saying in the previous discussion, I think the issue has already been fixed.

[2019-03-17 20:57] guoyunhe opened #1722 "open option doesn't work in API mode"
- Operating System: Linux
- Node Version: 10.15.2
- NPM Version: 6.9.0
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.3.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior
Running the script should open browser.

### Actual Behavior
Browser is not opened.

### For Bugs; How can we reproduce the behavior?

[code]

### For F

[2019-03-18 02:27] xianshannan opened #1723 "What about separating the proxy into a middleware?"
I writed  [restful-mock-middleware](https://github.com/dog-days/webpack-launcher/tree/master/packages/restful-mock-middleware) and used it in the **webpack-dev-server before function**, but the mock middleware will parse the http body, which will cause the body to be blocked when the proxy is used. So we need to use the `restful-mock-middleware` before the proxy.

I extracted the proxy from `webpa

[2019-03-18 09:24] evilebottnawi commented on #1716
Feel free to feedback/open new issue

[2019-03-18 09:24] #1716 closed

[2019-03-18 09:24] evilebottnawi commented on #1722
Thanks for issue, duplicate https://github.com/webpack/webpack-dev-server/pull/1540, Feel free to send a PR

[2019-03-18 09:25] evilebottnawi commented on #1722
Thanks for issue, duplicate https://github.com/webpack/webpack-dev-server/issues/1510, Feel free to send a PR

[2019-03-18 09:25] #1722 closed

[2019-03-18 09:27] evilebottnawi commented on #1723
@xianshannan i think it is out of scope projects, it is already `middleware`, we just easy way to configure, you can disable built-in feature and use own middleware. What is problem? Maybe we can provide more option

[2019-03-18 09:46] xianshannan commented on #1723
@evilebottnawi `middleware` use inside `middleware` is not standard? I create a `expressMiddlewareCompose` function to use multiple middlewares. Such as the following
[code]

[2019-03-18 09:51] xianshannan commented on #1723
Here is what i did with webpack dev server config:
[code]

[2019-03-18 09:57] xianshannan commented on #1723
@evilebottnawi it's not standard to use `middleware` inside a `middleware`?
But the separation logic is better managed and more convenient.

[2019-03-18 16:30] tannerlinsley opened #1724 "Cannot set property 'wasm' of undefined. Mismatched `mime` versions?"
- Operating System: MacOS 10.14
- Node Version: 10.5.0
- NPM Version: 6.4.1
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.2.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

This is currently in a local WIP branch of [React Static](https://react-static.js.org) v7.
This bug may be related to #1580?

The line of code `[basic]/[webpack-dev-server]/lib/

[2019-03-18 16:33] evilebottnawi commented on #1724
Yep, reproducible test repo will be great

[2019-03-18 16:45] tannerlinsley commented on #1724
I realize this is extremely involved, so I admire your patience should you choose to help me with this. React Static is no walk-in-the-park, but here we go!

- `git clone https://github.com/nozzle/react-static.git`
- Checkout the `v7` branch
- Run `yarn`
- Run `yarn link`
- Run `yarn start` to compile
- In `packages/react-static/templates/basic`
  - Run `yarn`
  - Run `yarn link react-static`
  -

[2019-03-18 16:49] evilebottnawi commented on #1724
Thanks for repo, i will see on this in near future, anyway PR welcome

[2019-03-18 16:49] tannerlinsley commented on #1724
Thanks.

[2019-03-18 17:03] tannerlinsley commented on #1724
This rabbit hole has led me through a few packages:
- express
- serve-static
- send
- mime

In the `mime` package, it appears they are not using a `mime.types` property name, but actually `mime._types` (https://github.com/broofa/node-mime/blob/master/Mime.js#L8)

So when webpack dev server calls `express.static.mime.types['wasm'] = '...'` it errors. I noticed a `ref` in the webpack dev server for

[2019-03-18 17:06] evilebottnawi commented on #1724
I don't understand you

[2019-03-18 17:09] tannerlinsley commented on #1724
So I looked for the `mime` package in my packages and found this:
[code]

It appears that the latest `webpack-dev-middleware` and `url-loader` packages are relying on the latest version of `mime`, but `webpack-dev-server` is relying on the old version. Looks like `webpack-dev-server` is trying to use the latest version of `mime` (which has no `mime.types` property, but instead has been changed to

[2019-03-18 17:11] tannerlinsley commented on #1724
I've also updated the OP description with the stack trace and a link to the dev-server line that is erroring.

[2019-03-18 17:17] evilebottnawi commented on #1724
We use latest version of mime https://github.com/webpack/webpack-dev-middleware/blob/master/package.json#L20

[2019-03-18 17:18] evilebottnawi commented on #1724
Anyway we can dd more check to avoid problem in future

[2019-03-18 17:21] tannerlinsley commented on #1724
Yeah, if `webpack-dev-middleware` is relying on `mime@2.x`, then we either need to update `express.static.mime.types['wasm'] = '...'` to `express.static.mime._types['wasm'] = '...'` or preferably just remove it (since mime clearly wants `_types` to be private, there is likely a better way to do this, or its probably not needed anymore)

[2019-03-18 18:03] tannerlinsley commented on #1724
After testing this in an isolated reproduction, it appears to be something to do with React-Static's configuration. Will reopen if needed. Thanks for being my rubber-duck!

[2019-03-18 20:01] aditya-matukumalli commented on #873
I was facing the same issue. I upgraded yarn using _yarn upgrade_ and the issue seemed to go away.

[2019-03-18 21:28] podenborg commented on #230
I struggled for so long until trying @x5engine's suggestions.

THANK YOU! I finally got it to work.

[2019-03-19 09:47] #1677 closed

[2019-03-19 12:52] dantodev opened #1726 "devServer.public does not use window.location"
- Operating System: Ubuntu 16.04.03 LTS
- Node Version: 8.14.0
- NPM Version: 6.7.0
- webpack Version: 4.28.4
- webpack-dev-server Version: 3.1.14

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior

`devServer.public` is not set. The [docs](https://webpack.js.org/configuration/dev-server/#devserverpublic) say that in this case `window.locatio

[2019-03-19 13:04] evilebottnawi commented on #1726
You should don't use `nginx`, it is expected, where `sockjs` should get your `domain`? Please provide minimum reproducible test repo otherwise issue was closed

[2019-03-19 14:23] dtkahl commented on #1726
Maybe this is not even a bug, but rather a mistake in the docs like the issue #1312 says:

The issue #1312 has been close because it did not used the issue template. My issue does.

[2019-03-19 14:33] evilebottnawi commented on #1726
Please create minimum reproducible test repo

[2019-03-19 18:48] abhinavsagar opened #1727 "Inappropriate message on the front page."
- Operating System: 10 64
- Node Version:10.10.0
- NPM Version:6.4.1
-webpack Version: 4.28.4
-webpack-dev-server Version: 3.1.14

- [x] This is a **bug**

### Code

### Expected Behavior
Appropriate message illustrating what devserver is should be displayed.

### Actual Behavior
It shows 'error loading content' message

### For Bugs; How can we reproduce the behavior?
Just visit the home page of

[2019-03-19 18:56] evilebottnawi commented on #1727
Sorry you don't provide enough information to help you, please fill issue and create minimum reproducible test repo

[2019-03-20 10:41] xiaoyueyue165 commented on #1252
@TaylorPzreal  Hey, brother, is this problem solved? I have the same problem as you now. Can you tell me how to solve it? thank you very much!

[2019-03-20 18:52] #1727 closed

[2019-03-20 19:07] abhinavsagar opened #1728 "Inappropriate conditional checking"
- Operating System:
- Node Version:8.14.0
- NPM Version:6.7.0
- webpack Version:4.28.4
- webpack-dev-server Version:3.1.14

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

### Expected Behavior
When requested for the script by the user which is not present empty script should be returned in `getCurrentScriptSourceSimilar` function. Similar problem with `overlay` functio

[2019-03-21 02:21] Jaans commented on #924
+1 Please add support for HEAD method requests as it is a common HTTP Method to use instead of GET when only the headers are needed.

[2019-03-21 11:09] evilebottnawi commented on #1694
Fixed https://github.com/webpack/webpack-dev-server/pull/1697

[2019-03-21 11:09] #1694 closed

[2019-03-21 16:00] evilebottnawi commented on #1557
Should be fixed, but we need add test for `warningsFilter` option as described in original issue

[2019-03-21 16:40] yoannmoinet commented on #1557
@evilebottnawi I'm making the PR... totally forgot about that test.

[2019-03-21 16:49] yoannmoinet commented on #1557
Here you go @evilebottnawi https://github.com/webpack/webpack-dev-server/pull/1732

[2019-03-21 17:58] evilebottnawi commented on #1557
Fixed https://github.com/webpack/webpack-dev-server/pull/1732

[2019-03-21 17:58] #1557 closed

[2019-03-21 17:59] evilebottnawi commented on #1621
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-03-21 17:59] #1621 closed

[2019-03-21 18:01] evilebottnawi commented on #1274
We already added tests for content base so we can close this.

[2019-03-21 18:01] #1274 closed

[2019-03-21 18:01] evilebottnawi commented on #1356
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-03-21 18:01] #1356 closed

[2019-03-21 18:04] evilebottnawi commented on #1161
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-03-21 18:04] #1161 closed

[2019-03-21 22:00] amineboos commented on #1
thanks ;)

[2019-03-22 08:21] yoannmoinet commented on #1557
@evilebottnawi Thanks!
Do you know when there will be a release?

[2019-03-22 08:58] evilebottnawi commented on #1557
In near future

[2019-03-22 15:33] AndreKR opened #1733 "aggregateTimeout (kind of) ignored"
- Operating System: Windows 7 Pro 64 bit
- Node Version: v10.15.0
- NPM Version: 6.7.0
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.2.1

- [x] This is a **bug**

### Code

[code]

### For Bugs; How can we reproduce the behavior?

This is for Windows, I guess on Linux you can do something similar with `strace`.

* Add an `aggregateTimeout` of quite a few seconds (e.g. 20000) to your we

[2019-03-22 15:38] evilebottnawi commented on #1733
`watchOptions` option only for `contentBase` feature, it is not affected on webpack

[2019-03-22 15:39] evilebottnawi commented on #1733
What is use case of `aggregateTimeout`? Because we migrate on built-in watcher in future major version

[2019-03-22 16:25] AndreKR commented on #1733
Well, in my case I want to be able to do a git rebase while webpack-dev-server is running.

Currently I cannot do that.

The moment that git changes a file, some files are opened and therefore locked by webpack-dev-server. Then, git wants to make more changes a few milliseconds later, but the files are already locked by webpack-dev-server, so the rebase operation fails with a "Permission denied" e

[2019-03-22 16:29] evilebottnawi commented on #1733
@AndreKR it is very weird, i think doing this out of scope webpack-dev-server. Anyway you need setup `watchOptions` for webpack too https://webpack.js.org/configuration/watch/#watchoptions

[2019-03-22 16:31] evilebottnawi commented on #1733
hm we already respect `watchOptions`, please create minimum reproducible test repo, we need ivnestigate what is happens deeply

[2019-03-22 16:31] AndreKR commented on #1733
What do you mean? I already added `watchOptions: { aggregateTimeout: 20000 }` and for `webpack --watch` it works perfectly. But with webpack-dev-server the file is accessed immediately when it changes.

[2019-03-22 16:33] AndreKR commented on #1733
Ok, just a sec.

[2019-03-22 16:53] AndreKR commented on #1733
Ok, so here is the repro: https://github.com/AndreKR/issue-webpack-dev-server-1733

However, while setting this up I noticed that webpack watch also shows file activity immediately after a file change, yet I have no problems with locked files there.

I will investigate further to provide a more accurate report. Feel free to close the issue or leave it open in the meantime, I will report back when

[2019-03-22 17:44] evilebottnawi commented on #1733
Feel free to feedback, let's keep open

[2019-03-22 17:55] Loonride commented on #1703
@evilebottnawi I messed with this issue briefly here: https://github.com/Loonride/webpack-dev-server/blob/hmr-entry-fix/lib/Server.js#L131. It would be nice if we had the ability to create the webpack compiler within Server.js. The problem I ran into was that users can use the compiler after they pass it in, so redefining it in Server.js does not work: https://github.com/webpack/webpack-dev-server

[2019-03-22 18:00] evilebottnawi commented on #1703
@Loonride yep, we should think how better solve this without break other code, feel free to experiment and send a PR

[2019-03-23 00:50] Loonride opened #1734 "Routes Test relies on compilation to finish, but doesn't wait for it"
- Operating System: Windows 7
- Node Version: 8.10.0
- NPM Version: 6.4.1
- webpack Version: 4.29.0
- webpack-dev-server Version: 3.2.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

The request made to /webpack-dev-server by Routes.test.js relies on the webpack compilation to complete: https://github.com/webpack/webpack-dev-server/blob/master/test/Routes.test.js#L58

[2019-03-23 13:26] evilebottnawi commented on #1734
Fixed https://github.com/webpack/webpack-dev-server/pull/1735

[2019-03-23 13:26] #1734 closed

[2019-03-25 07:21] AndreKR commented on #1733
It seemed to be a glitch that rebasing worked with `webpack --watch´ and currently I can't reproduce the issue anymore. Closing for now.

[2019-03-25 07:21] #1733 closed

[2019-03-25 13:06] caolvchong commented on #1479
still in 3.2.1
my solution:
[code]

[2019-03-27 05:55] #1703 closed

[2019-03-27 08:36] lijianxin1202 opened #1742 "How dev server proxy chunked response"
- Operating System:
- Node Version: 6.4.1
- NPM Version: 11.8.0
- webpack Version: 4.28.3
- webpack-dev-server Version: 3.1.14

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior
Whenever the response returns, log the current part of responseText.
### Actual Behavior
Only the request full completed then log the whole responseText.
###

[2019-03-27 09:07] evilebottnawi commented on #1742
@lijianxin1202 please provide minimum reproducible test repo, looks problem in you setup, why you use `XMLHttpRequest` in server side?

[2019-03-27 15:13] hiroppy opened #1743 "Uncaught SyntaxError: The URL 'http:/sockjs-node' is invalid"
- Operating System: MacOS
- Node Version: 10.15.1
- NPM Version: 6.4.1
- webpack Version: 4.29.5
- webpack-dev-server Version: 3.2.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

no code

### Expected Behavior

no errors

### Actual Behavior

[code]

### For Bugs; How can we reproduce the behavior?

[code]

And then you can see the error in browser's console.
Occurs

[2019-03-27 18:00] jayfunk commented on #1479
So is this bug fixed and supposed to be in the latest release?

[2019-03-27 18:02] evilebottnawi commented on #1479
@caolvchong it can kill some processes what writing files or other stuff what can break you app

[2019-03-27 20:30] kaiyoma opened #1744 "Nothing seems to disable file watching / hot reloading"
Operating System: Windows 10
Node Version: 10.15.0
NPM Version: 6.4.1
webpack Version: 4.29.6
webpack-dev-server Version: 3.2.1

- [x] This is a **bug**
- [ ] This is a **modification** request

How do you disable file watching / hot reloading? I've been banging my head against the wall for a while now, reading various SO threads and GitHub issues, and yet nothing seems to work.

I've tried the fo

[2019-03-27 20:36] evilebottnawi commented on #1744
It is impossible, don't use `webpack-dev-server` if you don't want reloading

[2019-03-27 20:37] evilebottnawi commented on #1744
Why do you want disable `hot`/`watch` ?

[2019-03-27 20:39] kaiyoma commented on #1744
Then why do you have all the watch options?

https://webpack.js.org/configuration/watch/

Why do you also allow hot reloading to be turned off in the config? This doesn't seem like a satisfactory answer.

[2019-03-27 20:42] kaiyoma commented on #1744
We run the dev server as part of our CI. We run Selenium tests against the dev server as part of each commit that's going through review and we also run Selenium tests daily.

We like the dev server because in dev mode, there is extra output to the browser console, like React PropTypes errors and other things of that nature. However, in a CI environment, there clearly won't be any changes to the s

[2019-03-27 20:42] evilebottnawi commented on #1744
Read documentation - it is for `webpack --watch`, `webpack --watch` !== `webpack-dev-server`

[2019-03-27 20:45] evilebottnawi commented on #1744
I think using `webpack-dev-server` on CI is out of scope this package. Better use own server, as minimum it is faster and flexibility as maximum webpack-dev-server you get overhead for testing.

[2019-03-27 20:46] kaiyoma commented on #1744
Okay, that's what I was afraid of. Thanks, I'll look into that.

[2019-03-27 20:46] evilebottnawi commented on #1744
Something wrong in you CI setup, webpack doesn't do rebuild if it is unnecessary

[2019-03-27 20:46] evilebottnawi commented on #1744
If you provide link/minimum reproducible test repo i can look what is wrong.

[2019-03-27 20:47] kaiyoma commented on #1744
I've found that running Jest (locally) while running the webpack dev server causes the server to rebuild over and over, even though none of the source files are changing.

[2019-03-27 20:51] evilebottnawi commented on #1744
@kaiyoma can you create minimum reproducible test repo?

[2019-03-27 20:52] kaiyoma commented on #1744
I can try. I'll let you know if I can.

[2019-03-27 20:54] lestrato commented on #875
I spilled a cup of coffee on my keyboard and now it started working

[2019-03-27 20:56] evilebottnawi commented on #1723
@xianshannan

No

You can use `express` inside `express`

What is not enough in `proxy` configuration?

[2019-03-28 03:13] jamesknelson opened #1745 "Option to disable serveIndex middleware"
- Operating System: Mac OS 10.14.3
- Node Version: 11.1.0
- NPM Version: 6.7.0
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.2.1

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

It'd be useful to be able to disable the express serve-index middleware, which generates directory listings when you view a directory that doesn't have an index.html file.

[code]

#

[2019-03-28 10:00] xianshannan commented on #1723
I want to use the `webpack-dev-server` proxy as a mddleware to other project. That will be more convenience. So I recommend extracting the usage of the `webpack-dev-server proxy as a middleware. This is just a suggestion.
@evilebottnawi

[2019-03-28 10:49] evilebottnawi commented on #1745
@jamesknelson PR welcome :+1:

[2019-03-28 11:00] evilebottnawi commented on #1723
@xianshannan sorry, but it is out of scope `webpack-dev-server`, you should use `http-proxy-middleware` package for this purpose.

[2019-03-28 11:00] #1723 closed

[2019-03-28 16:22] arihajix commented on #1
Cool! Tnx pal!

[2019-03-28 18:22] glen-84 commented on #1480
@evilebottnawi Closed by #1697?

[2019-03-28 18:27] evilebottnawi commented on #1480
@glen-84 no, we just relax depth in public directory, but developers want to watch files in other directories. I am wrong what we need major here.

[2019-03-28 19:15] Siraris opened #1746 "GC Issue, memory leak?"
- Operating System: OSX Mojave
- Node Version: 11
- NPM Version: 6.7
- webpack Version: 3.12
- webpack-dev-server Version: 2.11.2

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

Gist of error:

https://gist.github.com/Siraris/bec8237b399068d24dc9fe7cfa33e210

https://gist.github.com/Siraris/8eae93a12ba4dae741d7008f39e971cc <-- Another error that just occurred after ini

[2019-03-28 19:35] glen-84 commented on #1480
@evilebottnawi You *can* watch in other directories, but the API is private (`server._watch`). The OP was asking for the `depth` option to be changed, and that has now been implemented.

Can you make `server._watch` public?

[2019-03-28 19:45] evilebottnawi commented on #1480
@glen-84 better do this using option

[2019-03-28 19:47] evilebottnawi commented on #1746
Not sure it is `webpack-dev-server`, i think problem in loader/plugin or your app really is very big (based on files problem in `JSON.stringify()`). We need reproducible test repo, it is impossible fix this issues/problems without repo.

[2019-03-28 20:03] Siraris commented on #1746
@evilebottnawi So I understand the difficulty in diagnosing this, but I can't think of a reasonable way to provide my organizations source code to you for you to test this, nor can I imagine how i would construct a test repo to reproduce the issue, as it would potentially take me an unreasonable amount of time to do so.  I can convey that my co-workers are running similar hardware and setups to me

[2019-03-28 22:46] jshado1 commented on #1713
@evilebottnawi I'm a bit confused: the options file you linked contains no mention of `spdy` or `http2` (or `http/2`). I've played around with this all evening, and I cannot get `webpack-dev-server` to serve over http2. Setting a CLI option does nothing, and the same is true for `devServer.https.spdy: true` (`devServer.spdy` causes a validation error).

I see it looks like it's coming in #1721, bu

[2019-03-28 22:52] evilebottnawi commented on #1713
@jshado1 yep, now it is broken, this PR solve problem, next week release

[2019-03-29 00:52] evilebottnawi commented on #1746
@Siraris we need snapshot memory. https://medium.com/tech-tajawal/memory-leaks-in-nodejs-quick-overview-988c23b24dba  and https://marmelab.com/blog/2018/04/03/how-to-track-and-fix-memory-leak-with-nodejs.html

Honestly just do memory snapshot something change and do memory snapshot again, repeat it until you get a problem and put here couple snapshots.

Otherwise it is not fixed never and issue wi

[2019-03-29 07:50] IceyIsAlreadyTaken opened #1747 "build success and webpack dev server falied,it says 'You may need an appropriate loader to handle this file type'"
I create an react project with webpack,
the directionary
[code]
the webpack.config.js
[code]
the .babelrc
[code]
the package.json
[code]
In the project  run ``` yarn build``` can get dist folder successfully , but when I run ```yarn start``` to start HMR  failed ,the error is
[code]

after that  I remove webpack.config.js , the directionary is
[code]
the webpack.config.js is
[code]
now run ```yarn

[2019-03-29 10:29] lijianxin1202 commented on #1742
https://github.com/lijianxin1202/webpack-proxy-chunk-demo
The chunked data request server directly and will display message every 5s, the proxy data use proxy and will display all data at once.
In demo I found that if server response does not include Content-Type header,  it will proxy chunked request correctly, otherwise it will cannot work correctly.

[2019-03-29 13:04] jcrommar commented on #720
Literally same issue! Thanks

[2019-03-29 19:59] evilebottnawi commented on #1747
Not related to Dev server you gave invalid confirmation,  please read how to use module.rules in official documentation also please use issue template, it is bot qa service, thanks

[2019-03-29 19:59] #1747 closed

[2019-03-29 20:02] evilebottnawi commented on #1742
It is expected please read documentation about http proxy

[2019-03-30 15:50] Mohamed-Nassr opened #1748 "when i run webpack-dev-server i got this error"
WARNING in ./node_modules/terser-webpack-plugin/dist/worker.js 12:130-137
Critical dependency: require function is used in a way in which dependencies cannot be statically extracted
 @ ./node_modules/terser-webpack-plugin/dist/TaskRunner.js
 @ ./node_modules/terser-webpack-plugin/dist/index.js
 @ ./node_modules/terser-webpack-plugin/dist/cjs.js
 @ (webpack)/lib/WebpackOptionsDefaulter.js
 @ (webpa

[2019-03-31 07:30] jakeleventhal opened #1751 "Unable to redirect HTTP requests to HTTPS"
- Operating System: Linux
- Node Version: 11.7.0
- NPM Version: 6.8.0
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.2.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]
### Expected Behavior
When accessing my site via https://mydomain.com, it should work (and it does).
When accessing my site via mydomain.com (HTTP), it should route to the HTTPS versio

[2019-04-01 14:03] EslamHiko commented on #1745
hello I want to work on this feature
as I understand
this option will disable `serveIndex`
in server.js
[code]
the new code will be
[code]
instead of directory listing the files in folders without `index.html` it'll show the message `Cannot GET /folder/`

so am I getting it right?
and one more thing I don't know how to add a new option? please, can you tell me how would I add the new option?

excu

[2019-04-01 15:53] evilebottnawi commented on #1745
Look on other options and just send a PR

[2019-04-01 16:47] EslamHiko commented on #1745
@evilebottnawi I added the new option and I tested it on one of the examples in the `examples/api/simple` folder
if you set the option in `simple/webpack.config.js`  `serveIndex` to true it'll directory list the files `simple.txt` in the route `/folder` else it'll show the message `Cannot GET /folder/`
so did I do it right?
if there is anything wrong or I misunderstood something please tell me and

[2019-04-01 22:46] evenstensberg opened #1753 "Upgrade to webpack-cli v.3.3.x"
# Just a heads up

When doing this, remember to update the location of `config-yargs.js`, it has changed. Maybe some other sources has changed too, so check where you import directly from the library.

[2019-04-02 14:27] Youpinadi commented on #1557
Thx for this @yoannmoinet ! Can't wait to get it!

[2019-04-03 07:01] EslamHiko commented on #1753
Hello @evenstensberg
I did a PR to update the paths of both config-yargs & convert-argv
I upgraded webpack-cli to the master branch and I run `npm test cli.test` on my machine and it passes the test however in AppVeyor testing it doesn't pass the test
on my machine, if I returned the paths to their origin it won't pass the test
I tried to upgrade webpack to it's latest version but it's still not p

[2019-04-03 11:06] evilebottnawi commented on #1745
@EslamHiko we don't add this feature https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L555 if `serveIndex: false` (by default it is `true`)

[2019-04-03 11:23] evilebottnawi commented on #1748
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Don't import `webpack-dev-server` in your bundle because it is unsafe and no need do this

[2019-04-03 11:23] #1748 closed

[2019-04-03 11:39] #1743 closed

[2019-04-03 15:16] evilebottnawi commented on #1751
Not sure it is good for DX purpose, why you need this?

[2019-04-04 12:06] pmontu commented on #875
I increased fs.inotify.max_user_watches=524288 and it worked
https://code.visualstudio.com/docs/setup/linux#_visual-studio-code-is-unable-to-watch-for-file-changes-in-this-large-workspace-error-enospc

[2019-04-04 13:02] evilebottnawi commented on #1751
Also it is development server, so it is good DX to allow developers use `http` and `https` together, so i am closing this issue, maybe be we will revisit it in future, feel free to feedback, thanks

[2019-04-04 13:02] #1751 closed

[2019-04-04 13:02] evilebottnawi commented on #1746
/cc @Siraris any news?

[2019-04-04 13:03] evilebottnawi commented on #1742
Closing, feel free to feedback

[2019-04-04 13:03] #1742 closed

[2019-04-04 13:03] evilebottnawi commented on #1728
Can't reproduce, closing, feel free to feedback

[2019-04-04 13:03] #1728 closed

[2019-04-04 13:04] evilebottnawi commented on #1726
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

Feel free to feedback too

[2019-04-04 16:04] evilebottnawi commented on #1713
Fixed https://github.com/webpack/webpack-dev-server/issues/1713, http2 doesn't support on node >= 10 due `express` doesn't support this right now, we fix it after express was released

[2019-04-04 17:58] edwardchen opened #1762 "Very slow emitting and after emitting step after upgrading from node v9 to node v10 with many entry points"
- Operating System: macOS Mojave Version 10.14.3
- Node Version: v9.2.1 and v10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.2.1

- [ x ] This is a **bug**
- [ ] This is a **modification** request

### Expected Behavior
With node v9.2.1 and > 100 entry points, our emitting and after emitting step have gone are  <1000ms
### Actual Behavior
With same setup and

[2019-04-04 17:59] evilebottnawi commented on #1762
@edwardchen Please:
1. Use issue template otherwise it was closed.
2. Try to create minimum reproducible test repo. Maybe deopt in v8,  we need report about this

[2019-04-04 18:06] hiroppy commented on #1746
Also, please write detail about your PC spec.

[2019-04-04 23:04] Siraris commented on #1746
I think this might be due to something I uncovered about our webpack config.  We just implemented a fix and I'm doing some testing to see.

[2019-04-04 23:06] #1700 closed

[2019-04-05 07:23] Neelaesh opened #1763 "v-server"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- webpack-dev-server Version:

- [ ] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior

### Actual Behavior

### For Bugs; How can we reproduce the behavior?

### For Features; What is the motivation and/or use-case for the feature?

[2019-04-05 07:33] #1763 closed

[2019-04-05 11:36] evilebottnawi commented on #1702
Fixed in master

[2019-04-05 11:45] evilebottnawi commented on #1480
Oh, i was wrong, you can set array of `contentBase` and now we don't have limits so you can watch what you want

[2019-04-05 11:45] #1480 closed

[2019-04-05 11:50] evilebottnawi commented on #1193
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-04-05 11:50] #1193 closed

[2019-04-05 16:48] #1724 closed

[2019-04-05 18:45] evilebottnawi commented on #1745
Fixed https://github.com/webpack/webpack-dev-server/pull/1752

[2019-04-05 18:45] #1745 closed

[2019-04-05 18:45] evilebottnawi commented on #1642
Friendly ping guys

[2019-04-05 20:52] edwardchen commented on #1762
I found the problem. We are using rails/webpacker which is using webdeveric/webpack-assets-manifest, in which the current version does not do any stats.toJson filtering.

From: https://webpack.js.org/guides/build-performance/

[2019-04-06 02:08] teledirigido commented on #288
As an option you can try using a middleware for BrowserSync: https://github.com/chimurai/http-proxy-middleware/blob/master/recipes/pathRewrite.md

[2019-04-07 23:03] grantcarthew commented on #288
That was a few years ago @teledirigido thanks. It's all good now in the Vue.js cli config.

[2019-04-08 00:55] DMTrooper3 commented on #1
Thank you 🐱‍🐉

[2019-04-08 09:56] evilebottnawi commented on #1762
@edwardchen can you test master version? Also can you provide configuration of stats? We need find what we should exclude to improve build time webpack-dev-server, thanks!

[2019-04-08 11:55] evilebottnawi commented on #1574
@yadue sorry for delay, can't reproduce, can you provide node version? os version? Other information what can help debug problem

[2019-04-08 11:59] yadue commented on #1574
Node v8.11.4
Mac OS 10.14.4

[2019-04-08 12:06] evilebottnawi commented on #1574
I think problem on nodejs/os side, not in webpack-dev-server :disappointed:

[2019-04-08 12:07] evilebottnawi commented on #1574
Try to reproduce. @yadue just confirm, problem still exists? What workaround you are use?

[2019-04-08 12:08] evilebottnawi commented on #1574
Reproduce, confirm it is only on node v8, you can use node@10 as workaround

[2019-04-08 13:08] evilebottnawi commented on #1574
Continue investigate, but looks i find the problem - `proxy` return output in `http1.1`, but you run server in `http2` mode (we use `spdy` on node@8 for http2 and looks problem in this module)

[2019-04-08 13:29] evilebottnawi commented on #1574
Original problem https://github.com/spdy-http2/node-spdy/issues/357. Unfortunately we can fix it right now, it was be fixed after express will be support http2. Now we implement `http2` option in master to disable `http2`, you can use this as workaround

[2019-04-08 15:32] evilebottnawi commented on #1718
`listen` is part of `node` api so you need handle error youself, i can't reproducible you problem

[2019-04-08 15:32] #1718 closed

[2019-04-08 17:29] edwardchen commented on #1762
I think the issue has been fixed in webpack-dev-server a while ago in this commit.

https://github.com/webpack/webpack-dev-server/commit/da33d2b2fc39c022c8326af6c5cdd408132ba7c9#diff-15fb51940da53816af13330d8ce69b4e

We are using a rails gem (webpacker) which uses webpack-dev-server but then patches in a different library to generate the asset manifest, and that's where the problem..

[2019-04-08 17:43] dangreenisrael opened #1769 "[Modification] Allow passing args to `devServer.open`"
- Operating System: Mac OS
- Node Version: 8.15.0
- NPM Version: 6.4.1
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.3.0

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

[code]

### Expected Behavior
`devServer.open` accepts an array of strings as per the as per the `open` documentation
https://www.npmjs.com/package/open (formerly https://www.npmjs.com/packa

[2019-04-08 17:58] evilebottnawi commented on #1769
Yep, PR welcome :+1:

[2019-04-08 17:59] evilebottnawi commented on #1762
@edwardchen Maybe better open issue in `webpacker`? We don't use somethings strange here

[2019-04-08 18:01] edwardchen commented on #1762
Yeah, I'm saying that this issue can be closed because I figured out it's an issue with a different package.

[2019-04-08 18:01] #1762 closed

[2019-04-08 19:19] tbehunin opened #1771 "v3.3.0 freezes at 70% - halts building/running"
- Operating System: MacOS 10.13.6
- Node Version: 10.15.2
- NPM Version: 6.9.0
- webpack Version: 4.15.0
- webpack-dev-server Version: 3.3.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

We have the following dependency in my `package.json`:
[code]
As of today, an npm install will download the latest version: **3.3.0**. When we run our `npm start` command (which runs

[2019-04-08 21:06] thijstriemstra commented on #1771
here it doesn't freeze but throws this error (ubuntu 16.04):

[code]

[2019-04-08 21:08] hiroppy commented on #1771
Please submit a reproducible repository.

[2019-04-08 21:08] thijstriemstra commented on #1771
https://github.com/collab-project/videojs-wavesurfer (upgrade to v3.3.0 and it'll break `npm run start`)

[2019-04-08 21:16] hiroppy commented on #1771
This sample does not occur errors in my PC(MacOS).

[2019-04-08 21:17] thijstriemstra commented on #1771
Hmm, with 3.2.1 it works, upgrading to 3.3.0 causes issues.

[2019-04-08 21:17] hiroppy commented on #1771
@tbehunin Please submit a reproducible repository.

[2019-04-08 21:18] hiroppy commented on #1771
@thijstriemstra Could you submit an npm error log?

[2019-04-08 21:22] thijstriemstra commented on #1771
from `.npm/_logs/2019-04-08T21_20_37_680Z-debug.log`

[code]

[2019-04-08 21:23] thijstriemstra commented on #1771
the console output is more verbose:

[code]

[2019-04-08 21:24] thijstriemstra commented on #1771
And no, my disk is not full and has 560GB free (`ENOSPC`?)

[2019-04-08 21:25] hiroppy commented on #1771
Please run this command.

[code]

[2019-04-08 21:28] thijstriemstra commented on #1771
that fixed it (final step in process took a good 15 seconds though). Note i didn't need this workaround with 3.2.1 but if it works, it works. Thanks.

[2019-04-08 21:42] dvriezen opened #1772 "v3.3.0 webpack-dev-server --color no longer works when using preset stats"
- Operating System: MacOS Mojave 10.14.3
- Node Version: 8.12.0
- NPM Version: 6.4.1
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.3.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

This code worked in 3.2.0 but not in 3.3.0
`webpack-dev-server --color --progress --config config/webpack.dev.coffee --mode development`

Potentially relevant information
[code

[2019-04-08 23:10] tbehunin commented on #1771
Thanks @thijstriemstra for your help in recreating this.

@hiroppy I don't have the ability to expose the repo I'm working in since it's behind my company's firewall. Having dev's enter an additional configuration script to modify the kernel on their machines doesn't feel like a good fix.

If there's a way for me to output more verbose logging during the build process, let me know what command I s

[2019-04-09 03:40] hiroppy commented on #1771
Sorry but I think it is difficult to resolve using just this log.

[2019-04-09 08:14] bryfroze opened #1776 "Crashed in hot reload, version 3.3.0"
- Operating System: MacOS
- Node Version: 10.15.2
- NPM Version: 6.4.1
- webpack Version: 4.28.2
- webpack-dev-server Version: 3.3.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

Error
[code]

dev-server.js:9
[code]

### Expected Behavior
HMR work correctly
### Actual Behavior
Crashed in hot reload mode
### For Bugs; How can we reproduce the behavior?

### For Featur

[2019-04-09 08:33] hiroppy commented on #1776
Please submit a reproducible repo.

[2019-04-09 10:01] njugray opened #1777 "V3.3.0 live reload broken when set hostname to `0.0.0.0:xxxx`"
- Operating System: MacOS
- Node Version: v10.15.0
- NPM Version: 6.4.`
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.3.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

https://github.com/webpack/webpack-dev-server/blob/99e8db0f8cc441bb8f6acc60d786e33c38b8fc1d/client-src/default/index.js#L210

When start a node server like 0.0.0.0:8080, and load resources

[2019-04-09 10:13] evilebottnawi commented on #1777
@njugray Please create minimum reproducible test repo

[2019-04-09 10:18] evilebottnawi commented on #1771
@thijstriemstra please open new issue with reproducible test repo and steps

In `3.3.0` version `contentBase` now watching recursive (before it was only one depth), so you need more fs watchers now.

[2019-04-09 10:20] evilebottnawi commented on #1771
@tbehunin without reproducible test repo we never fix problem, sorry we can't fix something in anything

[2019-04-09 10:38] evilebottnawi commented on #1776
I think problem in `stats` (now we respect their from config, but looks we forget something defined)

[2019-04-09 10:38] evilebottnawi commented on #1776
@bryfroze Anyway please create minimum reproducible test repo, thanks

[2019-04-09 11:30] vitexikora opened #1778 "Error after upgrade to 3.3.0 - Uncaught SyntaxError: The URL '...' is invalid"
After running the project (start devServer via server.js - below) I always get this message, no matter the port and configuration setup:
[code]
You can see that the URL is kind of doubled.
After some headache, I localized this problem in webpack-dev-server v3.3.0.
While doing a routine deps upgrade, it got updated from 3.2.1 to 3.3.0 and that introduced this problem.

- Operating System: Microsoft

[2019-04-09 11:50] evilebottnawi commented on #1778
Sorry we can't fix something in anything

[2019-04-09 11:50] evilebottnawi commented on #1778
Also host should be without `protocols`

[2019-04-09 11:50] evilebottnawi commented on #1778
https://stackoverflow.com/questions/6725890/location-host-vs-location-hostname-and-cross-browser-compatibility

[2019-04-09 11:50] #1778 closed

[2019-04-09 14:19] bazineta commented on #1776
This seems as if it might be a regression, for which there was a previous fix, #1366. In our case at least, we typically have `hash: false` set in our stats options, and see this issue. Setting the `hash` flag to `true` resolves the issue.

[2019-04-09 17:08] evilebottnawi commented on #1659
Answer above, thanks

[2019-04-09 17:08] #1659 closed

[2019-04-09 17:10] evilebottnawi commented on #1569
We need implement `afterListen` option for you case, feel free to send a PR

[2019-04-09 17:12] evilebottnawi commented on #1559
You can run `server.invalidate()` on backend or send `content-changed` to sockjs like:
[code]

[2019-04-09 17:12] #1559 closed

[2019-04-09 17:19] evilebottnawi commented on #1699
Close in favor https://github.com/webpack/webpack-dev-server/issues/1574

[2019-04-09 17:19] #1699 closed

[2019-04-09 17:29] evilebottnawi commented on #1695
Close in favor https://github.com/rails/webpacker/issues/1758

[2019-04-09 17:29] #1695 closed

[2019-04-09 17:31] evilebottnawi commented on #1419
Here there are lot of difference issues, so i am closing this issue, please open new issue (with reproducible test repo) when you have some problems with latest version

[2019-04-09 17:31] #1419 closed

[2019-04-09 17:37] evilebottnawi commented on #1746
I am closing this issue due `webpack-dev-server@2` is outdated and gets only security fixes, also `webpack@3` has many memory leaks (it was fixed in `webpack@4`), only one solution here - update your deps to latest, sorry but it is very difficult problem and have many leak places, it is hard to fix this

[2019-04-09 17:37] #1746 closed

[2019-04-09 18:16] evilebottnawi opened #1781 "exclude `node_modules` by default in `_watch` for content base"
- Operating System: no matter
- Node Version: no matter
- NPM Version: no matter
- webpack Version: no matter
- webpack-dev-server Version: 3.3.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

no matter

### Expected Behavior
### Actual Behavior

Looks it was bug also in previous webpack-dev-server version, but we watch only on depth, no we relax this so some develope

[2019-04-09 18:25] evilebottnawi opened #1782 "respect all watchOptions from https://webpack.js.org/configuration/watch/ for contentBase watcher"
- Operating System: no matter
- Node Version: no matter
- NPM Version: no matter
- webpack Version: no matter
- webpack-dev-server Version: 3.3.0

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

no matter

### Expected Behavior
### Actual Behavior

Now we respect only `poll`, it is bad DX

### For Bugs; How can we reproduce the behavior?

### For Features; What is the m

[2019-04-09 18:30] evilebottnawi commented on #1713
Mark as `feature`, we implement support after `express` do this

[2019-04-09 18:32] #1776 closed

[2019-04-09 19:13] evilebottnawi commented on #1772
/cc @hiroppy i think we already fix it in master, but need add test to avoid future regressions

[2019-04-09 19:25] hiroppy commented on #1772
Yes, it has already been fixed.

[2019-04-09 19:28] hiroppy commented on #1772
Sorry, no, it was not reflected if passed directly from CLI.

[2019-04-09 19:36] hiroppy commented on #1772
@evilebottnawi We have already tested the color test.
https://github.com/webpack/webpack-dev-server/blob/028ceee1693c7566ea7ea54048ced23db5409c32/test/CreateConfig.test.js#L489-L499

[2019-04-09 19:38] evilebottnawi commented on #1772
Maybe it is regression for `stats` and `3.3.0`

[2019-04-09 19:54] dvriezen commented on #1772
I did a bit more testing and it works if stats isn't defined but breaks whenever it is. Not sure if that helps or not.

[2019-04-09 20:00] hiroppy commented on #1772
I added `--color` test

[2019-04-09 22:47] evilebottnawi opened #1785 "publichPath in webpack-dev-server doesn't override publisPath in webpack (when it is empty)"
- Operating System: no matter
- Node Version: no matter
- NPM Version: no matter
- webpack Version: 4.29.0
- webpack-dev-server Version: 3.3.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Expected Behavior
### Actual Behavior

Looks as bad DX, we need investigate how handle this case

### For Bugs; How can we reproduce the behavior?

https://github.com/SetTrend/webpack-is

[2019-04-09 22:53] HashemKhalifa opened #1786 "React Route [path-to-regexp] breaks after updating to 3.3.1"
- Operating System:
Mac OS
- Node Version:
v11.1.0
- NPM Version:
6.7.0
- webpack Version:
4.29.6
- webpack-dev-server Version:
3.3.1

- [ x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior
the application to work fine

### Actual Behavior
showing error in specific route only
[code]

### For Bugs; How can we reproduce the behavior?
Update to vers

[2019-04-09 23:51] zadixon commented on #1702
I don't think this is actually fixed in master. [It's still 0.7.5 there](https://github.com/webpack/webpack-dev-server/blob/99b78dc3ddeb94af33fe71942ec0312a9be3e2c2/package-lock.json#L8100).

[2019-04-10 04:10] abettke commented on #1457
Can confirm after much hair pulling, this resolved my issue using react router v4 and webpack-dev-server.

`historyApiFallback: true` was not enough. I needed to explicitly set the fallback path as such.
`
historyApiFallback: {
  index: '/'
}
`

[2019-04-10 07:35] capaj opened #1787 "CORS request issue with hot-reload-endpoint on 3.3.0 and later"
- Operating System: UBUNTU 18.04
- Node Version: 10
- NPM Version: 6
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.3.1 and 3.3.0

- [X] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior
there is no CORS issue as with webpack-dev-server : 3.2.1

### Actual Behavior
there is a CORS issue when accessing `http://localhost:3000/sockjs-node/i

[2019-04-10 07:53] njugray commented on #1777
@evilebottnawi

here: https://github.com/njugray/webpack-live-reload

[2019-04-10 07:56] njugray commented on #1777
1. Install dependencies and `npm run dev`

2. Visit: http://127.0.0.1:8080/

3. See network inspect, will get:
![image](https://user-images.githubusercontent.com/5938871/55861557-30552d80-5ba9-11e9-9a0c-74eba9ddebbb.png)

[2019-04-10 10:16] evilebottnawi commented on #1702
Yep, but we need update this in `selfsigned`

[2019-04-10 10:27] evilebottnawi commented on #1786
Actually problem not in `webpack-dev-server` (you can see error happens in Router), also we don't change anything related to HMR, please create minimum reproducible test repo, no need add source code move than 50 lines

[2019-04-10 10:28] evilebottnawi commented on #1787
Second answer https://stackoverflow.com/questions/31602697/webpack-dev-server-cors-issue

[2019-04-10 10:28] #1787 closed

[2019-04-10 10:29] evilebottnawi commented on #1787
If it is nos solve your problem, please create minimum reproducible test repo

[2019-04-10 10:29] evilebottnawi commented on #1777
Thanks!

[2019-04-10 10:29] #1786 closed

[2019-04-10 12:01] frlinw opened #1788 "[3.3.x] window does not exist in service worker context"
- Operating System: Windows 10
- Node Version: 10.15.x
- NPM Version: 6.4.x
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.3.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

![image](https://user-images.githubusercontent.com/11896237/55876732-97b6b180-5b98-11e9-8d46-aa70a4e30e88.png)

### Expected Behavior
webpack-dev-server should not use `window` in its g

[2019-04-10 12:06] hiroppy commented on #1788
Please submit a reproducible repo.

[2019-04-10 12:27] evilebottnawi commented on #1788
Problem in not `webpack-dev-server`, it is part of `bootstrap` code of `webpack` for `browser`, you can use other `target` (`target: node`) https://webpack.js.org/concepts/targets/

[2019-04-10 12:27] #1788 closed

[2019-04-10 12:55] frlinw commented on #1788
`node` or `webworker` don't work either.
`target` is global and can't be configured per entry point.
The build of the service worker script is tightly related to the build of the app (because its main purpose is to cache generated app files) so I can have one webpack config per entry point.
I'll stick on 3.2.1 for a while I guess

[2019-04-10 12:59] evilebottnawi commented on #1788
@frlinw we doesn't change anything related to `hmr` and your example above, stick `3.2.1` contain bugs and can break your app in future when you will update webpack, please create minimum reproducible test repo

[2019-04-10 13:04] yaroslavert opened #1789 "Dynamic Import replace path"
other.js
var env = {  url: " htts://any.domen.com" }
-----------

Index.js
import('./entry')
-----------------------

entry.js
console.log('run');
--------------------

index.html
<script type="text/javascript" src="htttps://other.domen.com/other.js"></script></body>
 <script type="text/javascript" src="./index.js"></script></body>

build all and get index and entry chunk.

entry chunk I am storag

[2019-04-10 13:06] #1789 closed

[2019-04-10 15:12] #1772 closed

[2019-04-10 16:03] ripper2hl commented on #1381
Same problem and same solution `./`
### works
[code]
### not works

[code]

[2019-04-10 17:23] livemixlove commented on #1776
When will this fix be put into a release?

[2019-04-10 17:24] skywinston commented on #1651
The solution to this problem can be found here:
https://github.com/Shopify/slate/issues/726#issuecomment-431372434

[2019-04-10 17:32] evilebottnawi commented on #1776
yes

[2019-04-10 21:07] shahzaibkhalid opened #1791 "v3.3.0 - HMR stopped working - React Hot Loader"
- Operating System: macOS Mojave 10.14.3
- Node Version: 10.14.2
- NPM Version: 6.4.1
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.3.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Expected Behavior

Hot Module Replacement using `react-hot-loader` must work.

### Actual Behavior

Hot Module Replacement using `react-hot-loader` broke with `webpack-dev-server` `

[2019-04-10 21:09] evilebottnawi commented on #1791
We don't touch something in hmr, not sure problem related to `webpack-dev-server`

[2019-04-10 21:12] shahzaibkhalid commented on #1791
It's reproducible in the mentioned repo, if I go back to webpack-dev-server `v3.2.1` HMR works like a charm. I connected the dots by comparing lock files of a similar project where HMR is working.

[2019-04-10 21:14] evilebottnawi commented on #1791
@shahzaibkhalid what i should run to reproducible problem? Please simplify you example with steps

[2019-04-10 21:14] evilebottnawi commented on #1791
I run `yarn build && yarn serve` and all works good

[2019-04-10 21:15] shahzaibkhalid commented on #1791
Please run `yarn start` for development server.

[2019-04-10 21:16] evilebottnawi commented on #1791
What is error you got?

[2019-04-10 21:18] shahzaibkhalid commented on #1791
There are no errors, but whole page is getting refreshed as soon as I change some code. But if I go back to the previous version (as mentioned in issue), HMR works.

Also updated issue with detailed reproducible steps.

[2019-04-10 21:20] evilebottnawi commented on #1791
@shahzaibkhalid Why you think it is problem with `react-hot-loader`? You `contentBase` is `process.cwd()` so you watch all changes in `process.cwd()` (include `node_modules`), looks somebody write new files in `node_modules` and you get refresh

[2019-04-10 21:22] evilebottnawi commented on #1791
You use ` watchContentBase: true,`, but doesn't setup `contentBase`, it is weird

[2019-04-10 21:25] shahzaibkhalid commented on #1791
Setting `contentBase` as `path.resolve(process.cwd(), 'src')` does not solve the issue. Did you tried downgrading to the mentioned version?

[2019-04-10 21:26] evilebottnawi commented on #1791
I can't run you reproducible test repo due:
[code]

Files always random, somebody try to watch `node_modules`

[2019-04-10 21:28] evilebottnawi commented on #1791
Confirm what problem in `contentBase` because you can open in deps https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L1014 and comment

[code]

then run

[2019-04-10 21:30] evilebottnawi commented on #1791
`watchPath` = `/home/evilebottnawi/IdeaProjects/webpack-dev-broken-hmr-example` (wrong) you need setup `src` as you written above

[2019-04-10 21:32] evilebottnawi commented on #1791
Example:
[code]

Solve your problem?

[2019-04-10 21:34] evilebottnawi commented on #1791
Using `path.resolve(process.cwd(), 'src')` is wrong, you need `static` directory, not `src`, in src you store your source code, in `static` you store static files (usually they copied to dist/build directory)

[2019-04-10 21:38] evilebottnawi commented on #1791
Example `CFA` use `public` directory for this https://github.com/facebook/create-react-app/tree/master/packages/react-scripts/template

[2019-04-10 21:40] shahzaibkhalid commented on #1791
I got you. My bad. I turned off `watchContentBase` and HMR is working now.

Thanks so much for detailed example. 🙏Closing.

[2019-04-10 21:40] #1791 closed

[2019-04-10 23:42] worc commented on #954
...so this was never fixed?

[2019-04-10 23:56] evilebottnawi commented on #954
What is problem?

[2019-04-11 08:45] sjelfull commented on #1776
@livemixlove A release was tagged yesterday: https://github.com/webpack/webpack-dev-server/releases/tag/v3.3.1

[2019-04-11 08:58] nicksyndicate commented on #1591
Helped this, but it isn`t good solution.
[code]

I have standalone backend and WDS need only for serving hot-updates. WDS want to get hot-update from backend server

[2019-04-11 09:36] zxyRealm opened #1793 "static .swf file type is error in ie10 browser"
- Operating System: windows 7
- Node Version: 8.11.2
- NPM Version: 5.6.0
- webpack Version: 4.28.4
- webpack-dev-server Version: 3.3.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior

![image](https://user-images.githubusercontent.com/29787620/55945558-9dd28e00-5c7d-11e9-8124-9c05e6f91a80.png)

### Actual Behavior

![image](https://user-i

[2019-04-11 11:07] evilebottnawi commented on #1793
Looks problem in mime package, can you create minimum reproducible test repo?

[2019-04-11 11:08] evilebottnawi commented on #1591
Somebody can create minimum reproducible test repo?

[2019-04-11 12:15] zxyRealm commented on #1793
this problem is `contentBase ` info is errror

[2019-04-11 12:15] #1793 closed

[2019-04-11 12:16] evilebottnawi commented on #1793
Can you describe?

[2019-04-11 15:37] emekadev commented on #1385
set a publicPath in your 'output' and 'devserver' which is the URL of output.path from the view of the HTML page.

[2019-04-11 15:44] evilebottnawi commented on #1385
Duplicate https://github.com/webpack/webpack-dev-server/issues/1785?

[2019-04-11 18:01] worc commented on #954
that contentBase doesn't use publicPath. that just seems like a weird miss. if you're setting up a public path, you're likely trying to mimic your deployed environment, so your assets wouldn't necessarily be at the root, they'd be alongside the other code at the public path.

[2019-04-11 18:18] evilebottnawi commented on #954
@worc `publicPath` !== `contentBase` (example CRA use `https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/config/paths.js#L42for wepback assets and `static` directory as contentBase) https://github.com/facebook/create-react-app/tree/master/packages/react-scripts/template

[2019-04-11 18:19] evilebottnawi commented on #954
What you expected, can you provide example or minimum reproducible test repo?

[2019-04-11 18:19] evilebottnawi commented on #1771
Friendly ping

[2019-04-11 18:21] evilebottnawi commented on #1777
/cc @hiroppy can you investigate? Don't have time on this right now :disappointed:

[2019-04-11 18:52] dizel3d commented on #1193
I have the problem! Do have a solution?

[2019-04-11 18:54] evilebottnawi commented on #1193
Please don't write "I have a probme", please describe what problem you have (minimum reproducible test repo welcome)

[2019-04-11 22:01] worc commented on #954
@evilebottnawi obviously contentBase and publicPath are not the same thing. but there is a use-case for having static content be served from the same public path as the rest of the generated output.

[2019-04-11 22:23] evilebottnawi commented on #954
Can you create minimum reproducible test repo and describe in read what you actually have and what you expected, this will allow more productive solve the problem

[2019-04-11 22:48] hytromo commented on #641
@jonaskello I had the same problem. It was created by me sharing data between the different configs returned.

My guess would be that webpack is not acting with an immutable way on this configs once you return them, so if you are sharing data between the config, when the first config is being parsed and mutated, part of the 2nd one is, too, and that in turn makes it invalid etc.

By not sharing da

[2019-04-11 23:37] ryank311 commented on #1777
This one also affects us because we run the dev server on a different port than our node server that is serving the page.  It would be huge for us if the sockjs host was configurable/override-able, as it would let us do things like run the webpack-dev-server on a different host or in a container separate from our node server.

[2019-04-11 23:40] evilebottnawi commented on #1777
Maybe `sockHost` and `sockPort`? Now we already support `sockPath`

[2019-04-12 09:30] HenriqueLimas commented on #924
Also [critical](https://github.com/addyosmani/critical) is using method `HEAD` for checking if the css file exists: https://github.com/addyosmani/critical/blob/master/src/file.js#L115

FYI @addyosmani @bezoerb

[2019-04-12 09:48] piotrblasiak commented on #1628
I also experience this problem. I serve my HTML from another port (because my backend is doing HMR as well), and webpack-dev-server even with HMR turned off seems to want to connect using sockjs to // instead of the dev-server port.
As a sidenote this is also a problem when using WebpackDevServer.addDevServerEntrypoints so I had to manually add `webpack-dev-server/client?http://${devServerHost}:${

[2019-04-12 10:46] evilebottnawi commented on #1628
@piotrblasiak Duplicate https://github.com/webpack/webpack-dev-server/issues/1628? Looks you need `sockPort` and `sockHost` options, can you create minimum reproducible test repo to unsure it is help

[2019-04-12 10:59] piotrblasiak commented on #1628
@evilebottnawi ah there we go - I thought it would be enough to have the port in WebpackDevServer.listen(... ) but apparently I needed it in options as well. Thanks!

[2019-04-12 11:26] evilebottnawi commented on #1628
@piotrblasiak :+1: You can send a PR

[2019-04-12 16:15] tbehunin commented on #1771
@evilebottnawi I'm having difficulty reproducing it with a new app. I'll keep playing with it to see if I can hone down the issue.

[2019-04-12 16:40] SirUppyPancakes opened #1795 "Add default port as 8080 in options.js to match webpack-dev-server.js"
- Operating System: Windows 10 x64
- Node Version: v11.4.0
- NPM Version: 6.4.1
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.3.1

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

The minimal changes to `webpack.config.js` to introduce HMR are:

[code]

### Expected Behavior

The `port` option should default to `8080` (just like the server does).

### Actual

[2019-04-12 16:42] evilebottnawi commented on #1795
We already use `8080` by default https://github.com/webpack/webpack-dev-server/blob/master/bin/webpack-dev-server.js#L242

[2019-04-12 16:43] evilebottnawi commented on #1795
What is problem, how you run `webpack-dev-server`? CLI or Nodejs api?

[2019-04-12 16:46] SirUppyPancakes commented on #1795
I just run `yarn webpack-dev-server` with `webpack-dev-server` installed locally (so CLI), and withe the config as laid out above.

If you would like, I can put together a minimal reproduction that shows the issue.

[2019-04-12 16:52] evilebottnawi commented on #1795
Please provide, default port is 8080, so something wrong in you configuration

[2019-04-12 16:53] evilebottnawi commented on #1795
Also since `3.3.0` `HotModuleReplacementPlugin` is no need to be added (it is done automatically)

[2019-04-12 17:19] SirUppyPancakes commented on #1795
Ah okay I think this is actually related to my use of https://github.com/gajus/write-file-webpack-plugin

I use this plugin to force `webpack-dev-server` to write the files to a folder (which makes it easier to load with Electron in my case). Without this plugin, I would have to branch my Electron code to load from `localhost:8080/index.html` (during development) and `./index.html` during producti

[2019-04-12 17:21] SirUppyPancakes commented on #1795
Now that I think about it though, taking the minimalist approach to configuration, branching on where I load `index.html` from in my Electron code might be less configuration and more intuitive than using an entire plugin to write files to disk... lol

[2019-04-12 17:22] evilebottnawi commented on #1795
You can invalid using `WriteFilePlugin` in favor option `writeToDisk` https://webpack.js.org/configuration/dev-server/#devserverwritetodisk-

[2019-04-12 17:24] evilebottnawi commented on #1795
hm, maybe be we forget adding port in some cases :confused: Yes, need reproducible tst repo

[2019-04-12 18:13] ryank311 commented on #1777
Yeah, I took a look and if we could set the sockHost and sockPort, that would work for us.  Unfortunately with just sockpath, it doesn't give us enough control over the domain.  Another alternative would be to utilize the publicPath, publicHost and publicPort that are already part of the config, but either would unblock us from upgrading.

Also, we should probably document the sockHost, sockPort a

[2019-04-12 18:25] evilebottnawi commented on #1777
sockPort PR https://github.com/webpack/webpack-dev-server/pull/1792, yep we will documented this in near future

[2019-04-12 18:27] evilebottnawi commented on #1777
/cc @hiroppy i think we do breaking change here https://github.com/webpack/webpack-dev-server/commit/2f7f05276e10a2ce408e0903982b8bbe07699182 :disappointed:

[2019-04-12 18:39] ryank311 commented on #1777
I did see the PR and it looks like it would resolve my issue.  Is there a reason why this is different from the public host and Port?  Afaik there wouldn't be a scenario when those would be different.

[2019-04-12 18:52] evilebottnawi commented on #1777
I think it is bug, and should be by default with public host and public port

[2019-04-12 18:53] evilebottnawi commented on #1777
Any way PR welcome

[2019-04-12 19:45] SirUppyPancakes commented on #1795
Alright, got together a minimal reproduction of the issue (with all the changes you suggested).

Steps to reproduce:

1) Download and unzip this example: [wds_port_issue.zip](https://github.com/webpack/webpack-dev-server/files/3074925/wds_port_issue.zip)
2) Run `yarn` or `npm install` in the root of the project.
3) Run `yarn webpack-dev-server` or `node_modules/.bin/webpack-dev-server`.
4) The `we

[2019-04-12 20:06] Loonride commented on #1795
I didn't test it, but from what you said, I suspect [createDomain](https://github.com/webpack/webpack-dev-server/blob/master/lib/utils/createDomain.js) is not adding the port correctly, since `http://localhost/sockjs-node/info?t=1555097629687` is missing the port. Just recently there was a problem where it was not inferring `localhost` as the hostname correctly.

[2019-04-12 20:10] evilebottnawi commented on #1795
Access to XMLHttpRequest at 'file:///C:/Users/caleb/Desktop/wds_port_issue/wds_port_issue/app/088d5e7dcde32c3a4a2b.hot-update.json' from origin 'null' has been blocked by CORS policy: Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https.

Don't use `file`, it is normal what you get `CORS` problem.

Anyway if you find better solution PR welcome

[2019-04-12 20:13] evilebottnawi commented on #1795
I think `server.address().port` should return `8080`

[2019-04-12 21:10] SirUppyPancakes commented on #1795
Just added some console logging to `createDomain.js`:
[code]

Here are the results:

When `port: 8080` is present in `webpack.config.js`:
[code]

When `port: 8080` is commented out in `webpack.config.js`:
[code]
Looks like the first call to `createDomain` passes a `server` that has `server.address()` with some missing information and `port: undefined`, when `port: 8080` is missing in `webpack.conf

[2019-04-12 21:29] evilebottnawi commented on #1795
Let's fix problem with default port, PR welcome :+1:

[2019-04-12 21:48] phil-lgr commented on #1777
Hot reload is broken for me with v3.3.1

the v3.1.14 still works fine
[code]

[2019-04-12 22:07] evilebottnawi commented on #1777
@phil-lgr please don't write this, previously webpack will be incompatibility with next webpack releases, you still need update so it is spam (you need create issue with reproducible test repo)

[2019-04-12 22:32] SirUppyPancakes commented on #1795
I'll be honest, I'm stumbling around trying to figure out where the change should be and why, but I don't know how to make it so that it doesn't break other things.

So far, it looks like we shouldn't change `options.js` to have `port` have a default, because it would cause the port finder to never get called if the port is already in use. I know that changing `createDomain` seems to work, but the

[2019-04-12 22:35] SirUppyPancakes commented on #1795
One more thing I just noticed from reading the source, I think the change should probably be to the `lib/utils/addEntries` file which seems to call `createDomain` in a way that makes more sense in the context of the generated bundle...

[2019-04-12 22:39] SirUppyPancakes commented on #1795
Ah yes looks like the change would be to here:
[code]

The problem with just adding the default port 8080 as a fallback here would be that it wouldn't use the port finder result (from `bin/webpack-dev-server.js`) if it was needed....

[2019-04-12 22:54] evilebottnawi commented on #1795
Yep, it should be easy

[2019-04-12 22:57] SirUppyPancakes commented on #1795
So `findPort` relies on an instance of `Server` in order to listen for `EADDRINUSE` and find a port that is available. However, when creating a `Server` you must pass the port, which eventually ends up in a call to `addEntries`, which is why `addEntries` is missing the port, because the `Server` is created before we find one.

It seems there would be two ways around this:
1) Rewrite the function t

[2019-04-13 01:36] zhangyuang commented on #1777
my pr can fix your problem, and you also can add port option in your star options,
because it use location.port if your argv.port is undefined
you can use webpack-dev-server --port 8080

[2019-04-13 01:44] Loonride commented on #1777
@ryank311 sockHost and sockPort would be different from host and port in the case mentioned [here](https://github.com/webpack/webpack-dev-server/pull/1664) where the Dev Server is behind a proxy. The inferring of the port from `location.port` in that PR is the breaking change here, so it would be beneficial to have options to set it rather than to try and guess the socket host and port.

[2019-04-13 01:53] zhangyuang commented on #1777
my  pr can fix your problem
and you can also start your app by webpack-dev-server --port 8080
because it use location.port if your urlParts.port is undefined
but at this time ,you can't add sockPath in your option,
because here ![image](https://user-images.githubusercontent.com/17424434/56073107-bc499e00-5dd1-11e9-8a6f-63fc0b22c875.png)
if my pr is merge, you can set sockPort by webpack-dev-server

[2019-04-13 02:17] Loonride commented on #1777
@zhangyuang yes that will fix the immediate issue here. 2 other things that probably need to be done:

- revert parts of [this](https://github.com/webpack/webpack-dev-server/commit/2f7f05276e10a2ce408e0903982b8bbe07699182) so it is not default behavior to infer the port from `location.port` (it will be possible to achieve this behavior manually when `sockPort` is added)
- add `sockHost` so that th

[2019-04-13 03:20] zhangyuang commented on #1777
good idea

[2019-04-13 07:22] dennispg opened #1796 ""[WDS] Disconnected" loop"
- Operating System: Windows 10 - 1809
- Node Version: v8.14.0
- NPM Version: 6.9.0
- webpack Version: 4.30.0
- webpack-dev-server Version: 3.3.1
- Browser version: Chrome 73.0.3683.103 (64-bit)

- [x] This is a **bug**
- [ ] This is a **modification** request

### Expected Behavior
Should not repeatedly reload the page after displaying [WDS] Disconnected.

### Actual Behavior
Does not strictly hap

[2019-04-13 15:07] evilebottnawi commented on #1796
Feel free to send a PR with fix

[2019-04-13 15:10] evilebottnawi commented on #1777
@zhangyuang

Cam you send a PR

Already done

[2019-04-13 15:19] zhangyuang commented on #1777
ok

[2019-04-13 15:33] zhangyuang commented on #1777
already finish,now if you add sockPort, it will be never use location.port
but as I said before，if you add sockPort but don't add sockPath
the hostname expression result is error
i hope you can refactoring previous behavior in the future

[2019-04-13 15:41] evilebottnawi commented on #1777
@zhangyuang please revert this, and let's do this in other PR, it is do dirty history and dirty changelog

[2019-04-13 15:46] dennispg commented on #1796
I would love do to exactly that, however I have been unable to track down a proper fix on my own. I have tried, and this was the most I was able to find out. I will continue to research, but I worry that I need assistance to go any further.

I had hoped it would be helpful to provide a reproducible test repo in order to get some assistance at least in finding a solution. If creating a reproducible

[2019-04-13 15:48] evilebottnawi commented on #1796
I had hoped it would be helpful to provide a reproducible test repo in order to get some assistance at least in finding a solution. If creating a reproducible test repo is a waste of time though, please do let me know.

No, reproducible test repo allow to us fix problem very fast, i written `Feel free to send a PR with fix` because now it is weekends and you you want fix this asap you can send a P

[2019-04-13 16:18] dennispg commented on #1796
I completely understand, there is no rush for a fix. I just want to help find the solution, so I shared here. I will continue to research also.

[2019-04-13 18:55] daliusd opened #1799 "Hot module reloading not working in Firefox but works in Chrome"
Because of some changes in Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=1536843) and change in some product (maybe this) hot reload has stopped working in apps created with create-react-app (https://github.com/facebook/create-react-app/issues/6720) with Firefox. One suspect is this product:

Could somebody looks into this and at least eliminate that problem is in this product?

[2019-04-13 19:12] evilebottnawi commented on #1799
Here problem https://github.com/sockjs/sockjs-client/issues/474

[2019-04-14 10:54] dizel3d commented on #1193
@evilebottnawi I'm sorry. But the issue initiator described my problem exactly.
Anyway, I made [a reproducible repo](https://github.com/dizel3d/wds-https-bug).
Thank you!

[2019-04-15 06:13] #1799 closed

[2019-04-15 09:57] evilebottnawi commented on #1193
@dizel3d can you open new issue

[2019-04-15 17:38] pedrofurtado commented on #1777
Related to this PR: https://github.com/webpack/webpack-dev-server/pull/1664

[2019-04-16 08:59] funwithtriangles commented on #1796
I rolled back to `webpack-dev-server` 3.0.0 and `webpack` 4.20.2 and still experiencing this issue. I'm on Windows 10 (1803).

I'm wondering if it has something to do with having `https` enabled. I don't seem to be experiencing it once I set this option to `false` but this might also be due to the fact my page doesn't get as far without it.

Seems related: https://github.com/webpack/webpack-dev-se

[2019-04-16 10:19] evilebottnawi commented on #1796
@funwithtriangles can you create minimum reproducible test repo, maybe you have other problem, thanks

[2019-04-16 19:01] evilebottnawi commented on #1777
/cc @hiroppy i think we need revert https://github.com/webpack/webpack-dev-server/commit/2f7f05276e10a2ce408e0903982b8bbe07699182, what do you think?

[2019-04-16 19:10] hiroppy commented on #1777
@evilebottnawi Yeah, could you revert only `client-src/default/index.js` because puppeteer is already used?

[2019-04-16 19:15] evilebottnawi commented on #1777
@hiroppy yep, some busy in this week, feel free to do this

[2019-04-16 19:50] thesaltygerman commented on #1795
@SirUppyPancakes came here to say that we were having of same problem. switched to https://www.npmjs.com/package/webpack-plugin-serve and haven't had issue since. it support `Promise` for `port` option so can use `get-port` or other npm module really easy.

[2019-04-16 21:17] SirUppyPancakes commented on #1795
Thanks for the link! @thesaltygerman That definitely looks like a decent alternative.

I think once I get a PR in (if I can manage to find a nice place to add in the default port value), `webpack-dev-server` should end up only needing `devServer.hot = true`, and should properly use the desired port (whether default, custom, or random) for both the server and generated code. I just need to track do

[2019-04-16 23:04] blackswanny commented on #1796
have the same issue since updated from 2.x to 3.2 version with the update of webpack to 4.28.4

previously worked config for `devServer`:
[code]
since in here https://webpack.js.org/configuration/dev-server/
I see the change to nest `cert` and `key` inside of `https` object the next config doesn't work:
[code]
this hammer also doesn't work:
[code]

here there is `ca` prop for `https`, what is this

[2019-04-17 00:31] gregveres opened #1802 "sockjs-node gives 404 after upgrade to v3. (wp v3 -> wpv4). wds not serving up html files"
- Operating System: Windows 10
- Node Version: v10.15.0
- NPM Version: v6.9.0
- webpack Version: 4.30.0
- webpack-dev-server Version: 3.3.2

- [x ] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]
Note that the above config is really split into common config (between dev and prod) and dev config. I merged them here to show the dev config that is driving WDS

My project

[2019-04-17 00:37] gregveres commented on #1802
I meant to say that this might be the same bug as #1796, but that description was talking about a different situation where it shows up. For this situation, I get the following errors:

`log.js:24 [HMR] Waiting for update signal from WDS...
abstract-xhr.js:132 GET http://localhost:50447/sockjs-node/info?t=1555458399621 404 (Not Found)
AbstractXHRObject._start @ abstract-xhr.js:132
(anonymous) @ ab

[2019-04-17 07:29] lijianxin1202 commented on #1742
Finally I use this config resolve my issue, thank you!
[code]

[2019-04-17 08:42] faymi commented on #1433
I solved this problem by `node --max-old-space-size=4096 "%~dp0\..\webpack-dev-server\bin\webpack-dev-server.js" %*` in node_modules/.bin/webpack-dev-sever.cmd

[2019-04-17 09:14] crazywako commented on #1802
I get following errors after reinstalling node_modules and getting new webpack-dev-server
[code]
And it just keeps pouring. Once every about 2 seconds.

Downgrading helped
"webpack-dev-server": "3.1.1"

[2019-04-17 09:17] cookcc commented on #355
the above methods that i try fail，finally figure out my problem method is use specific version webpack-dev-sever， like 3.1.0 and on on

[2019-04-17 11:37] evilebottnawi commented on #1795
I think it is bug:
1. we need `findPort` (https://github.com/webpack/webpack-dev-server/blob/master/bin/webpack-dev-server.js#L242) before run compilation https://github.com/webpack/webpack-dev-server/blob/master/bin/webpack-dev-server.js#L145, so you always have port
2. Add test on `cli` and `node` api usage

[2019-04-17 11:41] evilebottnawi commented on #1796
[code]

https://github.com/webpack/webpack-dev-server/blob/master/lib/utils/createConfig.js#L155

[2019-04-17 11:43] evilebottnawi commented on #1802
Fixed in master, you should use `sockPath`/`sockPort` when you use difference url for sockjs and webpack-dev-server self

[2019-04-17 11:43] #1802 closed

[2019-04-17 11:44] evilebottnawi commented on #1802
For future please don't put you big configuration in issue, it is hard to understand and read, please put minimum reproducible test repo link, thanks

[2019-04-17 11:45] evilebottnawi commented on #1802
Also you don't need include `entry` manually (`webpack-dev-server` do this), it can break your setup

[2019-04-17 11:56] gregveres commented on #1433
Just to add another case... I have 73 entry points and a few hundred TS files. I can WDS to compile everything the first time, but then as soon as I edit a file and it tries to compile the second time, it takes forever and runs out of memory.

I have found that adding the hardsourceWebpackPlugin helped a lot because it prevented the system from compiling all the files. This might indicate that it

[2019-04-17 12:00] gregveres commented on #1802
Ah, hot replacement has never worked for me. I guess that is why. So I only need the entries for production? Ok, that really eliminates most of the need for a shared config file. I will give it a try.

[2019-04-17 17:01] blackswanny commented on #1796
ok, thanks. I can find in code, just didn't get what it means. Seems it stands for specific `cacert` certificates. However it makes no difference. I rolled back to ` webpack-dev-server@2.11.5 `, `sockjs@0.3.19` and the issue is still there. My chrome is `73.0.3683.103` and Firefox `66.0.3 `. Chrome is still complaining and I have infinite loop of requests, which makes impossible to use dev tools a

[2019-04-17 18:12] evilebottnawi commented on #1796
@blackswanny can you create minimum reproducible test repo with 3 version, `webpack-dev-server@2` is deprecated and can doesn't work

[2019-04-17 18:19] evilebottnawi commented on #1256
Fixed in https://github.com/webpack/webpack-dev-server/pull/1775

[2019-04-17 18:19] #1256 closed

[2019-04-17 23:17] chaos-git opened #1805 "devServer.https.cert results in error if symlink used"
Discovered an issue when setting the devServer.https.cert value to the path of a symlink. Even though the destination of the symlink is a valid certificate, webpack will instead treat the filepath itself as the certificate which naturally fails.

I plan to submit a PR with a fix in the next few days by adding `fs.realpath(...)` before doing lstat on the file.

https://github.com/webpack/webpack-de

[2019-04-18 06:22] AndreiRailean commented on #1802
i'm running into this after upgrading to 3.3.1 from 3.2.1
@evilebottnawi me and poster of this issue are not trying to set a separate port for sockJs. i.e. #1792 _can_ be used to solve it, but it would be a hacky workaround (when it is released)

the issue here is that `devServer.port` specified in webpack conf (or on command line) is not used anymore for websocket connections and appears to fall

[2019-04-18 06:49] AndreiRailean commented on #1802
this issue is caused by #1664

[2019-04-18 09:56] evilebottnawi commented on #1802
I already write what we need revert this commit, PR welcome

[2019-04-18 10:00] evilebottnawi commented on #1805
Please use issue template in future otherwise issue was closed, thanks

[2019-04-18 13:16] thesaltygerman commented on #1769
This option support on alternative https://www.npmjs.com/package/webpack-plugin-serve#open. It is different but if needed support, good alternitive.

[2019-04-18 13:33] evilebottnawi commented on #1769
PR welcome

[2019-04-18 18:02] TheLarkInn commented on #1592
Can you still confirm this @cicibobo?

[2019-04-18 18:58] kaiyoma commented on #1744
@evilebottnawi Is there a way to disable the auto-refresh behavior? I would like webpack-dev-server to rebuild on every file change, but I _don't_ want the page in the browser to refresh until I do it myself. I've tried searching all over but I can't figure out how to do this.

[2019-04-19 10:49] evilebottnawi commented on #1744
@kaiyoma What do you mean? I can't understand what you want? Just use `webpack watch`

[2019-04-19 16:25] kaiyoma commented on #1744
I would like a way to have a server that serves the files, and I would like the bundle to be rebuilt automatically when a source file is modified, but I _don't_ want the browser to automatically reload the page. I don't think `webpack watch` alone is enough because I still need a server.

It seems that other people want this too: https://github.com/webpack/webpack-dev-server/pull/1276

It would be

[2019-04-19 17:01] evilebottnawi commented on #1744
hm, sound reasonable, let's reopen  and mark as feature because it is rare use case will be better if you take care about this and send a PR

[2019-04-19 17:49] kaiyoma commented on #1744
Great, thanks! It sounds like there's already a PR in the works, so I'll wait for that.

[2019-04-19 17:53] evilebottnawi commented on #1744
Looks PR was abandoned, so feel free to send new PR

[2019-04-19 19:37] slbucur opened #1809 "Websocket connection ignores the publicPath parameter"
- Operating System:
- Node Version: 10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.30.0
- webpack-dev-server Version: 3.3.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Summary
Hello,

I have django project that uses javascript assets from a webpack-dev-server instance.
The django app runs on `localhost:9000` and webpack-dev-sever runs on `localhost:8

[2019-04-19 20:09] evilebottnawi commented on #1809
Can you create minimum reproducible test repo, i think it is problem in conflagration

[2019-04-19 20:10] evilebottnawi commented on #1809
Also `publicPath` should be path, not domain, it is path

[2019-04-19 20:10] evilebottnawi commented on #1809
I think you can setup proxy for handle statics for python server

[2019-04-19 21:10] #1805 closed

[2019-04-19 23:49] slbucur commented on #1809
Hey, thanks for tips 😄 .

I managed to make a minimum reproducible repo:
https://github.com/slbucur/test_wds_issue_1809

It's available on gitpod:
https://gitpod.io/#https://github.com/slbucur/test_wds_issue_1809

![image](https://user-images.githubusercontent.com/1146117/56448290-8ac35c00-6316-11e9-8eee-b72b810f0ddc.png)

If you open the browser for the service running on 9000 (django), you shoul

[2019-04-20 02:54] gregveres commented on #1433
I was wrong about the caching plugin helping out. It doesn’t.

I had to give up on webpack-dev-server because it crashed on the first code change every single time. So I changed to just using webpack —watch with the caching plugin and things are super fast and no memory leaks.

So I think you guys are looking in the wrong place by saying this leak is a leak in webpack’s watch code. It has been run

[2019-04-21 00:16] cha0s commented on #1642
Yes it's still an issue.

No I can't produce a minimal repro, concurrency is hard.

Please just fix it :heart:

[2019-04-21 19:18] rleeson commented on #1809
It is not clear which 'publicPath' parameter you are referring to in your reply, as the parameter applies to both output and devServer.  In either case, the [webpack](https://webpack.js.org/configuration/output/#outputpublicpath) and [webpack-dev-server](https://webpack.js.org/configuration/dev-server/#devserverpublicpath-)  documentation both allow absolute or relative paths.  In fact, the webpac

[2019-04-21 21:51] slbucur commented on #1809
I confirm that adding the `public` parameter as `localhost:8080` fixes the issue.

I fixed in the reproducing repo with this commit:
https://github.com/slbucur/test_wds_issue_1809/commit/7130fffe0f4d491689c6bd1a2b3ebea69847bebf

[2019-04-22 12:27] mhavci opened #1811 "WDS Port Not Changed"
entry: {
    main: [
      'react-hot-loader/patch',
      'webpack-dev-server/client?http://localhost:8080',
      'webpack/hot/only-dev-server',
      path.join(__dirname, './src/js/index')
    ]
  },

devServer: {
    disableHostCheck: true,
    https: false,
    contentBase: paths.outputPath,
    publicPath:'http://localhost:8080/',
    hot: true,
    inline: true,
    historyApiFallback: true

[2019-04-22 12:47] #1811 closed

[2019-04-23 08:53] ZaffarJamali opened #1813 "I run this commond " npm run dev-server" server successfully started and compiled, but when I update the data in console the data doesn't update even i refresh the browser as well..? how to solve this issue?"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- webpack-dev-server Version:

- [ ] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior

### Actual Behavior

### For Bugs; How can we reproduce the behavior?

### For Features; What is the motivation and/or use-case for the feature?

[2019-04-23 09:54] evilebottnawi commented on #1813
Please use stackoverflow or gitter for questions, thanks

[2019-04-23 09:54] #1813 closed

[2019-04-23 09:54] evilebottnawi commented on #1813
Please provide for other people you configuration

[2019-04-23 09:57] evilebottnawi commented on #1642
@cha0s it is hard to fix something in anything, can you provide screen this about problem?

[2019-04-23 10:55] iiroj commented on #1777
It seems this has been fixed in https://github.com/webpack/webpack-dev-server/commit/58d168237508bf419714d155496b954b98681d04#diff-bd664d218d585ff7bd6ceced46bd877aL229, now we're just waiting for a new release.

[2019-04-23 15:53] jonathanlinat opened #1814 "Application not found (127.0.0.1:8080)"
- Operating System: Microsoft Windows 10
- Node Version: v11.14.0
- NPM Version: 6.7.0
- webpack Version: 4.30.0
- webpack-dev-server Version: 3.3.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior

Open a new tab in my default Internet browser without any error.

### Actual Behavior

Webpack doesn't open a new tab on compiling and a window

[2019-04-23 16:22] Deckerz opened #1815 "Not allowed to load local resource - Webpack dev server error"
- Operating System: Win 10
- Node Version: 11.14.0
- NPM Version: 6.7.0
- webpack Version: 4.30.0
- webpack-dev-server Version: 3.3.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior

Using this js
[code]
I should be able to access an image that is selected via file select. But i get `Not allowed to load local resource:` error

### Actual B

[2019-04-23 16:23] evilebottnawi commented on #1814
You should setup open browser, your os can't have browser

[2019-04-23 16:24] evilebottnawi commented on #1814
Also you don't need `new webpack.HotModuleReplacementPlugin()` anymore

[2019-04-23 16:26] evilebottnawi commented on #1815
Because by default we use memory fs for speedup build, so you doesn't have real files, you need use option `writeToDisk` https://webpack.js.org/configuration/dev-server/#devserverwritetodisk-

[2019-04-23 16:26] #1815 closed

[2019-04-23 16:29] Deckerz commented on #1815
Just tried that didnt work. I still can't access the file input image. Same error: `Not allowed to load local resource: file:///C:/fakepath/homepage-1.jpg`

[2019-04-23 16:30] evilebottnawi commented on #1815
it is browser limitation, you can use `file://` to load files

[2019-04-23 16:32] evilebottnawi commented on #1815
Please read https://stackoverflow.com/questions/25046301/convert-url-to-file-or-blob-for-filereader-readasdataurl

[2019-04-23 18:04] mathieumg commented on #1642
@evilebottnawi It seems @kmannislands provided the console output of the error, so pretty much equivalent to a screenshot. Basically, you start the Webpack bundler with proxying, and if any client disconnects it crashes the whole process for the reason mentioned in the original issue, above:

<img width="1336" alt="Screen Shot 2019-04-23 at 2 00 32 PM" src="https://user-images.githubusercontent.co

[2019-04-23 18:18] hiroppy commented on #1642
@mathieumg Only Node v10.x? Node.js v12 has been released today so I want to know what occurs using v12. Thanks.

[2019-04-23 18:31] mathieumg commented on #1642
@hiroppy I presume it will be the same on v12, but I can install it and test it too. Either way, this still needs to be fixed for v10.

[2019-04-23 18:34] jonathanlinat commented on #1814
Well... I reinstalled Brave browser, reassigned it as my default known browser and deleted `new webpack.HotModuleReplacementPlugin()`. That's it. Thanks @evilebottnawi

[2019-04-23 18:34] #1814 closed

[2019-04-23 18:43] mathieumg commented on #1642
@hiroppy A separate bug prevents me from testing it in v12, but I'm not on the latest version of the Dev Server either:

[code]

[2019-04-23 18:46] hiroppy commented on #1642
see https://github.com/nodejs/node/issues/24097

[2019-04-23 18:55] hiroppy commented on #1642
@mathieumg Could you submit a reproducible repo?

[2019-04-23 19:03] mathieumg commented on #1642
Yes I can try to muster up a repro repo when I have a spare second sometime this week!

[2019-04-23 19:26] dhardtke commented on #1642
I tried reproducing this error in a minimal repo, but I can't. Tried with NodeJS 10, 11 and 12. NodeJS 12 doesn't work with WDS though (getting a weird error message different than the one posted above - maybe because I'm on windows).

Maybe you guys can use the repo I created. I have definitely seen this behavior in our project using NodeJS 11.x as well:

https://github.com/dhardtke/wds-ws-proxy-

[2019-04-25 00:38] heygrady opened #1818 "fs option not supported"
https://github.com/webpack/webpack-dev-middleware#fs
https://github.com/webpack/webpack-dev-middleware/releases/tag/v3.6.0
https://github.com/webpack/webpack-dev-server/blob/master/package.json#L56

webpack-dev-middleware added an `fs` option in version 3.6.0. When I try to set that option it fails. I am using webpack-dev-server version 3.3.1 which depends on webpack-dev-middleware version 3.6.2.

[2019-04-25 03:27] gisellevqz commented on #1
it worked!  Thanks for sharing

[2019-04-25 21:20] Loonride commented on #1777
@evilebottnawi Where is `sockHost`? I can't find it in the options, and can't find anything suggesting that it has been implemented.

[2019-04-26 04:08] MinjieChang opened #1823 "proxy return a unwanted url to server"
- Operating System: mac os 11
- Node Version: 11.8
- NPM Version: 6.5
- webpack Version: 3.12
- webpack-dev-server Version: 2.11.5

- [ ] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### now my site url is: http://localhost:8080/community/postTalk

![image](https://user-images.githubusercontent.com/25215664/56782950-ee202300-681b-11e9-9185-4d055934917d.png)

###  w

[2019-04-26 10:12] evilebottnawi commented on #1823
Please create minimum reproducible test repo

[2019-04-26 10:14] evilebottnawi commented on #1777
@Loonride hm no docs?

[2019-04-26 16:16] Loonride commented on #1777
@evilebottnawi Yes but also `sockHost` just does not exist here: https://github.com/webpack/webpack-dev-server/blob/master/lib/options.json. Unless it exists under another name, I don't think it has been implemented

[2019-04-26 16:21] evilebottnawi commented on #1777
Yes, it is bug, but it is options only for CLI, you can use this in webpack.config.js

[2019-04-26 17:40] jonaldinger commented on #1777
@evilebottnawi I'm also not understanding how `sockHost` can be set. `sockPort` was implemented in PR https://github.com/webpack/webpack-dev-server/pull/1792, but the string "sockHost" does not currently exist anywhere in the master branch of the source code of this repo.

Assuming that `/client-src/default/index.js` is where the actual socket is being created (via `socket(socketUrl, onSocketMsg);

[2019-04-26 17:51] evilebottnawi commented on #1777
Oh, yes we don't have sockHost now, i mean `sockPath`, if somebody needed in `sockHost` you can send a PR, it is easy

[2019-04-26 21:21] SirUppyPancakes commented on #1795
So I've nailed down the exact problem now, just need to come up with a way to minimally change the code to fix it...

When the server is created in `bin/webpack-dev-server.js`:
[code]
it passes `options` and `compiler`. The `Server` constructor then handles all of the compiler-related things (and I'm guessing starts the compiler).

This all happens before we ever call `findPort` and actually `list

[2019-04-27 00:01] dmitrizzle commented on #1021
I think I have a related issue that surfaced with everything newer than `webpack-dev-server@3.1.14`. I am getting infinite loops with SockJS errors with all versions past 3.3.0 and browser console warnings in 2.2.0 and 2.2.1 versions. Downgrading fixed everything immediately. I am not using HTTPS with localhost.

[2019-04-27 19:50] hiroppy commented on #1818
closed via #1819

[2019-04-27 19:50] #1818 closed

[2019-04-27 20:11] polizinha opened #1826 "Uncaught SyntaxError: Unexpected token { when using "import""
- Operating System: Windows 10 Home Single
- Node Version: v10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.30.0
- webpack-dev-server Version: 3.3.1

- [x] This is a **bug**
- [ ] This is a **modification** request

[code]
[code]

[code]

### Actual Behavior

When browser open, I got `index.js:1 Uncaught SyntaxError: Unexpected token {` error. I think that babel-loader isn't working.

[2019-04-27 20:37] hiroppy commented on #1826
This issue has nothing to do with webpack-dev-server. If you think this problem causes by babel-loader, please open the issue at babel-loader repo.

[2019-04-27 20:37] #1826 closed

[2019-04-28 08:43] LOLdevelopr opened #1828 "Is it recommended to install this other than as a dev dependency ?"
- Operating System:
- Node Version: 10
- NPM Version: 6
- webpack Version: 4
- webpack-dev-server Version: 3

I was wondering is it recommended to install this package as dependency other than `development`.
I think it is really not a good idea to use it in production for sure . May me `global dependency` OK but still isnt it not necessary ?

[2019-04-28 10:28] hiroppy commented on #1828
Sorry, I don't understand what you said.

[code]

Please see the note.

https://github.com/webpack/webpack-dev-server#getting-started

[2019-04-28 11:10] LOLdevelopr commented on #1828
i mean , is there any point to install it locally as a dependency ? i mean it should be either installed as a dev-dependency or globally ri8 ?
[code]

[2019-04-28 11:30] hiroppy commented on #1828
webpack-dev-server shouldn't be used at production so `--save-dev` or `-g`.
However, development of server side rendering sometimes calls webpack-dev-server from production code. After all, I think that it depends on the idea of the project.
In addition, it is a bad idea to have all developers must install globally because it is desirable to clone the project and just execute `npm i` to make the p

[2019-04-28 11:43] LOLdevelopr commented on #1828
Is it ? never faced this .

[2019-04-28 11:51] hiroppy commented on #1828
For example, create-react-app uses webpack-dev-server as dependencies.
https://github.com/facebook/create-react-app/blob/785dd47937cba9892079275b690e6798303b5246/packages/react-scripts/package.json#L79

You can choose `webpack-dev-middleware` or `webpack-dev-serevr`.

In other words, because it depends on the project, there is no answer, but generally it is webpack-dev-server shouldn't be used at

[2019-04-28 12:11] LOLdevelopr commented on #1828
I dont think there is a need of `webpack-dev-server` for ssr either.
Thanks @hiroppy for this info. Will do a issue there to get to know about this more .

[2019-04-28 12:11] #1828 closed

[2019-04-28 17:07] padevone opened #1829 "Inline and hot mode via Node JS"
- Operating System: Ubuntu 16/18
- Node Version: 10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.28.3
- webpack-dev-server Version: 3.1.14

- [x] This is a **bug**
- [ ] This is a **modification** request

### Demo repo
https://github.com/padevone/webpack-node-cli

### Expected Behavior
Inline and hot mode via Node JS for less and js work

### Actual Behavior
Inline and hot mode via Node JS does

[2019-04-29 09:53] evilebottnawi commented on #1829
It is not working only for less?

[2019-04-29 11:01] padevone commented on #1829
@evilebottnawi less and js. Tested every all one by one.

[2019-04-29 11:08] evilebottnawi commented on #1829
Because you need `webpack-dev-server`, don't add `HotModuleReplacementPlugin`, webpack-dev-server already do this. Don't use `reloadAll` for `MiniCssExtractPlugin` (it is not you case). Don't add this https://github.com/padevone/webpack-node-cli/blob/master/bin/commands/dev.js#L12, because webpack-dev-server do this for you also

[2019-04-29 15:24] plauclair opened #1831 "Remove Sock injection when options.hot is false?"
- Operating System: macOS 10.14.4
- Node Version: 10.15.0
- NPM Version: 6.9.0
- webpack Version: 4.30.0
- webpack-dev-server Version: 3.3.1

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

[code]

### Expected Behavior

When setting hot to false, socket is still added as a dependency. Maybe I understand wrong, but shouldn't dev server _only_ serve when `options.hot` is

[2019-04-29 15:53] evilebottnawi commented on #1831
hot !== sockjs, we use sockjs for getting new assets, maybe we can add option `sockjs: true | false`, PR welcome

[2019-04-29 16:02] plauclair commented on #1831
@evilebottnawi would gladly submit a PR. Anything special that comes to mind that would need to be taken into account?

[2019-04-29 16:08] evilebottnawi commented on #1831
I think no

[2019-04-29 16:34] teetotum opened #1832 "npm install fails when webpack-dev-server is added"
- Operating System: Windows 10
- Node Version: v10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.30.0
- webpack-dev-server Version: 3.3.1

- [x ] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior
I expect npm install to run to completion without errors.

### Actual Behavior
When I add webpack-dev-server (the last entry in my devDependencie

[2019-04-29 16:35] evilebottnawi commented on #1832
You have broken package.json, bot related to project

[2019-04-29 16:42] teetotum commented on #1832
nope, the package.json is fine

[2019-04-29 16:54] evilebottnawi commented on #1832
All problem related to npm please open in npm repository/bug tracker, thanks

[2019-04-29 17:20] padevone commented on #1829
@evilebottnawi but this doesn't work.
* In DevTools i don't see sources from webpack
* Use only builded js and css, because after rebuilding changes nothing. I see changes on n proxy http://localhost:8100/webpack-dev-server

Now i see that i saw with version from my repo

[2019-04-29 18:50] kmannislands commented on #1642
IIRC, this also may have depended on a specific chrome version. Perhaps chrome has changed its behavior again.

To clarify my original ticket, this is non-blocking because WDS allows users to pass through config to the proxy package. So if anyone reading this is blocked, all you need to do is add an error handler on upgrade to the WDS config in your webpack config:

[code]

[2019-04-29 20:53] yordis commented on #1831
@evilebottnawi would you mind to mind to explain what do you mean?

Also, the issue I am facing is that I am the socket client is using `window.location.{hostname, port}` I believe and I am including my JavaScript in a second server.

Rails Server: `http://localhost:3000`
Webpack Dev Server: `http://localhost:5000`

Because of this, I keep getting errors

[code]

Because my dev-server is not runni

[2019-04-29 21:26] yordis commented on #1628
The issue I am facing is that I am the socket client is using `window.location.{hostname, port}` and I am including my JavaScript in a second server.

Rails Server: `http://localhost:3000`
Webpack Dev Server: `http://localhost:5000`

[code]

I think we should take some extra configs to be able to change the `hostname` and the `port`.

I tried to fix this and it seems that we use `__resourceQuery`

[2019-04-29 22:17] #1781 closed

[2019-04-30 10:18] akshaymodi9 commented on #1404
I am trying to run webpack server in development mode.I am getting the errors as below

Error: Cannot find module 'webpack-cli/bin/config-yargs'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:655:15)
    at Function.Module._load (internal/modules/cjs/loader.js:580:25)
    at Module.require (internal/modules/cjs/loader.js:711:19)
    at require (internal/modules/cjs/helpers

[2019-04-30 10:19] evilebottnawi commented on #1642
ho, i think we should add logger by default as described above, feel free to send a PR, it is easy to fix

[2019-04-30 12:13] PerfectionCSGO commented on #1829
I may be running into the same issue.

Operating System: Windows 10

Node Version: v10.15.3

Yarn Version: 1.15.2

webpack Version: 4.30.0

webpack-dev-server Version: 3.3.1

electron: 5.0.0

react-hot-loader: 4.8.4

[code]
In my electron console but no new payload is actually served to my electron application.
My commands look like this.

[code]

and electron entry point looks like this

[code]

[2019-04-30 14:41] sindresorhus opened #1833 "Support HEAD request"
See https://github.com/webpack/webpack-dev-server/issues/924#issuecomment-444402288

[2019-04-30 14:41] sindresorhus commented on #924
Continued in https://github.com/webpack/webpack-dev-server/issues/1833.

[2019-04-30 14:45] evilebottnawi commented on #1833
We already support difference methods (https://github.com/webpack/webpack-dev-middleware#methods), by defaults we supports only `GET`. What is problem? Support by default all possible? Or support only HEAD? Or no documentation about this?

[2019-04-30 17:01] sindresorhus commented on #1833
What's the purpose of limiting it?

[2019-04-30 17:10] evilebottnawi commented on #1833
@sindresorhus historical reason, previously we support only `GET` request for webpack-dev-middleware so we support only `GET` for webpack-dev-server, now we support all possible requests for webpack-dev-middleware, but by default we still support only `GET`. We can change this, because i see any problems to allowing any requests. Anyway can you provide case, just for information and future improve

[2019-04-30 17:32] sindresorhus commented on #1833
I use HEAD request to check whether the server is running.

Another use-case here: https://github.com/webpack/webpack-dev-server/issues/924#issuecomment-482506842

[2019-04-30 17:39] evilebottnawi commented on #1833
Thanks, mark as feature, feel free to send a PR if you want this asap

[2019-05-01 12:33] Blanen opened #1836 "Fail on start up if devServer.port is set and port is in use"
- Operating System: Windows 10 latest
- Node Version: 10.13.0
- NPM Version: 6.6.0
- webpack Version: >=4 < 4.29, I don't know the actual version. It's run via vue-cli
- webpack-dev-server Version: I don't know the actual version. It's run via vue-cli

- [ ] This is a **bug**
- [x] This is a **modification** request

### Expected Behavior

I would like running the devServer to fail with a port-in-

[2019-05-01 13:13] evilebottnawi commented on #1836
Use `DEFAULT_PORT_RETRY=0` https://github.com/webpack/webpack-dev-server/blob/master/bin/webpack-dev-server.js#L119, it is not weird, it is DX

[2019-05-01 13:13] #1836 closed

[2019-05-01 16:05] veeramarni opened #1837 "HMR loaded twice in @3.3.1"
- Operating System:
- Node Version: 10.15.3
- NPM Version: 6.4.1
- webpack Version: Tried with 4.19.0 and 4.28.4
- webpack-dev-server Version: Tried with "3.3.1" and "3.2.1"(working correctly in this version)

- [x ] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]
[code]
[code]

### Expected Behavior

`[WDS] Hot Module Replacement enabled.` should be seen only once in

[2019-05-01 16:17] hiroppy commented on #1837
Please submit a reproducible repo.

[2019-05-01 16:31] #1832 closed

[2019-05-01 16:55] veeramarni commented on #1837
I tried with the following repo.  If we change the `webpack-dev-server` to `3.3.1`the issue can be reproduced.

1. Clone following repo
https://github.com/cdmbase/fullstack-pro
2. Remove `package-lock.json` and replace the `webpack-dev-server` to `3.3.1` and
3. run `npm install` and then `npm start`
4. This will open a browser on url `http://localhost:3000`, where you can open dev tools to check t

[2019-05-02 04:21] smac89 commented on #62
[code]

[2019-05-02 07:51] teetotum commented on #1832
Seems like it was corrupted files in the npm cache.
npm cache clean --force
solved it for me.
Found at [npm/npm#19072](https://github.com/npm/npm/issues/19072#issuecomment-345555468)

[2019-05-02 14:46] shellscape commented on #924
@sindresorhus sorry, just now seeing your comment from January. (I have notifications from the repo muted) I haven't been a maintainer of this project for eons now, so I can't help here, but for what it's worth I work on and maintain [`webpack-plugin-serve`](https://www.npmjs.com/package/webpack-plugin-serve) with some great people, and it does support `HEAD` requests.

[2019-05-03 15:18] josh08h commented on #416
I have webpack dev server running behind a proxy locally. In the proxy config file I am forwarding all requests with `/webpack` path to the webpack dev server.

When WDS tries to listen to the sock-js socket for HMR it is requesting `localhost.com/sockjs-node/info`.. will I need to forward these on to the WDS also?

[2019-05-05 00:16] zeroone001 commented on #1373
[code]
This is the key

[2019-05-05 08:57] damianobarbati opened #1843 "Let "open" and "openPage" open a different url then bound one"
This is a **modification** request.

Scenario: you are developing a webapp on your desktop but you need to access it from from your smartphone.

This imply having the webpack-dev-server to bind to 0.0.0.0 (otherwise dev-server will not serve dev.mydomain.com resolved to desktop from the smartphone with custom DNS).

When firing dev-server with open=true, the url opened is "https://0.0.0.0" which e

[2019-05-05 23:03] cobyrne09 commented on #1457
thank you @abettke and @exAspArk. I too, wasted half a day until I found this thread.

[2019-05-06 08:09] fret2buzz opened #1845 "Cannot apply update. Need to do a full reload! Javascript files only."
- Operating System: Windows 10
- Node Version: v10.15.3
- NPM Version: 6.4.1
- webpack Version: 3.3.0
- webpack-dev-server Version: 3.1.10
- browser: Chrome Version 74.0.3729.131 (Official Build) (64-bit)

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code
[code]

### Expected Behavior
HMR updates page without full reload

### Actual Behavior
When I run `webpack-dev-server

[2019-05-06 09:38] evilebottnawi commented on #1845
Please create minimum reproducible test repo

[2019-05-06 09:39] evilebottnawi commented on #1845
Why you use inline?

[2019-05-06 09:44] evilebottnawi commented on #1843
hm, can you provide minimum reproducible test repo with problem?

[2019-05-06 10:06] fret2buzz commented on #1845
repo:
https://github.com/fret2buzz/webpack-dev

to see build messages in the browser console

[2019-05-06 10:08] evilebottnawi commented on #1845
You don't need `inline` to see build messages in the browser console

[2019-05-06 13:30] evilebottnawi commented on #1845
It is expected, your code doesn't have hmr logic, please read https://webpack.js.org/concepts/hot-module-replacement/ , if you use react you can use react-hot-loader (https://github.com/gaearon/react-hot-loader), for vue https://vue-loader.vuejs.org/guide/hot-reload.html, if you have own code please read article https://webpack.js.org/guides/hot-module-replacement/

[2019-05-06 13:30] #1845 closed

[2019-05-06 13:47] evilebottnawi commented on #1233
Wrong, it is valid (try to open http://[::]:8080/)

Note:
- Using `::1` means use localhost only for IPv6
- Using `::` mean use all available interfaces (include IPv6)

`opn` (`open`) package works find with IPv4 and IPv6 so i am closing this issue

[2019-05-06 13:47] #1233 closed

[2019-05-06 15:01] harrybin opened #1846 "dev server permanently reloads d.ts files from modules folder causing 60% CPU and more on a project with large libs"
[webpack-dev-server-test.zip](https://github.com/webpack/webpack-dev-server/files/3148564/webpack-dev-server-test.zip)

- Operating System: Win10
- Node Version: 12.1 (also tried 10.15.3)
- NPM Version: 6.9.0
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.2.1

- [x] This is a **bug**
- [ ] ~~This is a **modification** request~~

[code]

[code]

### Actual Behavior
the dev server always

[2019-05-06 15:06] evilebottnawi commented on #1846
Please create minimum reproducible test repo

[2019-05-06 15:09] harrybin commented on #1846
the attached project is a hello work project create with `create-react-app my-app --typescript`and added a tsconfig.json

[2019-05-06 15:09] evilebottnawi commented on #1846
I don't see attached project

[2019-05-06 15:11] harrybin commented on #1846
sorry, it was 7zip instead of zip--> readded

[2019-05-06 15:13] evilebottnawi commented on #1846
Thanks!

[2019-05-06 18:46] elesueur commented on #1796
I have this issue too, seems to have come along with Chrome 74. I don't think anything else in my environment changed. I see a failure in the first websocket connection (only for certain routes within my app! and the app reloads continuously). The websocket fails to connect with a timeout (error code 1006).

I applied the fix suggested in https://github.com/webpack/webpack-dev-server/issues/851#is

[2019-05-07 07:58] lpeliberty opened #1848 "File not found on webpack output"
- Operating System: Docker alpine
- Node Version: 8.16
- NPM Version: 6.4.1
- Yarn Version: 1.15.2
- Symfony/webpack-encore: 0.27.0 with :
  - webpack Version: ^4.20.0
  - webpack-dev-server Version: ^3.1.14

- [X] This is a **bug**
- [ ] This is a **modification** request

### Problem

Hello, I'm having troubles with webpack-dev-server for hot reloading react using docker.

I use webpack-encore f

[2019-05-07 09:57] evilebottnawi commented on #1848
Please open issue in `webpack-encore` or provide minimum reproducible test repo

[2019-05-07 09:59] evilebottnawi commented on #1848
I think you have invalid `public` (try to open `http://my.project.localhost/app.js`)

[2019-05-07 11:48] asgerhallas opened #1850 "Every second request to proxy via Chrome is delayed"
- Operating System: Windows 10
- Node Version: 10.15.0
- NPM Version: 6.4.1
- webpack Version: 4.29.6
- webpack-dev-server Version: 3.3.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior

Approximately same request time for every request to same ressource with same configuration.

### Actual Behavior

Every second request takes sign

[2019-05-07 11:58] evilebottnawi commented on #1850
Not sure it is related to dev server, problem in proxy, we don't use here any extra logic https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L386, also as you describe it is happens only in chrome, so please check your application on extra logic for chrome

[2019-05-07 11:58] #1850 closed

[2019-05-07 11:59] evilebottnawi commented on #1850
Anyway feel free to put here reproducible test repo, maybe i can help you

[2019-05-07 12:00] evilebottnawi commented on #1848
Please use `stackoverflow` or `gitter` for questions about configuration, thanks

[2019-05-07 12:00] #1848 closed

[2019-05-07 12:04] lpeliberty commented on #1848
Ok I'll post on webpack-encore.
I tried to open http://my.project.localhost/app.js with multi configurations and nothing works.

I used stackoverflow but I've done many research and I was wondering if it's not a bug from webpack-dev-server...

thx !

[2019-05-07 12:05] evilebottnawi commented on #1846
Please open issue in CRA, problem not related to `webpack-dev-server`, we don't read `ts` files. Only place where we can watch files (include `ts`) is `contentBase`. But in your configuration `contentBase: paths.appPublic` so we don't watch `node_modules`. I think one of plugins/loaders do this.

[2019-05-07 12:05] #1846 closed

[2019-05-07 12:22] evilebottnawi commented on #1837
@veeramarni i can't reproduce due `ENOENT: no such file or directory, open '../../config/development/dev.env'` error,

Please create **minimum** reproducible test repo. Why we ask create **minimum** reproducible test repo? Because it is allow to you find problem in configuration before post issue. You configuration is very difficult and i can't find webpack configuration files so we can't help you

[2019-05-07 12:22] #1837 closed

[2019-05-07 12:35] evilebottnawi commented on #1837
Also `Hot Module Replacement enabled` output doing by `client` so i think you have multiple `client` entry points

[2019-05-07 13:09] asgerhallas commented on #1850
@evilebottnawi thanks you for the fast reply! I've managed to work out a repro:

https://gist.github.com/asgerhallas/a92584cab937e11eabf93987497c0861

Be aware that the pattern sometimes only starts after request number two.

Is this usable?

[2019-05-07 13:11] evilebottnawi commented on #1850
@asgerhallas thanks, investigate

[2019-05-07 14:17] cvle opened #1851 "v3.3.0 is breaking create-react-app's custom webpackHotDevClient"
`create-react-app` and ejected projects use a custom `webpackHotDevClient`. This PR https://github.com/webpack/webpack-dev-server/pull/1738 prevent those users from being able to upgrade to `3.3.0` because the default client is always injected.

Another related issue is that I am also using the `Node API` to have better control where to add the _inline entries_ and where not to. For example I only

[2019-05-07 14:22] evilebottnawi commented on #1851
Why issue template was ignored, it is really difficult to do this?

[2019-05-07 14:22] #1851 closed

[2019-05-07 14:59] evilebottnawi commented on #1850
@asgerhallas can't reproducible all works fine and no delay, i think you have chrome extension which causes this problem. Try to use incognito mode.

[2019-05-07 14:59] evilebottnawi commented on #1850
My Chrome: `Version 74.0.3729.108 (Official Build) (64-bit)`

[2019-05-07 17:57] cvle commented on #1851
Apologies, will follow the template!

[2019-05-07 17:58] evilebottnawi commented on #1851
@cvle feel free to open new issue with reproducible test repo, thanks

[2019-05-07 20:08] pedrofurtado commented on #1777
@hiroppy In what version this hotfix will be available? :+1:

[2019-05-07 20:11] hiroppy commented on #1777
@pedrofurtado This fix will be fixed in the next version and the next version will be released in this week.

[2019-05-08 07:11] asgerhallas commented on #1850
@evilebottnawi thanks for trying it out! I will try in incognito - and let my coworkers try it out too - and report back.

[2019-05-08 07:14] asgerhallas commented on #1850
I have the exact same pattern in incognito mode. My Chrome is: ` Version 74.0.3729.131 (Officiel version) (64-bit)`.

[2019-05-08 07:35] asgerhallas commented on #1850
Three other coworkers of mine all experience the same, using different versions of Chrome :'(
Wonder if something on our network can cause this, even though it localhost only...

[2019-05-08 07:39] asgerhallas commented on #1850
Ok, a little breakthrough. If I connect to the test setup via 127.0.0.1:3000 instead of localhost:3000 (no changes to the test setup, just another url in the browser), then it does not delay.

[2019-05-08 08:29] davidgithub1980 opened #1852 "writeToDisk: true"
Hi. There is a new option:

`writeToDisk: true`

... but I wonder where exactly on the disk are the bundles saved? There is only the _true_ option without specifying the destination of the bundle on the disk.

Thx in advance for clearance.

[2019-05-08 09:54] evilebottnawi commented on #1850
Maybe something on is level

[2019-05-08 09:55] asgerhallas commented on #1850
Yes, sounds probable... which OS were you using?

[2019-05-08 09:56] evilebottnawi commented on #1850
Ubuntu 19.04

[2019-05-08 10:13] evilebottnawi commented on #1852
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please use stackoverflow or gitter for questions.

Your `output.path` is place where saved

[2019-05-08 10:13] #1852 closed

[2019-05-08 11:34] asgerhallas commented on #1850
Thanks for all the help. A summery of what seems to be the case right now, the pattern emerges when using:

1. Proxy via webpack-dev-server from localhost:3000 -> localhost:3001, not when going directly to the endpoint at localhost:3001
2. locahost:3000 as the address in Chrome, not when using 127.0.0.1:3000.
3. Chrome (multiple version including 74.0.3729.131), not Microsoft Edge
4. Windows 10, n

[2019-05-08 12:46] #1378 closed, assigned to nobody

[2019-05-08 18:38] neo7official commented on #1454
@evilebottnawi will you please explain what you did mean by 'webpack-dev-server client side code'

[2019-05-09 09:48] jmesa-sistel commented on #1850
@asgerhallas
Can you try to replace localhost by 127.0.0.1?
I think the proxy is resolving localhost using ipv6 (::1:) so your connections will be stalled.
Seems that the proxy donot work well using ipv6 in windows 10

[2019-05-09 10:55] asgerhallas commented on #1850
@jmesa-sistel That's interesting! Do you mean make the proxy target 127.0.0.1? I'll try that right away.

Accessing the dev-server through 127.0.0.1:3000 makes the problem go away - but I don't understand how that'll affect the proxy?

[2019-05-09 11:16] jmesa-sistel commented on #1850
@asgerhallas I think it's related how the proxy is resolving localhost in Windows 10.
I have had the same problem.
If you do a ping to localhost you will see ::1: instead 127.0.0.1
Another test is disable ipv6 in the network interface of your adapter and use localhost.
If works that's means that the proxy is resolving localhost using windows 10 preference.
In think the ideal solution is an option

[2019-05-09 11:35] asgerhallas commented on #1850
@jmesa-sistel thanks for the elaboration. You're right that my ping to localhost shows ::1 on my computer. What I can't understand (probably due to my ignorance about networking) is why it is the address I enter in the browser to access the dev-server that makes the difference?

    Chrome address        dev-server-url        proxy target-url     result
    localhost:3000        localhost:3000

[2019-05-09 11:58] jmesa-sistel commented on #1850
@asgerhallas Sorry but I am not an expert, maybe @evilebottnawi knows the reason.
I gues that we have mixed conections some on ipv6 and others in ipv4.
I theory all using localhost should work but I guess that dev-server use ipv4 on localhost, but I am not sure at all.

[2019-05-09 13:55] jmesa-sistel commented on #1850
@asgerhallas
I have try in Chrome http://[::1]:3000 and it is not working for me, so I guess it's because dev-server is using ipv4 on localhost

[2019-05-09 14:24] jmesa-sistel commented on #1850
@asgerhallas @evilebottnawi I have been doing some tests in Windows 10.
devserver --host ::   -> chrome http://localhost works
devserver --host ::1   -> chrome http://localhost works
devserver --host 0.0.0.0   -> chrome http://localhost delay
devserver --host localhost   -> chrome http://localhost delay
Then I think the problem is that devserver is not using the OS to resolve localhost, seems that

[2019-05-10 04:50] gagangoku commented on #1346
Did you try using --mode=development for dev builds ? It's quite fast for me: https://medium.com/@gagan_goku/hot-reloading-a-react-app-with-ssr-eb216b5464f1

[2019-05-10 09:48] femvc commented on #785
I occur the same problem. After tried different ways, the follow config is working.
launch.json
{
  "version": "0.2.0",
  "configurations": [
    {
      "type": "node",
      "request": "launch",
      "name": "Launch Program",
      // "program": "cd ${workspaceFolder};npm run dev"
      "program": "${workspaceFolder}\\node_modules\\webpack-dev-server\\bin\\webpack-dev-server.js",
      "args":

[2019-05-10 16:00] hulkish opened #1860 "GSoC Refactor: serverMode, clientMode, replace sockjs with ws"
- we should not define `sockjs` as a direct dependency, by default this will be replaced with `ws`
- `clientMode: 'ws'`, by default
- user must install `sockjs` themselves, then set `clientMode: require.resolve('sockjs')` if they want to support older browsers with dicey websocket support.

[2019-05-12 14:20] AndreyGFranca commented on #1373
I made a copy of index.html in a new folder I called `deployment` to match what I specified in the output.path

[2019-05-13 03:53] klimashkin opened #1867 "Since 3.3.0 sockjs is injected unconditionally"
- Operating System: MacOS
- Node Version: 12.2.0
- NPM Version: 6.9.0
- webpack Version: 4.31.0
- webpack-dev-server Version: 3.3.1

- [X] This is a **bug**
- [ ] This is a **modification** request

Since 3.3.1 I've started suddenly see a waterfall of failed `https://localhost:8443/sockjs-node/info?t=X` requests (even with turned off hmr)
Seems like wds has started using them for something (I coul

[2019-05-13 08:28] asgerhallas commented on #1850
@jmesa-sistel Sorry for the delay, was not home during the weekend. This is very interresting! And actually provides a solution too - for my concrete problem at least.

So does this mean that when using IPv6 localhost to connect to a server listening on IPv4 localhost it will delay every second time? I wonder why that is though :)

[2019-05-13 08:31] jeffreymb commented on #1717
This issue is majorly affecting our productivity as HMR is completely non-functional. Any ETA on this bug?

[2019-05-13 08:50] jmesa-sistel commented on #1850
@asgerhallas The delay is the time to resolve localhost to a valid ip, you can see it in chrome devtools in network, I think the delay problem is in devserver when a proxy is used only, but I am not a expert so I'm guessing. I change my config to use ipv4 (127.0.0.1) instead localhost, so everything is fine for me, but I guess a lot of people will have similar problems using proxy and localhost.

[2019-05-13 08:52] AbuAmeeer commented on #1355
you can use npm run build instead of

[2019-05-13 09:01] asgerhallas commented on #1850
@jmesa-sistel but isn't it strange that this delay only occurs every second request?

[2019-05-13 10:24] evilebottnawi commented on #1717
@jeffreymb we have many issues, if you want fix it asap - PR welcome

[2019-05-13 10:35] evilebottnawi commented on #1867
Already fixed in master, also we added `sockHost`, `sockPort` and `sockPath` for complex use cases, release will be in near time

[2019-05-13 10:35] #1867 closed

[2019-05-13 10:38] #1510 closed

[2019-05-14 07:17] syabro commented on #1716
Setting `clientLogLevel: 'none'` muted 99% of console stuff but I still see
`Waiting for update signal from WDS`

Version 3.3.1

[2019-05-14 15:44] ranand commented on #1777
hi @hiroppy - thanks for all the awesome work in maintaining this. any chance that a fix (new release) will be available this week, please?

[2019-05-14 16:26] evilebottnawi commented on #1777
Yes, release will be on this week

[2019-05-14 22:40] Loonride commented on #1717
@evilebottnawi could you reproduce this? The problem as I understand it is that if you go to `http://repo:8080/public/` it should try to load `http://repo/build/0.js`. Mine seemed to work fine and loaded `http://repo:8080/build/0.js`.

[2019-05-15 00:19] evilebottnawi commented on #1717
@Loonride i don't look this issue (many work right now), feel free to investigate and send a PR with fix

[2019-05-15 01:28] Loonride commented on #1860
If we do that `require` method to allow `sockjs` as a `clientMode` then if the user wanted to make their own server implementation they would need to implement in the same way as the [sockjs API](https://www.npmjs.com/package/sockjs), specifically the parts the Dev Server uses (they would need a `createServer` method, event listeners, etc.). We could also alter this API slightly as we like and cre

[2019-05-15 12:50] BarthaBRW opened #1876 "--open-page does not work in child_process"
- Operating System: Windows 10, v1809, build 17763.475
- Node Version: 10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.31.0
- webpack-dev-server Version: 3.3.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Expected Behavior
--open-page argument works well if I run it in the cmd. It should work if it is runned by child_process node module.

### Actual Behavior
Running the

[2019-05-15 13:00] evilebottnawi commented on #1876
Please create minimum reproducible test repo, i think you missing something in setup `child_process`, anyway i strongly recommend use `execa` instead built-in child_process due hard setup

[2019-05-15 13:30] evilebottnawi commented on #1661
Close in favor https://github.com/webpack/webpack-dev-server/issues/1860, will be implemented for next major release, thanks for issue

[2019-05-15 13:30] #1661 closed

[2019-05-15 13:31] evilebottnawi commented on #1661
As workaround right now you can use own client (or extend our)

[2019-05-15 13:35] evilebottnawi commented on #1251
We don't disable `hot` due DX, but you can disable hot using `--no-hot`, also in next release you can use `--no-live-reload` (https://github.com/webpack/webpack-dev-server/issues/1744 and https://github.com/webpack/webpack-dev-server/pull/1812) Closing, thanks for issue

[2019-05-15 13:35] #1251 closed

[2019-05-15 13:38] evilebottnawi commented on #1296
Already fixed, you can use `inline` not only using CLI

[2019-05-15 13:38] #1296 closed

[2019-05-15 14:19] npirotte opened #1878 "Serving large assets is slow"
- Operating System: OS X
- Node Version: 10.8.0
- NPM Version: 6.8.0
- webpack Version: 4.30.0
- webpack-dev-server Version: 3.10.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Expected Behavior
Working on a pretty large codebase, with wds 3.1.10 loading of the large assets was fine (few seconds)

### Actual Behavior
After upgrading to 3.10.1 loading of large assets can t

[2019-05-15 14:22] evilebottnawi commented on #1878
Sorry, but we can't help you without minimum reproducible test repo, please provide example and we reopen issue. There are a lot of places where you can to lose time starting with network/environment and ending your setup.

[2019-05-15 14:22] #1878 closed

[2019-05-15 14:23] evilebottnawi commented on #1878
Just note, we recently had a similar problem and problem was in browser extension

[2019-05-15 14:26] evilebottnawi opened #1879 "[bug] handle remote content base paths in array"
- Operating System: no matter
- Node Version: no matter
- NPM Version: no matter
- webpack Version: no matter
- webpack-dev-server Version: 3.3.1

- [x] This is a **bug**
- [ ] This is a **modification** request

Ref:

https://github.com/webpack/webpack-dev-server/pull/1877#discussion_r284244114

[2019-05-15 14:34] npirotte commented on #1878
Our repo is hosted on a private bitbucket instance, so it's hard for me to reproduce.

I set compress to false and it seems to be way better now, not maybe not an issue in webpack dev server config itself.

Thanks for responding quickly anyway 👍

[2019-05-15 14:38] #1833 closed

[2019-05-15 14:38] evilebottnawi commented on #1878
@npirotte In any case, I would advise you do profiling and search what is wrong, maybe something wrong in deps/setup and in future it can break other place

[2019-05-15 14:55] alexander-akait opened #1881 "Webpack dev server takes up a lot of memory"
Something wrong with bot. Ref: https://github.com/webpack/webpack/issues/4363

[2019-05-16 06:38] mikkotikkanen commented on #1021
It appears indeed that downgrading `webpack-dev-server` to 3.1 resolves this issue, however it appears that `webpack-cli` has removed something between versions that breaks the whole setup

[code]

In order to resolve this I had to downgrade `webpack-cli` to matching minor version.

So, this ended up being the winning combination. For now.

[code]

Is `webpack-dev-server` really relying on some sp

[2019-05-16 15:03] evilebottnawi commented on #1717
@esomkin @jeffreymb I can't reproduce problem

[2019-05-16 15:11] #1717 closed

[2019-05-16 15:20] evilebottnawi commented on #1385
Somebody can create minimum reproducible test repo?

[2019-05-16 16:29] evilebottnawi commented on #1440
@Vandivier yes, you are right, we support all methods right now, but lose body

[2019-05-16 20:55] hiroppy commented on #1744
fixed via https://github.com/webpack/webpack-dev-server/pull/1889.

[2019-05-16 20:55] #1744 closed

[2019-05-17 14:46] endiliey opened #1897 "wds cannot hot reload after upgrading from 3.2.1 to 3.4.0"
- Operating System: WSL
- Node Version: 12.2.0
- NPM Version: 6.9.0
- webpack Version: 4.30.0
- webpack-dev-server Version: 3.4.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Description

After upgrading my webpack-dev-server dependency to 3.4.0 from 3.2.1, the hot reload stopped working although there is no change in code. See gif below and steps to reproduce

### Expect

[2019-05-17 14:47] evilebottnawi commented on #1897
Thanks for issue, regression

[2019-05-17 14:58] endiliey commented on #1897
@evilebottnawi Thanks for the fast reply. It seems that it's happening for wds v3.3.1 too.

I suspect 3.30 or 3.3.1 caused the regression. Hope it helps. Let me know if you need more info ❤️

[2019-05-17 15:05] hubgit opened #1899 "[regression] clientLogLevel should alias options "none" and "warning""
https://github.com/webpack/webpack-dev-server/pull/1825 removed the `clientLogLevel` options "none" and "warning".

This is causing an error when a project tries to run webpack-dev-server with a previously valid `clientLogLevel` value .

[2019-05-17 15:47] hiroppy commented on #1897
maybe related https://github.com/webpack/webpack-dev-server/pull/1889

[2019-05-17 15:50] evilebottnawi commented on #1897
Yes related, we need search way how testing client

[2019-05-17 16:00] hiroppy commented on #1897
@endiliey hmm... I couldn't meet this bug in facebook/Docusaurus...

[2019-05-17 16:01] endiliey commented on #1897
@hiroppy facebook/Docusaurus was fine. Did you upgrade to 3.4.0 and then try it ? After the upgrade it broke

[2019-05-17 16:03] hiroppy commented on #1897
yeah, I updated webpack-dev-server@3.4.0...

[2019-05-17 16:08] endiliey commented on #1897
Ok that's super weird.

@hiroppy can you try this branch ? https://github.com/facebook/Docusaurus/tree/wds-3.4.0
Don't forget to run install again at root folder with `yarn`

Could it be WSL issue (?) It was working fine in 3.2.1 though >.<
![3 4 0](https://user-images.githubusercontent.com/17883920/57941226-f80be200-7900-11e9-86e7-d03c472f532b.gif)

[2019-05-17 16:10] evilebottnawi commented on #1897
@endiliey hm, let's try fix:
- go to `node_modules/webpack-dev-server/client/index.js`
- Find `reloadApp` function
- Change
[code]

to
[code]

[2019-05-17 16:11] hiroppy commented on #1897
@endiliey Thank you. I met this issue.😇

[2019-05-17 16:15] endiliey commented on #1897
It worked after I applied your patch @evilebottnawi 😄 seems that the liveReload overwrite the hot :|

![worked like a charm](https://user-images.githubusercontent.com/17883920/57941640-10303100-7902-11e9-85c4-b09e101aeab3.gif)

[2019-05-17 16:17] hiroppy commented on #1897
@endiliey Thank you for confirming. We'll fix and release a patch version as soon as possible.

[2019-05-17 16:21] endiliey commented on #1897
Sure thing. Thanks a lot for the fast response. Awesome 🎉

By the way I've also verified that it still fall backs to livereload if hot reload is not working.

Did it by removing "accept the updated module" function like
[code]

[2019-05-17 16:23] #1899 closed

[2019-05-17 16:24] evilebottnawi commented on #1897
@endiliey hm, fix above solve problem?

[2019-05-17 16:26] endiliey commented on #1897
@evilebottnawi yes it worked. See the gif above. It works now

[2019-05-17 16:45] #1897 closed

[2019-05-17 16:50] navstev0 commented on #616
So after hours and lots of comment reading here is what I found.
output.publicPath must be set.
if the plugin is enabled you will get 404 from hot/hot-update, so rather you must set.
[code]
const webpack = require('webpack');
const WebpackDevServer = require( "webpack-dev-server" );

webpackConfig = [ ...configs ];
config.forEach( webpackConfig => {
    webpackConfig.output.publicPath = "http://lo

[2019-05-17 16:55] evilebottnawi commented on #616
@navstev0 Can you create minimum reproducible test repo

[2019-05-17 17:08] navstev0 commented on #616
Sure I will do that later tonight.

[2019-05-17 18:01] Hauuguu commented on #1479
Any update on this?

[2019-05-17 20:54] Loonride opened #1905 "npm run test failing"
- Operating System: Windows 7
- Node Version: 8.9.4
- NPM Version: 6.4.1
- webpack Version: 4.31.0
- webpack-dev-server Version: 3.4.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

do `npm run test`

### Expected Behavior

Tests should run

### Actual Behavior

The following relevant output:

[code]

### For Bugs; How can we reproduce the behavior?

Explained above

[2019-05-17 20:59] hiroppy commented on #1905
It does not occur. Check local node_modules and your git.

[code]

[2019-05-17 21:06] hiroppy commented on #1905
Or you can change `lint:**` or `"lint:**"` if windows occurs this issue.

[2019-05-17 21:18] Loonride commented on #1905
Yes that seems to be the problem because of Windows. Still getting errors after I change that in the few `package.json` instances, likely also caused by Windows

[2019-05-17 21:20] hiroppy commented on #1905
Did you try the following?

[code]

[2019-05-17 21:33] Loonride commented on #1905
`npm-run-all` works after making that change. I made a similar change here:

`
"lint:prettier": "prettier {**/*,*}.{js,json,md,yml,css} --list-different"
`

I got this (possibly a problem with `prettier`):

[code]

[2019-05-17 22:39] hiroppy commented on #1905
I think you should rewrite it as follows.

[code]

[2019-05-17 23:35] Loonride commented on #1905
Yes I tried that too, no luck. I will take a closer look later and let you know what I find.

[2019-05-18 04:07] Loonride commented on #1905
@hiroppy `--list-different` is causing Exit status 1 from `lint:prettier` (which is expected behavior: https://prettier.io/docs/en/cli.html#list-different). Is this behavior we want? If not, the simple solution is to have:
[code]

Either way, I think quotes should be switched to the `\"` style.

[2019-05-18 16:34] mowais-ac opened #1906 "Access to XMLHttpRequest at 'https://api.ilmyst.com/api' from origin 'https://ilmyst.com' has been blocked by CORS policy"
I am trying to send the API request which is hosted on subdomain from the react application which is my front end application, but I am getting the following error.

I am using **"webpack-dev-server": "^3.4.1"**
I have tried almost everything to resolve this issue, please help me to resolve.

Please find the attachment to see the error.

<img width="1435" alt="Screen Shot 2019-05-18 at 8 33 52 PM"

[2019-05-18 16:40] hiroppy commented on #1906
Please submit the reproducible repo.

[2019-05-18 19:18] mowais-ac commented on #1906
I just pushed my react js repo here
https://github.com/mowais-ac/ilmyst-api/

please let me know if you need anything

[2019-05-18 19:29] hiroppy commented on #1906
@mowais-ac Thank you!

[2019-05-19 00:05] mowais-ac commented on #1906
any luck?

[2019-05-19 17:43] mowais-ac commented on #1906
?

[2019-05-19 17:48] hiroppy commented on #1906
This place is OSS. Also, I am not working as a job. If you want to fix it in a hurry, feel free to submit PR.

[2019-05-19 17:59] hiroppy commented on #1905
The current behavior of master in my local is below.

[code]

Exit status is 0.

I agree with you.

[2019-05-19 19:46] buchatsky commented on #79
In my case, the hash doesn't matter because

[2019-05-20 03:56] Loonride commented on #1860
Tasks to complete for client/server refactor:

**Server**
- [ ] Encapsulate SockJS server (started above)
- [ ] Deal with any SockJS workarounds that have been added to the Dev Server over time
- [ ] Finalize a server wrapper API that is simple, such that users can implement their own wrappers (prototype [here](https://github.com/webpack/webpack-dev-server/pull/1904/files#diff-5ee4a67d6e2c856789b6

[2019-05-20 10:35] iMoses commented on #1897
I just updated from 3.3.0 to 3.4.1 and hot reload stopped working completely. Seems that the websockets aren't even trying to establish a connection. Could it be related or is it a different issue?

[2019-05-20 11:22] endiliey commented on #1897
I think it might be different issue. This issue was about livereload taking precedence against hot reload

[2019-05-20 16:52] hulkish commented on #1860
@Loonride LGTM @ev1stensberg thoughts?

[2019-05-20 17:38] Loonride commented on #1385
@evilebottnawi This seems to be a combination of 2 problems, as I fully explain here: https://github.com/Loonride/webpack-issue-repro

- The `publicPath` issue is correct: https://github.com/webpack/webpack-dev-server/issues/1785
- Maybe we should close this and open an "incorrect port for hot-update" issue

[2019-05-21 03:39] zhangyuang opened #1910 "the lateset version looks like has an error"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- webpack-dev-server Version: 3.4.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]
webpack-dev-server --port 8000 --hot --config ./build/webpack.config.client.js

### Expected Behavior

use hmr, and when i change the code ,the browser need not reload

### Actual Behavior

the console

[2019-05-21 17:56] arthurgeron commented on #1385
So will this ever be fixed? Is there any  update on this?

[2019-05-21 18:56] arthurgeron commented on #1385
@Loonride  is there a PR for the fix? I'll try to help but I need to find out where the `path` query param passed to webpack as an entry is stored, webpack-hot-middleware allows a full URL to be passed as argument but seems to ignore it when fetching `hot-update.json`.
e.g.:
https://github.com/webpack-contrib/webpack-hot-middleware/blob/cb29abb9dde435a1ac8e9b19f82d7d36b1093198/example/webpack.conf

[2019-05-21 20:06] arthurgeron commented on #1385
Also, why the heck there are object's with a single letter as a name? :thinking:

[2019-05-22 08:02] evilebottnawi commented on #1905
Peoblem still exists? I can't reproduce

[2019-05-22 08:04] evilebottnawi commented on #1910
Please update webpack-dev-server to latest version, you still use old version(3.4.0), maybe you have lock file, you need update this file too

[2019-05-22 08:04] #1910 closed

[2019-05-22 08:05] evilebottnawi commented on #1910
If it is not help, please create minimum reproducible test repo

[2019-05-22 11:21] PerfectionCSGO opened #1912 "HMR appears broken in 3.4.1 upgrading from 3.3.1"
- Operating System: W10
- Node Version: 1.15.3
- yarnVersion: 1.15.2
- webpack Version: 4.32.1
- webpack-dev-server Version: 3.4.1

- [x ] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior
HRM is working.
[code]

### Actual Behavior
HRM is not working.
[code]

No updates, no WDS messages, whatsoever.

### For Bugs; How can we reproduce the

[2019-05-22 13:00] luckyyyyy opened #1913 "3.4.1 not watch node_modules?"
- Operating System: macos 10.14.4
- Node Version: v10.15.2
- NPM Version:
- webpack Version:  webpack@4.32.0
- webpack-dev-server Version: 3.4.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior

### Actual Behavior

### For Bugs; How can we reproduce the behavior?

### For Features; What is the motivation and/or use-case for the fea

[2019-05-22 13:26] hiroppy commented on #1912
Please submit the reproduceable repo.

[2019-05-22 14:50] luckyyyyy commented on #1913
thanks

[2019-05-22 15:26] Loonride commented on #1905
The problem was with my CRLF line endings on Windows. I'll make a PR for the `package.json` quote fix but otherwise it's my local problem.

[2019-05-22 16:13] Loonride commented on #1385
@arthurgeron there's a PR here https://github.com/webpack/webpack-dev-server/pull/1514, hasn't been active in a while though. It seems like it can possibly be solved without touching [this](https://github.com/webpack/webpack/blob/master/lib/web/JsonpMainTemplate.runtime.js#L31) by altering the Webpack compiler config `publicPath`.

Not really sure about the single letter naming. My guess is it is

[2019-05-22 19:43] ZebraFlesh commented on #1796
I'm seeing this consistently on both Mac and Windows 10 using Chrome 74, Safari 12.1.1, and Firefox 67. I was able to narrow things down a little: I was upgrading some stale dependencies and saw this error occur, so I restarted the dependency upgrades and was very methodical. This occurred when I jumped from webpack-dev-server 3.2.1 to 3.3.0 (with the corresponding required upgrade of webpack-cli

[2019-05-22 20:07] duartealexf commented on #522
That does not make sense, of course it should not capture runtime errors!
What are try/catch block errors for, anyway?

[2019-05-22 23:33] evilebottnawi commented on #1796
Don't stick version, it can be broken in future, please create minimum reproducible test repo

[2019-05-22 23:36] evilebottnawi commented on #1906
You need setup CORS headers on your subdomain, please use Google, stackoverflow or other QA services for helping

[2019-05-22 23:36] #1906 closed

[2019-05-22 23:46] evilebottnawi commented on #1912
Without reproducible test repo we can't help and issue was closed, please provide minimum reproducible test repo

[2019-05-22 23:53] evilebottnawi commented on #1860
LGTM, we can introduce serverMode and clientMode as experimental to allow us do breaking changes without major release

Don't forget about CLI refactor

[2019-05-23 11:27] ezze commented on #1912
I don't use [Hot Module Replacement](https://webpack.js.org/api/hot-module-replacement) but seems that I have a related issue with `webpack-dev-server`. It doesn't detect changes in my scoped `@geoapps` packages located in `node_modules` (though detects changes in `src`). It doesn't matter whether my scoped packages are symlinked or installed to `node_modules` directly. Downgrading `webpack-dev-se

[2019-05-23 11:28] evilebottnawi commented on #1912
@ezze hot !== livereload !== watch, we ignore `node_modules` by default, you can solve problem using https://github.com/webpack/webpack-dev-server/issues/1913

[2019-05-23 11:52] ezze commented on #1912
@evilebottnawi, thanks for pointing it out. Setting `watchOptions: { ignored: [] }` fixes my issue.

[2019-05-23 11:57] evilebottnawi commented on #1912
@ezze don't forget watching `node_modules` can overload your machine

[2019-05-23 12:01] ezze commented on #1912
@evilebottnawi, is it possible to ignore whole `node_modules` excepting few subdirectories?

[2019-05-23 12:05] evilebottnawi commented on #1912
@ezze `watchOptions: { ignored: ['node_modules', '!node_modules/my_module'] }` in theory should be work, but need tests

[2019-05-23 15:20] #1905 closed

[2019-05-23 17:01] Connum opened #1919 "protocoll-agnostic "public" option no longer possible"
- Operating System: Windows 10
- Node Version: 8.11.1
- NPM Version: 6.4.1
- webpack Version: 4.32.2
- webpack-dev-server Version: 3.4.1

- [X] This is a **bug**
- [ ] This is a **modification** request
---
**I ran into a problem when updating from `3.2.1` to `3.4.1`, receiving the error mentioned below, without making any change to the webpack config. I believe this could be related to #1743 and

[2019-05-23 17:03] evilebottnawi commented on #1919
Please use `sockPath`, `sockPort` or `sockHost` to this, it was internal bug and it is invalid behaviour

[2019-05-23 17:03] #1919 closed

[2019-05-23 17:10] Connum commented on #1919
Thanks for the super-fast reply!
For anyone encountering this issue, this is how my `devServer` looks like in the `webpack.config.js` now:

[code]

Works like a charm!

[2019-05-23 17:17] evilebottnawi commented on #1919
Yes, right solution, it was buggy on our side so you code works in previous versions, but after fix it you can face with problem, we can't solve other main problems without break this invalid case

[2019-05-23 18:01] evilebottnawi commented on #1385
@arnihermann please create minimum reproducible test repo, i think something wrong in your setup

[2019-05-23 20:57] notiv-nt commented on #1323
Oooooooookey. i found it

## public/index.html
[code]

## src/index.js
[code]

## webpack.config.js
[code]

## package.json
[code]

[2019-05-24 06:15] GitNomster commented on #1912
Same thing. HMR not working in v. 3.4.1

[2019-05-24 07:10] asgerhallas commented on #1850
@jmesa-sistel just wanted to check back in and say that thanks a lot for solving my problem! Thanks :)

[2019-05-24 09:15] Croissong commented on #1912
@evilebottnawi I can confirm that this works!

[2019-05-24 10:32] evilebottnawi commented on #1323
So problem already solved? If not please create actual minimum reproducible test repo, thanks

[2019-05-24 10:40] evilebottnawi commented on #1912
Somebody can create minimum reproducible test repo otherwise issue was closed

[2019-05-24 10:46] notiv-nt commented on #1323
it doesnt work with HtmlWebpackPlugin, but should

[2019-05-24 11:21] evilebottnawi commented on #1323
@notiv-nt Speciously? __If not please create actual minimum reproducible test repo, thanks__

[2019-05-24 11:29] notiv-nt commented on #1323
@evilebottnawi https://github.com/notiv-nt/webpack-lazy

[2019-05-24 11:29] evilebottnawi commented on #1323
Thanks

[2019-05-24 11:31] notiv-nt commented on #1323
#1: Why?
[code]

#2:
dev-server should run plugins on start

[2019-05-24 12:17] evilebottnawi commented on #1323
What you mean? Please clarify

[2019-05-24 12:19] notiv-nt commented on #1323
1. output.path — absolute path
https://webpack.js.org/configuration/output#outputpath

2. htmlwebpackplugin does not work in webpack-dev-server

[2019-05-24 15:52] webpack-bot opened #1922 "webpack-dev-server breaks on changing folder structure or renaming files and requires restart"
**Do you want to request a *feature* or report a *bug*?**
In my opinion this is a bug because it was working in older versions of webpack.

**What is the current behavior?**
When I rename some file or change folder structure the webpack starts showing "...Module build failed: Error: ENOENT: no such file or directory,...", and it doesn't recover from that, so I have to restart webpack dev server in

[2019-05-24 15:52] evilebottnawi commented on #1922
Repo https://github.com/webpack/webpack/issues/5523#issuecomment-495682030

[2019-05-24 15:53] evilebottnawi commented on #1922
We need fix it

[2019-05-24 18:39] imzubair10 commented on #1355
following worked for me
npm install webpack-dev-server@2.11.0 --save-dev

[2019-05-26 09:30] xahon commented on #758
The most stupid thing I ever saw

[2019-05-26 20:54] jsaunie commented on #1442
It's about _HtmlWebpackPlugin_ plugin, to link chunks you need to named it before :

`
optimization: {
        splitChunks: {
            cacheGroups: {
                commons: {test: /[\\/]node_modules[\\/]/, name: **"common"**, chunks: "all"}
            }
        }
    },
plugins: [
        ....
        new HtmlWebpackPlugin({
            title: "Skill Mill",
            hash: true,

[2019-05-27 10:18] webpack-bot opened #1926 "[Feature Request if no]Is there a flag in the option to know the webpack object is created from webpack-dev-server?"
Is there a flag in the option to know the `webpack` object is created from `webpack-dev-server`? If no, can I request this feature?

---

This issue was moved from webpack/webpack#9192 by @evilebottnawi. Original issue was by @wood1986.

[2019-05-27 10:18] evilebottnawi commented on #1926
/cc @wood1986 why do you need this, please provide case

[2019-05-27 11:22] evilebottnawi commented on #1912
/cc @GitNomster @Croissong friendly ping, problem still exists? Can you create minimum reproducible test repo?

[2019-05-27 11:23] evilebottnawi commented on #1771
Should be fixed, if you faced with this issue, please open new issue and create minimal reproducible test repo, thanks!

[2019-05-27 11:23] #1771 closed

[2019-05-27 12:03] evilebottnawi commented on #1702
Unfortunately, we can't do something on our side :disappointed: Close in favor https://github.com/jfromaniello/selfsigned/pull/29

Workaround - update your deps and lock file

[2019-05-27 12:03] #1702 closed

[2019-05-27 12:04] vespakoen commented on #1912
Can confirm, with very standard setup. websocket seems to be broken, with 3.3.1 I get a bunch of "sock-js" debug messages (with window.localStorage.debug = '*') and with 3.4 there is none at all.

Don't close.

[2019-05-27 12:08] evilebottnawi commented on #1823
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-05-27 12:08] #1823 closed

[2019-05-27 12:08] evilebottnawi commented on #1823
Also you use deprecated version of webpack-dev-server, please update webpack-dev-server to latest version

[2019-05-27 12:09] evilebottnawi commented on #1912
@vespakoen Please create minimum reproducible test repo, maybe you have invalid configuration

[2019-05-27 12:14] vespakoen commented on #1912
npm start:
[code]

my cep.config.js is generated through an extension that I am using, but here is a console.dir of it anyways:
[code]

Hope it helps

[2019-05-27 12:14] evilebottnawi commented on #1314
Partially implemented, you can use `injectClient` and `injectHot` options to control what entry should have client code or hot code

[2019-05-27 12:16] vespakoen commented on #1912
To be clear, HMR works fine in 3.3.1, using no arguments, e.g.: `new webpack.HotModuleReplacementPlugin()`

And stopped working in 3.4

[2019-05-27 12:16] evilebottnawi commented on #1912
@vespakoen you use `target: 'node-webkit', you should change this on `web` or `webworker` or use `injectClient` option to control client entry

[2019-05-27 12:22] evilebottnawi commented on #1809
Now we support `sockHost`, `sockPort` and `sockPath` for this cases, also we fix regression in 3.3.1, if you still have problem please open new issue with reproducible test repo

[2019-05-27 12:22] #1809 closed

[2019-05-27 12:32] evilebottnawi commented on #1628
@yordis we support sockHost, sockPort and sockPath options now, problem still exists?

[2019-05-27 12:38] Croissong commented on #1912
What i meant was, that configuring `watchOptions: { ignored: ['node_modules', '!node_modules/my_module'] }` solved the issue for me :)

[2019-05-27 12:52] vespakoen commented on #1912
Thanks for that, isn't that a breaking change that deserves a major version increment then? What is the rationale of excluding node-webkit from injectHot / injectClient?

[2019-05-27 12:54] evilebottnawi commented on #1912
I think it is bug and we should enable hot for `node-webkit`

/cc @hiroppy

[2019-05-27 14:38] evilebottnawi commented on #1922
Original problem was fixed, problem with rename https://github.com/webpack/webpack/issues/9195

[2019-05-27 14:38] #1922 closed

[2019-05-27 14:50] evilebottnawi commented on #1782
Right now we support all possible options for chokidar, webpack has `aggregateTimeout` option, we fix it in next major release after migrate on webpack watch api instead chokidar

[2019-05-27 14:50] #1782 closed

[2019-05-27 14:58] evilebottnawi commented on #1831
We should not add client when hot is false, because it is doesn't have sense

[2019-05-27 15:39] evilebottnawi commented on #1829
Why you use inline? It was deprecated and will be removed future version

[2019-05-27 19:42] #1532 closed

[2019-05-27 20:15] #1440 closed

[2019-05-27 21:58] yordis commented on #1628
@evilebottnawi let me check again, will get back to you.

[2019-05-28 05:56] GitNomster commented on #1912
@evilebottnawi i'm using target 'electron-main'. HMR only works in 3.3.1. Should i change target too?

[2019-05-28 06:29] krzystof commented on #1385
Reproducible repo: https://github.com/krzystof/webpack-issue-repro

[2019-05-28 09:47] msegers commented on #1843
I was actually also hoping for some more options with the openPage prop.

We serve our build through a separate proxy (outside webpack). say dev server servers on port 8080, but we actually browse our application on 8081. with openPage I cannot specify: `https:/localhost:8081/mypage` as it will open `https://localhost:8080/httpss:/localhost:8081/mypage`

[2019-05-28 09:58] evilebottnawi commented on #1843
@msegers Can you create minimum reproducible test repo with? Looks like it is bug

[2019-05-28 10:00] evilebottnawi commented on #1912
@GitNomster interesting question, `electron-main` supports hmr?

[2019-05-28 10:08] GitNomster commented on #1912
@evilebottnawi I don't know, but in the 3.3.1 it works.

[2019-05-28 10:13] evilebottnawi commented on #1912
@GitNomster try to change target on web

[2019-05-28 10:26] padevone commented on #1829
@evilebottnawi

It need for HMR. How i understand it need for travel sources of webpack (build) to runned server. This wrote in [documentation](https://webpack.js.org/configuration/dev-server/#devserverinline).

I saw nothing about deprecated.

[2019-05-28 10:28] evilebottnawi commented on #1829
@padevone inline not for hmr, and basically doesn't support hmr

[2019-05-28 10:36] evilebottnawi commented on #1912
I am closing this issue, because original issue doesn't have minimum reproducible test repo, other problems is very difference. If you still have problem please open new issue with reproducible test repo, thanks.

Don't forget check you target. We include client for HMR only for `web` and `webworker`.

[2019-05-28 10:36] #1912 closed

[2019-05-28 10:36] vespakoen commented on #1912
Even setting the target to web, adding injectHot / injectClient options to true doesn't make HMR work on 3.4 for me..., please re-open

[2019-05-28 10:37] evilebottnawi commented on #1912
@vespakoen https://github.com/webpack/webpack-dev-server/issues/1912#issuecomment-496461933

[2019-05-28 10:38] vespakoen commented on #1912
Sorry for that, my mistake ;)

[2019-05-28 11:13] evilebottnawi commented on #1385
@krzystof why you use `hotOnly` instead `hot`?

[2019-05-28 11:31] evilebottnawi commented on #1385
yep, it is bug, need search way how we can solve this without breaking

[2019-05-28 13:13] evilebottnawi commented on #1628
Problem still exists, duplicate https://github.com/webpack/webpack-dev-server/issues/1385

[2019-05-28 13:13] #1628 closed

[2019-05-28 13:15] evilebottnawi commented on #1591
Close in favor https://github.com/webpack/webpack-dev-server/issues/1385

[2019-05-28 13:15] #1591 closed

[2019-05-28 13:17] evilebottnawi commented on #1558
We need recreate issue in webpack itself, problem not related to webpack-dev-server

[2019-05-28 13:19] evilebottnawi commented on #1831
@plauclair i was wrong, we should not include client when `hot` and `liveReload` is false

[2019-05-28 13:25] evilebottnawi commented on #1785
Close in favor https://github.com/webpack/webpack-dev-server/issues/1385

[2019-05-28 13:25] #1785 closed

[2019-05-28 13:27] evilebottnawi commented on #1629
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

Also we support `sockHost`, `sockPort` and `sockPath`, so you can configure path as you want

[2019-05-28 13:27] #1629 closed

[2019-05-28 14:18] plauclair commented on #1831
Makes sense, we have an issue open here, I'll try to squeeze in something this week. This makes it much easier to go about it.

[2019-05-28 19:11] jsg2021 commented on #1796
If your dev server is behind a proxy, it might be sending requests to the wrong place. I was having a similar issue and solved it with defining [`public`](https://webpack.js.org/configuration/dev-server/#devserverpublic) to be localhost:devserverport

[2019-05-28 19:15] evilebottnawi commented on #1796
/cc @elesueur sorry for delay, we need this fix, can you send a PR?

[2019-05-28 21:55] ije commented on #1912
even `electron-renderer` except? i run my app in electron window if i change it to `web` i can not load
 node modules...

[2019-05-29 00:42] blackswanny commented on #1796
fyi, I have it with Chrome( latest 74.x version), but I don't have it with Chrome Canary ( 76.x version). So may be something is with my code, but it is fixed in 76.x version of Chrome. Also Firefox and Safari seems to not reproduce it

[2019-05-29 06:38] Sayan751 opened #1934 "webpack-dev-server@3.4.1 ignores changes in node_modules"
- Operating System: Windows (Server 2019)
- Node Version: 10.15.0
- NPM Version: 6.4.1
- webpack Version: 4.32.2
- webpack-dev-server Version: 3.4.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior
When any changes occur in the `node_modules`, `webpack-dev-server` should trigger a new build.

### Actual Behavior
It is not happening

[2019-05-29 06:42] hiroppy commented on #1934
Do you resolve if you add [] to options.watchOptions.ignored?

[2019-05-29 06:53] Sayan751 commented on #1934
Yup this solved the issue. Thank you.

[2019-05-29 07:00] Sayan751 commented on #1934
I have seen the issue https://github.com/webpack/webpack-dev-server/issues/1781. However, the motivation behind this default exclusion is not very clear to me. Can you please elaborate? I am little bit concerned about any pitfalls of watching the changes in `node_modules`, though I am using similar workflow for years now for creating webapps, without any hiccup.

[2019-05-29 09:10] evilebottnawi commented on #1912
@ije sounds like a bug, can you create minimum reproducible test repo?

[2019-05-29 09:54] evilebottnawi commented on #1934
@Sayan751 watching node_modules is overhead in many cases and can throw error in some cases because node_modules can have many files

Why you need watch node_modules?

[2019-05-29 10:05] Sayan751 commented on #1934
I see your point. I think it is a specific requirement for the workflow I follow.

I use Aurelia for the web app development. And there lies small limitation of loading symlinked files correctly. That's why I use a small watch script to deploy the `dist` content of the local module to the main webpack app. This workflow helps a lot during development. Though I cannot site any evidence, I think tha

[2019-05-29 10:33] ije commented on #1912
@evilebottnawi

 ![screenshot](https://raw.githubusercontent.com/ije/hmr-3.4-on-electron-renderer/master/screenshot.png?22)

here is the test repo: https://github.com/ije/hmr-3.4-on-electron-renderer
[code]

[2019-05-29 10:57] evilebottnawi commented on #1934
Thanks for answer we think about it in near future, you can have solution right now

[2019-05-29 11:01] evilebottnawi commented on #1644
@andyhall should be fix problem https://github.com/webpack/webpack/pull/9202, can you try?

[2019-05-29 11:21] evilebottnawi commented on #1912
@ije thanks for issue, it is bug, we should add `client` for `electron-renderer`, i am not familiar with electron, can you give advice about `electron-preload` target, should we include client too?

[2019-05-29 11:34] ije commented on #1912
@evilebottnawi Thanks! i have no idea about `electron-preload` target... i can't find it in the [configuration](https://webpack.js.org/configuration/target/). sometimes we access to node APIs but we disabled the node integration, so we need the preload option. usually i will put it in the electron main package.

[2019-05-29 11:39] evilebottnawi commented on #1912
@ije :+1: If somebody have problem with target too feel free to open new issue with reproducible test repo, it is bug and regression so don't afraid report about this

[2019-05-29 12:46] ZebraFlesh commented on #1796
I see this consistently with both the release and canary channels of Chrome on Windows 10.

[2019-05-29 13:05] evilebottnawi commented on #1796
@ZebraFlesh what do you mean?

[2019-05-29 13:06] ZebraFlesh commented on #1796
I'm saying it's not resolved by Chrome 76 as @blackswanny suggests

[2019-05-29 13:51] ZebraFlesh commented on #1796
Not easily, no. I've got a privately forked version of this repo: https://github.com/arabold/serverless-react-boilerplate/. It's using [serverless framework with the serverless-offline plugin to exec a webpack-dev-server process](https://github.com/arabold/serverless-react-boilerplate/blob/master/package.json#L6). I'm not even sure where to begin on unraveling all that into something minimal. My s

[2019-05-29 13:53] evilebottnawi commented on #1796
@ZebraFlesh bad, with reproducible test repo we will fix it very fast

[2019-05-29 13:57] dennispg commented on #1796
Just in case it was missed.. there has been a minimum reproducible repo available in the OP all this time.

[2019-05-29 14:04] ZebraFlesh commented on #1796
I understand that. If I thought I could provide a minimal repo I would have already done so. But like I said, my failure case is quite far from minimal. If you think it would help, I’m happy to try and work it up.

[2019-05-29 14:14] evilebottnawi commented on #1796
@ZebraFlesh can you send not minimal version? Sometimes impossible create minimum reproducible test repo

[2019-05-29 14:53] evilebottnawi commented on #1796
@ZebraFlesh thanks

[2019-05-29 14:58] dennispg commented on #1796
@ZebraFlesh out of curiosity, does the repo in the OP also have the same problem in your environment?
https://github.com/dennispg/webpack-wds-disconnected-bug

[2019-05-29 15:21] vcostin commented on #1251
**Disabling live reload `webpack-dev-server --no-live-reload`**

I had real hard time finding `--no-live-reload` flag, some how I've ended here. So the behaviour was that hot replacement was applied but after that the page was reloaded any way, that was driving me nuts. Now it works with HMR as expected.

before using `--no-live-reload`:
![Screen Shot 2019-05-29 at 18 10 52](https://user-images.gi

[2019-05-29 16:36] GitNomster commented on #1912
@evilebottnawi How about to add `electron-main` target. It is used for webpack config.

[2019-05-29 16:47] evilebottnawi commented on #1912
@GitNomster can you prove example?

[2019-05-29 16:48] evilebottnawi commented on #1912
Reproducible test repo enough

[2019-05-29 20:10] notiv-nt opened #1936 "Using with HtmlWebpackPlugin and devServer.lazy"
Operating System: MacOS 10.14.5 (18F203)
Node Version: v10.15.3
NPM Version: 6.4.1
webpack Version: 4.32.2
webpack-dev-server Version: 3.4.1

- [x] This is a **bug** ?
- [ ] This is a **modification** request

### Code

Repo: https://github.com/notiv-nt/webpack-html-lazy

### Expected Behavior

On start, or on first request, dev-server should run HtmlWebpackPlugin/... plugin(s)

### Actual Behavio

[2019-05-29 20:25] #1569 closed

[2019-05-29 21:11] erwin-k commented on #1385
Don't know if this helps but I only seem to get this bug when target is not "web", even with a custom target function which copies "web" exactly. Switching back to "web" and HMR works for me.

[2019-05-30 00:35] ZebraFlesh commented on #1796
@dennispg No, I couldn't make it break using the repo in the OP. I tried on macOS 10.14.5 with node 10.15.3 and Chrome 74.

[2019-05-30 04:41] erwin-k opened #1938 "Webpack HMR does NOT work when target is not "web"."
- Operating System: Window 10
- Node Version: 10.16.0
- NPM Version: 6.9.0
- webpack Version: 4.32.2
- webpack-dev-server Version: 3.4.1

- [x] This is a **bug**
- [ ] This is a **modification** request

## From the documentation itself
![image](https://user-images.githubusercontent.com/41877426/58608710-2ac0bd80-82a5-11e9-907a-4dc1bce770aa.png)

When the target is anything other than "web" the we

[2019-05-30 08:12] rbrisita commented on #575
`webpack-dev-server` won't know how to process files other than HTML. To process with which ever backend you are using, run that backend on another port and proxy all requests to `webpack-dev-server` to the backend first. To do that, add this to the `webpack.config.js` file:

[code]
More information [here](https://webpack.js.org/configuration/dev-server#devserverproxy).

[2019-05-30 09:18] markmcdowell commented on #1642
This has just started happening to me but I'm unsure of the change that caused it.

- Operating System: macOs 10.14.5
- Node Version: 10.15.3
- NPM Version: 6.9.0
- webpack Version: 4.31.0
- webpack-dev-server Version: 3.3.1

The onError addition above doesn't make a difference I still get the crash with:

[code]

It happens at the point I try to open a websocket through the proxy (it doesn't alwa

[2019-05-30 10:09] evilebottnawi commented on #1642
@markmcdowell can you create minimum reproducible test repo?

[2019-05-30 10:12] evilebottnawi commented on #1938
HMR !== client, but without client hmr not work

We add client entry for https://github.com/webpack/webpack-dev-server/blob/master/lib/utils/addEntries.js#L72 targets

I can't understand your problem

If you have other target(s), please provide minimum reproducible test repo. We can't add client entry for all targets because it is invalid.

[2019-05-30 10:12] #1938 closed

[2019-05-30 10:14] evilebottnawi commented on #1936
Why you use laze?

[2019-05-30 10:15] notiv-nt commented on #1936
https://github.com/webpack/webpack-dev-middleware/issues/409#issuecomment-496618709

[2019-05-30 10:41] svogal commented on #803
For me it worked with Host header, like this:
[code]

[2019-05-30 13:08] funwithtriangles commented on #1796
Just for extra information, I stopped getting this issue but now I'm testing on iOS Safari and it is happening every time.

[2019-05-30 13:09] evilebottnawi commented on #1796
Only on Safari?

[2019-05-30 14:09] funwithtriangles commented on #1796
Just tested in Chrome on iOS, same thing happening there

[2019-05-30 14:11] evilebottnawi commented on #1796
Only iOS? Sorry for many questions

[2019-05-30 14:13] funwithtriangles commented on #1796
Chrome on Android: ✔️
Chrome on iOS: ❌
Safari on iOS: ❌

[2019-05-30 15:50] erwin-k commented on #1938
You can't understand my problem? It's not fucking documented and you added "electron-renderer" 20 hours ago are you serious. I spend too much time trying to figure out why HMR did not work, please document it.....

[2019-05-30 16:26] evilebottnawi commented on #1938
@erwin-k first and last warning about using `f*cking` words, as i said above HMR !== client, if you use other target in your configuration please provide reproducible test repo and we fix it

[2019-05-30 18:01] gibumkang commented on #183
You can also change the port directly in the webpack.config.js file:

devServer: {
      port: 8000
  }

[2019-05-31 12:16] funwithtriangles commented on #1796
So I have some sort of solution to this problem, which actually seems to be two problems for iOS. Firstly, there was an issue of the page refreshing _really fast_ (https://github.com/webpack/webpack-dev-server/issues/1370). This doesn't seem to be related to WDS but I managed to get past this issue following this advice: https://github.com/webpack/webpack-dev-server/issues/1370#issuecomment-423867

[2019-05-31 12:27] Garethp commented on #1934
I'd like to second this bug, and make some suggestions. Personally I've used the `node_module` watching for debugging issues in third party libraries quickly, as well as for a couple of web applications that I've built where shared code is linked in and it's a lot more convinient to make quick changes just to see if they work rather than having to restart `webpack-dev-server`.

With that being sai

[2019-05-31 12:49] ravisoni6262 commented on #1
thanks

[2019-05-31 13:50] evilebottnawi commented on #1934
@Garethp Thanks for feedback, we will do this in future

[2019-05-31 15:23] evilebottnawi commented on #1926
I think we don't need flag, when webpack-dev-server read config in you can check `process.env.WEBPACK_DEV_SERVER` in next release

[2019-05-31 15:23] #1926 closed

[2019-05-31 15:24] hawkeye64 commented on #1912
Please publish this fix ASAP. Thanks.

[2019-05-31 15:25] evilebottnawi commented on #1912
@hawkeye64 What?

[2019-05-31 16:30] evilebottnawi commented on #1912
https://github.com/webpack/webpack-dev-server/releases/tag/v3.5.0

[2019-05-31 17:33] deissh opened #1944 "Host error during proxying"
- Operating System: Ubuntu 18.04 bionic
- Node Version: v11.3.0
- NPM Version: 6.9.0
- webpack Version: webpack@4.32.2
- webpack-dev-server Version: webpack-dev-server@3.4.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior
All requests must be proxied to an external server and processed correctly. The problem is definitely not in the API.

[2019-05-31 22:07] TheAifam5 opened #1945 "TypeError: Cannot read property 'bonjour' of undefined"
- Operating System: ArchLinux
- Node Version: v11.15.0
- NPM Version: None (Yarn 1.16.0)
- webpack Version: 4.32.2
- webpack-dev-server Version: 3.5.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Expected Behavior
Should work.

### Actual Behavior
Crashes because `createConfig` get's somehow `undefined` as `argv`.

### For Bugs; How can we reproduce the behavior?
Make sim

[2019-05-31 22:08] hiroppy commented on #1945
@TheAifam5 Thanks. Could you submit the reproducible repo?

[2019-05-31 22:26] jspears opened #1946 "Promise based webpack configs fail"
- Operating System: OSX
- Node Version:v8.10.0
- NPM Version: 5.6.0
- webpack Version:4.28.4
- webpack-dev-server Version:3.5.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code
When using a promise based configuration the error responds with
[code]

[code]

### Expected Behavior
When using a promise to launch webpack-dev-server the

in

[code]

### Actual Behavior
Should

[2019-05-31 22:31] hiroppy commented on #1946
thanks, duplicated of #1945, so I'll close

[2019-05-31 22:31] #1946 closed

[2019-05-31 22:32] hiroppy commented on #1946
If you have the reproducible repo, please submit it.

[2019-05-31 22:32] jspears commented on #1946
yeah but this one has a fix.

[2019-05-31 22:33] jspears commented on #1945
There is a fix in [1946](https://github.com/webpack/webpack-dev-server/issues/1946)

[2019-06-01 12:08] hawkeye64 commented on #1912
@evilebottnawi Thank you. We'll begin testing today.

[2019-06-01 14:06] evilebottnawi commented on #1944
Please create minimum reproducible test repo

[2019-06-01 14:30] evilebottnawi commented on #1945
Fixed https://github.com/webpack/webpack-dev-server/pull/1947

[2019-06-01 14:30] #1945 closed

[2019-06-02 12:54] padevone commented on #1829
@evilebottnawi where info about deprecated for inline mode?

[2019-06-02 13:37] capaj commented on #1787
@evilebottnawi yes this is still an issue with version 3.5.1 that I've tested just now.
I will try to, although it might be quite tricky. Could I optionally just add you to the private repo where the error occurs? It would be trivial for you to see the error there. Just `npm i && npm run fe`

[2019-06-02 18:18] dshimy opened #1955 "Chrome TLS ERR_SSL_VERSION_INTERFERENCE Error"
- Operating System: MacOS 10.14.5
- Node Version: v12.3.1
- NPM Version: 6.9.0
- webpack Version: 4.32.2
- webpack-dev-server Version: 3.5.1
- Chrome: 74.0.3729.169 (latest)

- [x] This is a **bug**
- [ ] This is a **modification** request

### Summary

This issue is limited to Chrome.  Latest stable versions of Firefox and Safari work as expected.  Starting the webpack-dev-server with `https: tru

[2019-06-03 13:08] evilebottnawi commented on #1829
@padevone no deprecation right not, but it can be removed in major release https://github.com/webpack/webpack-dev-server/projects/1

[2019-06-03 13:09] evilebottnawi commented on #1955
Please create minimum reproducible test repo, i can't reproduce using your steps

[2019-06-03 13:10] evilebottnawi commented on #1955
Maybe bug on MacOS side

[2019-06-03 18:05] padevone commented on #1829
Okey. Thanks for info.
But do you have any idea how i can fix my issue?
Maybe you can advice existed cli with WDS? Becasuse i don't know some way. I can use express, if it need.

[2019-06-03 18:11] evilebottnawi commented on #1829
I look this issue tomorrow and give advice(s)

[2019-06-04 02:24] Loonride opened #1960 "GSoC Refactor: CLI Refactor (CLI/API Uniformity Improvements, webpack-cli serve)"
I decided to separate this from the `clientMode/serverMode` refactor effort. Here are my plans:

- [ ] make any "CLI Only" options available to API as well (e.g. [`devServer.progress`](https://webpack.js.org/configuration/dev-server/#devserverprogress))
- [ ] bring options handling in [`bin/webpack-dev-server`](https://github.com/webpack/webpack-dev-server/blob/master/bin/webpack-dev-server.js) to

[2019-06-04 16:41] blackswanny commented on #1796
seems to be related
https://github.com/webpack/webpack-dev-server/issues/1616

[2019-06-04 22:16] evilebottnawi commented on #1955
Friendly ping

[2019-06-04 22:16] evilebottnawi commented on #1944
Friendly ping

[2019-06-05 03:25] luyang1026 opened #1969 "Module not found: Error: Can't resolve 'ansi-html'..."
- Operating System: windows 10
- Node Version: v10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.33.0
- webpack-dev-server Version: 3.5.1

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]
[code]
[code]

### Expected Behavior
serve the bundle

### Actual Behavior
Failed to compile

### For Bugs; How can we reproduce the behavior?
I'm not sure, but I asked a few of

[2019-06-05 05:21] hiroppy commented on #1969
Thank you for reporting. this issue reproduces, so I'll investigate.

[2019-06-05 05:26] hiroppy commented on #1969
@lucsky you should change `resolve.modules` to `modules: [path.resolve(__dirname, 'test'), 'node_modules']`

[2019-06-05 06:17] dshimy commented on #1955
Sorry, for the delay, traveling right now.  I'll have it in a few days (I need to extract it from another project).

[2019-06-05 06:44] luyang1026 commented on #1969
thank you

[2019-06-05 06:44] #1969 closed

[2019-06-05 09:27] Msey commented on #875
the resolution for me was to define paths properly
`
    output: {
        filename: 'bundle.js',
        publicPath: '/assets/',
        path: path.resolve(__dirname, './wwwroot/assets/'),
    }
`
notice that the public path must have `/` on each side

[2019-06-05 09:35] evilebottnawi commented on #1934
/cc @hiroppy what do you think about revert this commit?

[2019-06-05 09:37] hiroppy commented on #1934
My answer is https://github.com/webpack/webpack-dev-server/pull/1794#issuecomment-496809056. I think we should revert this...

[2019-06-05 09:40] evilebottnawi commented on #1934
@hiroppy yes, let's do it

[2019-06-05 09:50] blieque commented on #1934
As [mentioned on the commit](https://github.com/webpack/webpack-dev-server/commit/4c52153b3b214468ca346d0d8ad2621ed934c21b#commitcomment-33817571), I think resolving symlinks before excluding `node_modules/` could work. That said, if there is no significant performance difference, I'd support rolling the change back.

[2019-06-05 13:27] #1934 closed

[2019-06-05 14:07] iMegaMaximus2 opened #1972 "[BUG] logLevel does not turn off"
i use this config

[code]

and i even use this in main file
![image](https://user-images.githubusercontent.com/49617181/58924305-0b65dc80-874c-11e9-887e-cae7f1d762fa.png)

but i get

![image](https://user-images.githubusercontent.com/49617181/58924357-3e0fd500-874c-11e9-8cd6-ed6f8b9e75fe.png)

===
webpack 4.33.0
webpack-dev-server 3.5.1

[2019-06-05 14:08] evilebottnawi commented on #1972
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Last warning, please use issue template

[2019-06-05 14:08] #1972 closed

[2019-06-06 10:14] patrickdavey commented on #1385
While this is not at all a solution to the issue, if you just want to hack your way around it to get the `hot-update.json` working again - this is what I did.  My issue was that I am running my (vue) devServer on a different port (and url) as I want to run it under `https`.

What I did was to simply edit the `node_modules/webpack/lib/web/JsonpMainTemplate.runtime.js` file manually. Horrible, but i

[2019-06-06 11:56] deissh commented on #1944
resolved
the problem was that in the batch code, the request was sent with the current address from window.location.pathname, and when launched via the webpack-dev-server they logged in through login.html and therefore the request was not formed correctly

[2019-06-06 11:56] #1944 closed

[2019-06-06 12:20] evilebottnawi commented on #1829
Find problems. Solution:
1. Update deps to latest `mini-css-extract-plugin` and `webpack-dev-server`

2. Remove
[code]

webpack-dev-server automatically mount this plugin when you setup hot

3. Set `publicPath: '/'` (or other value what you want in `webpack.common.js`), don't use empty

4. Fix path to assets (based on above value) in index.html
[code]

5. New dev command.
[code]

You can't use `in

[2019-06-06 12:20] #1829 closed

[2019-06-06 13:12] evilebottnawi opened #1981 "[critical] webpack-dev-server broken in old browsers"
- Operating System: no matter
- Node Version: no matter
- NPM Version: no matter
- webpack Version: no matter
- webpack-dev-server Version: 3.6.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

Ref https://github.com/webpack/webpack-dev-server/pull/1933

### Expected Behavior

No ES6 syntax in client

### Actual Behavior

Exists `class`

### For Bugs; How can we reprod

[2019-06-06 13:16] evilebottnawi commented on #1981
We should fix it asap

[2019-06-06 14:20] evilebottnawi opened #1983 "[refactor] tests"
No issue template. Ref: https://github.com/webpack/webpack-dev-server/pull/1982#issuecomment-499510055

Test structure (approximately):
[code]

Test naming:
1. class tests have same name as class -> `MyClass.js` -> `MyClass.test.js`
2. pure file like `defaultPort.js` -> `defaultPort.test.js`
3. options for server should be placed in `server` directory and have name `compress-option.test.js`
4. opt

[2019-06-06 14:26] #1981 closed

[2019-06-06 14:58] hiroppy commented on #1983
Yes, I definitely agree with this plan.
I added below to this issue.

[code]

[2019-06-06 18:15] padevone commented on #1829
@evilebottnawi thanks!

It's worked for me. Page doesn't refresh after change, but it's not important.

[2019-06-06 22:36] evilebottnawi commented on #1983
Structure is done. Unfreeze merge for any branches.

/cc @hiroppy need rebase next

[2019-06-07 00:07] Aghassi opened #1990 "server.close no longer works as of 3.4.0"
- Operating System: macOS 10.14.4
- Node Version: 10.16.0
- NPM Version: 6.9.0
- webpack Version: 4.33.0
- webpack-dev-server Version: 3.6.0

- [ x ] This is a **bug**
- [ ] This is a **modification** request

### Code

We have a block of code where we run webpack-dev-server and then kick off Cypress and Lighthouse. In each of these blocks of code our webpack builds fine, and the server runs. Howe

[2019-06-07 05:41] hiroppy commented on #1983
We don't rebase because a base branch will be broken if we force push. So I've always use cherry-pick. What do you think? (also, It depends on the committer to merge, but if the committer is not myself, then the commit revision is changed.)

[2019-06-07 10:02] evilebottnawi commented on #1983
Yes, we need rebase :+1:

[2019-06-07 10:25] evilebottnawi commented on #1990
Can't reproduce please provide example

[2019-06-07 10:28] evilebottnawi opened #1991 "[critical] regression in findPort after refactor"
- Operating System: -
- Node Version: -
- NPM Version: -
- webpack Version: -
- webpack-dev-server Version: 3.7.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

After refactor `findPort` behavior was changed

### Expected Behavior

Ports must be taken consistently.

### Actual Behavior

Ports get randomly.

### For Bugs; How can we reproduce the behavior?

Just try to

[2019-06-07 13:38] #1991 closed

[2019-06-07 13:54] hiroppy commented on #1983
ok, so maybe pr is broken

[2019-06-07 13:56] hiroppy commented on #1983
And I deleted branch rules because if we set branch rules, we can not force push.

[2019-06-07 14:02] evilebottnawi commented on #1983
:+1:

[2019-06-07 18:14] ruijieshi commented on #1990
Hi,

A follow up on here:

We want to control what error to display to user if Webpack compilation fails in cypress command. So if webpack fails, we want to close server and exit without the Webpack long stack error message.

As below, we have a class extends from `@oclif/command` which `this.exit` should end the process

[code]

But with `this.exit(1)`, it still shows a long error message from We